[2016-07-27 14:36] sophron commented on #278
Have you read the 'README' file? You need to `python setup.py install` first.

[2016-07-27 14:52] AhmedMeso commented on #278
i did and i got this error!
![mesooo 1-2016-07-27-16-49-25](https://cloud.githubusercontent.com/assets/20683008/17179683/5daba9ec-541a-11e6-97ec-bd8bc1490b9e.png)

[2016-07-27 15:51] wraith-wireless commented on #278
You need to install setuptools to use pip and setup.py. Type this in your console:

    sudo apt-get install python-setuptools

If you get any errors about " Unable to locate package" you'll need to updates your sources file /etc/apt/sources.list. Unfortunately, I don't know what sources Kali uses so you'll have to do some googleing

[2016-07-27 15:53] wraith-wireless commented on #300
UPDATE: PyRIC will now recognize betw/ the two cases of a device not present and device does not support nl80211. It's on github and I'll push an out-of-band update to PyPI this weekend.

[2016-07-27 16:29] AhmedMeso commented on #278
Thank you Buddie I'm gonna try it out and i will let you know soon :)

[2016-07-27 16:33] AhmedMeso commented on #278
Thank you so much bro, it's now installing and almost gonna make it work.
but i have a question, i have a TP-LINK TL-WN722N wireless adapter and my wifi card but it doesn't support monitoring but it's a very good wireless card Can i run Python?

[2016-07-27 16:37] AhmedMeso commented on #278
I just installed wifiphisher but when i type wifiphisher i get this error?
![mesooo 1-2016-07-27-18-36-50](https://cloud.githubusercontent.com/assets/20683008/17183740/2aea2362-5429-11e6-8ce7-4dcf7ad14c0e.png)

[2016-07-27 17:23] pungvit commented on #278
Kali linux ?

[2016-07-27 17:41] AhmedMeso commented on #278
Yes.

[2016-07-27 17:42] AhmedMeso commented on #278
@wraith-wireless @sophron, Guys?

[2016-07-27 18:56] AhmedMeso commented on #278
i solved the tcpdump error by installing tcpdump "sudo apt-get install tcpdump",
but now i get this error

![mesooo 1-2016-07-27-20-48-38](https://cloud.githubusercontent.com/assets/20683008/17188226/73ff56a4-543c-11e6-8ec2-7fe6e0492d02.png)
Can anyone help me?

[2016-07-28 00:42] AhmedMeso opened #316 "Wifiphisher Error "[Errno 2] No such file or directory"."
when i launch Wifiphisher i get this error
![mesooo 1-2016-07-27-20-48-38](https://cloud.githubusercontent.com/assets/20683008/17197410/e0f79138-546c-11e6-803b-96d62d3e19be.png)
Any help?

[2016-07-30 00:32] Motasembt commented on #309
I have the same problem
How to upgrade PyRIC library to the working version ?

[2016-07-30 00:42] Motasembt commented on #309
I updated pyric  and still no wifi networks and if i press cntrl c and run it again i get the error 22
This app will never work.

[2016-07-30 10:56] Motasembt commented on #264
themasquedpear
Thank u

[2016-07-30 11:02] mehranexpert commented on #280
Same issue where is solution ?

`root@kali:~/git/wifiphisher/bin# ./wifiphisher -jI wlan1 -aI wlan2
[*] Starting Wifiphisher 1.1GIT at 2016-07-30 10:58
[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan2 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
Traceback (most recent call last):
  File "./wifiphisher", line 12, in

[2016-07-30 11:19] mehranexpert commented on #280
ok i do this and my issue fix

`root@kali:~/git/wifiphisher/bin# ifconfig wlan1 up && ifconfig wlan2 up
`

[2016-07-30 17:38] sophron commented on #280
@mehranexpert Thanks for reporting, I'll have a look soon.

[2016-07-31 09:33] sophron commented on #280
I pushed a commit that makes sure that both interfaces are up.

@mehranexpert Can you check out to the latest revision and let me know if it's OK now?

[2016-07-31 15:30] gamin12 opened #317 "cert file expired"
When I'm opening the new Open WiFi network when I'm clicking to chrome on an ordinary URL I'm getting page not unsecure beacause chrome detect that the cert is expired how that can be resolved

[2016-08-01 19:24] mehranexpert commented on #280
@sophron First time when i lunch wifiphisher i got error Network Down , both `wlan1` & `wlan2` go down

i must use `ifconfig wlan1 up && ifconfig wlan2 up` and try again . now Fix and wifiphisher work .

[2016-08-02 11:51] crazyboogs commented on #316
Do you get this same error each tome you run wifiphisher? What happens if you run wifiphisher command a second time, directly after receiving this error?

[2016-08-02 11:54] Motasembt commented on #316
i do get this error if i press Cntrl + c , and if i run it again i will have the same error until i reboot
why i press Cntrl + c  ? because when it start scanning for networks i dont get any networks at all 0
i have alfa neh and tplink 722

[2016-08-07 11:55] elprashant opened #318 "Bssid"
Please if possible make some changes in code so that the fake  access point has the same BSSID also

[2016-08-07 13:13] sophron commented on #318
Hello @elprashant,

Have a look at my answer on #170 about this.

[2016-08-07 13:34] sophron commented on #316
Hi @AhmedMeso,

What distro are you using?

Have you also tried `python bin/wifiphisher`?

[2016-08-07 15:00] elprashant commented on #170
thank @sophron  for your reply, now i get it what's the problem in cloning BSSID

[2016-08-07 15:22] #318 closed

[2016-08-07 16:23] sophron commented on #240
Done.

[2016-08-07 16:23] #240 closed

[2016-08-07 17:31] AhmedMeso commented on #316
it's all good now, i install the full package Kali linux AMD 2016, and it's working fine thank you though :)

    On Sunday, August 7, 2016 4:34 PM, George Chatzisofroniou <notifications@github.com> wrote:

 Hi @AhmedMeso,What distro are you using?Have you also tried python bin/wifiphisher?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute

[2016-08-07 17:36] #316 closed

[2016-08-08 12:37] #300 closed

[2016-08-12 14:59] Spyro289 opened #319 "Wifiphisher unable to jam any clients on the Real AP and Fake access point does not work"
I'am running Kali linux in a Virtual machine and i have a 'AWUS036NH ALFA' and a 'LINKSYS Wireless-G'
plugged and successfully connected into the virtual machine, both never had a problem with deauthenticating or packet injection

I installed Wifiphisher straight from the Kali Repositories just for your information

I also notice that the isc-dhcp-server was messing from the package so i also inst

[2016-08-12 15:17] sophron commented on #319
What do you mean? I don't think wifiphisher has been packaged for Kali yet.

[2016-08-13 14:23] crazyboogs opened #320 "Unable to set AWUS036H card as rogue AP (-aI)"
iwconfig output: (wlan0 is my AWUS036H card, wlan1 is an ASUSWL-167g card)

`iwconfig`
`eth0      no wireless extensions.`

`wlan0     IEEE 802.11bg  ESSID:off/any
          Mode:Managed  Access Point: Not-Associated   Tx-Power=20 dBm
          Retry short limit:7   RTS thr:off   Fragment thr:off
          Encryption key:off
          Power Management:off`

`lo        no wireless extensions.`

`wl

[2016-08-15 09:26] Chitramani commented on #320
do we see 2 access point with same essid after creating fake access point?
i m using ubuntu
starting fake accesspoint appears on terminal
but i only see one original access point and not able to connect to it because of jamming ''
please help......

[2016-08-15 13:15] crazyboogs commented on #320
@Chitramani - In my experience, yes, you will see the original AP (will have whatever encryption, WPA/WPA2, etc.) and then you will see an unsecured AP with a matching ESSID (unless you specified -pK command during start of wifiphisher).

[2016-08-19 05:33] JunaidShafi opened #321 "Pre-shared key is not verified"
The tool should capture handshake and then verify it

[2016-08-19 05:33] JunaidShafi opened #322 "Password is not verified"
The tool should capture handshake and then verify it

[2016-08-19 15:52] Faustino50 opened #323 "conf.verb is NOT defined"
Version: 1:2.7.4-0ubuntu1
Distribution: Ubuntu-Mate 16.04
Summary: conf.verb

Description:  When I type "wifiphisher" :
 File "/usr/local/bin/wifiphisher", line 9, in <module>
    load_entry_point('wifiphisher==1.1', 'console_scripts', 'wifiphisher')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources/**init**.py", line 542, in load_entry_point
    return get_distribution(dist).load_entry_poi

[2016-08-23 13:16] updown1 opened #324 "Installation Issues [Errno 2] No such file or directory: '....."
Morning All,

Installing Issues. I been at this for about two days. Any help is welcome!!!

No LSB modules are available.
Distributor                                       ID: Kali
Description:                                    Kali GNU/Linux Rolling
Release:                                          Kali-rolling
Codename:                                     Kali rolling

Python-scapy installed
Py

[2016-08-23 15:20] wraith-wireless commented on #324
make sure you're running as root i.e. sudo python setup.py install

[2016-08-23 15:38] updown1 commented on #324
Already done. No difference. I still get the same error.

Any other ideas?

[2016-08-23 18:08] m0265554 commented on #60
Not sure why everyone keeps stating that the RTL8187 is not hostapd compatible... I've been running several several pi3/hostapd/dnsmasq access points reliably for months using Alfa cards with that chipset.

[2016-08-23 19:38] abratar commented on #324
It's the same for me. I don't have the directory dist-packages/ in my python2.7/ folder. I tried reinstalling python but it didn't help. Any ideas? I used this program like 4 months ago or so and it worked fine with the exact same setup. I used had an old version but I don't have it on my pc anymore so I downloaded the newest version but it's not working :/

[2016-08-23 19:40] abratar commented on #324
Omg we are so dumb :D Just create the folder dist-packages/ in your python2.7/ folder with root rights and it will work... I found out like 30 secs after I wrote my last post

[2016-08-26 14:53] updown1 commented on #324
I tried that already without any success. It did a semi-install but it failed on the end.

  What exactly did you type?

[2016-08-26 17:30] abratar commented on #324
What do you mean what did i type? As I said, I just created the folder that was not found "dist-packages/" ind my "python2.7/" folder -> In the Error Message.

[2016-08-30 00:48] JoshCranna opened #325 "Add option for custom page."
As the tile says, not really an Issue and I am looking at implementing it myself, but it would be a good feature for someone who wants to mock up a page and use that.

Good work :)

[2016-08-30 13:22] zero77 commented on #324
You have to run it as root, use sudo in front of the command when starting it, this worked for me.

[2016-08-30 13:59] abratar commented on #324
I had the exact same error and running as root didn't help me. only the method showed above worked for me.

[2016-08-30 14:03] zero77 opened #326 "Improve AP Cloning"
The devices on the real AP don’t seem to connect to the fake one, would it help to copy the mac address of the real AP, or something else to get the clients to connect to the fake AP.

Or is there something else I can do that will help to get the devices to connect to the fake AP.

[2016-09-01 07:42] Kingbalou commented on #325
Hi,
You can add your own page by looking a little bit more in the sources.

You have folder :

`wifiphisher/data/phishing-pages`

Now you have to find where does the script call the pages ;)

(Sorry no time to search for you)

Good luck

[2016-09-01 08:08] Kingbalou commented on #317
Maybe you can add your own SSL cert file with https://letsencrypt.org/

Didn't try but sure it can work

[2016-09-01 10:28] Sultan1998 commented on #299
Preparing to unpack Le and rectories current Ly instal Unpacking hostapd.../hostapd 123a2,3-1 debau1 1386 deb(1:2.3-1 debaui)  Processing triggers for systemd(215-17 deb8u1)  Processing triggers for man-db(2.7.0.2-5)  Setting up host apd(1:2.3-1 deb8u1)  update-rc.d:  We have no instructions for the hostapd init script update-rc.d:  It looks like a network service,  we disable it.  insserv:  warni

[2016-09-01 15:30] gamin12 commented on #317
how can I create it

[2016-09-01 15:33] Kingbalou commented on #317
Can't do it for you ...

https://letsencrypt.org/getting-started/

[2016-09-02 14:42] zero77 opened #327 "Attack Page Improvements"
Can you add numbers next to the get request instead of displaying every single GET request from a device, in order to save space.

Also can you change the device jamming section to a format that is easier to read quickly, for example, [Device Number] Mac Address  -  Vender  -  SSID

Thanks

[2016-09-03 11:21] wikijm opened #328 "ValueError: '=' alignment not allowed in string format specifier"
**Version**: commit 277648d7f665215475f4c820b3c9efaa29385e25

**Distribution**: Debian

**Summary**: Error during wifi AP scan

**Description**: Error message when I start `wifiphisher` command

**Steps to Reproduce**: Execute `wifiphisher`

**Expected VS actual behavior**: See all wifi AP around me to select one next.

**Script output**:
`
[*] Starting Wifiphisher 1.1GIT at 2016-09-03 07:14
[+] S

[2016-09-03 13:30] ikon9998 opened #329 "PyRIC Error 22 (output from wireless cards included in text)."
I hope that someone can assist me with my issue. I've done my best to provide (hopefully) useful information to help resolve this problem. Thanks!

I am using the latest version of Wifiphisher (installed via git clone) on a fully updated Kali Linux system (not a VM). I successfully cloned Wifiphisher then ran python setup.py install. However, when I run 'wifiphisher' I get the following error:

[c

[2016-09-04 04:06] wraith-wireless commented on #329
You caught a bug. I'm going to release a patched version but in the meantime if you edit (as root) the file /usr/local/lib/python2.7/dist-packages/PyRIC-0.1.6-py2.7.egg/pyric/pyw.py
Go to line 156 of pyw.iswireless and add 'return' by changing

    if iosock is None: _iostub_(iswireless, dev)

to

    if iosock is None: return _iostub_(iswireless, dev)

[2016-09-04 06:59] Plebsteb123 opened #330 "Wifi Phisher Doesn't Start Monitor Mode"
When i run wifiphisher it jams clients but none of the clients connects to the face access point when i do iwconfig i realize none of my cards are in monitor mode and both support it.

root@kali:~# iwconfig
eth0      no wireless extensions.

wlan0     IEEE 802.11bgn  Mode:Master  Tx-Power=20 dBm
          Retry short limit:7   RTS thr:off   Fragment thr:off
          Power Management:off

lo

[2016-09-04 08:49] wraith-wireless commented on #330
wlan1 is in monitor mode. The fake AP would require a card that supports AP mode. Get your phy indexes with

    iw dev

then

    iw phy phy0 info

replacing phy0 with whatever index(es) you have. In the output look for "Supported interface modes" and see if your card has AP listed

[2016-09-05 09:10] sophron commented on #317
Hi,

There is no way to provide a valid certificate that will bypass browser warnings. This is how SSL works.

[2016-09-05 11:01] sophron commented on #326
Have a look at #170 for the reason that we don't clone the MAC address (BSSID). The auto-connection depends on many factors, like the target's Operating System or the auto-connect flag.

[2016-09-05 19:59] ikon9998 opened #331 "Hostapd error in Ubuntu 14.04 - full debugging information contained in text."
I have tried to get Wifiphisher working in Ubuntu 14.04. This provided me with a totally different error to that which happened in Kali (https://github.com/sophron/wifiphisher/issues/329). I have tried to anticipate the information that will be useful in debugging my issue in the text below. Many thanks!

[code]

I then CTRL^C and select the wireless network:

[code]

I tried reversing the network

[2016-09-05 21:51] Marcelo-Manzano opened #332 "Not Deauthenticating the target network"
**Version**: Wifiphisher 1.1GIT

**Distribution**: Kali linux
Release: kali-rolling
Comand to see ther version: #lsb_release -a

**Summary**: I run the command: #wifiphisher
and its not deauthenticating the target network (Notebooks, tablets, mobiles, Iphones and Androids accessing the internet withou problem).

If I run # aireplay-ng -0 0 ...... it works perfect fine, (deauthenticate everybody)

[2016-09-08 06:21] zedek001 opened #333 "Why I can't find file "wifiphisher.py" ? plaise help me"
![ghanou](https://cloud.githubusercontent.com/assets/16209410/18338986/7a124f32-7594-11e6-95ed-92d5c2291ed7.png)

[2016-09-08 08:44] yassinios commented on #29
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-09-09 09:17] ikon9998 commented on #329
Thanks wraith-wireless - your solution worked perfectly.

[2016-09-09 09:17] #329 closed

[2016-09-10 08:26] FroztIkon opened #334 "Module has no run"
**Version**: 1.1

**Distribution**: Kali Linux 4.3.0 (vmware)

**Description**:

Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 9, in <module>
    load_entry_point('wifiphisher==1.1', 'console_scripts', 'wifiphisher')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 568, in load_entry_point
    return get_distribution(dist).load_entry_point(

[2016-09-11 00:39] Efpkaf commented on #333
sudo python setup.py install

[2016-09-13 20:06] leblitzdick opened #335 "Problem with remote VPN (vpnc) connection via ppp0"
Everything works fine on my armbian cubietruck(vanilla,xenial) installed wifiphisher,
but if i try the same then connected remotely, or even a tunnel (ppp0, tun0) is just open, there will be an error message:

![2](https://cloud.githubusercontent.com/assets/22169878/18488930/d38cc09a-79fb-11e6-85bd-15b937bdd3fa.jpg)
![1](https://cloud.githubusercontent.com/assets/22169878/18489527/2a42b8b6-79fe-11

[2016-09-16 10:32] sophron commented on #333
Please read the README.md before posting. Execution script is in `bin/wifiphisher`.

[2016-09-16 10:32] #333 closed

[2016-09-16 10:39] sophron commented on #335
@wraith-wireless Can you have a look at this? Is it possible that `winterfaces()` returns tunneled interfaces too?

[2016-09-16 10:40] sophron commented on #334
Please don't run version 1.1. Download the latest release from <a href="https://github.com/sophron/wifiphisher/archive/master.zip">here</a> instead.

[2016-09-16 11:53] wraith-wireless commented on #335
Just saw this, looking into it

[2016-09-16 12:04] wraith-wireless commented on #335
@leblitzdick
It looks like the tunneled devices are getting an EINVAL error which is not covered yet. I think I'm just going to cover all errors by returning False.

Can you try deleting lines 167 and 168

    if e.errno == pyric.ENODEV or e.errno == pyric.EOPNOTSUPP: return False
    else: raise pyric.error(e.errno)

and replace with

    return False

This should be a stopgap until I can update

[2016-09-16 15:12] wraith-wireless commented on #335
Code changed on Github and uploaded to Pypi

[2016-09-16 15:18] sophron commented on #335
Nice, thanks. @leblitzdick you can check if it's working properly now.

[2016-09-16 15:21] sophron commented on #332
There are a few optimizations that need to be done regarding jamming. I'll try to work on them soon.

[2016-09-16 15:22] #317 closed

[2016-09-16 15:24] #322 closed

[2016-09-16 21:17] CamelToeJoe opened #336 "Closing after one credential grab"
I have been playing around with WiFiphisher and things are working pretty well.

I have noticed:

The Deauth doens't seem to work well.  Clients joining the Fake AP at the start will capture but don't seem to get booted if already connected to the Real AP

Also after one credential grab the program closes it needs to stay running if using something than router grabs, of which I understand.

Anyway

[2016-09-16 22:21] leblitzdick commented on #335
thanks @wraith-wireless this will fix the Problem, now its working!

[2016-09-16 22:21] #335 closed

[2016-09-16 22:30] leblitzdick commented on #335
of course also thanks @sophron for the right idea!

[2016-09-17 11:59] ammarkhder commented on #292
can someone show me who to work with last version of wifiphisher ..its different form the other version

[2016-09-17 12:00] ammarkhder commented on #336
can someone show me who to work with last version of wifiphisher ..its different form the other version

[2016-09-17 12:01] ammarkhder opened #337 "can someone show me who to work with last version of wifiphisher ..its different form the other version"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2016-09-17 12:18] sophron commented on #337
Please don't spam on other threads. Have you read the README file?

[2016-09-18 08:09] djdisikd opened #338 "Wifiphisher cannot install hostapd package."
**Version**: wifiphisher 1.1

**Distribution**: Kali Linux

![img_20160918_155615](https://cloud.githubusercontent.com/assets/17978000/18614077/de744ee4-7db9-11e6-9145-aa8a404289e7.jpg)

What is the problem exactly here?
I am using Alfa 802.11 b/g long range wireless USB adapter

Thanks for helping!

[2016-09-18 20:05] mdshehabaz commented on #332
Same issue I m also facing, I got the external wireless card Realtek TP-LINK TP-WN722N
I got the onboard wireless card on my Dell inspiron .

[2016-09-19 13:19] WAK92 opened #339 "No module named wifiphisher.pywifiphisher"
Version : kali-linux-light-2016.1-light-i686,
Summary: After i download and install the script using (sudo python setup.py install), i get the following error
Output: Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.1', 'console_scripts', 'wifiphisher')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources/**init**

[2016-09-21 13:15] Daithy opened #340 "We have failed to find a wireless interface that supports AP mode!"
Hi, I am using Kali. Wlan0 is my normal laptop's chip, wlan1 is Alfa AWUS036H. Can you please help to figure out what is going on? Thanks.

root@kali:~# wifiphisher
[*] Starting Wifiphisher 1.1GIT at 2016-09-21 14:57
[!] We have failed to find a wireless interface that supports AP mode! Please make sure that all the wireless adapters are connected and they are compatible.
[!] Closing
root@kali:~#

[2016-09-21 14:49] Daithy commented on #340
I even swapped the interfaces' roles and still problem with -aI

_**wifiphisher -jI wlan0 -aI wlan1
[*] Starting Wifiphisher 1.1GIT at 2016-09-21 16:47
[!] We have failed to set the access point interface (-aI)! This is either due to the fact that we were unable to find the given interface in the available interfaces or the given interface was incompatible.**_

[2016-09-22 11:35] #337 closed

[2016-09-22 11:46] sophron commented on #327
I'm not sure I understand. How numbers in the HTTP requests will save space? What is the "Device Number" in the Jamming section? Can you provide an example on how exactly you imagine the output?

[2016-09-22 11:52] sophron commented on #340
Hi,

Not all hardware / driver combinations do all modes. Try `iw list` and see if one of your cards support AP mode.

[2016-09-22 11:54] sophron commented on #338
The script output is pretty clear. Read <a href="http://docs.kali.org/general-use/kali-linux-sources-list-repositories">here</a>.

[2016-09-22 11:54] Daithy commented on #340
Hi. I will try it later and get back with results.

[2016-09-22 11:57] sophron commented on #325
Yes, have a look at the `doc/wifiphisher.txt`, there's a section called 'PHISHING SCENARIOS' that goes into detail on how to create your own.  You may also find helpful this blog <a href="https://thevivi.net/2016/06/18/wifi-social-engineering-playing-with-wifiphisher/">post</a> from VIVI.

[2016-09-22 11:57] #326 closed

[2016-09-22 12:00] sophron commented on #320
The reason is that your Linux drivers for AWUS036H don't support AP mode, hence `wifiphisher` cannot create an AP using this wireless card.

[2016-09-22 12:02] sophron commented on #336
I plan to push improvements on jamming soon enough.

Yes, we should also introduce an option that does not terminates the script when it captures a pair of credentials.

[2016-09-22 12:31] CamelToeJoe commented on #336
Great

[2016-09-22 13:35] djdisikd commented on #338
Thanks sophron

[2016-09-23 12:36] Daithy commented on #340
Okay. So here's Iwconfig to see what's available. Wlan1 is my Alfa. Besides I had it set as an AP before in Backtrack5 R3 no problem.

_root@kali:~# iwconfig
lo        no wireless extensions.

wlan1     IEEE 802.11bg  ESSID:off/any
          Mode:Managed  Access Point: Not-Associated   Tx-Power=20 dBm
          Retry short limit:7   RTS thr:off   Fragment thr:off
          Encryption key:off

[2016-09-23 12:53] Daithy commented on #340
**Here I used the airbase command and created an AP with my Alfa, even without switching to monitor mode. I can see the access point with my phone and my 2nd Wifi.**

root@kali:~# airbase-ng -e "test" -c 11 -a 00:12:23:34:45:56 wlan1
ioctl(SIOCSIWMODE) failed: Device or resource busy
14:46:49  Created tap interface at0
14:46:49  Trying to set MTU on at0 to 1500
14:46:49  Trying to set MTU on wlan1

[2016-09-23 23:26] duard opened #341 "Wifiphisher => Kali Nethunter on Android"
Its possible run this script on Kali Nethunter for Android ?

[2016-09-24 02:47] ghost95 commented on #190
I have been using kali with a live usb, but then i installed it on my hard drive now i can not get hostapd to download i have tried all of the above, please help!

[2016-09-25 04:41] wraith-wireless commented on #340
In your iw list output, look for the below:

    Supported interface modes:
    * IBSS
    * managed
    * monitor

which means your card only supports those three modes and not AP mode. You are able to set up an AP with airbase because airbase uses ioctl to communicate with the kernel/device. ioctl is deprecated and while still useful for simple tasks it has shortcomings such as your created AP c

[2016-09-25 12:16] Daithy commented on #340
In your iw list output, look for the below:

Supported interface modes:
* IBSS
* managed
* monitor

which means your card only supports those three modes and not AP mode. You are able to set up an AP with airbase because airbase uses ioctl to communicate with the kernel/device. ioctl is deprecated and while still useful for simple tasks it has shortcomings such as your created AP crashing after 30

[2016-09-26 14:16] loudjedi opened #342 "can i put my html browser ? ( language purposes )"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2016-09-27 09:46] loudjedi opened #343 "addeting index html does not work !"
please help when i try to change the index html !
it does not work
please help

[2016-09-27 10:00] loudjedi opened #344 "PLEASE HELP ME !!! ANYONE ??"

[2016-09-27 14:24] sophron commented on #343
Sorry, but it's hard to understand what you mean. What exactly are you trying to accomplish?

[2016-09-27 14:24] #344 closed

[2016-09-27 14:24] #342 closed

[2016-09-27 14:27] sophron commented on #341
Hi,

I haven't personally tested it. I would be interested to know that too.

[2016-09-27 14:27] #338 closed

[2016-09-27 16:17] unkownhesoka opened #345 "cant creat fake AP"
well i have two adapter

          inet addr:192.168.1.105  Bcast:192.168.1.255  Mask:255.255.255.0
          inet6 addr: fe80::dfb2:e7ed:b826:3059/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1400  Metric:1
          RX packets:33451 errors:0 dropped:566 overruns:0 frame:0
          TX packets:29946 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000

[2016-09-27 16:19] sophron commented on #345
Don't use version 1.1. Clone and use the latest revision instead.

[2016-09-27 16:37] unkownhesoka commented on #345
i didnt get

[2016-09-27 21:54] unkownhesoka commented on #343
same issue when i try to change index.html in oauth-login and when i access fake AP it shows me the default webpage from oauth-login not the one i edited

[2016-09-27 22:06] sophron commented on #343
You are probably receiving a cached version. Ctrl + F5 on your browser should refresh the page with the edited contents for you.

[2016-09-27 22:17] unkownhesoka commented on #343
no it didnt wor even i tried connect from my tablet to fake AP and still giving me the default page

[2016-09-28 12:06] sophron commented on #343
If you are running the tool after installing it in your system, using `python setup.py install`, you need to make sure you are editing the files in the installed directory (e.g. under `/usr/local/lib/python2.7/dist-packages`). Otherwise, you can run the script with `python bin/wifiphisher`.

[2016-09-28 12:07] sophron commented on #345
Okay, please check the other issue.

[2016-09-28 12:07] #345 closed

[2016-09-28 12:10] sophron commented on #340
One card needs to support AP mode, the other one needs to support monitor mode (on Linux). For example, the TP-LINK TL-WN722N supports both.

[2016-09-28 12:10] #334 closed

[2016-09-28 12:12] #324 closed

[2016-09-28 12:12] #320 closed

[2016-09-28 12:13] #325 closed

[2016-09-28 12:13] #327 closed

[2016-09-28 12:15] sophron commented on #330
As @wraith-wireless already wrote, `wlan1` is in monitor mode.

Please also note that the clients most of the time, need to manually select the rogue network.

[2016-09-28 12:18] chikehenderson commented on #332
Jamming issues ...

[2016-09-28 14:58] unkownhesoka commented on #343
thanks it work

[2016-09-28 15:03] #343 closed

[2016-09-29 13:23] abdullahebrahim commented on #339
I'm with the same errors :-1:

[2016-09-30 01:16] tropicyou opened #346 "SERVE PAYLOAD UPDATE PLUGIN"
I enter full path of my .apk from msfvenom to serve the payload the clients were always failed downloading file after pressing update button on android devices. Many thanks

[2016-09-30 09:56] dennishrv opened #347 "Pre-shared key checking possibility"
I am not sure if this is the right place to put this question so excuse me if it is wrong. I was thinking would it be possible to check given password against target AP? Usually when script gets password from user it shuts down. Would it be possible to check password first, and then if it is valid one, script shuts down. Otherwise it replies with error message to user asking for correct pore-share

[2016-09-30 10:15] sophron commented on #347
This has been an issue already (#321).

[2016-10-01 16:29] E3V3A opened #348 "Add some installation and usage instructions to README"
Please provide some installation and usage instructions in the README.

[2016-10-03 04:52] Vigilence commented on #348
I think this project was abandoned a few months ago.

[2016-10-03 08:40] E3V3A commented on #348
@sophron Is that true or are you just busy?

[2016-10-03 18:15] sophron commented on #348
@E3V3A What exactly you want to be explained better? There's already a "Usage" section.

@Vigilence No and I'm not sure what led you to that conclusion. This is an open-source project. Developers usually have a full-time job and contribute on their spare time.

[2016-10-03 18:18] Vigilence commented on #348
@sophron  I am glad to see your back.  This project hasn't been updated in several months and no messages from you made.  I deeply understand people have lives outside of these projects, but when no comments are made we conclude the project is abandoned like so many others.  See linset as an example.

[2016-10-04 16:02] E3V3A commented on #348
Hi @sophron I know this was built for Kali, but I was hoping to port this and make it work on an out-of-the-box Raspberry Pi 3.

- What are the specific hardware requirements?
- Do the wifi cards also need **injection** capabilities, or is *monitoring* enough?
- What HW info is needed?
- What are the dependencies?

Usually, *installation* instructions are written in the form:
[code]

Then some *ex

[2016-10-04 19:07] sophron commented on #348
Thanks for explaining it, I'll push a new version of README soon.

[2016-10-06 09:35] tibou19 opened #349 "there is no wifiphisher.py after unzip"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2016-10-06 14:44] sophron commented on #349
Check #333.

[2016-10-06 14:46] #330 closed

[2016-10-08 18:45] mcy260 commented on #341
i got a lot of errors , any idea how to fix it?

[2016-10-08 19:01] mcy260 opened #351 "duplicate of #341"
Any idea how to make this work?

I'm using a nexus 5  with TL WN722N   running  AOPP (Android Open Pwn Project)
http://i.imgur.com/AcEioYf.jpg

[2016-10-08 19:01] mcy260 commented on #351
<img src="http://i.imgur.com/AcEioYf.jpg">

[2016-10-09 17:12] PJF16 commented on #351
Should be the same as here. No solution found by now.

https://github.com/sophron/wifiphisher/issues/341

[2016-10-10 22:36] jsy01 opened #352 "We have failed to find a wireless interface that supports AP mode .. but i have two wireless adapters that support ap .. please help"
root@kali:~/Desktop/wifiphisher# python '/root/Desktop/wifiphisher/bin/wifiphisher'
[*] Starting Wifiphisher 1.1GIT at 2016-10-10 21:34
[!] We have failed to find a wireless interface that supports AP mode! Please make sure that all the wireless adapters are connected and they are compatible.
[!] Closing

[2016-10-11 00:47] mcy260 commented on #352
is this using the nexus 5?

[2016-10-11 00:48] mcy260 commented on #351
who is the developer?

[2016-10-11 08:22] jsy01 commented on #352
no it is my Desktop

[2016-10-11 20:47] sophron commented on #348
Hi @E3V3A,

I just pushed a new version of README. Please let me know if any information is missing or not clear.

[2016-10-11 20:53] mcy260 commented on #351
@sophron is there a way to run this on the nexus 5?  Could you suggest what kind of changes do i have to do in order to make this work on the phone?

[2016-10-11 20:56] sophron commented on #352
Hi @jsy01,

We will have to check your wireless adapters. Can you try `iw dev` and then `iw phy phy0 info` (replacing phy0 with correct indexes) and paste the output here?

[2016-10-11 21:07] sophron commented on #351
@mcy260 I have never tried it myself and I doubt it will work due to peculiarities of the kernel.

@wraith-wireless may be able to give a more clear answer.

[2016-10-11 21:08] #347 closed

[2016-10-11 21:09] #340 closed

[2016-10-11 21:21] sophron commented on #331
Hi @ikon9998,

Excuse my late response on this. I assume you got it working on Kali.

However, if you post here the output of  `iw dev` and then `iw phy phy0 info` (replacing phy0 with correct indexes) we may see what the problem was with the Ubuntu system.

[2016-10-11 21:24] #349 closed

[2016-10-11 22:08] sophron commented on #280
I believe this is now closed. Please re-open if not.

[2016-10-11 22:08] #280 closed

[2016-10-12 02:47] mcy260 commented on #351
@sophron  what about raspberry pi? its about the hardware or just the kernel?
Is not working with AOPP (Android Open Pwn Project) but i  tried with kali nethunter and i got the same issue.... is a hardware thing?

[2016-10-12 05:47] kelwin17 commented on #352
![wifi1](https://cloud.githubusercontent.com/assets/22785351/19298696/53203724-906d-11e6-925c-aa657d4230b7.PNG)
![wifi2](https://cloud.githubusercontent.com/assets/22785351/19298697/53256168-906d-11e6-81b7-b00d9aa9db8d.PNG)

same thing happen to me..

[2016-10-12 05:50] kelwin17 commented on #352
![wifi3](https://cloud.githubusercontent.com/assets/22785351/19298745/ae62ad7e-906d-11e6-9e87-fe5fd41ff240.PNG)

disconnecting wirless adapter automatically when we open wifiphisher

[2016-10-12 06:51] kelwin17 commented on #352
i have only 1 TP-Link TL-WN722N 150Mbps Wireless USB Adapter..... when i used wifiphisher 1st time it was working with only 1 Wireless  Adapter.. 2nd time it showing above message..

[2016-10-12 09:18] PJF16 commented on #351
I think it's because of the different architectures of the processors (x86/x64 vs ARM)

[2016-10-12 11:21] Omarovhunt opened #353 "wifiphisher closing"
somebody help me please?
root@kali:~# wifiphisher
[*] Starting Wifiphisher 1.1GIT at 2016-10-12 07:20
[!] There are not enough wireless interfaces for the tool to run! Please ensure that at least two wireless adapters are connected to the device and they are compatible (drivers should support netlink). At least one must support Master (AP) mode and another must support Monitor mode.
Otherwise, you

[2016-10-12 11:22] kelwin17 commented on #353
same here..

[2016-10-12 14:16] jsy01 commented on #352
root@kali:~# iw dev
phy#1
	Interface wlan1
		ifindex 4
		wdev 0x100000001
		addr 00:e1:b0:88:58:49
		type managed
		channel 11 (2462 MHz), width: 40 MHz, center1: 2452 MHz
phy#0
	Interface wlan0
		ifindex 3
		wdev 0x1
		addr 00:e1:b0:10:56:66
		type managed
		channel 1 (2412 MHz), width: 40 MHz, center1: 2422 MHz
root@kali:~# iw phy phy0 info
Wiphy phy0
	max # scan SSIDs: 4
	max scan IEs length: 2

[2016-10-12 14:19] jsy01 commented on #352
root@kali:~# iw phy phy1 info
Wiphy phy1
	max # scan SSIDs: 4
	max scan IEs length: 2257 bytes
	Retry short limit: 7
	Retry long limit: 4
	Coverage class: 0 (up to 0m)
	Supported Ciphers:
		* WEP40 (00-0f-ac:1)
		* WEP104 (00-0f-ac:5)
		* TKIP (00-0f-ac:2)
		* CCMP (00-0f-ac:4)
		* 00-0f-ac:10
		* GCMP (00-0f-ac:8)
		* 00-0f-ac:9
	Available Antennas: TX 0 RX 0
	Supported interface modes:
		 * mana

[2016-10-12 19:23] jsy01 commented on #352
please help me

[2016-10-13 10:32] thisisALPINE opened #354 "Device or resource busy. Make sure your card is up..?"
**Distribution**: Ubuntu 16.04 running on MacBook Pro (early 2015)

**Summary**: When I run wifiphisher with the following command 'sudo wifiphisher -aI xx -jI xx' it gives me this problem. I already disconnected the network devices from internet, and I don't really know in what else could they be busy.

![forgithub](https://cloud.githubusercontent.com/assets/12964909/19345896/f59ad13e-9140-11e6-9

[2016-10-13 16:22] sophron commented on #352
@jsy01 You need at least one wireless card that supports AP mode on Linux to proceed. As you can see under the "Supported interface modes:" none of your cards is supporting AP mode, hence the script is unable to create an Evil Twin.

[2016-10-13 16:24] sophron commented on #354
There are some processes that might interfere. You can try stopping your network manager completely from running. Or even better, if you have airmon-ng installed, you can try running `airmon-ng check kill`.

[2016-10-13 16:26] sophron commented on #353
Hi guys,

As you can see in the Requirements section on the README, you need two wireless cards to run the tool.

[2016-10-13 16:28] sophron commented on #351
I am not sure how these kernels handle netlink operations.

People have made it run under Raspberry PI. Check for example, <a href="https://github.com/secgroundzero/warberry">Warberry</a>.

[2016-10-13 18:32] zipippino opened #355 "Error while executing setup"
Hi, i'm using BackBox , latest version.
I open the folder in terminal , so i write "sudo python setup.py install" and here what happens:

francesco@backboxfrancesco:~/Scrivania/wifiphisher-master$ sudo python setup.py install
[sudo] password for francesco:
Traceback (most recent call last):
  File "setup.py", line 4, in <module>
    from setuptools import setup, find_packages
ImportError: No modul

[2016-10-13 18:35] sophron commented on #355
You can try `sudo apt-get install python-setuptools`.

[2016-10-13 19:10] zipippino commented on #355
A other process makes it unaivable

Sent by Francesco Buccoliero's iPad Air

[2016-10-13 19:13] sophron commented on #355
@zipippino I'm not sure understand what you mean. Are you having a different error now?

[2016-10-13 20:12] thisisALPINE commented on #354
Thanks a lot! It worked perfectly!!

[2016-10-14 05:09] zipippino commented on #355
Yes but nowi have power off pc. It says i can't do it (installing python tools) because another process prevents it

Sent by Francesco Buccoliero's iPhone 

[2016-10-14 10:26] jsy01 commented on #352
But i used it nicely last month

[2016-10-14 10:28] jsy01 commented on #352
@sophron my two wireless card is the same
it is ralink

[2016-10-14 17:04] whithecasper commented on #351
This work fine in raspberry pi. I'm using with a kali linux arm distro and have no problems.

[2016-10-14 18:07] #354 closed

[2016-10-17 09:58] mrafro commented on #311
eth0      Link encap:Ethernet  HWaddr 18:67:b0:d3:dd:c1
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:190178 errors:0 dropped:128 overruns:0 frame:0
          TX packets:137791 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000
          RX bytes:213498167 (213.4 MB)  TX bytes:19688792 (19.6 MB)

lo        Link encap:Local Loopback

[2016-10-17 09:58] mrafro commented on #311
i'm using ubuntu 14.04 LTS

[2016-10-17 12:16] djdisikd opened #356 "Create a fake ESSID and put some spaces after it."
Example this is the Wifi that we want to deauthenticate

ESSID (Wifi network name) : Hello

Can we copy the same ESSID (network name) and create a open Wifi network with some space after the ESSID (network name)?

That means the ESSID (Wifi network name) should be Hello and then put some space after it.

People will see two wifi networks (Hello) instead of one.

I think this is a great idea and pe

[2016-10-17 15:53] sophron commented on #356
Hi @djdisikd,

If we target a password protected network and we don't know the pre-shared key, the Evil Twin will be an open network. Network managers will display this as a second (different) network even though they share the same ESSID (because they have different encryption settings).

If we target an open network or a password protected network that we know the pre-shared key, the Evil Twin w

[2016-10-17 20:32] sophron commented on #355
This is not an issue regarding Wifiphisher though. I recommend you asking a different forum.

[2016-10-17 20:32] #355 closed

[2016-10-17 20:32] #353 closed

[2016-10-17 20:34] sophron commented on #352
@jsy01 Nothing had really changed on the software codebase for a while since yesterday. It's pretty clear that none of your adapters are supporting AP mode.

[2016-10-17 20:38] sophron commented on #348
I'm closing this. Feel free to re-open if you need additional information.

[2016-10-17 20:38] #348 closed

[2016-10-18 12:20] djdisikd commented on #356
Can you add an option for increase wireless adapter signal strength for our convenience?

[2016-10-18 13:01] djdisikd commented on #351
How did it work in android smartphones if they have only one wireless network adapter?

[2016-10-18 13:03] PJF16 commented on #351
With external wireless adapters. ;-)

[2016-10-18 15:46] sophron commented on #356
You may change your Wi-Fi card's TX power. There are many tutorials on the Internet that tell you how to do that.

[2016-10-19 10:21] djdisikd commented on #351
Where to buy the most affordable external wireless adapters for smartphones?

[2016-10-19 12:59] djdisikd commented on #356
I think my alfa network adapter does not support increasing TX power. -_-
It doesn't increasing the TX power...

[2016-10-19 16:22] #352 closed

[2016-10-19 17:07] PJF16 commented on #351
I bought this one twice for 8€

https://www.amazon.de/TP-Link-TL-WN722N-High-Gain-Antenne-WLAN-Empfang-unterstützt/dp/B002SZEOLG/ref=sr_1_fkmr0_1?ie=UTF8&qid=1476896860&sr=8-1-fkmr0&keywords=tp+link+wn+722

[2016-10-20 03:44] mcy260 commented on #351
is there a way to make it work? any suggestion or alternative? I had the same external wireless adapter TP-Link TL-WN722N

[2016-10-20 03:58] shakri opened #357 "ayie"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2016-10-20 03:58] shakri opened #358 "ayie"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2016-10-20 04:00] #357 closed

[2016-10-20 04:00] #358 closed

[2016-10-20 09:12] djdisikd commented on #351
Unfortunately, this wireless adapter is for windows only.

[2016-10-20 10:21] PJF16 commented on #351
@djdisikd That's not true. It works like charm on my Kali Linux Notebook and on my Nexus 7 with Nethunter. It has the Atheros chipset and this driver and firmware is included in the Linux Kernel.

[2016-10-20 12:07] mcy260 commented on #351
@PJF16 it works on Nexus 7???? Wow, but how??

[2016-10-20 13:14] PJF16 commented on #351
@mcy260 Yep without any issues. Just plug it in and then type ifconfig wlan1 up in the Kali Terminal.

[2016-10-20 13:22] mcy260 commented on #351
I'm using Android Open Pwn Project (Pwnie Express) not Kali, but is based on Kali, for some reason i got those errors on my Nexus 5.
 BUT if  its working on your nexus 7, it means that is not a kernel problem

[2016-10-20 16:03] sophron commented on #263
I continued the work of @dionyziz and merged the code for the new template a few days ago. The page is making a guess of the victim's network manager, based on the received User-Agent header and displays either the Windows or MAC OS network manager. Using our template language, the web-based network manager will prompt for the pre-shared key of the target network. Furthermore, the Windows network

[2016-10-20 16:03] #263 closed

[2016-10-23 07:54] djdisikd commented on #351
I need additional cable to plug it in the smartphone?

[2016-10-23 08:05] strasharo commented on #351
You'll need an OTG adapter.

[2016-10-24 14:37] loudjedi opened #359 "hi please help ! its was working fine until this !!"
![screenshot from 2016-10-24 15-33-49](https://cloud.githubusercontent.com/assets/20914496/19649944/90a7e81c-99ff-11e6-83de-9485820229cc.png)

[2016-10-24 14:37] #356 closed

[2016-10-24 14:42] sophron commented on #359
Your device is either Soft Blocked or Hard Blocked. Check with `rfkill list all`. You can try unblocking it with `sudo rfkill unblock wlan` or reconnecting the card.

[2016-10-25 14:29] djdisikd commented on #351
Just plug it in and done?

[2016-10-26 15:58] loudjedi commented on #359
am soft blocked how do i unblock ?

[2016-10-26 16:07] sophron commented on #359
As I have already written, try `sudo rfkill unblock wlan`. Subtitute `wlan` with your interface name.

[2016-10-26 16:12] loudjedi commented on #359
done thanks bro
close this issue

[2016-10-26 16:28] mcy260 commented on #351
@djdisikd

http://i.ebayimg.com/images/i/201536977655-0-1/s-l1000.jpg

![](http://i.ebayimg.com/images/i/201536977655-0-1/s-l1000.jpg)

[2016-10-26 17:56] #359 closed

[2016-10-27 10:13] djdisikd commented on #351
Ok.

[2016-10-28 13:19] djdisikd commented on #356
The victim will detect our (fake) wifi even if the signal strength is low.

[2016-10-28 16:52] sophron commented on #356
I am not sure I understand your claim.

[2016-10-29 23:51] djdisikd commented on #356
Which you do not understand?

[2016-11-01 16:50] sophron commented on #242
I'm closing this. We should indeed catch all exceptions (not only those on closing) but this is not urgent for the upcoming release.

[2016-11-01 16:50] #242 closed

[2016-11-02 03:08] Verg92 opened #360 "Import error:No module named scapy.all"
Sorry if this isn't the right place to post but after launching "python setup.py" i got this message:

_"Import error:No module named scapy.all"_

So i typed _"apt-get install python-scapy"_ and then the error become:

_"Import error:No module named setuptools"_

Then i typed _"apt-get install python-setuptools"_ but nothing changed.
I get the last error everytime.
Any suggestions? Thank you in ad

[2016-11-06 04:22] crazyboogs opened #361 "Request: Allow one interface usage"
Would it be possible to allow for wifiphisher to run when only one interface is available? Perhaps the user would need to specify whether it is the jamming interface or access point interface at run time.

My reason for this is that I would like my jamming interface to be on a separate device than my access point interface.

[2016-11-06 23:34] jnaulty commented on #361
In the README.md:

[code]

[2016-11-07 20:55] bennesp opened #362 "Enctype referenced before assignment"
Introduced in last commit ( 0402008dd14c1475c80d75911079de455e8e449b ).
If essid is provided by the user, no enctype is defined.
Error at Line 884

[2016-11-07 21:11] sophron commented on #362
Good catch, will push a fix soon.

[2016-11-08 03:19] crazyboogs commented on #341
'''
root@kali:~# wifiphisher -nJ
[*] Starting Wifiphisher 1.1GIT at 2016-11-08 02:42
Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.1', 'console_scripts', 'wifiphisher')()
  File "/usr/local/lib/python2.7/dist-packages/wifiphisher-1.1-py2.7.egg/wifiphisher/pywifiphisher.py", line 784, in run    network_manager = int

[2016-11-08 03:36] crazyboogs commented on #361
Thanks for pointing that out.

[2016-11-08 03:36] #361 closed

[2016-11-11 02:10] fmunarriz commented on #4
hi guys, I am new at this and I was wondering if any of you could help me out at making a more realistic facebook 0auth login page. how and where can i make changes to make this a more realistic website?

please help
thank you

[2016-11-12 09:06] djdisikd opened #363 "Index files failed to download."
![img_20161112_165951](https://cloud.githubusercontent.com/assets/17978000/20236756/cf259e98-a884-11e6-91c5-d40e76ec2e32.jpg)

[2016-11-12 23:16] #362 closed

[2016-11-14 06:37] djdisikd commented on #363
Please close this issue

[2016-11-14 06:37] djdisikd commented on #363
Please close this issue

[2016-11-16 09:31] #363 closed

[2016-11-16 11:03] johkeidude commented on #363
Can i use tl-wn722n will this work

16.11.2016 11.31 "toh" <notifications@github.com> kirjoitti:

[2016-11-22 05:02] cupiddidi opened #364 "oauth - Phishing Page - Facebook png file not display"
Hello

Experience the phishingpage's facebook logo unable to display in both laptop and mobile devices.

Appreciated if anyone can point me to the right direction.

Thank you.

[2016-11-23 16:38] Ie0h commented on #364
Same issue here, URL shows http://go.microsoft.com/logos/facebook-logo.png which is correct spelling and everything so I am at a loss.

[2016-11-23 16:40] sophron commented on #364
Thanks for reporting. Will push a fix soon.

[2016-11-23 16:51] Ie0h commented on #364
Also please note it is more than just the logo it is the whole page being broken, nothing is lined up or centered like it shows on my linux box opening the HTML. all on the left hand side in plain text.

[2016-11-23 16:54] sophron commented on #364
Thanks. What distro are you using and which browser have you tested this on?

[2016-11-23 16:57] Ie0h commented on #364
Kali shows the page fine,

On Windows 10 using Chrome it does not show properly.

Have not tested on other browsers but I can do that later, bout to jump on a plane.

[2016-11-23 16:59] sophron commented on #364
That's fine, I'll have a look later. Travel safe.

[2016-11-23 17:00] Ie0h commented on #292
Make sure you don't have any invalid characters in your AP name that you are creating. UNICODE will not work as it will give you that same error.

[2016-11-23 17:12] kbeflo commented on #364
Also tested this on a Raspberry Pi 3 B, running raspbian-jessie-lite using 2 Ralink RT5370 wireless adapters, oauth-login currently not working properly.

[2016-11-23 17:47] #331 closed

[2016-11-23 17:49] sophron commented on #319
Hi @Spyro289,

Sorry for the extremely late response. I assume this should be fixed right.

[2016-11-24 02:40] djdisikd commented on #364
I have the same problem too.

[2016-11-24 07:34] #364 closed

[2016-11-24 07:34] sophron commented on #364
Should be good now.

[2016-11-24 08:35] cupiddidi commented on #364
@sophron Hello Sophron, firstly thanks for your quick attention to the reported issue. But I have tried again it still never show the Facebook logo. I am using Apple iOS 10.1.1 open in Safari browser.

I re-download the entired WifiPhisher and run but it still the same.

Hope you can assist us here again.

Thank you

[2016-11-24 08:36] sophron commented on #364
Hi @cupiddidi,

Are you downloading the latest revision using `git clone`? Also, make sure you hit ctrl+f5 on your browser to verify you are not in browser's cache.

[2016-11-24 08:49] cupiddidi commented on #364
![photo 24-11-16 4 30 48 pm](https://cloud.githubusercontent.com/assets/23649192/20591870/b4a7cf42-b265-11e6-9841-a09c119f31e7.jpg)

Hi @sophron Yes, I have clone it again entirely but still no luck. I using iPhone with iOS, once connected to the fake AP it will then automatic open the Safari browser. Anywhere I might be missed? Thanks.

[2016-11-26 19:40] sophron commented on #364
I can't replicate this. Are you sure your are not in cache? Try hitting something else in the address bar and see how it works.

[2016-11-26 20:58] sophron commented on #364
Hm, I think I found a case where this may occur. I just pushed a fix. Can you try again and let me know?

[2016-11-29 18:54] chrisriteco opened #365 "NameError: global name 'first_pass' is not defined"
Kali Linux
commit c0d404537863338c58228c001d79547ff11053c3

Exception in thread Thread-3:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/usr/local/lib/python2.7/dist-packages/wifiphisher-1.1-py2.7.egg/wifiph

[2016-11-30 01:00] AutinDroid commented on #341
Same problem. Would love to see this work on my Nexus 5

[2016-11-30 05:50] dienpv58 opened #366 "don't get password"
Hi all,
I have a question about don't getting password.
When victim enter password and then click "start upgrade" button. I only seen GET method
ex:
HTTP requests
[*] GET 10.0.0.62
[*] GET 10.0.0.62
[*] GET 10.0.0.62
[*] GET 10.0.0.62
victim entered passwd and sent passwd, it not show: [*] POST 10.0.0.62 pass=xxxxxx
i used firmwave upgrade method.
what happen? And how to fix this?
so sorry because

[2016-12-03 12:34] jamalski commented on #100
Mr sophron: i am with kali linux a few years now, in the past the wifiphisher worked perfectly. But now i can not jam my ap anymore, i tried everything but i can't. Maybe Ziggo these days has good protected modems. With wifiphisher i can not jam, no matter what i do also with mdk3, aireplay-ng, wifijammer,
Maybe you have these days the solution for me, so please help, thank you

[2016-12-03 18:03] JumboPeak opened #367 "Fake Authentication Page Only Working on iPhones and iPads"
Version: Wififisher 1.1 and newest version.

Current distribution: Kali 2916.2 (However I had this issue on older versions of Kali)

Ok so I've had success using wifiphisher but this was when an iPhone connected to my AP and displayed the fake page and I got their password. However I noticed that I only ever got DHCP leases from either iPhones or iPads and never PCs etc.

I've recently started usi

[2016-12-04 19:27] sophron commented on #307
Website is up. https://wifiphisher.org

[2016-12-04 19:27] #307 closed

[2016-12-05 16:58] #77 closed

[2016-12-05 17:02] sophron opened #368 "Usage of curses for better terminal output"
We should leverage <a href="https://docs.python.org/2/library/curses.html">curses library</a> for advanced terminal handling.

[2016-12-07 03:33] Criticize opened #369 "How to clear the DHCP Leases?"
When running a new instance of wifiphisher following the successful MITM penetration.  The previous DHCP Lease addresses including the MAC addresses of the previous victims show up under "DHCP_Leases:" How do I clear those out? OR Where is the .conf file to delete them?

Thanks!

[2016-12-07 10:52] astra22 commented on #190
same problem here can anyone help me out?

[2016-12-07 11:02] astra22 commented on #37
hi

[2016-12-07 11:02] astra22 commented on #37
i need help

[2016-12-07 11:11] astra22 commented on #37
need help

[2016-12-07 11:14] astra22 commented on #37
Using /usr/lib/python2.7/dist-packages
Finished processing dependencies for wifiphisher==1.2
[*] hostapd not found in /usr/sbin/hostapd, install now? [y/n] y
Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt-get -f install' to correct these:
The following packages have unmet dependencies:
 google-chrome-stable : Depends: libappindic

[2016-12-07 19:32] sophron commented on #369
Hi @Criticize,

You can try removing /var/lib/misc/dnsmasq.leases file for now. We should probably clear the leases when the script terminates. I'm adding to our list.

[2016-12-07 19:36] sophron commented on #367
Hi,

What exactly is happening when you click to connect on the network from your PC? HSTS is a countermeasure that you cannot easily bypass but has nothing to do with your case.

Also, make sure you are using the latest 1.2 version.

[2016-12-07 19:36] sophron commented on #366
Which version are you using?

Make sure that Javascript is enabled on your browser.

[2016-12-07 19:39] sophron commented on #365
Hi @chrisriteco,

Is this happening every time you run the tool? Make sure sure you are using the latest revision and not one modified version.

[2016-12-07 19:41] sophron commented on #360
Hi,

You don't mention your distro but I suppose it's Debian-based. Is `python-setuptools` installed properly after you run the `apt-get` command?

Excuse my late response. :)

[2016-12-07 19:43] sophron commented on #328
Hi @wikijm,

I believe this is now fixed. If you could verify it for me on Debian, that would be great.

[2016-12-07 19:45] sophron commented on #323
Hi @Faustino50,

I believe this is also now fixed. If you could verify it for me, that would be great.

Excuse my late response.

[2016-12-07 19:46] sophron commented on #292
I'm closing this. @skordonis feel free to re-open if you still encounter issues.

[2016-12-07 19:46] #292 closed

[2016-12-10 15:39] wikijm commented on #328
It's seems to be fixed. Thanks 👍

[2016-12-10 15:39] #328 closed

[2016-12-10 20:01] chrisriteco commented on #365
Updated tonight to the latest version by git. Error still present in the background ('error.log') every run. Command I use 'wifiphisher --nojamming --essid "Wifi" -p oauth-login 2> error.log'.

[2016-12-11 14:54] wikijm opened #370 "[QUESTION] How to select wlan1 when simply spawn an open AP?"
**Version**: commit cf097ccc256bcfe8ad2bebcce04fbe024a115633

**Distribution**: Linux RaspAP3 4.4.34-v7+ #930 SMP Wed Nov 23 15:20:41 GMT 2016 armv71 GNU/Linux

**Summary**: How to select specific wlan interface when simply spawn an open AP?

**Description**: I don't know how to select a specific wlan interface when I try to simply spawn an open AP. Automatically, WifiPhisher select wlan0, which I

[2016-12-11 18:22] sophron commented on #370
Thanks for reporting this.

There is `--apinterface`  but it won't really work as it conflicts with the `--nojamming`. I will push a fix soon.

[2016-12-11 18:23] sophron commented on #365
I was able to reproduce this. Will push a fix soon.

[2016-12-11 20:22] sophron commented on #370
Just pushed a commit that fixes this. You should be able to use `--apinterface` using the latest revision now . This will of course work only if the given interface does support AP mode.

[2016-12-11 20:23] sophron commented on #365
Just pushed a fix. Please update to the latest revision and let me know if there are any issues.

[2016-12-12 07:48] wikijm commented on #370
Works like a charm for choosing interface.

New issue: Wifiphisher won't get IP to the victimes. I need more test to check this.

Thanks for your wonderful job !

[2016-12-12 07:48] #370 closed

[2016-12-14 12:39] Anaprofen opened #372 "Stuck after Cleared leases"
When running wifiphisher, after reaching:

"Cleared leases, Started DHCP, set up iptables"

I lose connection to my router and network manager is turned off. I have to exit the program and restart the service.

Using the latest version on Kali.

[2016-12-18 04:32] Keoni80 opened #374 "macos issue"
when i try to use it on macos sierra i have this error:

MacBook-Air:wifiphisher Juan$ wifiphisher
Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 9, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()
  File "/usr/local/lib/python2.7/site-packages/pkg_resources/__init__.py", line 558, in load_entry_point
    return get_distribution

[2016-12-18 11:29] davyh87 commented on #123
Ive got the same error
even when i have python scapy installed

root@dav:~/Desktop/wifiphisher/bin# python wifiphisher
/usr/lib/python2.7/dist-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
Traceback (most recent call la

[2016-12-19 12:41] jeretc commented on #367
i made a fake page template that works well with Rogue_AP :

https://github.com/jeretc/fake-portal

[2016-12-19 16:12] sophron commented on #123
@davyh87 You need to `python setup.py install` first.

[2016-12-19 16:14] sophron commented on #374
Hi @Keoni80,

This script is only intended to work on GNU/Linux systems. It should not work on Mac OS.

[2016-12-19 16:23] Davy0 commented on #123
Lol srry forgot to install pyric ^^
Thanks for reply..

[2016-12-19 18:05] sophron commented on #200
We now have a setup.py file.

[2016-12-19 18:05] #200 closed

[2016-12-19 18:06] #319 closed

[2016-12-19 18:06] #323 closed

[2016-12-19 18:06] sophron commented on #360
Feel free to re-open if needed.

[2016-12-19 18:06] #360 closed

[2016-12-19 18:07] sophron commented on #366
I'm closing this. Feel free to re-open if needed.

[2016-12-19 18:07] #366 closed

[2016-12-20 18:28] PARKADHE opened #375 "certificate expired"
Victim connected to fake ap see the page connection error, certificate expired.
Unabe to go to the phishing page

[2016-12-25 08:35] imrankashembabu opened #377 "Starting Wifiphisher 1.2GIT at 2016-12-25 14:30 [!] There are not enough wireless interfaces for the tool to run! Please ensure that at least two wireless adapters are connected to the device and they are compatible (drivers should support netlink). At least one must support Master (AP) mode and another must support Monitor mode."
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2016-12-25 17:48] OmEeboi commented on #3
when i install wifiphisher in kali nethunter by git clone and open by typing wifiphisher
it shows pyric error invalid aruguement plz help me

[2016-12-26 00:37] GRA0007 commented on #372
I'm having the same problem. #280 seems to be the same, but reading it didn't help me at all.

[2016-12-26 18:54] LeXaaN73 opened #378 "Custom phishing scenario."
Fluxion has sites 'vodafone-esp' , how to add in wifiphisher?Sorry for my English, I translate through google translator

[2016-12-27 08:14] hg8 commented on #378
Please see "**Creating a custom phishing scenario**" in https://github.com/sophron/wifiphisher/blob/master/docs/wifiphisher.txt

[2016-12-27 09:14] LeXaaN73 commented on #378
I created config.inibut the program does not see.Something in the script may need to be changed.Why I ask

[2016-12-27 09:17] LeXaaN73 commented on #378
wifiphisher/wifiphisher/data/phishing-pages/vodafone-esp.In this way I put config.ini

[2016-12-27 09:17] #378 closed

[2016-12-27 09:37] GRA0007 commented on #280
@Anaprofen and I seem to be having this same issue. It looks like it's not fixed yet. :/

[2016-12-27 10:30] hg8 commented on #378
Name it _config.ini_ not _vodafone-esp.ini_.

[2016-12-28 10:43] fr1sk opened #380 "issue when trying to run wifiphisher"
I installed wifiphisher (first clone, then install) and everything goes ok. But when i try to run it (from bin or from anywhere) i got this error:

  File "bin/wifiphisher", line 9, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 542, in load_entry_point
    return get_distribution(di

[2016-12-29 13:53] LeXaaN73 commented on #378
config.ini I put in a folder vodafone-esp. and does not work

[2016-12-29 16:29] Mehran opened #386 "Blessing issue"
i just pull update to last version , here is this error

[code]

[2016-12-29 16:32] Mehran commented on #386
`pip install blessings` . solved my issue .

[2016-12-29 16:32] #386 closed

[2016-12-31 13:26] niakova commented on #372
Same- I have three wifi cards, wifiphisher works perfect with both alpha cards however trying to find a work around to leave my third card connected to internet for remote ssh

[2016-12-31 15:12] phamdien commented on #366
i am using latest wifiphisher version, and my browser is firefox on kali linux

[2016-12-31 15:15] phamdien commented on #366
javascript is enable

[2017-01-01 14:06] sophron commented on #372
Hi guys,

This feature is on our roadmap. I believe I'll push it during the month.

[2017-01-01 14:07] GRA0007 commented on #372
Awesome. Looking forward to it.

[2017-01-02 00:09] #377 closed

[2017-01-02 00:12] sophron commented on #375
Hi,

The victim will always see the certificate error because it's self-signed. This is how SSL works.

[2017-01-02 00:14] sophron commented on #367
@JumboPeak I'll now close this issue. Feel free to re-open if necessary.

[2017-01-02 00:14] #367 closed

[2017-01-02 00:14] #374 closed

[2017-01-02 18:35] #336 closed

[2017-01-02 18:36] sophron commented on #368
This is implemented already.

[2017-01-02 18:36] #368 closed

[2017-01-03 12:24] Guardius opened #389 "Can not find module blessings"
I have Kali Linux, with all updates installed.
I installed wifiphisher with the git clone command.
after install and running, here is what I get.
root@*****:~/wifiphisher# python bin/wifiphisher
Traceback (most recent call last):
  File "bin/wifiphisher", line 11, in <module>
    from wifiphisher.pywifiphisher import run
  File "/root/wifiphisher/wifiphisher/pywifiphisher.py", line 13, in <module>

[2017-01-03 13:41] hg8 commented on #389
`pip install blessings`

[2017-01-03 16:55] iot-werkstatt commented on #380
This is fairly easy. You just have to install scapy on your system. If you are on Debian simply use:

sudo apt-get install python-scapy

Or lookup here:
[http://ask.xmodulo.com/importerror-no-module-named-scapy-all.html](url)

[2017-01-04 12:48] djdisikd opened #390 "Some index files failed to download"
![img_20170104_201852](https://cloud.githubusercontent.com/assets/17978000/21642690/0ddabdee-d2bf-11e6-8291-698e8f57d496.jpg)

[2017-01-05 14:21] Labseb commented on #341
I will try it one OPO with Nethunter soon, stay tuned

[2017-01-05 14:25] Labseb opened #391 "Select -aI without the conjuction of -jI"
It would be good that we can select an interface for the AP without to have one other for jamming.

I would like to use "-aI" with "--nojamming" -> Impossible

[2017-01-05 14:29] #391 closed

[2017-01-05 14:30] Labseb commented on #63
It would be good that we can select an interface for the AP without to have one other for jamming.

I would like to use "-aI" with "--nojamming" -> Impossible

[2017-01-05 15:03] sophron commented on #63
@Labseb I meant to say you need to use the latest development version. Try `git clone https://github.com/sophron/wifiphisher` and use this version instead.

[2017-01-05 15:05] Labseb commented on #63
ok, sorry, i will try it !
Thank's

2017-01-05 16:03 GMT+01:00 George Chatzisofroniou <notifications@github.com>
:

[2017-01-05 20:51] cicina opened #392 "HTTPS problem with redirecting victim"
Hello im using latest version of wifiphisher.
Using Kali Linux

There is a problem redirecting victim from HTTPS websites.

Redirecting victims from HTTPS websites not working. Redirecting from HTTP is working perfectly but with HTTPS every browser show a warning to the victim, that website is trying to use fake HTTPS certificate and this happened mostly because of attackers who try to steal credi

[2017-01-05 20:53] cicina commented on #389
Dont run wifiphisher directly.

make git clone, then cd wifiphisher
python setup.py build
python setup.py install

hopefully i got it right. cheers

[2017-01-05 23:48] Cowicide opened #393 "Browser detection"
**Version**: lastest

**Distribution**: Kali Linux

**Summary**: If the Mac user is utilizing Safari, a Chrome page is shown.

**Description**: wifiphisher should detect the browser the user is utilizing and show the correct Internet error screen.  For example, for Safari users:

![screen shot 2017-01-05 at 4 38 43 pm](https://cloud.githubusercontent.com/assets/716801/21702081/ad145c42-d366-11e6-9

[2017-01-06 02:28] laozi999 opened #394 "Unable to load files due to redirection"
phishinghttp.py makes sure that every request gets redirected to the index.html file in the selected folder, including external js files, css files, etc. This keeps me from loading external scripts. I've tried to write the path several ways `(./css/style.css)` `(http://10.0.0.1:8080/css/style.css)` none of them work.

Console dump:

`Password fields present on an insecure (http://) page. This is a

[2017-01-06 08:50] laozi999 commented on #393
You could trigger this using javascript and then redirecting the user, but I don't think wifiphisher lets you navigate outside the phishing-page folder that you choose when running wifiphisher.

Something like this:
[code]

You can of course rearrange these and have for example only Firefox browsers on Android devices display a certain page. Like so:

[code]

[2017-01-06 09:15] laozi999 commented on #392
**Question 1**
Have you changed browsers in those 9 months?

This is exactly the point of HTTPS, to warn the user when they are forced to see a captive portal page. When a user tries to access an insecure site (HTTP), wifiphisher will detect this and instead redirect the user to your captive portal.

Some browsers show the user a warning, other browsers simply show an error.

**Question 2**
I'm no

[2017-01-06 09:22] laozi999 commented on #390
Try running `apt-get update`

If that doesn't work, check your sources:

**/etc/apt/sources.list**

sources.list should have these sources:

[code]

[2017-01-06 11:01] cicina commented on #392
Thank you for answers, especially for question 2 and 3.

Now im running old version of wifiphisher which is available in kali repositories v1.1 and https redirect is working just fine. No matter what victim types, it will redirect to our phishing scenario. In new version of wifiphisher, it will work only with http :( I have no idea why it was working and now its not. Btw warning shows most popular

[2017-01-06 11:02] cicina commented on #392
No I haven't changed browser, I still use firefox. Mobile, pc, doesnt matter its still firefox. Ofc just newer version.

[2017-01-06 11:41] laozi999 commented on #270
This would open the gates to crazy MITM attacks.

We should add `-nI` (net interface) to assign an interface that has internet access and set up iptables for that interface. I'm still trying to figure out the easiest way to only enable internet access after the wifi password has been entered, as it would be nice to get both the victim's WPA key **and** sniff the traffic.

Once the user is allowed

[2017-01-06 12:38] laozi999 commented on #238
I have built exactly this, will fork it soon once I'm finished optimising.

I'm making good use of the iOS captive portal pop-up window, which looks 90% the same as the WPA login modal of iOS. It is animated the exact same way, the only problem is that the captive portal page loads a little slower.

Some of the features:

- Minimum of 8 characters for the WPA key
- Detects (most) mobile devices
-

[2017-01-06 12:46] laozi999 commented on #238
Again, having these windows pop-up while the user is browsing the internet (requires iptables to be routed) would be ideal. A simple karma attack would yield the best results IMO.

[2017-01-06 13:02] laozi999 commented on #392
Hmm, strange. Are you running wifiphisher v1.1?

[2017-01-06 13:04] laozi999 commented on #392
try accessing 'https://www.paypal.com' (including the https://) using your current version of wifiphisher and let me know if it shows an error.

[2017-01-06 13:20] cicina commented on #392
Well, my bad. You are right, https://paypal.com not working. I dont know what I was thinking.
Still v1.1 is working better with deauthenticating clients and/or AP.
is there any hope for future to work with https? Or is it clearly impossible?

[2017-01-06 13:52] laozi999 commented on #392
No worries, most browsers tend to remember which sites use HTTPS and will automatically send you to the secure page. When you clear your history, and type 'youtube.com' without the 'https://', chances are that you are first taken to the non-secure (HTTP) page.

Your browser knows that when it sends a request and gets redirected to a captive portal, the connection is insecure, and will show the use

[2017-01-06 14:01] laozi999 commented on #392
It'd be a nice addition to wifiphisher to enable internet access and runnig bettercap. This could act as a traffic vacuum when performed with a karma attack.

[2017-01-06 14:03] cicina commented on #392
Thank you for excelent explaination.
Yes that is what made me think its working with https. I tried to access youtube or other site which resulted with accessing non https variant of website first which was redirected successfully.
Also spoofing dns is awesome but implement such thing in wifiphisher would be hardcore. Looking forward xD thank you for your time i got that all for now.

[2017-01-06 14:05] cicina commented on #392
However, if web browser shows warning, its impossible to continue and thats mean less change to trick victim :(

[2017-01-06 14:06] cicina commented on #392
BUT! Most modern os such as IOS will show our scenario right after connecting to wifi which is good.

[2017-01-06 14:06] laozi999 commented on #351
I am having issues installing `firmware-atheros`, or any package on nethunter. I think it has to do with the process id of apt. Nethunter isn't that compatible with Nexus 5 yet.

[2017-01-06 14:19] laozi999 commented on #392
You can definitely use the captive portal pop-up screens on Macintosh and iOS to your advantage.

I have used the iOS captive portal pop-up to trick the user into thinking that it's the password page:
(I will release this phishing scenario shortly!)

[https://github.com/sophron/wifiphisher/issues/238](url)

![2](https://cloud.githubusercontent.com/assets/24898383/21720264/389ec17a-d476-11e6-96ef-c

[2017-01-06 15:21] laozi999 commented on #339
have you tried running the actual python file like this?
`sudo python ./wifiphisher/bin/wifiphisher`

[2017-01-06 17:19] wvthoog opened #396 "Hostapd restart"
hi,

i'm using a Raspberry Pi 3 and like to use it as a mobile Fake Access Point using Wifiphisher. The problem i'm facing is that when i start Wifiphisher it kills the original Hostapd process which i use to connect to, to initialize wifiphisher. So how do i append a Wifiphisher configuration file with my own (wlan0 raspberry pi 3 onboard wifi) access point, or maybe prevent Wifiphisher to kill t

[2017-01-07 03:36] laozi999 commented on #369
I've added a fork to clear the DHCP leases when you launch wifiphisher:

[https://github.com/sophron/wifiphisher/compare/master...laozi999:patch-1](https://github.com/sophron/wifiphisher/compare/master...laozi999:patch-1)

[2017-01-07 10:14] laozi999 commented on #396
Why are you trying to run 2 access points on the same interface? As far as I know that's not possible.

**Question 1**
When you run Wifiphisher, it automatically configures hostapd for you, so there's no need to configure your own. You can change the hostapd settings of Wifiphisher in `/wifiphisher/wifiphisher/pywifiphisher.py` on `line 437`.

**Question 2**
This is a good idea, would be a nice ad

[2017-01-07 16:54] sophron commented on #270
Hi @laozi999,

We don't really need to set a third (net) interface. What we should do is create a virtual monitor interface out of one available interface and use that for jamming. The first interface can maintain the Internet connection.

In other words, with two physical wireless cards, our three interfaces would be:

wlan0 - Internet Connected
wlan1 - hostapd
wlan0mon - jamming (created out of

[2017-01-07 17:15] sophron commented on #238
@laozi999 Great job. Waiting the PR. :)

[2017-01-07 17:16] sophron commented on #369
@laozi999 Feel free to make a PR for this too.

[2017-01-07 19:30] plauncher commented on #341
Same here

[2017-01-08 00:22] ghost95 opened #397 "Give option of attacking 5ghz and eventually 60ghz"
I have not seen this issue though I may have over looked it, forgive me if I have. As of right now we only have the option of targeting a network on the 2ghz frequency, many of the networks I have been studying that broadcast the 5ghz frequency, most devices are connected this vs. the 2ghz broadcast, so what I have also been hearing implementation of the new 60ghz frequency in future devices thoug

[2017-01-08 09:23] wvthoog commented on #396
@laozi999

**Question 1**

i'm not trying to run two accesss points at the same interface, but rather want to use the on board interface as a hotspot (wlan0) to connect my phone/laptop to in order to login with ssh (for example)

so my setup is like this. The onboard interface (wlan0) is used for a static access point for myself to log into the Pi. The second and third interface (tp-link wn722n us

[2017-01-08 09:23] laozi999 commented on #238
Thanks, I just need to figure out a way to solve [this issue](https://github.com/sophron/wifiphisher/issues/394) without changing any code in phishinghttp.py. For some reason it's not letting me load external JS and CSS files, I've tried writing the paths several ways (./css/styles.css) (http://10.0.0.1:8080/css/styles.css) none of them work. I know this is because of the redirection rules in phis

[2017-01-08 09:24] laozi999 commented on #238
Could it be due to the tornado web module?

[2017-01-08 09:34] laozi999 commented on #238
I'm also planning on having wifiphisher save the target's ESSID to a file inside the phishing scenario folder, that way you don't have to change the ESSID in each modal every time you change target.

[2017-01-08 13:21] laozi999 commented on #396
Ok.

A few things:

1. Wifiphisher kills the `airbase-ng`, `dnsmasq` and `hostapd` processes on launch
2. Wifiphisher resets the iptables on launch

The best way is to let Wifiphisher reset everything, then set up both APs for you.

You will have to configure your other AP (iptables, hostapd & dnsmasq) accordingly in pywifiphisher.py

[2017-01-08 13:39] laozi999 commented on #396
Made me think of a cool feature:

Have wifiphisher ask how many access points you want to set up on launch.

[2017-01-08 16:25] Miayke opened #399 "How can edit fake pages"
hello i use last version but i need to edit html

/root/wifiphisher/wifiphisher/data/phishing-pages

when i edit there pages it is dont work or when i delete pages still work anyone know where are they?

[2017-01-08 16:52] Miayke opened #400 "i need reset after stop wifiphisher for start wlan?"
hello when i stop wifiphisher after that i need to reset my pc for join internet anyone know how i can fix it

[2017-01-08 17:22] cicina commented on #400
Hello, if you use Kali linux, quit wifiphisher
open terminal and type
1. ifconfig (check if your wlan is still in monitor mode)
2. if its in monitor mode, stop it first using airmon-ng stop wlan0mon (use interface you se in ifconfig, this is example)
3. service network-manager restart

if your card is not in monitor mode after you quit wifiphisher, (it shouldn't be)
then go straight to step 3. com

[2017-01-08 17:26] cicina commented on #399
not quite sure what you mean, but to edit those files you would need basic understanding of web developing.

[2017-01-08 17:36] cicina opened #401 "just an idea"
Hello, just wondering..

it might be useful if you would add an option to copy access point with same channel but different name.
example:
There is wifi named TodNet
I would like to attack their users and create fake AP as usual but I would named it TodNet Upgrade
or something similar, to get attention. Name of the fake AP could be free editable by attacker.

Im trying to do this by using aireplay

[2017-01-08 17:40] cicina commented on #392
laozi999 IOS pop up scenario is briliant, I can't wait to try it . :+1:

[2017-01-08 17:46] Miayke commented on #399
no  i edit but when i start wifiphisher fake pages still same it can not change so page didn't update

sorry 4 english

[2017-01-08 18:55] laozi999 commented on #401
Be careful with long during deauthentication, especially if you're doing it without permission, it's illegal.

I don't see why you would want a different name to 'attract attention', you are better off using the same name to trick them into connecting, or use 'TodNet ' (with a space) to bypass some network warnings.

You can change the channel of your AP in `/wifiphisher/wifiphisher/constants.py`

[2017-01-08 19:02] laozi999 commented on #399
Make sure you're not mixing up 2 copies of wifiphisher.

You can ensure that you launch the correct one by specifying the python file:

`python /wifiphisher/bin/wifiphisher -e "Fake AP"`

instead of:

`wifiphisher -e "Fake AP"`

[2017-01-08 19:32] Miayke opened #402 "how i can add new fake pages"
When I make a new page it does not appear in the PHISHING SCENARIOS list

 or when  I edit the page It does not change

i put or edit there /root/wifiphisher/wifiphisher/data/phishing-pages

Where do i make mistakes

[2017-01-08 21:19] #369 closed

[2017-01-08 22:52] cicina commented on #401
Well, understand, but still, it would be useful to be able to modify essid. If I do, it will skip jamming.
I dont know how would I use this yet, but I am sure it could be used somehow.

[2017-01-08 23:38] #402 closed

[2017-01-08 23:39] #400 closed

[2017-01-08 23:39] #399 closed

[2017-01-09 07:26] sophron commented on #401
Hi @cicina,

I can't imagine many use cases for this (except maybe from WPS PBC Technique #264). We can probably implement this at some point in the future if more people are interested in this.

[2017-01-09 07:56] sophron commented on #394
Hi @laozi999,

We don't want to include any external scripts (we assume that the user does not has any connection to the Internet).

You need to put your files in the `static` directory. See how the other templates are structured (e.g. https://github.com/sophron/wifiphisher/tree/master/wifiphisher/data/phishing-pages/firmware-upgrade).

[2017-01-09 07:59] sophron commented on #393
Correct, we currently support only Chrome's page. We should put the pages from the rest of major browsers too.

[2017-01-09 08:01] #375 closed

[2017-01-09 08:07] sophron commented on #389
See #386.

[2017-01-09 08:07] #389 closed

[2017-01-09 08:15] laozi999 commented on #401
You are still able to do this, you will have to manually deauth however.

I like to use mdk3.

This sends deauth packets **AND** disassociation packets to all access points, except for the BSSID(s) listed in a whitelist file:

`mdk3 wlan1 d -w "/path/to/whitelist.txt"`

This sends deauth packets **AND** disassociation packets only to the BSSID(s) listed in a blacklist file:

`mdk3 wlan1 d -b "/pat

[2017-01-09 08:16] laozi999 commented on #401
This method could be easily implemented into wifiphisher, and allow users to jam more than just 1 AP.

[2017-01-09 08:25] sophron commented on #401
@laozi999 There are many improvements that I have in mind regarding jamming, including some novel techniques.

However, this issue is about spawning an AP and deauthing another one (with different ESSID). A user could possibly use the `--essid` option and run `mdk3`, as you said, but it may be useful to run it from the tool itself.

[2017-01-09 08:41] Miayke opened #403 "i use old version's fake page but"
i use old version's wifi fake page but its giving error no shows css and logo and when i write ( victim ) password it not shows i use config.ini too what i forget to do

wifi page old version

wifiphisher new version

srry 4 english

[2017-01-09 09:20] cicina commented on #401
Indeed, guys, we can run it separately. Thanks for quick response.

@laozi999
What is the difference if you send deauth AND disassociation packets?
Am I correct, aireplay-ng sends only deauth packets?
@sophron indeed, it may be usefol to run it from tool itself however I know there is more important things to implement.
Thanks

[2017-01-09 09:41] laozi999 commented on #394
Hi @sophron

Sorry, I didn't mean to say the scripts are external files, they are still local.

I was able to successfully load stylesheets via `http://10.0.0.1/css/styles.css` in previous versions of wifiphisher. I did have to change some of the code inside phishinghttp.py (which is undesirable).

Will try using the **static** folder now, thanks!

[2017-01-09 09:42] laozi999 commented on #394
And if it works, I will make a PR for the login-modal scenario immediately :+1:

[2017-01-09 09:48] laozi999 commented on #401
@cicina
Basically, mdk3 kicks everyone off the AP, while with aireplay-ng you can specify a single client.

[2017-01-09 11:03] sophron commented on #403
What exactly is the old-version WiFi page that you are using?

[2017-01-09 14:55] Miayke commented on #403
fake page name "minimal" i add this one to new wifiphisher but its giving error not show password or css or logo

[2017-01-09 15:01] Miayke commented on #403
I'm trying to add a different page, but it fails.  Example old version of the page or a different page

[2017-01-09 23:02] cicina commented on #401
Thanks I have been playing around with mdk3 its rly nice. Haven't heard of it before.

[2017-01-10 03:28] laozi999 commented on #394
Works like a charm.

This is quite consistent, it'd be nice to have an empty template for users to copy and make changes to so they can build their own without going through the hassle I went through.

I have patched something quite important, namely the -qS (--quitonsuccess) command, which triggers a **sys.exit(0)**, this also wipes the captured credentials output when wifiphisher shuts down, shi

[2017-01-10 03:29] laozi999 commented on #394
I meant to say that **sys.exit(0)** clears the terminal screen, including the captured credentials that were printed before termination.

[2017-01-10 04:20] laozi999 commented on #403
make sure you have a `config.ini` file inside the folder of your site, and make sure that you change `config.ini` so that you can select the scenario with wifiphisher.

[2017-01-10 04:23] laozi999 commented on #403
Save this in your config.ini file:

[code]

[2017-01-10 04:25] laozi999 commented on #393
I think it's better to merge them all in one scenario, that way you can just keep updating 1 file rather than every individual scenario.

[2017-01-10 05:09] laozi999 commented on #372
You are much, MUCH better off using **wicd** and ditching Network Manager.

`sudo apt-get install wicd`

Network Manager saves your **ACTUAL MAC ADDRESS**, and then makes sure it is used persistently when connecting to a network, **EVEN AFTER YOU USE MACCHANGER!**

There is a way to change your mac address inside network manager, but it seems to force you to at least connect once with your real ma

[2017-01-10 05:13] sophron commented on #403
The `minimal` template that we used to support is not working indeed with the new version. You may be able to port it though by following the <a href="http://wifiphisher.org/docs.html">documentation</a>.

Is there a particular reason that you want to use that template? I consider the new `firmware-upgrade` scenario way more realistic.

[2017-01-10 05:31] laozi999 commented on #203
This can be achieved using javascript:

[code]

[2017-01-10 05:44] sophron commented on #393
Yes, all of them are in one scenario. The idea is that we determine the victim's OS & browser based on the User-Agent header and craft the page accordingly.

[2017-01-10 05:56] sophron commented on #203
@laozi999 Yes. Feel free to make a PR on this if you like. You can see my complete view on this issue on #290.

[2017-01-10 05:57] sophron commented on #203
@laozi999 Yes. Feel free to make a PR on this if you like.

[2017-01-10 11:59] laozi999 commented on #401
Also a very cool feature about mdk3 is that it will stream deauthentication and disassociation packets to the target on all channels, whereas with aireplay-ng, you have to set your interface to the right channel before you can successfully deauth the target.

[2017-01-10 12:07] cicina commented on #401
Noticed that! Its really annoying if you dont want to focus on one specific ap and want to attack several of them and try your luck.
Wifiphisher handle this brilliantly. However i would preffer to see progress or just sent packets to see if deauth running successfully or not. This thing is missing as I was attacking my router just for testing purposes and I found out that not always deauth works.

[2017-01-10 12:21] laozi999 commented on #116
Can all be achieved with jQuery:

[code]

[2017-01-10 12:25] sophron commented on #116
@laozi999 Correct. You can check my full view on this issue on #290.

[2017-01-10 14:05] Hemza opened #406 "Can't install on Kali"
OS: Kali Linux,

**Script output**:

root@Anonymous:~/wifiphisher# sudo python setup.py install
running install
running bdist_egg
running egg_info
writing requirements to wifiphisher.egg-info/requires.txt
writing wifiphisher.egg-info/PKG-INFO
writing top-level names to wifiphisher.egg-info/top_level.txt
writing dependency_links to wifiphisher.egg-info/dependency_links.txt
writing entry points to w

[2017-01-10 14:57] laozi999 commented on #406
`pip install blessings`

[https://github.com/sophron/wifiphisher/issues/389](https://github.com/sophron/wifiphisher/issues/389)

[https://github.com/sophron/wifiphisher/issues/386](https://github.com/sophron/wifiphisher/issues/386)

[2017-01-10 15:02] laozi999 commented on #406
If you don't have pip installed

`gem install pip`

[2017-01-10 15:37] laozi999 commented on #401
If you run mdk3 on a target, and you are in reasonable range or have a strong enough antenna, your deauth packets should be effective and continuous for the duration that you are running it

[2017-01-10 15:45] laozi999 commented on #203
Should it always be implemented though? Since some APs can have a WEP key of 5 characters.

[2017-01-10 15:47] laozi999 commented on #203
I guess wifiphisher wouldn't necessarily be the best option for WEP keys, but it sure will work.

[2017-01-10 19:36] Miayke commented on #403
because if i attack router , router has 1 admin , 5 normal user if normal users down maybe they dont want to upgrade router

[2017-01-10 23:56] laozi999 commented on #403
https://github.com/sophron/wifiphisher/issues/238

This scenario will take care of that, adding a bit of legitimacy for mobile devices.

I've been taking longer than I had hoped to make a PR for this, but I think it's optimised sufficiently for attacks.

[2017-01-11 03:01] laozi999 commented on #238
@sophron How would I go about forking an entire phishing scenario folder? I don't really know my way around the git commands and I am operating on Linux only for the time being (so no git desktop)

[2017-01-11 05:35] sophron commented on #238
@laozi999 What you need to do is fork the whole project, do your changes there, and then make a <a href="https://help.github.com/articles/creating-a-pull-request-from-a-fork/">Pull Request</a>.

[2017-01-11 05:54] fearedteddz opened #407 "Cant load CSS on template"
Greetings. I've installed the script and then modified the firmware-upgrade scenario template in order to make it look more realistic with the router vendors I've been testing in my area. Didn't change much to the Index.html file, just the path for the bootstrap.min.css, bootstrap.min.js and jquery.min.js after installation. Also replaced the default vendor PNG with one of my choice. The thing is,

[2017-01-11 08:54] sophron commented on #407
Hi @fearedteddz,

Which version are you using?

If you are using the latest development version you will have to put all your included files under the `static` directory. See how the other scenarios are structured.

In either case, you should include the files using relative paths (instead of absolute). For example, "/static/jquery.min.js" instead of "/usr/local/lib/python2.7/dist-packages/wifiphi

[2017-01-11 09:39] laozi999 commented on #407
If a victim had access to your root folder, that'd be extremely risky

[2017-01-11 09:42] laozi999 commented on #407
@sophron, the wifi_connect scenario is brilliant, but the CSS needs some refining, I wouldn't personally fall for it when I look at the input outlines or the checkboxes, buttons, or the font. I will optimise this to make it look 99% like Mac OS :+1:

[2017-01-11 09:55] Hemza commented on #406
i've used : pip install blessings  --proxy http://user:pass@proxyAddress:proxyPort

it was installed with success

[2017-01-11 09:58] sophron commented on #407
@laozi999 This issue refers to the `firmware-upgrade` scenario (not the `wifi_connect`). Great, feel free to make improvements in any of them.

[2017-01-11 10:28] Labseb commented on #63
i think you can close this Issue

[2017-01-11 10:32] laozi999 commented on #407
Happily!

I have just made a new PR for the device-modal scenario.

That's what I'm calling it, but change it to your liking :)

[2017-01-11 10:46] #406 closed

[2017-01-11 12:17] Labseb commented on #198
could you add this :
https://github.com/anttiviljami/browser-autofill-phishing

It could work with LastPass with the OAuth Login Page ;)

[2017-01-11 12:43] Labseb commented on #403
Miayke: Don't forget with the latest wifiphiser to put all your CSS and logos in a "/static" directory

[2017-01-11 19:15] wvthoog commented on #396
just a little update. I've been doing some fiddling the last few days and came up with this

like @laozi999 mentioned. Replacing `subprocess.call('pkill hostapd', shell=True)` with `#subprocess.call('pkill hostapd', shell=True)` prevents Wifiphisher killing my original Hostapd process and only kills it own while CRTL-C out of Wifiphisher. So problem solved there

Capturing the credentials is a two

[2017-01-11 20:08] #396 closed

[2017-01-12 03:27] fearedteddz commented on #407
@sophron , Thanks for that tip! Everything works perfect now! I didn't change much to the original template, just edited some plain text in the index.html and changed the vendor PNG to match it to the routers in my area and the SSID of the router. Used the same CSS style and layout. I don't know much about CSS/HTML coding, just some basic mods, but I'm watching tutorials from w3schools and will de

[2017-01-13 15:18] Machiko123 opened #410 "Does Wifiphisher 1.2 work on Kali Linux 16.2?"
One can read that Wifiphisher doesn′t work on the latest Kali Linux versions but only till Kali 2.0.
I don′t know whether it is true. I could install it on Kali 16.2 but it loops at DHCP Leases.

Why don′t you add in the official description on which Kali version it works? There are so many.

[2017-01-14 15:36] cicina commented on #392
I ve been thinking.. is there a way to implement sslstrip to force victim open non https website even if they have https variant cached? Since our AP is without internet connection, im not sure if thats possible. What do you think?

[2017-01-14 15:52] kizzinger opened #411 "not work kali 2.0 and 2016.2"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2017-01-14 15:53] kizzinger opened #412 "Now I try it in kali 2016.1"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2017-01-15 17:28] Machiko123 opened #414 "Can someone on different network also connect to the fake access point?"
Is the fake access point also visible for not attacked users on different networks? Assumed wifiphisher creates fake access point "abc_verizon". Is it also possible that people connected to different networks can see it and can connect to the fake access point?

Somehow wifiphisher creates always an "open" fake access point. It shows it as unsecured, therefore
other people could try to connect to

[2017-01-17 08:33] sophron commented on #411
Please open a new issue describing the exact problem.

[2017-01-17 08:33] #411 closed

[2017-01-17 08:33] #412 closed

[2017-01-17 08:33] sophron commented on #407
@fearedteddz Sure, no problem!

[2017-01-17 08:33] #407 closed

[2017-01-17 08:35] sophron commented on #403
@Miayke I'm closing this. If you still encounter issues importing the old template, feel free to open a new one.

[2017-01-17 08:35] #403 closed

[2017-01-17 08:36] #394 closed

[2017-01-17 23:20] blackHatMonkey commented on #414
Yes, **Everyone** is able to connect to the "fake" access point. This type of attack is really successful in airports where all the access points are open.

[2017-01-18 05:46] sophron commented on #410
Yes, it works on latest Kali.

[2017-01-18 05:46] #410 closed

[2017-01-19 03:14] dusan96 opened #415 "More realistic password stealing"
Is it posible to get password from network manager and not from web browser form?

[2017-01-19 15:10] tripformoney opened #416 "Can connect to acces point with an iphone but PC don't work, can't establish connection."
Hi, I am using the newest version of wifiphisher, for my wireless adapters I've got 2x TP-Link Wn722n.
When I am starting acces point, iphone can connect and I see the scenario page (firmware update etc), everything is fine till I try to connect with my computer, then I can't connect to the network. I tried to restart network manager, give a tp-link adapter other ip adress. Do you guys have any id

[2017-01-21 03:42] mcocigra opened #417 "Errno 2"
Hi guys I am new one here and I could use your help. Please
I am attaching a picture of the output please help where is the solution. Everything works until you choose a scenario then this is the error.
![img_20170121_043351_2](https://cloud.githubusercontent.com/assets/25259626/22171696/e4219cd4-df93-11e6-85df-f74a99aaf7a0.jpg)

[2017-01-21 12:07] JustMev commented on #417
I get this sometimes i just run the command line again

[2017-01-21 12:11] JustMev commented on #393
need to add ssl  OAuth Login Page  A free Wi-Fi Service asking for Facebook credentials to authenticate using OAuth, as this would be more realistic and not frighten people with ssl warning

[2017-01-21 12:38] JustMev opened #418 "@sophrom maybe you can add option where it runs script for wlan0,wlan1,wlan2 to boost TX power some thing like"
Sophron you could also implement TX script to increase power  some like this I run prior

`echo " taking down wlan0"
ifconfig wlan0 down
sleep 3

echo "setting Region to Guyana"
iw reg set GY
sleep 3

#iwconfig wlan0 channel 13
echo "setting TxPower to 30"
iwconfig wlan0 txpower 30
sleep 2

echo "starting wlan0"
ifconfig wlan0 up
echo "pulling wlan0 interface up"
iwconfig
sleep 5

echo "       ***

[2017-01-21 13:04] sophron commented on #418
Yes, PyRIC has methods that we should leverage to take advantage of our network's card capacity.

[2017-01-21 13:04] JustMev opened #419 "adding Rssi"
be nice to have a rssi signal meter to see how strong the target signal is

[2017-01-21 13:05] sophron commented on #415
No. The pre-shared key is never transmitted over the wire in clear-text.

[2017-01-21 13:58] sophron commented on #419
Check #106. This is currently WIP (#405).

[2017-01-21 13:58] #419 closed

[2017-01-21 17:20] mcocigra commented on #417
No matter how many times I run it I get the same. Tried both commands. This is everything I used
Git clone ..........
Cd wifiphisher
Sudo python setup.py install
Wifiphisher or from bin
And always the same result on the picture

[2017-01-22 15:31] tripformoney commented on #417
Try to reinstall python maybe.

[2017-01-22 15:43] Ozymandias2000 opened #420 "How can I customise the update firmware scenario?"
I have been trying to set up my own version of the scenario but using a Virgin Media logo, how is the best way to do this without messing with the python code? The attack works well as is but the router list available doesn't really fit with the routers that are common in my area of the UK. Is there any way that you can select the router and bypass the automatic router detection?

I have tried jus

[2017-01-22 16:23] sophron commented on #420
Virgin Media is a company that provides telephone/mobile and broadband Internet services, not a router manufacturer. That being said, there are no Virgin Media routers.

However, if you want to display the Virgin Media logo on the `firmware-upgrade` scenario you need to do the following:

1) Rename your logo to `logo.png` and save it under `wifiphisher/wifiphisher/data/phishing-pages/firmware-upgr

[2017-01-22 16:48] Ozymandias2000 commented on #420
Excellent, thank you!

[2017-01-22 19:07] blackHatMonkey commented on #417
You may want to do
[code]
and also removing the clone folder all together. Let me know if you still have difficulties after performing above tasks.

[2017-01-22 19:10] blackHatMonkey commented on #416
Just to clarify are you trying to connect using the **same** computer that is running the _Wifiphiser_ or a **different** one?

[2017-01-22 21:32] tripformoney commented on #416
I'm running Wifiphisher on Kali installed in virtual machine (VMware) and I'm connecting through my windows from the same computer but outside virtual machine. Do You think this may be a problem ?

[2017-01-23 03:19] mcocigra commented on #417
Thanks. Will try and let you know.

[2017-01-23 05:50] JustMev commented on #417
make sure its python 2.7 also see if scapy is also installed

have you tried sudo apt-get update && apt-get upgrade -y && apt-get dist-upgrade -y

[2017-01-23 11:00] #415 closed

[2017-01-23 16:39] ramadansanli opened #421 "--nojamming <-What would be the way to use this with one wireless interface"
root@kali:~/Desktop/wifiphisher# python bin/wifiphisher[*] Starting Wifiphisher 1.2GIT at 2017-01-23 17:23
[!] There are not enough wireless interfaces for the tool to run! Please ensure that at least two wireless adapters are connected to the device and they are compatible (drivers should support netlink). At least one must support Master (AP) mode and another must support Monitor mode.
Otherwise

[2017-01-23 20:41] niicee commented on #392
Testing lastest great tool wifiphisher on Kali 2016.1/2016.2 on USB persistence with laptop/desktop PC.
Wifi Interface :  Ath9, Ath5, RTL8187 USB and RT2870 USB

I have most similar issues as what Cicina indicated above. Most of problem is fake page NOT pops up at all. I recall it is about 10% of time it works. Windows 10 is worse, nothing works once.

Sometime not is it because those wifi card/us

[2017-01-23 22:12] tripformoney commented on #421
Read description or read again your post. If You that lazy just type wifiphisher --nojamming.

[2017-01-24 12:36] Machiko123 opened #422 "Are there any log files?"
Does wifiphisher store any log files where you can look up old passwords etc.

[2017-01-24 12:50] sophron commented on #422
Hi,

No, it doesn't. However, this is something that we want to deliver in a following release.

[2017-01-24 14:47] blackHatMonkey commented on #416
Have you tried connecting from a different computer?

[2017-01-24 16:17] mcocigra commented on #417
The update worked and the program is starting but it isn't jamming anything everything is empty on the 3 fields: jamming devices, dhcp leasses and http requests

[2017-01-24 16:31] mcocigra commented on #417
Thanks Justmev  I am gonna open another and attach picture

[2017-01-24 16:31] #417 closed

[2017-01-24 16:32] mcocigra opened #423 "Nothing jamming"
The program start you can choose the network but then there isn't anything jamming or leasing
![img_20170124_171316_2](https://cloud.githubusercontent.com/assets/25259626/22256303/a0083dd6-e25a-11e6-9824-e2d140571a7f.jpg)

[2017-01-24 19:42] tripformoney commented on #416
Yes, from another pc everything works fine, thanks for help. Colse

[2017-01-24 19:42] #416 closed

[2017-01-24 23:02] mcocigra commented on #423
I know for leasing there needs for someone to connect but for jamming it should at least jam the router of the selected network

[2017-01-25 14:45] djdisikd commented on #423
Yeah, this happens to me too, I don't know why.

[2017-01-25 23:00] mcocigra commented on #401
From my experience people don't trust things they don't know. I haven't used wifiphisher for a few months and the new enhancements are good bit there are also bad things. For example the first scenario was tha most effective and believable and now it doesn't work on mobile devices. And mobile devices are the most connected to wifi that's disaster. And for scenario 2 it works on everything but peop

[2017-01-25 23:05] yassinios commented on #401
hey Friends, if u want to make free money u can earn more and more with
this site.
watch a video and ads u will get money. this is the link please use my
Referral Code : 4N9W
http://wynzyn.com/
<http://l.facebook.com/l.php?u=http%3A%2F%2Fwynzyn.com%2F&h=ATNo0kOf8ajnjfZqKnK-c12QieilSWtbWuet6ZDU5-JbHqZ9Lou7BoI7sL5UgeKYxEvEC1JVmpujWXzgoTu0PhZxC6g5e9Gi1exY06Dpo3r1qG8IY4oZsfgoU5cbGf6Y__ov5nA>

On Wed,

[2017-01-27 11:27] kn0wledge opened #424 "Creating a module for wifi pineapple"
Hi, are you considering creating a module for wifi pineapple? If not, any other way of making your html templates to work with Captive portals?

Thanks,

[2017-01-27 15:11] mcocigra commented on #423
Is there a solution I think it's something with wlan1 interface because you can connect to the fake network it just isn't jamming anything

[2017-01-27 17:22] atgeek opened #425 "Fake ap stop working after a while"
I'm running wifiphisher on kali 2016.2, using integrated Broadcom wifi card for jamming and an external USB adapter (ralink 28700), the target ap is jammed but the fake ap after some hours dissappear. What could be the problem? There is a way for view a real time output log?

[2017-01-27 18:47] blackHatMonkey commented on #401
@mcocigra What do you think would be a good scenario to have?

[2017-01-27 19:01] blackHatMonkey commented on #418
It is true that PyRIC has the methods to change TX power however as the author himself noted it does **not** work on all devices. The solutions seems to [this](http://askubuntu.com/questions/597546/iwconfig-wlan0-txpower-30mw-not-working) which I believe is out of scopes of Wifiphisher.

[2017-01-27 19:07] blackHatMonkey opened #426 "Translate Python 2 to Python 3 code"
Since Python 2 has been deprecated I believe we should move all the code to Python 3.

[2017-01-27 19:20] blackHatMonkey opened #427 "Log all data in a separate file"
The feature to log all data in a separate file could be very useful for those who run Wifiphisher for a long time and also for debugging.

[2017-01-27 21:51] mcocigra commented on #426
But also we should keep a absolutely bug free version that works and that should not be touched    so we can access a version without problems when we need.

[2017-01-28 10:29] Machiko123 commented on #238
Could you create this scenario also for public networks? I think about to add an input field for username like you having it in the oauth-login scenario now.

[2017-01-28 14:14] LordNDHuy opened #429 "Problem installing tool"
**Version**: sorry my git is currently not working idk why.

**Distribution**: I am using arch

**Summary**: Problem with installing Python2-jinja2

**Description**: As title, I install wifiphisher from some sources, they all require python2-jinja2, which I cannot find a way to install.

[2017-01-28 20:10] blackHatMonkey commented on #429
Have you tried installing it using ```pip``` like so:
[code]

[2017-01-29 03:26] laozi999 commented on #426
@mcocigra that is already that case if you have installed all the dependencies.

[2017-01-29 21:54] Foxtrot commented on #424
While I have nothing to do with this project, I myself am already working on a module for this for use with the WiFi Pineapple.

[2017-01-30 05:11] kn0wledge commented on #424
awesome, anywhere we can follow your updates?

[2017-01-30 05:16] sophron commented on #423
I'm currently working on providing the victims with Internet access. I'll push fixes to jamming right after. Expect them within the next two-three weeks.

[2017-01-30 05:19] sophron commented on #425
We currently do not support logging.

My suspicion is that your card tends to fall out. Can you try using another interface for the AP (using the `-aI` option) and see if you have the same results?

[2017-01-30 05:26] sophron commented on #429
Have you tried `python setup.py install`?

[2017-01-30 05:28] sophron commented on #426
I don't think this is something that we should worry about now. We have <a href="https://pythonclock.org/">plenty of time</a>.

[2017-01-30 05:34] sophron commented on #424
Hi,

No I don't have the time to port Wifiphisher functionality to Pineapple and I'm not sure this is even possible.

Some of the templates could possibly be integrated. Keep in mind that Wifiphisher is under GPL though and this may be restrictive.

[2017-01-30 05:34] #421 closed

[2017-01-30 05:35] sophron commented on #422
We now have #427 for this.

[2017-01-30 05:35] #422 closed

[2017-01-30 05:36] sophron commented on #422
We now have #427 for this.

[2017-01-30 05:37] sophron commented on #414
Everyone can connect to the rogue AP. Use the `--presharedkey` option to create a password-protected AP if needed.

[2017-01-30 05:38] #420 closed

[2017-01-30 05:39] #380 closed

[2017-01-30 05:44] sophron commented on #392
@niicee This is how SSL works. Read @laozi999 answer. You would get the same behavior in a hotel with a captive portal.

To check if your cards are compatible, type `iw list` and look for "Supported modes" section.

[2017-01-30 07:12] LordNDHuy commented on #429
i got
`Using /usr/lib/python3.6/site-packages/PyRIC-0.1.6.3-py3.6.egg
Finished processing dependencies for wifiphisher==1.2
Traceback (most recent call last):
  File "setup.py", line 111, in <module>
    get_hostapd()
  File "setup.py", line 57, in get_hostapd
    install = raw_input(
NameError: name 'raw_input' is not defined
`
when i run 'python setup.py install'

[2017-01-30 07:18] LordNDHuy commented on #429
any way i have figured out how to fix it. i have successfully installed it tks all

[2017-01-30 07:18] #429 closed

[2017-01-30 17:16] mcocigra commented on #423
Nice. But I don't think really necessary for the internet access and how will it work would we need 3 cards because one for jamming and one for fake. I personally use it for getting the wpa or wpa2 password. If you could please fix the jamming issue and if you can make the first scenario mobile friendly. Because the second scenario is less believable people don't usually upgrade things they don't

[2017-02-01 13:48] kn0wledge opened #430 "Selecting Interfaces Manually"
Hi Sophron,

Is it possible to select which wireless interface does what? although the automated one is good but i have 3 interfaces and would like to select which to be used since auto selecting the default laptop wifi card is horrible gain.

Thanks

[2017-02-01 13:51] kn0wledge commented on #218
That would be great. Because the jammer is currently not working at all for me

[2017-02-01 14:13] sophron commented on #430
Have you read the manual (`wifiphisher --help`)? The options that you are looking for are `-aI` and `-jI`.

[2017-02-01 21:57] blackHatMonkey commented on #218
I'm almost done with the re-design of the jamming and it should be pushed out within the next week or so after @sophron reviews it.

[2017-02-02 13:45] zero77 opened #431 "Additional AP List Info"
Can you add more information on the each APs in the list.
For instance, the signal strength of each AP and number of devices connected to each AP (if known).
Thanks,

[2017-02-02 13:48] zero77 opened #432 "MAC Changes Support"
Can you add inbuilt support for Mac changer so that the MAC address of each wireless card is spoofed before the deal authentication process and fake APs are started.
MAC address changer is installed by default in Kali LINUX.
Thanks,

[2017-02-02 13:49] zero77 opened #433 "Probe Request Support"
Can you add the option to create fake AP based on probe request of nearby devices.
Thanks,

[2017-02-03 17:27] laozi999 commented on #432
You can use **airodump-ng** to monitor networks for activity, and then target them.

[2017-02-03 17:27] laozi999 commented on #433
You can use airodump-ng to monitor networks for activity, and then target them.

[2017-02-03 17:27] laozi999 commented on #433
You can use **airodump-ng** to monitor networks for activity, and then target them.

[2017-02-04 06:07] mcocigra commented on #430
Solved close it

[2017-02-04 06:08] mcocigra commented on #431
That would actually be helpful. And making the first scenario mobile friendly.

[2017-02-04 17:39] kn0wledge commented on #433
@zero77  u mean such as the pineapple pine ap?

[2017-02-05 00:45] cicina opened #434 "Idea for new scenario"
Hello, im wondering if you would consider my idea of scenario.

Its nice scenarios available however I still find those less usable because for example "router update" scenario is mostly for people who knows what router is and wish for upgrade. Still, this kind of people are usually smart enough to notice there is something wrong and won't type credentials.
If people are not technically skilled, t

[2017-02-05 06:26] sophron opened #435 "Update wifi_connect template to support Android/iOS devices"
@dionyziz has done a great job with `wifi_connect` template that currently supports Windows & Mac OS network managers.

We should extend it even more and support Android & IOS network managers too. For example, a victim that runs Android should see something like the image below:

![iiattachlink](https://cloud.githubusercontent.com/assets/554314/22624203/cdaa0b68-eb7c-11e6-8245-c73339c93894.png)

[2017-02-05 06:38] sophron commented on #434
Hi @cicina,

`wifi_connect` template currently works against Windows10 or MacOS victims. It won't work against mobile devices -- I just opened #435 regarding that.

I think your idea is interesting for capturing PPPOE/PPPOA credentials. Indeed, the scenario cannot be fully automated but it can be configured manually by the user.

[2017-02-05 06:41] sophron commented on #433
I think you mean something like KARMA attack. There's already #76 for this.

[2017-02-05 06:44] sophron commented on #432
PyRIC provides methods for changing the mac of a vif. We should leverage that.

[2017-02-05 06:48] #430 closed

[2017-02-05 06:48] #425 closed

[2017-02-05 06:48] #424 closed

[2017-02-05 06:54] sophron commented on #270
I pushed a commit yesterday that introduces `--internetinterface` option. By using that option you specify an Internet connected interface that will provide Internet access to the connected victims.

For the time being, this interface cannot be wireless.  I'm still trying to figure out the best way to isolate `NetworkManager`.

[2017-02-05 10:21] mcocigra commented on #435
Not a bad idea but first the fix for jamming because without that this is useless

[2017-02-05 10:37] #414 closed

[2017-02-05 17:11] cicina commented on #435
When is this update released? Sounds very good.

[2017-02-05 17:12] cicina commented on #435
@mcocigra

Temporarily, you can use aireplay-ng for hardcore deauth with --nojamming option, see earier topic

[2017-02-05 20:57] mcocigra commented on #401
For me the best thing will be really strong jamming that works and that changes channels if the victim change channel and for the page just simple page with a box asking for wpa/wpa2 password like the first scenario was a long time ago and that works on all platforms ios android Windows. If the victim is jammed it will give up the password eventually.

[2017-02-05 21:01] mcocigra opened #437 "Solution for the no jamming issue"
For the best solution it will probably be using mdk3 and the no jamming option. Mdk3 because like I have read it will jamm the victim even if it changes channels and the no jamming option in wifiphisher for the fake network.
What will be the best commands to use and with what interface

[2017-02-05 21:03] blackHatMonkey commented on #437
I have already written the code for the re-designed jamming. It is currently in testing phase and should be pushed out in a couple weeks or so.

[2017-02-05 21:04] mcocigra commented on #435
@cicina

Just opened a new issue for the no jamming to see what is best to use and which commands. If you could reply there would appreciate it . Thanks

[2017-02-05 22:24] cicina commented on #437
If aireplay-ng won't run because of channel, you also might want to put your card in specific channel, use first command with channel number like:  `airodump-ng start wlan0 X`
where "X" is channel number of AP u want to attack. I dont know why but this is not necessary most of the time. For me this steps are working and deauth is aggressive enough and I dont need to change channel for my wifi card

[2017-02-06 16:09] Georgestrmina08 opened #438 "AP problem with connecting device . No internet connection ."
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)  Linux Mint 18.1 Serena

If you know the bug happens

[2017-02-06 16:39] mcocigra commented on #437
@blackHatMonkey
This is a temporary solution. But for the jamming it would be nice to implement jamming on all the channels or the victim should be monitored and the channel should change automatically because after a while I have observed that tha victim changes channels and in the program nothing happens it continues to work like nothing is wrong but it actually isn't doing anything. And for the

[2017-02-06 16:42] mcocigra commented on #437
@cicina
Will read a little because I am not very good with commands. Will try it out and report is it working. From my understand of things so far I think mdk3 is a better solution because it deauthanticates everything from the client on every channel. And I will check if people connect to the fake network

[2017-02-06 16:43] mcocigra commented on #339
Is this solved or not

[2017-02-06 16:46] mcocigra commented on #438
The jamming works surprising but maybe it is something with the leasing what scenario are you using the first one isn't mobile friendly

[2017-02-06 16:54] cicina commented on #437
What channels are you talking about? Correct me if I am wrong, but there is only AP channel, which could be changed maybe even with every router restart. What do you mean by "it deauthanticates everything from the client on every channel" - its what both tools do. AP could have only one channel at time.

Well, you can use mdk3 if you prefer, basically same thing, start wifiphisher with option I me

[2017-02-06 18:31] mcocigra commented on #437
@cicina
Yes on the deauthentication all the time so they think they don't have internet and hopefully connect to the fake network. And about the channel was thinking on the channel of the router you are attacking if it changes channel doesn't mdk3 continue to attack it no matter on which channel it is and doesn't mdk3 attack the router and the clients connected to it or only the router

[2017-02-06 18:57] cicina commented on #437
oh, okay, then we are talking about router channel. anyway, in command `airodump-ng -c 1 --bssid 00:11:22:33:44:55 wlan0mon` you are basically telling airodump which channel to use. anyway, I cant see relevant reasons not to use aircrack because of this. Router channel does not change every 5 seconds, only if victim change channel or if router is configured to do so after reboot. Anyway you will s

[2017-02-06 19:16] mcocigra commented on #437
@cicina
Thanks a lot hopefully will get it to work try it and post results. On a side note I used wifiphisher a few months ago with the first scenario when it was just a box looking for wpa password and it worked perfectly and that time was also mobile friendly. Let's see if this works if not hopefully the update and upgrade of wifiphisher comes soon and works.

[2017-02-06 19:31] cicina commented on #437
Yeah remember - white page with shiny red style, simple and useful. I would love to see this old scenario back again.

[2017-02-06 19:56] kn0wledge commented on #431
very helpful in identifying if you are within range for the rogue access point to be effective ;)

[2017-02-06 20:50] Georgestrmina08 commented on #438
I tried all scenario and still nothing, I really can't figure out whats problem . If someone knows please help I will provide all information .. thanks

[2017-02-07 02:23] blackHatMonkey commented on #438
@Georgestrmina08 Can you be more specific about when you connect to the access point. Does it give you any errors?

[2017-02-07 03:08] mcocigra commented on #438
Try connecting with your own mobile phone to the fake network you are creating does it then show up in the leases section and even can you connect     if you can connect what shows up when you open chrome and ask for any web page does it give the scenario you have chosen

[2017-02-07 05:28] sophron commented on #438
Hi @Georgestrmina08,

Apparently, there's a conflict with two of your interfaces set to 192.168.1.0/24 subnet. I just pushed a commit that uses 10.0.0.0/24 (for the wireless network) instead.

Can you update to the latest revision and try again?

[2017-02-07 05:30] #433 closed

[2017-02-07 05:37] sophron commented on #437
@mcocigra, I understand that you want the tool to be more effective when it comes to de-authentication. We are currently working on it. However, commenting about the same thing on different threads, won't speed-up the process. If you want to use `mdk3` or any other alternative and need advice, please post on the relevant forums.

I also don't understand which scenario you and @cicina are talking a

[2017-02-07 05:48] sophron commented on #431
There's a PR in progress introducing signal strength.

We could probably estimate the number of active devices in a network. I'm putting the "Enhancement" label. However, this is not something that we will work on in the near future.

[2017-02-07 09:46] cicina commented on #437
@sophron I am talking about this one: http://www.wirelesshack.org/wp-content/uploads/2015/01/Wifiphisher-new-wireless-router-attack.png is there any change to add this one to the list? I know its now replaced by new router upgrade but this could be included as well

[2017-02-07 09:59] Georgestrmina08 commented on #438
Guys thanks for answering:

In this case, I tried scenario num 2 Firmware update and this is what I'm getting on the phone screen:
![0-02-04-2e371f2d57abb979f5a54870f5b4a7539e754277c9e85f01f7847d1522f0d1e2_full](https://cloud.githubusercontent.com/assets/25528842/22686414/feff5d26-ed1b-11e6-95ff-9851aa260efc.jpg)
![0-02-04-9245c9af7a019485e14957464f9e33de7d8c618e4de5cecdef77031be67352e1_full](http

[2017-02-07 10:03] sophron commented on #438
Did you update to the latest revision as I asked you? I will also need the output of `ifconfig` once more.

[2017-02-07 10:24] Georgestrmina08 commented on #438
No, i did not please explain me steps to do that:
this is mine output of ifconfig :

legend08@legend08-Aspire ~ $ ifconfig
enp1s0    Link encap:Ethernet  HWaddr 30:65:ec:99:cb:fb
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:0 errors:0 dropped:0 overruns:0 frame:0
          TX packets:0 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000

[2017-02-07 10:29] sophron commented on #438
Download the tool again and re-install.

[2017-02-07 10:44] Georgestrmina08 commented on #438
No, i did not please explain me steps to do that:
My ifconfig command output :

![screenshot from 2017-02-07 10-19-47](https://cloud.githubusercontent.com/assets/25528842/22688040/6c626a7e-ed22-11e6-8de8-9c3d10098ac2.png)

[2017-02-07 12:55] Georgestrmina08 commented on #438
Some advice for my problem please ?

[2017-02-07 13:12] sophron commented on #438
I think I was clear. Re-download the tool, re-install it and run the script again.

[2017-02-07 14:58] Georgestrmina08 commented on #438
I reinstall my Linux completely because of this tool and same problem  .

[2017-02-07 15:39] cicina opened #439 "Error on ssl.do_handshake()"
Hello, sorry to bother you.

here is what happened when I run tool:
![screenshot_from_2017_02_07_15_32_24](https://cloud.githubusercontent.com/assets/25112506/23366742/dcc00278-fcd5-11e6-9e81-ba67bf216d2a.png)

Also when user type password, its captured and its visible:
![screenshot_from_2017_02_07_15_33_51](https://cloud.githubusercontent.com/assets/25112506/23366752/e40e2c26-fcd5-11e6-94fa-2d7d3

[2017-02-07 15:55] mcocigra commented on #437
@sophron
Sorry didn't try to be annoying. I was talking about it on another thread but only a few sentences nothing specific. I opened this one so that if we found a solution it will be visible to everybody. I don't  prefer using anything else I loved wifipfisher the last time I used it worked perfectly. And it's not about the effectiveness it's that is isn't actually working. And a big optimizati

[2017-02-07 22:29] mcocigra commented on #437
And another thing on the second scenario the only one mobile friendly when it asks for password the phrase use is " pre shared key" for anyone that doesn't live in a English spoken country would be very difficult to understand just write PASSWORD we are attacking the technologicaly challenged people not the advanced users

[2017-02-07 22:30] mcocigra commented on #437
Have been trying with airplay-ng will post for results

[2017-02-07 23:07] cicina commented on #437
@mcocigra hey mate just open that html file template and put "password" instead of "pre shared key"

[2017-02-07 23:57] cicina commented on #76
hello, how is it going with KARMA attack? Will it be included?

[2017-02-08 06:56] sophron commented on #437
@cicina In what aspect do you think that this template was more legit?

You can still use it, by downloading an older version (e.g. v1.1) and then import to the current functionality (see the docs for more info on how to create a scenario).

@cicina You can try one of the <a href="https://github.com/sophron/wifiphisher/releases">stable releases</a>.

[2017-02-08 06:56] sophron commented on #437
@mcocigra You can try one of the <a href="https://github.com/sophron/wifiphisher/releases">stable releases</a>.

[2017-02-08 07:10] sophron commented on #76
It's not trivial to perform KARMA in Python (e.g. with Scapy). We may have to do tweaks in `hostapd` itself.

This is not something that we have in our list for the upcoming v.1.3 but we may work on it in v1.4.

[2017-02-08 15:17] blackHatMonkey opened #440 "Coding style of the project"
I believe that all the code in the project should abide by the `PEP8` as well as `PYLINT` outlined here:
`PEP8`: https://www.python.org/dev/peps/pep-0008/
`PYLINT`: http://pylint-messages.wikidot.com/all-messages

@sophron Let me know what you think of it.

[2017-02-08 16:33] mcocigra opened #441 "Output bug"
![img_20170208_171358_1](https://cloud.githubusercontent.com/assets/25259626/22746638/c54c1f38-ee24-11e6-8ac0-4150b0e8858b.jpg)
I was using the solution we had for jamming with aireplay and I think it actually works just on the output this is what I get

[2017-02-08 16:40] mcocigra commented on #437
Will try those too I tried the aireplay and with no jamming and I think this works but on the output is something wrong opened new issue. Hopefully things get sorted soon and really hoping for the new wifi connect template for mobile devices.

[2017-02-08 16:43] cicina commented on #441
I can see you have created AP with wlan0. Aren't you using wlan0 for aireplay already?

[2017-02-08 16:47] cicina commented on #441
really strange output though o.O

[2017-02-08 17:57] mcocigra commented on #441
No I tried it creating with wlan0 and with wlan1 and opposite for jamming

[2017-02-08 18:02] cicina commented on #441
Well, i would not really bother with outputs.. look at mine (same activity, jamming with aireplay and wifiphisher with -nJ option) so.. there is something wrong with that idk what. But jamming is alright and also fake ap is working right?

http://imgpost.me/img/p/jpg/2inIRLRdEKXyBRebTVq1JT8ge8Vx8WeY.jpg

[2017-02-08 18:15] blackHatMonkey commented on #441
@cicina @mcocigra You could get better screen shots using the `Prt Scrn` button right next to `F12` key or using `screenshot` application in Kali. This will help us diagnose the problem faster.

@cicina Also it would be easier to upload the images directly to Github by just drag and dropping it in the comment section.

[2017-02-08 18:18] cicina commented on #441
Sorry mate, i have uploaded in my threat, this was taken by phone as I dont have internet connection on my PC while jamming. Also, I do use NoScript everywhere so this drag and drop functionality is not available for me sorry about that.

[2017-02-09 08:05] sophron commented on #440
We have to think not only what *we* like, but what other developers will be comfortable with when submitting PRs.

I am a little concerned with the "79 characters per line" rule. There is a discussion about this on <a href="http://stackoverflow.com/questions/3955903/what-pep-8-guidelines-do-you-ignore-and-which-ones-do-you-stick-to">Stack Overflow</a>.

From the PEP8 guidelines:

I think it will b

[2017-02-09 09:11] #438 closed

[2017-02-09 10:18] alexsalvetti commented on #435
For ios it's simple because if people have ios from 7 up to 10 the alert is the same as this one:
![cattura](https://cloud.githubusercontent.com/assets/7389032/22778807/818f6590-eeb8-11e6-8803-3cfb08f7d70d.PNG)

For android I was thinking to use javascript prompt alert and hide the tilte for not having the "The page www.---.com says:"

[2017-02-09 14:59] mcocigra commented on #435
@alexsalvetti  this look REALLY fake to me I don't think anyone will go for it.
The picture that @sophron has posted is much more believable.
This is how asking for password looks like on my phone.
Maybe more people should post images and we should make it look more genuine.
![screenshot_2017-02-09-15-52-49](https://cloud.githubusercontent.com/assets/25259626/22788536/62f9dfc0-eee0-11e6-9241-6f23a

[2017-02-09 15:10] blackHatMonkey commented on #440
The 100 characters on a single line seems reasonable. However for  Pylint I really think we should use it as it helps make the code more readable. For instance you use something like this a lot:
[code]
Which I really don't like since you are just using `a` and `b` which don't say anything about what they are and Pylint shows a warning for these kinds of things as well as unused variables.

[2017-02-09 15:12] alexsalvetti commented on #435
As I said @mcocigra on Android there's plenty of different UI based on version of Android and the the Vendor UI.. so we have also plenty of different "Password asking" pop-ups..
As this wifi_connect page may result as fake to a "expert" look, I think that a javascrpit pop-up will look inoffensive to normal people.
I've already tested this javascript pop-up method on my android phone and on my ipho

[2017-02-09 18:40] cicina commented on #435
I like the last one :)

yeah, every android use different style, mine is Vibe UI and looks totally different from your huawei. and its still android 6..

[2017-02-10 00:17] mcocigra commented on #435
If we are talking about more believable the first one from @sophron is the best it need a little tweaks but still is good. For the last one from @alexsalvetti it needs complete redesign. We are trying to make it look like you have been disconnected and are trying to connect again from the system not like the web page is asking for a password. Like this everyone will think is some kind of an ad or

[2017-02-10 00:38] alexsalvetti commented on #435
You are talking about the "credibility" of @sophron image but, if you see, that's a screenshot of the system pop up that shows up when you connect to a network on a samsung device..
So there no coding behind that image.. I think that since this is an open source code you can develop the pop up that fits your expectations and use it on your own or share it.. I personally prefer fast but effective s

[2017-02-10 11:36] RohaanAlam opened #443 "wifiphisher shows me that my both devices are not compatible while I am 100% sure it is."
Hi sir I am 100 percent sure that my TL-wn727n is compatible with AP mode but the headache is wifiphisher gives error even after I had made a Fake AP attack with aircrack-ng and fluxion used too.

the error is.

root@kali:~# wifiphisher
[*] Starting Wifiphisher 1.2 at 2017-02-10 06:35
[!] We have failed to find a wireless interface that supports AP mode! Please make sure that all the wireless adap

[2017-02-10 12:00] blackHatMonkey commented on #443
Hi @RohaanAlam
Can you post the result of the following commands:
[code]
which should give a list of devices. Just remember the `phy#` and use it in the next command
[code]
where `phy#` is the same as the result of the first command.

[2017-02-10 12:15] RohaanAlam commented on #443
root@kali:~# iw dev
phy#0
	Interface wlan1
		ifindex 4
		wdev 0x1
		addr 4a:12:b1:d8:97:e8
		type managed
		txpower 20.00 dBm
phy#1
	Interface wlan0
		ifindex 3
		wdev 0x100000001
		addr 9e:e4:f5:b2:42:ff
		type managed
		txpower 15.00 dBm

root@kali:~# iw phyo phy1 info
Usage:	iw [options] command
Options:
	--debug		enable netlink debugging
	--version	show version (4.9)
Commands:
	help [command]

[2017-02-10 12:17] blackHatMonkey commented on #443
You have a typo in the second command:
[code]
should be
[code]

[2017-02-10 12:44] RohaanAlam commented on #443
sorry bro

root@kali:~# iw phy phy1 info
Wiphy phy1
	max # scan SSIDs: 4
	max scan IEs length: 2285 bytes
	max # sched scan SSIDs: 0
	max # match sets: 0
	max # scan plans: 1
	max scan plan interval: -1
	max scan plan iterations: 0
	Retry short limit: 7
	Retry long limit: 4
	Coverage class: 0 (up to 0m)
	Device supports RSN-IBSS.
	Supported Ciphers:
		* WEP40 (00-0f-ac:1)
		* WEP104 (00-0f-ac:5)

[2017-02-10 12:48] blackHatMonkey commented on #443
If you look at the supported modes
[code]
it only supports monitor and not ap and hence you can't use it to create the ap.

[2017-02-10 12:50] RohaanAlam commented on #443
yeah I know that bro but I had used my builtin chipset only for making AP attack if you believe I am telling truth

[2017-02-10 12:55] RohaanAlam commented on #443
and these supported interfaces or of Tl-wn727n maybe

[2017-02-10 14:20] RohaanAlam commented on #443
see Ghost phisher Is still working and showing full signals of essid="google" in my home

![screenshot from 2017-02-10 09-17-40](https://cloud.githubusercontent.com/assets/25308061/22829744/08d697c6-ef72-11e6-86e1-cfd230dcbe75.png)

[2017-02-10 15:08] unkownhesoka opened #444 "Faild to start access point (hostapd error)"
[+] Choose the [num] of the scenario you wish to use: 2
[+] Selecting Firmware Upgrade Page template
[*] Starting the fake access point...
[+] Failed to start the fake access point! (hostapd error)
[+] Try a different wireless interface using -aI option.
[+] Captured credentials:
[!] Closing

i tried
wifiphisher -aI wlan0 -jI wlan1
wifiphisher -aI wlan1 -jI wlan0

same issue

eth0      Link encap:

[2017-02-10 16:00] RohaanAlam commented on #443
Is any one here?

[2017-02-10 16:25] sophron commented on #443
Hi @RohaanAlam,

Apparently, if your card does not support `AP` mode but does support `monitor` mode with packet injection, `airbase-ng` will create a SoftAP (AP implemented in the user-space).

Wifiphisher doesn't support these kind of APs.

[2017-02-10 16:49] mcocigra commented on #435
We all want that but not everyone is a developer and able to make their own templates and designs. It should be a complete solution not half way or not even half.

[2017-02-10 16:56] #444 closed

[2017-02-10 17:01] sophron commented on #435
@alexsalvetti I like the JS popup. If you make a PR that includes this to "wifi_connect" template, I will happily merge it.

[2017-02-10 17:15] sophron commented on #435
@mcocigra This is an open-source project and noone is getting payed. The best one can offer is always welcome :)

[2017-02-10 17:18] mcocigra commented on #435
@sophron  I know just trying to help that's why I posted screenshots of my interface of connecting.Yes the functionality is good if it pops up and works. Just the design was my remark. One question can we make it pop up anywhere not only in the browser but in some apps like Facebook app or viber or anything that asks for internet connection. That would be very effective.

[2017-02-10 17:29] cicina commented on #435
@mcocigra im afraid thats not possible... how do you mean that anyway? You would need to hack device, create modified facebook app, install remote on victim device and wait for him to run it? I dont think so.

[2017-02-10 17:42] alexsalvetti commented on #435
@mcocigra I would not spend any other time here replying to some impossible ideas.. everybody's got good ideas but first you should imagine if they are possible or not.. to make those supposition you gotta have some basic understanding of how those things works. I'm not the expert of the situation here and certainly @sophron is the right one.
ASAP I'll make a PR of the JS pop up.

[2017-02-10 18:39] mcocigra commented on #435
Know it was a long shot just fantasizing. How great it would be if it was

[2017-02-11 10:05] RohaanAlam commented on #443
See Air base is also working or recommend me a wifi card which I will buy to make wifiphisher working sorry for late answer!

![screenshot from 2017-02-11 05-03-19](https://cloud.githubusercontent.com/assets/25308061/22853003/ae632790-f017-11e6-8be0-4f4158bfb9db.png)

[2017-02-11 14:42] blackHatMonkey commented on #443
@RohaanAlam Notice that you show us `phy1` but in the `Ghost Phisher` it has chosen `phy0`.

[2017-02-12 20:10] blackHatMonkey commented on #441
Another example that I ran today while testing is this:

![test](https://cloud.githubusercontent.com/assets/25112506/22865586/5c39b8f2-f135-11e6-8e44-ed4d3a8c3297.gif)

[2017-02-13 01:29] mcocigra commented on #441
Yes something similar happen to me the screen was flickering you just can capture it with a picture

[2017-02-13 10:22] mcocigra commented on #437
Just confirmed it the aireplay definitely works and the no jamming and fake network works it just isn't effective on everything mostly on android devices and the design needs some work it is very difficult to make people write the password

[2017-02-14 13:10] dumper93 opened #446 "Why does the tool not stop working if it gets a password ?"
Hello,

why does the tool not stop for a specific client mac if it gets a password ?

It's very suspect and weird, when the firmware upgrade is successful and the upgrade page comes up again.

Best regards

[2017-02-14 13:13] dumper93 commented on #332
You have to start airmon-ng on the non-ap-device. Than jamming works.

[2017-02-14 13:13] sophron commented on #446
This is not the default behavior. Most users want to keep the attack going even after receiving a password.

Use `-qS` or `--quitonsuccess` to stop the script after getting a password.

[2017-02-14 13:14] dumper93 commented on #446
Is the command mac specified ?

[2017-02-14 13:17] sophron commented on #446
I'm not sure I understand what is the "command mac".

[2017-02-14 13:19] dumper93 commented on #446
If a user joins the wifi network with a specific mac and inputs a password it stopped the service and he gets disconnected ?

[2017-02-14 13:24] sophron commented on #446
The script terminates; the AP goes down and the attack completely stops.

[2017-02-14 13:26] dumper93 commented on #446
But its fail, if it works so, because if someone joins the open ap who are not the owner of the original ap and input an incorrect password. You have to start it again and again.

[2017-02-14 20:44] blackHatMonkey commented on #437
#442 has been merged. The deauthentication should work properly now :smile:.

[2017-02-14 21:59] cschweda opened #447 "Variable 'deauthentication' error"
Using the current ```master``` branch:

```git clone https://github.com/sophron/wifiphisher.git```

```cd``` into directory, then:

```sudo python setup.py install```

One working interface (not two -- so '--nojamming' option):

```wifiphisher --nojamming --essid "FREE WI-FI" -p oauth-login```

Terminal comes back with:

[code]

Then back to command line.

[2017-02-14 22:12] blackHatMonkey commented on #447
Hi @cschweda thanks for opening a bug report. It should get fixed soon but in the meantime you can try using `1.2` version from [here](https://github.com/sophron/wifiphisher/tree/v1.2).

[2017-02-14 22:17] cicina commented on #437
Deauth works thank you very much for fix :P you are awesome guys well done.

[2017-02-14 22:21] blackHatMonkey commented on #437
Thats great to hear :smile_cat:.

[2017-02-15 04:01] andeees opened #449 "Deauthenticaton to broadcast fails if no client is found"
I am using the Latest version in Kali Linux. The problem is the following: The fake access point created doesn't appear to have internet connection, and for example in android it says that it doesn't connect automatically. Is there any way to have connection? And it doesn't kick really people out of the network, and I am using the latest version, anyone else having the same problem? I heard this u

[2017-02-15 05:07] #447 closed

[2017-02-15 05:27] sophron commented on #447
@cschweda It should be good now. Can you please verify?

[2017-02-15 08:41] mcocigra commented on #437
Will test it out and report back

[2017-02-15 09:20] alexsalvetti commented on #427
Hi, maybe in the next days I'll work on this since I had made a PR of a logger time ago.. #260

[2017-02-15 14:25] cschweda commented on #447
Nope. Still not fixed.

Exact same steps as above (after first ```rm -rf wifiphisher```) -- but a different error:

[code]

[2017-02-15 16:08] blackHatMonkey commented on #447
The problem should be gone now :smile:.

[2017-02-15 18:02] cicina commented on #446
well, that is just a bad luck, i would say :P

[2017-02-15 19:04] cschweda commented on #447
That did it! :)

Thanks for the quick fixes.

[2017-02-15 21:22] dumper93 opened #453 "Modify phishing website"
Hello,

i modified (changed language of the Text) the phishing website and put it into the directory:

/root/wifiphisher/wifiphisher/data/phishing-pages/firmware-upgrade

But it doesn't use it, if I start wifiphisher an. It still use the old page. I wondering because the old page isn't in the directory anymore.

Best Regards

dumper93

[2017-02-15 21:34] blackHatMonkey commented on #453
Can you show us your `data` directory?

[2017-02-15 22:25] dumper93 commented on #453
[url=http://abload.de/image.php?img=data2epjn.jpg][img]https://abload.de/thumb/data2epjn.jpg[/img][/url]

[2017-02-15 22:28] blackHatMonkey commented on #453
If you open the selected `index.html` file can you see your modifications?

[2017-02-15 22:36] dumper93 commented on #453
Yes.

[2017-02-15 23:15] mcocigra commented on #453
Did you reinstall it
Reinstall the setup.py

[2017-02-15 23:39] dumper93 commented on #453
Thanks. Not it works 👍.

[2017-02-16 05:09] sophron commented on #453
You need to either `python setup.py install` again or run the tool as `python bin/wifiphisher`.

[2017-02-16 15:43] blackHatMonkey opened #455 "Add Wifiphisher to PyPI"
I think adding `Wifiphisher` to `PyPI` would make the installation much easier as well as be more accessible to people.

[2017-02-16 15:49] cicina opened #456 "could not find scenario"
Hello, I am having a problem with wifiphisher.. If I run just wifiphisher without any arguments, it runs with errors (but it runs) described here https://github.com/sophron/wifiphisher/issues/439

But if I add arguments like -qS or -p 5 or any other, script stops before i am able to pick up scenario and it says scenario could not be found and there is name of the scenario too (even I didn't pick u

[2017-02-17 12:58] serpunja opened #457 "Upgrade wifiphisher"
Hello!
My smartphone - Nexus 6
Nethunter - nethunter-shamu-lollipop-3.0.zip
Tried different Interfaces: awus051NH v.2, awus036H, WN722N and WN821N.
I do not know what to do with the error "pyric.error: [Errno 1] Operation not permitted" !

Hopefully wifiphisher v1.2 on Nethunter will work correctly
**Please tell me how to update wifipnisher?**

**That's right?  # _apt-get_ _upgrade_ _wifiphisher_*

[2017-02-17 14:43] serpunja opened #458 "Run a fake page on MANA-toolkit"
Hello!
My smartphone - Nexus 6
Nethunter - nethunter-shamu-lollipop-3.0.zip
I want to do the following: What would connect to the fake point, client in a moment got my written html page (localhost).
For example: To connect to the WiFi please log in through your email or social network ...... :).

Please.
Tell me **where** (on a line), and **how** to edit the script **start-nat-simple-lollipop.sh**

[2017-02-17 20:54] #453 closed

[2017-02-17 22:40] #437 closed

[2017-02-17 22:43] #423 closed

[2017-02-17 22:45] #435 closed

[2017-02-17 22:47] #332 closed

[2017-02-17 22:49] blackHatMonkey commented on #339
@WAK92 Can you please confirm that this problem is solved or not?

[2017-02-17 22:52] #218 closed

[2017-02-17 22:54] #63 closed

[2017-02-17 22:58] blackHatMonkey commented on #449
Hi @andeees Can you show us what command are you running from the terminal?

[2017-02-17 23:01] blackHatMonkey commented on #457
@serpunja `Wifiphisher` is currently **not** compatible with `Nethunter`. The project's target os is `Kali` and therefore we are unable to help you.

[2017-02-17 23:05] blackHatMonkey commented on #439
Hi @cicina I'm currently busy with improving other parts of `Wifiphisher` so unless @sophron is able to find the issue, it's gonna take some time before it gets fixed.

[2017-02-17 23:09] blackHatMonkey commented on #456
Well if you use the `-p` option, you are telling `Wifiphisher` to skip the interactive scenario selection. Another suggestion is to just download the files via web browser and run it locally like so:
[code]
instead of installing it and see if the problem still remains.

[2017-02-17 23:14] blackHatMonkey commented on #351
If you would like to continue this discussion please use #341.

[2017-02-17 23:14] #351 closed

[2017-02-17 23:18] blackHatMonkey commented on #372
Hi @Anaprofen Can you please confirm if the issue is present or not?

[2017-02-18 01:24] cicina commented on #456
Well, yeah I know what -p stands for.. anyway, I always run tool from directory. I have installed v1.1 for testing purposes and new version I only run from /bin folder. Damn why my copy is always that broke one

[2017-02-18 04:42] andeees commented on #449
@blackHatMonkey hey, I am running just wifiphisher. The problem is that jamming doesn't really de-auth the broadcast (I have also tried "-d" direct) and also didn't work. The second problem is that when I run wifiphisher -iI (ethernet adapter) it doesn't give me any error and, but still no internet connection. My main inquiry is how to fix the de-auth problem, (btw: I am ussing 1 template, but sho

[2017-02-18 04:48] andeees commented on #449
And also, I don't know if this helps but, whenever I first start wifiphisher (after restarting the PC) it gets stuck at wlan1
[code]
I have to Ctrl + c to close it and after that it doesn't happen. Maybe is a problem with initializing the antennas.

[2017-02-18 14:12] sophron commented on #427
That's great @alexsalvetti! For now I want to be able to do the following:

(Assuming an `output` object from an `Output` class that is responsible for printing information to screen and logging to files)

`output.send(data, type="INFO", stdout=True, file=True)`

The above should print the data to screen and store them to the file, while

`output.send(data, type="INFO", stdout=True, filesystem=Fal

[2017-02-18 14:13] sophron commented on #458
Hi @serpunja,

I believe you'll have more luck posting on <a href="https://github.com/sensepost/mana">this page</a>.

[2017-02-18 14:15] #392 closed

[2017-02-18 14:32] blackHatMonkey opened #459 "Move all custom exceptions into their own module"
I think it would be a good idea to move all the custom exceptions into their own module as it cleans up the code.

[2017-02-18 15:28] alexsalvetti commented on #427
Perfect @sophron! What you wrote here was my same idea... Indeed I was reading this: https://docs.python.org/2.7/howto/logging.html

I'll start working on this after exam session ends.. :wink:

[2017-02-18 15:32] sophron commented on #427
Sounds great. :)

[2017-02-18 16:17] sophron opened #460 ""Network Manager Connect" scenario improvement"
@alexsalvetti added support for iOS and Android to our "Network Manager Connect" page.

However, in both devices there's the URL of the page that the victim is visiting on the Javascript popup box. For example, on Android, "www.google.com says:".

I believe we can take advantage of this. We can update the script in a way that whenever the request comes from a iOS or Android device it will first re

[2017-02-18 16:30] alexsalvetti commented on #460
Great idea @sophron! 😉

[2017-02-18 16:54] mcocigra commented on #460
May I suggest instead of android or ios you put the name of the wifi network. This way I think people will think it is a virus or an annoying pop up ads for installing something and they won't click it or write something in it. But if they see their own networks name it will be more believable. And write something like you have been temporary disconnected please write password to network then the

[2017-02-18 16:58] sophron commented on #460
@mcocigra We already have the name of the network in the text: "The Wi-Fi network SOMETHING requires a password". We are now talking about the header of the box.

[2017-02-18 17:51] alexsalvetti commented on #460
@sophron I was now thinking that only on chrome on Android it will display "Android says:" while on the "connectivity check page" it will display:

The page "http://Android" says:

Same thing for iOS that now shows "http://captive.apple.com" will be "http://iOS"

This is because of JavaScript popup anti-phishing feature that don't let change the popup title.

[2017-02-18 18:07] sophron commented on #460
Here's how it looks like on my phone:

![network-android](https://cloud.githubusercontent.com/assets/554314/23095630/9c28388c-f615-11e6-884e-da3bc55d5002.png)

I don't like that it's "android" instead of "Android" though. So I think we should switch to something like "android-wifi-network-manager".

[2017-02-18 18:12] andeees opened #461 "Clients not automatically connecting to fake AP."
Using version 1.2 in kali linux, the clients that are de-auth don't reconnect automatically to fake AP. In android it says ("No internet connection, and won't reconnect automatically") This should be solved by providing internet? I tried -iI eth0 and no error showed but no internet. Is there anyway to solve this?

[2017-02-18 18:26] alexsalvetti commented on #460
@sophron I know that on Chrome it looks like that.. but on my stock Android 7.1 it doesn't open the Chrome browser, but instead when I click "connect" to the open network it displays an internal stock browser that shows the "http://" before the name of the page.

The same occur on iOS that prompts immediately an internal safari page as said before that is "http://captive.apple.com"

Yeah we can al

[2017-02-19 07:08] Arinerron opened #462 "ImportError: No module named setuptools"
**Distro:** Linux Mint 18

[code]

Couldn't find any similar issues. Anyone?

[2017-02-19 07:12] Arinerron commented on #462
Fixed. Here is the command to run to install setuptools:
[code]

[2017-02-19 07:12] #462 closed

[2017-02-19 07:14] Arinerron commented on #462
Also had to install:
[code]

[2017-02-19 08:16] serpunja commented on #458
O.k.

[2017-02-19 11:54] #458 closed

[2017-02-19 14:57] serpunja commented on #457
Damn!
A lot of time spent to correctly working wifiphisher.
There was hope.
Here is an example:
![1](https://cloud.githubusercontent.com/assets/24878620/23103444/6be0cf60-f6cc-11e6-8f03-fd071b898381.jpg)
![2](https://cloud.githubusercontent.com/assets/24878620/23103446/7076fab8-f6cc-11e6-987e-b1bef8f882d2.jpg)
![3](https://cloud.githubusercontent.com/assets/24878620/23103449/88181f6c-f6cc-11e6-891

[2017-02-19 15:40] kn0wledge commented on #457
How did you do it ? @serpunja

[2017-02-19 17:25] serpunja commented on #457
@kn0wledge How did you do it ? :
+1:
1) # git clone https://github.com/sophron/wifiphisher.git
2) # cd wifiphisher/
3) # python setup.py install
4) # wifiphisher
**Wifiphisher is currently not compatible with Nethunter.** ((
Wifiphisher WORKS on NetHunter, but the curve.
fucking error!

[2017-02-19 21:49] sophron commented on #437
I just pushed more improvements to the deauthentication process. Let me know how you find them.

[2017-02-19 21:50] sophron commented on #423
Update to the latest revision and let me know if you are still having any issues.

[2017-02-19 22:03] #443 closed

[2017-02-20 09:14] mcocigra commented on #461
What scenario are you using maybe it isn't mobile compatible. Try the second one it should show up the upgrade page

[2017-02-20 09:17] alternatexp opened #463 "Add a full website with multiple static pages as a phishing scenario"
Why is there a static folder and why do users only get to see index.html?

Why doesn't it just send users to `http://10.0.0.1:8080/` and let the attacker decide how the site functions?

Right now, if the URL path contains "/" (which it always does) it gets forced to the index.html page... Why?

I don't see how this is useful, it seems rather limiting to me.

[2017-02-20 09:24] alternatexp commented on #463
most public networks have a captive portal.

How much better would wifiphisher be if we could simply copy those captive portal sites and paste them right into wifiphisher? (using curl or httrack for example)

[2017-02-20 09:24] alternatexp commented on #463
or heck, just press CTRL+S on a page

[2017-02-20 09:27] alternatexp commented on #463
and if you don't think so, could you please tell me how i can achieve this without creating silly redirection rules based on self.request.path?

[2017-02-20 09:28] alternatexp commented on #463
`self.render(self.request.path, ...` doesn't work

[2017-02-20 09:30] alternatexp opened #464 "Why limit concat lines?"
There are lots of reasons why you would want to save the MAC of a victim, or why their HTTP requests might be valuable, why limit these to 5 lines??????? And why clear the logs????????????????? Shouldn't that be up to us?

I don't think any of us are gonna be too lazy to scroll through some logs, and I know how frustrating it is to lose everything with an accidental keyboard interrupt...

[2017-02-20 14:42] blackHatMonkey commented on #461
@andeees The clients will not automatically connect to our access point and the user has to connect to it manually. Regarding the internet I just tried it and it acts like if you are connected to the real access point(doesn't show any scenario pages).

[2017-02-20 14:58] blackHatMonkey commented on #463
@alternatexp If I understand your question correctly you are asking on how to use a scenario where you have a custom captive portal. There is **NO** need to modify the internal code. All you have to do is save your desired page and all the required files in a folder and place it in the `/wifiphisher/data/phishing-pages` directory. Install the tool again or run `bin/wifiphisher` and select your cus

[2017-02-20 21:42] niicee commented on #392
Thanks for the suggestion. After many tries, I finally know the RT2780 works for AP master mode and RLT8187 for injection (some router were not injectable). Have tried 20~30 times, each every time when I have jamming the target AP, its client(s) NEVER willing to connect to the fake AP (see no IP giving away and I assumed this is what phiphing means !!!).
When I intentionally connect to the fake AP

[2017-02-20 21:55] niicee commented on #392
Ops...one more thing...does wifiphisher capable of providing/indicates if there is any client(s) currently connecting to its AP when pull out the AP list ? We actually NEEDs client to be present for phiphing a particular AP, if there is no client connecting to a AP then there is no point of testing that AP for the moment.

[2017-02-21 10:36] haxtivitiez opened #465 "please check my wifi card details // it's not create fake AP"
http://pastebin.com/raw/nLd5nWT1

[2017-02-21 13:42] blackHatMonkey commented on #465
Hi @haxtivitiez Can you show us the output that `wifiphisher` shows?
Also can you try running the following:
[code]
and see if it fixes the problem.

[2017-02-21 19:08] andeees commented on #461
@blackHatMonkey But many times the fake AP is flagged not to have inter connection, maybe if it did have would automatically re-connect? I tried to solve this problem by connecting an ethernet cable and using the -iI option but it simply appeared the same message (Won't automatically re-connect (No Internet access detected)) Maybe it is an issue?
Wireless connection to the internet won't work sinc

[2017-02-21 19:14] blackHatMonkey commented on #461
Thats not how it works. For a device to connect automatically it has to have been connected to it previously. Although the `fake AP` has the same name as the original, it has a different encryption type and therefore the see it as a different access point. @sophron might be able to provide more information regarding this situation.

[2017-02-22 02:43] kn0wledge commented on #460
Guys, I am trying to port this page to work with the wifi pineapple and captive portal and I will contribute it to this github for whomever needs it. I am just getting stuck at getting the actual java pop out to work ( im no coder by any means). Can anyone point out to be which code is responsible for the pop out so I can take a look at what I need to do to get to work on the pineapple ? Thx

[2017-02-22 08:22] haxtivitiez commented on #465
thank guy hehe... now it's work :)

[2017-02-22 13:17] alternatexp commented on #463
are you serious?

No, you're entirely misinterpreting my question...

Wifiphisher is set up so that it ONLY works the way the current pages are structured, which are not that good to begin with...

There are MANY captive portal pages all around the world from different ISPs, hotels, apartments, etc...

Wifiphisher could set the standard of WPA & credential phishing frameworks if it were not so lim

[2017-02-22 13:22] alternatexp commented on #463
@blackHatMonkey said:

I am not talking about a single page, but an entire site. Wifiphisher is literally limited to one index page only...

[2017-02-22 15:39] #465 closed

[2017-02-22 17:36] kn0wledge commented on #460
ok so to make it easier for you guys to see, i've edited the action of the form to point to the evil portal location (generally works well) and the rest i kept pretty much the same.... failing to get the pop out .. any advice?

` var loadhtml_mobile = '<form id="wifi-search-form" method="post" action='<?=$destination?>/captiveportal/index.php' onsubmit='redirect()'><div class=\'network-manager\'\>

[2017-02-22 19:34] sophron commented on #463
Hi @alternatexp,

We haven't found any users requesting this and our current scenarios are not requiring it. I can surely imagine many use cases for this though, that's why I added the "enchancement" tag.

Please, be more friendly in your messages. Expressions like "Are you serious?" do not fit with our <a href="https://github.com/wifiphisher/wifiphisher/blob/master/CODE_OF_CONDUCT.md">Code of Con

[2017-02-22 19:37] sophron commented on #464
There's #427 already for this.

[2017-02-22 19:40] sophron commented on #456
Hi @cicina,

I'm not sure I understand the problem. Are you using the latest revision? Do you have problems with `-qS`?

[2017-02-22 21:38] mcocigra commented on #437
@sophron yes deauthentication now works I just think that it is jamming every client on every network it just shows to many. Haven't been able to test it to much  if not aireplay works good. I know there is no way to make them connect to the fake network if we could do something about it that would be useful and I have hi hopes about the network manager scenario

[2017-02-22 21:54] cicina commented on #456
Well, i will explain step by step what is going on.. when i start wifiphisher (latest, updated cloned from git) it will run but no AP's are shown. I have to stop script ctrl+c and run again which brings AP list correctly now. However if I use any arguments for example -p or -qS or any other, including -nJ or -e or whatever.. it will crash 6 times out of 10. I have to stop and re-run script each ti

[2017-02-22 21:55] cicina commented on #456
Well, i will explain step by step what is going on.. when i start wifiphisher (latest, updated cloned from git) it will run but no AP's are shown. I have to stop script ctrl+c and run again which brings AP list correctly now. However if I use any arguments for example -p or -qS or any other, including -nJ or -e or whatever.. it will crash 6 times out of 10. I have to stop and re-run script each ti

[2017-02-22 21:56] cicina commented on #456
Sorry i didnt want to close topic if you could remove one of my previous comment would be great sorry for that my phone is odd

[2017-02-22 23:30] cicina commented on #456
@blackHatMonkey thanks for assist :))

[2017-02-22 23:30] blackHatMonkey commented on #456
Hi @cicina I have experienced this bug so I know how frustrating it is to keep restarting the program :cry: . Check back in a week or so as I'm working on a major re-design for the access point selection.

[2017-02-22 23:33] cicina commented on #456
@blackHatMonkey glad to hear that. at least I dont feel like from different planet :D thanks for quick replies guys appreciate you are taking care of such things.

[2017-02-23 01:19] alternatexp commented on #463
You haven't found any users because most of then are trying to get their neighbours WPA passwords by hoping that they will fall for some random router page or OATH login.. If the victim is not stupid, he/she will notice something's up. (good hacking is done unnoticed)

Hotels, airports and most public networks on the other hand, are already using a captive portal. Simply replicating the original c

[2017-02-23 03:58] mcocigra commented on #437
@sophron works great jamming every client now just the design should be improved a little remark on the second scenario it should be able to write a password without ticking the box and pre shared key should be changed to password and maybe implement some more logos of routers there isn't a zte one and some others are missing as well. And for the first scenario make it look like more of a system p

[2017-02-23 12:17] nikraupp opened #466 ""Sign in to network" notification | Android devices"
I'm Brazilian, I do not speak English.

Request login to a portal on android devices without having to enter your browser! It would greatly improve the capture of passwords from sites like facebook, google ... using the portal.

[2017-02-23 12:37] #464 closed

[2017-02-23 17:04] kn0wledge commented on #460
@sophron any ideas?

[2017-02-23 17:53] sophron commented on #460
@kn0wledge I'm not sure this is possible. I don't know if Wi-Fi Pineapple has a way to bridge information from the air to the template.

Please, keep in mind that Wifiphisher is under GPL (including its templates). You may not be able to copy the templates for legal reasons.

[2017-02-24 00:03] alexsalvetti commented on #463
HI @alternatexp, I think that what you are looking for is a sort of what Bettercap ( https://github.com/evilsocket/bettercap ) does.
So I think you are talking about doing a MITM when a victim connects to the evil twin and then give him internet connection while sniffing the username and password that he writes.
Am I right?

[2017-02-24 02:40] alternatexp commented on #463
Hi @alexsalvetti

No, that is not what I'm saying, please read what I said.

As of right now, Wifiphisher can only show the victim 1 index page (which has to be structured with a static folder), and only listens to POST requests sent to a `/post` folder. I am saying that this is limiting, and I strongly advice removing these conditions as much more could be achieved with Wifiphisher.

@alexsalvett

[2017-02-24 03:34] abrahamdecode commented on #92
same problem i also have the alfa awus036h, i tried with a tp link and kind of do the job, just when i connect both of them i can make it go trough, but it doesnt attak , just audit the networks

[2017-02-24 06:56] Splinter0 commented on #463
@alternatexp hi, your is a pretty good idea, but since you don't know how many or the name of urls you will nees to clone the website, it's kind of useless to add new urls right in the source code. You could add them in your local machine based on what AP your attacking...

Hope i helped out

[2017-02-24 07:00] Splinter0 commented on #463
What could be done is add a dictionary right into the code with custom urls, to make everything easier

[2017-02-24 07:25] kn0wledge commented on #460
mm im sure it's possible to work, someone else had done it on the previous version. It's not really copying it rather extending Wifi-phisher's page compatibility. does that work? Ideally it would be great if wifiphisher could be compatible with the Wifi Pineapple Nano, because this just makes it much more subtle and effective.

[2017-02-24 11:37] alternatexp commented on #463
@sophron why did you change the title of the post? I implied to steer away from static pages and allow any html page the user gets redirected to. (see below)

@Splinter0 it can be simpler than that.

If [request path] is "/"
    if scenario/index.html
        send to http://10.0.0.1:8080/index.html
    else if scenario/index.htm
        send to http://10.0.0.1:8080/index.htm
else
    send to http:

[2017-02-24 11:41] alternatexp commented on #463
But enabling internet access is not entirely necessary once you gain access to the target AP through Wifiphisher and then use a tool such as Bettercap.

[2017-02-24 11:44] alternatexp commented on #463
But would be a very nice feature to create an uninterrupted experience for the target, silent hacking is good hacking.

[2017-02-24 17:24] blackHatMonkey commented on #92
Hi @abrahamdecode I will test and see if I am able to reproduce the bug.

[2017-02-24 17:33] #339 closed

[2017-02-24 17:36] blackHatMonkey commented on #92
@abrahamdecode
Just tested the latest version and I can see deauthentication packets in the air. Do you see any MAC addresses in the `jamming clients` section?

[2017-02-25 07:57] cooldang opened #468 "don't work in Lubuntu"
in Kali work well,
but in Lubuntu, phone and computer connect to the fake AP fail.

wireless card and driver:
wlp1s0                     -     Atheros AR9285   -  ath9k
wlx000f13190965    -     RT2870/RT3070    -  rt2800usb

step1.

[code]

step2.
[code]

step3.

[code]
![88](https://cloud.githubusercontent.com/assets/4197820/23329427/0e09c44a-fb73-11e6-9286-9d90779bac11.png)

phone and computer c

[2017-02-25 12:53] Splinter0 commented on #468
Sometimes doesn't work for me as well on ubuntu 16.04, but then i found that if u put the card in monitor mode before starting the script, then it works ( for example using airmon-ng ). Try and see if it works
@cooldang

[2017-02-25 14:28] cooldang commented on #468
@Splinter0
I try, but don't work.

[code]

[2017-02-25 15:49] cicina opened #469 "credit card phish"
Hello there, I have seen this pull https://github.com/wifiphisher/wifiphisher/pull/467 which reminds me of more use of wifiphisher.. I figured out how to build ISP scenario now.

Do you know about mobile internet providers, who won't let you browse porn sites and they want you to use your credit card to verify your age.. We could do this, we could even ask for credit card info pretending to be ISP

[2017-02-25 19:42] andeees commented on #469
That is not good to card, if you want to do it just hire someone, I don't believe @sophron is okay with this.

[2017-02-25 21:47] cicina commented on #469
Hire some1 is the last thing I would do.. I dont need it its just for fun. It is an option, thats what I said. Anyway It would be awesome. I hope its not 100% declined already.

[2017-02-26 11:31] cooldang commented on #468
@sophron

[2017-02-26 18:44] blackHatMonkey commented on #468
Hi @cooldang I will take a look at the bug and see what I can do :smile:.

[2017-02-26 18:59] sophron commented on #469
For very specific scenarios, we now have a <a href="https://github.com/wifiphisher/extra-phishing-pages">dedicated repository</a>. This repository is mostly community-based, meaning that we won't be strict reviewing the PRs there. Anyone will be able to upload and share its own scenario there.

Having said that, your idea fits in that repo. If you implement it, feel free to make a PR there.

[2017-02-26 19:09] Splinter0 commented on #469
@cicina I'll help you if needed to create the actual scenario
Email : <a href="mailto:splint@protonmail.com.com" target="_blank">splint@protonmail.com</a>

[2017-02-26 20:50] kn0wledge opened #471 "Scan specific channels only"
Hi ,

An enhancement recommendation to be able to specify the channels to scan during recon. Sometimes in crowded places there are tons of access points m, this will help you focus the scan and detect clients to a certain AP faster.

[2017-02-26 20:59] blackHatMonkey commented on #466
Hi @nikraupp I'm not sure I fully understand what you are asking for. Could you be more specific or provide any examples.

[2017-02-26 20:59] #461 closed

[2017-02-26 21:08] blackHatMonkey commented on #446
@dumper93 I believe the question has been answered, if not, feel free to re-open :smile:.

[2017-02-26 21:08] #446 closed

[2017-02-26 22:10] blackHatMonkey commented on #457
If you would like to discuss anything regarding `Nethunter` please use #341.

[2017-02-26 22:10] #457 closed

[2017-02-27 08:39] cicina commented on #469
awesome guys, that repo is very good idea indeed. Thanks blackhatMonkey for label I knew you would like it xD @Splinter0 great, I will try to find old scripts of mine and try to use them for this. I will let you know if there is any progress and will ask you for advices.  Feel free to remove your mail address, I copied it :)

[2017-02-27 13:06] alternatexp commented on #469
I hope you all realise that every type of issue like this could have been avoided if Wifiphisher functions as discussed [here](https://github.com/wifiphisher/wifiphisher/issues/463)...

[2017-02-27 13:26] alternatexp commented on #469
@sophron I really like the idea of a dedicated phishing scenario page, but only if they aren't tied to the current way of structuring the HTML pages (only allowing `/static`, `/post`, `/loading` folders).

Once these conditions are lifted I will be glad to share numerous captive portals collected from coffee shops, hotels and airports from all over the world!

[2017-02-27 13:47] alternatexp commented on #466
I think @nikraupp is talking about the captive portal login notification that usually pops up when connecting to a public network with a captive portal. A window pops up on both Android and Apple devices when a captive portal is found.

Upon connecting to an AP, the devices send a request to a server (`gstatic.com/generate_204` on Android and `captive.apple.com` on iOS) to check whether there is a

[2017-02-27 14:08] blackHatMonkey commented on #314
@luce-rookie The problem could be your internet connection. Alternatively you can install `setuptools` using `pip` with the following command:
[code]

[2017-02-27 14:17] alternatexp commented on #468
Please get in the habit of hiding MAC addresses in your posts for privacy reasons.

[2017-02-27 14:26] alternatexp commented on #469
And, @cicina, be careful.

won't excuse you in court.

[2017-02-27 14:30] alternatexp commented on #431
You can see which networks are most active by using `airodump-ng <interface>` and looking at the `#Data,` column.

[2017-02-27 14:32] blackHatMonkey commented on #431
@alternatexp This has been implemented in #470 which shows the number of connected clients.

[2017-02-27 14:32] alternatexp commented on #431
@blackHatMonkey oh nice! I thougth this issue was still open :)

[2017-02-27 14:34] blackHatMonkey commented on #431
However the PR is still has to be tested and approved by @sophron.

[2017-02-27 14:50] blackHatMonkey opened #472 "Remove or make https server optional"
I think `https` server should be an optional argument or removed all together. If not enabled the browsers would no longer show the unsecured page warning. The default behavior for most routers is also `http` with an option to enable `https`. However you would get the same warning if you visited the router page using `https` as the name space is reserved and an `SSL` certificate can't be issued fo

[2017-02-27 14:55] blackHatMonkey opened #473 "Use gitter for community chat"
I think using [gitter](https://gitter.im/) for community chat is a really good idea.

[2017-02-27 15:18] alternatexp commented on #449
Try using `mdk3` in the meantime to deauthenticate clients.

[2017-02-27 15:31] alternatexp commented on #472
I very much agree with getting rid of the warning. A connection error looks less alarming.

[2017-02-27 15:37] alternatexp commented on #439
This is because 3 log files are being being concatenated in one terminal and shrunk down to 5 lines only for no practical reason whatsoever.

I say append to one log file with distinct colouring (as done in bettercap), or 3 log files each in a separate terminal window.

[2017-02-27 15:41] blackHatMonkey commented on #456
@cicina You can reach me at `blackHatMonkey` in `freenode` IRC.

[2017-02-27 20:14] kn0wledge commented on #463
@alternatexp aren't you describing exactly what the Harvester module does in Setoolkit ? Clones any site and listens for all POST s and writes them in a file . The difference is that you want to setup this clones page automatically as a captive portal so that it's the first thing that pops out . If that's the case .. then hell yeah , if it can be done as automates as SET is with auto listening to

[2017-02-27 23:50] cicina commented on #469
I can't imagine how would anyone trace my AP from outsite if my AP appears randomly and for short period of time. Even if they would go for it, with increased txpower I dont think they could know where is the AP. dangerous part comes after this. But I dont see reason to talk about it here or just talk about it at all. Even angry neighbor could kill you with a knife if they find out you are running

[2017-02-28 12:01] ssMarie commented on #473
Hello,
i have an issue when usuing wifiphisher,,
it's about the deauth mode, the client are not automatically reconnect to my twin ap, and i saw always the original AP on the list of wifi .
Thanks to give me more details about that .

[2017-02-28 12:02] ssMarie opened #474 "Duplicate of #461"
Hello,
i have an issue when usuing wifiphisher,,
it's about the deauth mode, the client are not automatically reconnect to my twin ap, and i saw always the original AP on the list of wifi .
Thanks to give me more details about that .

[2017-02-28 12:49] serpunja commented on #341
Hello!
My smartphone - Nexus 6
Nethunter - nethunter-shamu-lollipop-3.0.zip
Tried different Interfaces: awus051NH v.2, awus036H, WN722N and WN821N.
I do not know what to do with the error "pyric.error: [Errno 1] Operation not permitted" !

Hopefully wifiphisher v1.2 on Nethunter will work correctly
Please tell me how to update wifipnisher?

That's right? # apt-get upgrade wifiphisher
###  @blackHa

[2017-02-28 13:47] serpunja commented on #341
Updated Nethunter.
Nethunter ver. 3.15 !
Established Wifiphister: https://github.com/wifiphisher/wifiphisher
git clone https://github.com/wifiphisher/wifiphisher.git # Download the latest revision
cd wifiphisher # Switch to tool's directory
sudo python setup.py install # Install any dependencies (Currently, hostapd, dnsmasq, PyRIC, blessings)
**Again errors.**
![error](https://cloud.githubusercont

[2017-02-28 13:48] serpunja commented on #341
@sophron       **Help!**

[2017-02-28 14:05] serpunja commented on #341
Esle to do so:
_pip uninstall wifiphisher
pip uninstall pyric
python setup.py install_
Will be worse?

[2017-02-28 14:31] blackHatMonkey commented on #474
Hi @ssMarie What you are describing seems to be a duplicate of #461. Please refrain from posting in multiple places as you would not get answered any faster. Let me know if you have any more questions.

[2017-02-28 15:13] alternatexp commented on #463
@kn0wledge exactly

I mentioned the Social Engineering Toolkit and how Wifiphisher could implement httrack in a similar way. But it can be as easy as just pressing CTRL+S on the necessary web pages and moving them inside a new scenario folder.

See the concept of the code I typed above, this should make Wifiphisher much more compatible with all sorts of captive portals.

[2017-02-28 19:11] blackHatMonkey commented on #449
@andeees I was able to reproduce the bug where deauthentication to broadcast was not being performed when no clients where found. A new patch will be pushed soon to solve this issue. As for it get stuck after `Cleared leases` issue #470 will solve it after it's approved.

[2017-02-28 19:16] mad2kx opened #475 "Device Jamming not happening"
Hi there, I am using v1.2 on Kali Linux and for some reason wifiphisher does not jam the devices, nor the screen which I have seen on several screenshots "Jamming Devices" does not pop up.

I have tried with several hotspots but it "gets stuck" with the deauth.

DEAUTH Clients:
MAC1
MAC2
...

DHCP Lease: empty
HTTP: empty

I am using MacBook pro with Single Kali Installation and 2x D-LINK TL-WN720

[2017-02-28 20:04] kn0wledge commented on #463
@blackhatmonkey I tried saving a website in the folder you mentioned with index.html as a page , however when I run wifiphisher again I don't see that page as an option .. i didn't install wifiphisher to start with , just cloned it from git and works fine .

[2017-02-28 20:13] blackHatMonkey commented on #463
@kn0wledge Is your new folder in `wifiphisher/data/phishing-pages/`?

[2017-02-28 20:17] blackHatMonkey commented on #475
Hi @mad2kx Are you not able to see the following in your terminal

![](https://camo.githubusercontent.com/574e63c245118a5399ab329f74fa0269c5bc539b/68747470733a2f2f77696669706869736865722e6769746875622e696f2f77696669706869736865722f7373322e706e67)

It looks a bit different in the new version but same structure is present.

[2017-02-28 20:18] alternatexp commented on #463
@kn0wledge make sure your new scenario has a `config.ini` file like the other scenario folders do.

[2017-02-28 20:18] kn0wledge commented on #463
Yup it is

[2017-02-28 20:19] kn0wledge commented on #463
Ok will test that in the morning and will keep you posted

[2017-02-28 20:20] blackHatMonkey commented on #475
Here is an update image
![](https://anonimag.es/i/Screenshot_20170228_1451319d3a6.png)
![](https://anonimag.es/i/Screenshot_20170228_145135e7160.png)

[2017-02-28 21:06] alternatexp commented on #463
Initial issue remains

[2017-02-28 21:47] mad2kx commented on #475
Hi blackHatMonkey. I was just about to upload screenshots but I see the screen from the last post "update image".
Nothing else is happening and after a couple of hours Kali starts to freeze or is getting extremely slow that I have to restart it.

[2017-02-28 21:49] blackHatMonkey commented on #475
What happens if you connect to it yourself?

[2017-03-01 05:35] mad2kx commented on #475
The same. Just a list of mac addresses and that's it

[2017-03-01 05:59] kn0wledge commented on #461
Yeah I have the same issue. Successfully Jamming , but not autoconnecting to the Fake AP. Have to connect to it manually which defeats the purpose. Not sure why this is the case

[2017-03-01 09:46] cicina commented on #475
could not it be just because there is no clients to jam? have you tried on your own router if jamming is successful or not?

[2017-03-01 09:53] mad2kx commented on #475
I have tried with my own router. It just shows the connected MAC addresses but does not jam them.

[2017-03-01 10:43] kn0wledge commented on #456
guys i started having the same issue. I didnt have that issue before when I just cloned it from git. however when I ran the install command and it "installed" then whenever I reach the scenario selection (after AP selection) I get this error:

Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wi

[2017-03-01 11:04] kn0wledge commented on #463
@alternatexp ok so I tried it again, no luck .. still doesnt show up.. copied it in the right folder, index.html and config.ini , is it working with anyone else?

[2017-03-01 11:22] kn0wledge commented on #463
Actually i found the reason it doesnt appear. I was adding it in the wifiphisher folder that I got from the clone on my root directory. I located the directory it was actually running from:

So great, now I see the option in the selection but when I select it I get this error.

  File "/usr/local/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wi

[2017-03-01 13:46] kn0wledge commented on #461
@blackHatMonkey actually the more I test around, the more I find this feature (Auto-join fake AP) a must have. with this feature, you will not even notice you got disconnected, hence all scenarios have a much higher chance of success. I recommend opening a new thread with this as an enhancement. It is feasible, I would recommend you look at the code of the Pineapple AP from the wifi pineapple. wha

[2017-03-01 14:33] cicina commented on #456
Hi there, I have installed wifiphisher on different user account and it is working without any errors. Even arguments are working. Everything is okay. I still dont know tho why my 1st install get so wrong. and it is still unusable for me. At least its working under another user but anyway.. i am afraid it will happen again

[2017-03-01 15:10] blackHatMonkey commented on #461
@kn0wledge We already have thread for this and it's #76.

[2017-03-01 15:13] blackHatMonkey commented on #475
@mad2kx Can you use `wireshark` to check if any deauthentication packets are being sent or not?

[2017-03-01 15:17] blackHatMonkey commented on #463
@kn0wledge once you put your new folder in `wifiphisher/data/phishing-pages/` just run the `sudo python setup.py install` again and it should appear in the list of templates.

[2017-03-01 15:40] blackHatMonkey commented on #456
@kn0wledge the bug you posted [here](https://github.com/wifiphisher/wifiphisher/issues/456#issuecomment-283306597) is not related this thread. If you experience the same problem please feel free to open a new issue.

[2017-03-01 16:27] #474 closed

[2017-03-01 18:34] mad2kx commented on #475
@blackHatMonkey Yes it's sending deauth packets but for some reasons there is no return command or so (don't know how to explain it)

Not sure if this matters: I normally go via aireplay and can deauth the target (or in this case the bssid in question)

[2017-03-01 18:39] andeees commented on #461
@kn0wledge Do you have WiFi pinapple? Did it work its karma attack? I read that this attack is very unlikely to happen in new computers and smartphones ... but I can't find much information on the topic.

[2017-03-01 18:50] blackHatMonkey commented on #475
@mad2kx Not sure what you mean by `return command` but `Wifiphisher` sends 3 deauthentication packets:
* From access point to the broadcast address
* From access point to each of the discovered client
* From discovered client to access point

To give you an example lets say that the MAC address of the access point is `11:11:11:11:11:11` and it has found one client with the MAC address of `22:22:22

[2017-03-01 18:54] mad2kx commented on #475
Understood. But it still doesn't jam the target. Any ideas?

[2017-03-01 19:01] blackHatMonkey commented on #475
@mad2kx Please take a look at the `Why does deauthentication not work?` section of this [page](http://www.aircrack-ng.org/doku.php?id=deauthentication).

[2017-03-01 19:09] mad2kx commented on #475
I can deauth via aircrack that's the confusing part. Do you think I can leave wifiphisher in the background and deauth via aircrack to jam the target?

[2017-03-01 19:21] blackHatMonkey commented on #475
yes you can use the `-nJ` option when running `Wifiphisher` which tells is to not deauthenticate anything.

[2017-03-01 19:25] Asux3 opened #477 "Add --update flag to update Wifiphisher"
Is it possible to add update from the terminal
![screenshot from 2017-03-01 19-21-11](https://cloud.githubusercontent.com/assets/25803756/23477049/fa57bb50-fe79-11e6-8d94-c9330068f74a.png)

[2017-03-01 19:28] blackHatMonkey commented on #477
Hi @Asux3 what is the purpose of the `--update` flag?

[2017-03-01 19:32] Asux3 commented on #477
For the update

[2017-03-01 19:36] blackHatMonkey commented on #477
what does it exactly update?

[2017-03-01 19:39] mad2kx commented on #475
So I must deauth with aircrack first and then start wifiphisher and choose option 2 for network manager and then wait...?

[2017-03-01 19:41] sophron commented on #477
I believe he means an option that will automatically update the tool.

Myself wouldn't trust software updates that are unsigned. And if we want to provide secure signed updates, we will need the right infrastructure (that we don't have).

The best thing that we can offer is an alias of `wifiphisher --update` to `git pull`. It will be exactly the same though and I find no reason for it. Is `git pul

[2017-03-01 19:45] sophron commented on #475
Hi @mad2kx,

Are you trying the latest revision on GIthub?

We recently pushed some fixes regarding jamming, but there's definitely room for improvement.

[2017-03-01 19:46] blackHatMonkey commented on #475
So you would start `Wifiphisher` with the `-nJ` flag and you would continue as if it was a normal run (choose access point, template, etc). When you want to start the deauthentication just start `aircrack` with the interface not used by `Wifiphisher`.

[2017-03-01 19:50] blackHatMonkey commented on #477
Once the tool has been pushed to `PyPi` I think the problem would not exist anymore.

[2017-03-01 20:35] kn0wledge opened #478 "Access point selection showing power as 0% for all access points"
Just did a fresh clone and fresh install of wifiphisher after the latest merge of the redesign. For some reason , power shows as 0% for all APs

[2017-03-01 20:37] blackHatMonkey commented on #478
@kn0wledge would you be able to get a screen shot of it?

[2017-03-01 20:50] mad2kx commented on #475
@sophron yes I am using v1.2

@blackHatMonkey ok doing it that way does not let me deauth the target. I am receiving 0 ACKs from the client and 50 ACKs from AP
Deauth without wifiphisher in the background works.

[2017-03-01 21:02] blackHatMonkey commented on #475
@mad2kx Using my example above you should run the following command
[code]
Also make sure you are not using the interface `Wifiphisher` is using by specifying the interface to use by:
[code]

[2017-03-01 21:04] kn0wledge commented on #478
![screenshot from 2017-03-01 15-55-55](https://cloud.githubusercontent.com/assets/25384952/23481234/bc2020c4-fe98-11e6-8829-a1850e8c9d20.png)
here you go

[2017-03-01 21:22] mad2kx commented on #475
@blackHatMonkey yes that makes sense not to use the same interfaces.

Sending 64 directed DeAuth. STMAC [MAC ADDRESS] [0 | 24 ACKs]

This is the message I receive all the time, regardless if I send 1x DeAuth or 100.

Appr distance to target: 5m.

[2017-03-02 02:06] alternatexp commented on #463
@kn0wledge please open a new issue if you have a different one.

The original issue still remains and I would like an answer to my questions.

[2017-03-02 03:06] alternatexp commented on #469
@cicina said:

If I had wireless at home and it would send me to a captive portal I'll be using my phone to scan the air and trace down the MITM.

yeah, a lot would be possible

[2017-03-02 15:02] blackHatMonkey commented on #475
@mad2kx Can you check to see if you have the same problem when you created an access point(using `hostapd`) with same name and deauthenticate using `aircrack`?

[2017-03-02 15:05] blackHatMonkey commented on #449
@andeees  A new patch has been released please update and see if the problem persists.

[2017-03-02 15:06] blackHatMonkey commented on #456
@cicina A new patch has been released please update and see if the problem persists.

[2017-03-02 15:07] blackHatMonkey commented on #431
@zero77 A new patch has been released that includes this feature requested by you, please update.

[2017-03-02 15:09] blackHatMonkey commented on #156
@c0d3xpl0it A new patch has been released which includes the feature you requested, please update.

[2017-03-02 15:21] blackHatMonkey commented on #463
@alternatexp There are two sides to this argument. One is pointing the software to a directory and let the user handle everything and give them the freedom of setting things up. On the other hand what `torando` allow us to do is automatically configure a page without the need for human intervention. The first case is really useful for advanced users while the second case for novice users without a

[2017-03-02 15:39] zero77 commented on #431
Thank you.

[2017-03-02 16:13] mad2kx commented on #475
@blackHatMonkey I will try to give you feedback until friday. currently bit swamped with work. bear with me.

[2017-03-02 16:40] kn0wledge commented on #478
@blackHatMonkey any ideas on how to trouble shoot this?

[2017-03-02 16:42] blackHatMonkey commented on #478
@kn0wledge I will take a look at it and let you know :smile:.

[2017-03-02 16:58] sophron commented on #478
A network dump would be useful here. Try `tcpdump -i <interface> -s 65535 -w out.pcap` where <interface> is the `AP` interface chosen by `wifiphisher`.

You can send the `out.pcap` file to @blackHatMonkey afterwards and he'll be able to open it in Wireshark and find out if the RSSI field of beacon frames are there.

[2017-03-02 18:23] blackHatMonkey commented on #478
@kn0wledge @sophron I was able to reproduce the bug with the latest `kali`. I had to install a fresh version of `kali` to make sure it was not just my system.

[2017-03-02 18:56] blackHatMonkey commented on #478
@kn0wledge #480 has been merged. Let me know if you still experience this bug :smile:.

[2017-03-02 19:15] kn0wledge commented on #478
@blackhatmonkey that fixed it ! Thx ! That was quick!

[2017-03-02 19:57] mad2kx commented on #475
@blackHatMonkey I have installed the patch and using wifiphisher alone: nothing is happening. It runs for hours and just copies the target and lists the MAC Addresses which is wants to deauth.

So I restarted wifiphisher with `wifiphisher -nJ -aI ap_interface` followed by aircrack and manually deauthorized the target. created a wonderful 4way handshake. Wifiphisher is running in the background and

[2017-03-02 20:03] blackHatMonkey commented on #475
@mad2kx Please check out [How it works](https://github.com/wifiphisher/wifiphisher#how-it-works) section in README. It's up to the user to connect to the evil twin access point and give you the credentials.

[2017-03-02 20:26] mad2kx commented on #475
@blackHatMonkey thanks I will just have to wait then. I will keep you posted.

[2017-03-03 02:50] alternatexp commented on #463
Thanks @blackHatMonkey

So are you talking about the {{ commands }} from the tornado module?

Does the tornado module have to be abandoned? I feel like it can function the same way if only the redirection rules get rewritten, like so:

[code]

Surely the tornado module can listen to all POST requests?

I can't imagine this changing much at all, other than allowing more flexibility for scenarios.

[2017-03-03 11:44] kn0wledge opened #483 "Errorno 100 Network is down"
Hey @blackHatMonkey,

Again been testing around with the latest version, and I getting the below errors:
![screenshot from 2017-03-03 06-32-23](https://cloud.githubusercontent.com/assets/25384952/23549981/ad9a3f90-ffdc-11e6-81c7-6efe70d18026.png)

when I ctrl+c I get this:
![screenshot from 2017-03-03 06-35-35](https://cloud.githubusercontent.com/assets/25384952/23549985/b0a1ce2e-ffdc-11e6-910f-90

[2017-03-03 21:28] Dirkstaal opened #486 "Add android support"
Hi can you please port this tool so that it could be runned from an android terminal with root

If it will be possible ?

[2017-03-03 22:06] blackHatMonkey commented on #486
@Dirkstaal Are you talking about `Kali Linux NetHunter`?

[2017-03-03 22:08] blackHatMonkey commented on #483
@kn0wledge I will take a look at it and let you know.

[2017-03-03 22:33] andeees opened #487 "-iI option skips Phishing Pages."
I am using the current version of this repository. By passing the argument `wifiphisher -iI eth0` it creates the fake AP, however there is no Phishing scenario when I connect to it, it just let me browse the internet without any login page.

[2017-03-03 22:51] andeees opened #488 "Errors when Requesting Phising Pages."
I find that this latest version is jamming pretty effectively, but I get more errors on the runtime of the fake AP. What I mean by this is that it creates the AP fine, but sometimes when the user starts to send requests I get some errors:

[code]

[2017-03-04 00:05] Zawadidone opened #489 "AttributeError: 'NoneType' object has no attribute 'replace'"
When i run
wifiphisher --nojamming --essid "FREE WIFI" -p oauth-login
this is the output
Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()
  File "/usr/local/lib/python2.7/dist-packages/wifiphisher-1.2-py2.7.egg/wifiphisher/pywifiphisher.py", line 1056, in run
    ap_logo_path =

[2017-03-04 00:13] blackHatMonkey commented on #489
Hi @Zawadidone I will take a look at it and let you know when the fix is ready :smile:.

[2017-03-04 00:24] Zawadidone commented on #489
Okay thanks

[2017-03-04 03:04] blackHatMonkey commented on #489
@Zawadidone A new patch has been posted. Please check with the latest version and see if the problem persists.

[2017-03-04 03:18] andeees commented on #483
Same happens to me

[2017-03-04 03:34] Zawadidone commented on #489
No it isn't fixed
When i run
wifiphisher --nojamming --essid "FREE " -p oauth-login
The output is
Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()
  File "/usr/local/lib/python2.7/dist-packages/wifiphisher-1.2-py2.7.egg/wifiphisher/pywifiphisher.py", line 794, in run
    'target

[2017-03-04 07:28] kn0wledge commented on #483
@blackHatMonkey here is another one. Just for your reference.
![screenshot from 2017-03-04 02-23-06](https://cloud.githubusercontent.com/assets/25384952/23577006/e8eee1f4-0081-11e7-93b7-ffc29f090533.png)

[2017-03-04 07:30] kn0wledge commented on #483
@blackHatMonkey here is another one. Just for your reference.
![screenshot from 2017-03-04 02-23-06](https://cloud.githubusercontent.com/assets/25384952/23577021/7b85f6b0-0082-11e7-9449-c0cf102b2eab.png)

[2017-03-04 09:03] orla11 commented on #489
Same problem here:

Traceback (most recent call last):
File "/usr/local/bin/wifiphisher", line 11, in
load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()
File "/usr/local/lib/python2.7/dist-packages/wifiphisher-1.2-py2.7.egg/wifiphisher/pywifiphisher.py", line 794, in run
'target_ap_channel': args.channel or "",
AttributeError: 'Namespace' object has no attribute 'channel'

[2017-03-04 09:49] cicina opened #491 "still mess :("
![Uploading Screenshot from 2017-03-04 10-47-12.png…]()

cant run the tool. on screenshot you can see what command I used and I reached scenario selection but then error.

[2017-03-04 09:51] cicina commented on #491
https://s3.postimg.org/svb5mi4wj/Screenshot_from_2017_03_04_10_47_12.png

[2017-03-04 12:22] Dirkstaal commented on #486
No i want to use it on android without an usb wifi adapter
On 04 Mar 2017 00:06, "Brian Smith" <notifications@github.com> wrote:

[2017-03-04 12:49] blackHatMonkey commented on #491
This is a duplicate of #489 .

[2017-03-04 12:49] #491 closed

[2017-03-04 16:52] minanagehsalalma opened #494 "Scenario asks user to push the wps button if it is available"
can it done by one of the two wireless cards while attack please let me know ???

[2017-03-04 16:57] minanagehsalalma opened #495 "Monitor access point's channel for change"
when the router restart the channel change it s an automatic process.. i want the script to auto detect the channel change by running airodump-ng every three minutes or when there are no clients to deauth ... and replace the old channel with the new one and continue the deauth with the new channel.. and put an option to select between airodump-ng every three minutes or when there are no clients to