[2017-08-24 14:46] phspade commented on #634
yeah.. let me know if you need my help here

[2017-08-25 01:22] Ad3t0 opened #717 "Error when using extra-phishing-pages on the current version"
**Version**: Use `git show | grep commit` command and paste here the output.

commit 43932eef872387001526f7ac4d30283cfe4db9ae

**Description**: Give a more analytical description here. The output of the `iw list` and `iwconfig` commands may be helpful.

When using
https://github.com/wifiphisher/extra-phishing-pages

I have a lot to learn so please excuse my lack of knowledge on the matter.  I spen

[2017-08-25 03:23] minanagehsalalma commented on #494
@alternatexp  so this attack only  needs two wifi card and hops channels for deauth  while The sniff thread  is  running  ???

[2017-08-26 06:27] phspade commented on #717
I fix this issue by this method.
* First download the **Latest** Wifiphisher
* Once you download the zip or clone the wifiphisher. place your phishing page to:
`wifiphisher/wifiphisher/data/phishing-page`
* Once you paste your phishing page there. Install the wifiphisher.
* `sudo python setup.py install`

Let me know if you still having a trouble

[2017-08-26 20:27] Ad3t0 commented on #717
Thanks for the reply, I had tried that previously and I just did it again to make double sure I had tried it that way and I had no success. Same error.

[2017-08-27 08:26] yungtravla opened #718 "setup.py bug"
I'm not at my pc atm so I can't reproduce this error for a PoC, but I keep noticing that when I build wifiphisher, it creates the dist, build & wifiphisher egg folders (maybe more) **outside** the wifiphisher-master folder.

I assume it's inheriting the current working directory of the terminal session, not the wifiphisher directory.

Correct me if im wrong

[2017-08-27 09:12] MarkusHaas2002 opened #719 ""wlan1" is invalid"
Hi, Im using the newest version of Wifiphisher on my rpi 3 running kali linux.
I already bought a new Wifi-Adapter which supports AP and Monitor Mode. It is successfully installed and it visible under ifconfig. Sometimes its wlan0 or wlan1.

The Issue:
When I run "wifiphisher -nJ" it always takes, no matter if its wlan0 or wlan1, the built in wifi adapter which doesnt support AP Mode.
And if I run

[2017-08-27 09:25] anakin1028 commented on #719
Can you post the information of both cards by the following commands:
[code]
You can change the phy0 to the one you observe by `is dev`

[2017-08-27 09:26] anakin1028 commented on #719
Typo by `iw dev`

[2017-08-27 09:32] MarkusHaas2002 commented on #719
When I get Home i will.
Thanks for the fast Responds by the way!

[2017-08-27 09:35] anakin1028 commented on #719
No problem. We have to check the supported modes for your adapters :)

[2017-08-27 17:06] MarkusHaas2002 commented on #719
[code]
is the output the iw dev also manually takes wlan1 which is the built in wifi adapter of the rpi 3
I dont know what I should do, maybe disable the built in wifi adapter?

[2017-08-27 17:09] MarkusHaas2002 commented on #719
[code]
is from iwconfig if this helps...

[2017-08-27 23:22] anakin1028 commented on #719
@MarkusHaas2002

I have the following questions:
* Q1 :  `TLWN725N` is also plugin on your computer when you keyin the command `iw dev`?

   **A**: If yes, I guess the card seems not support the `nl80211` interface so `iw` cannot detect it thus `wifiphisher` cannot detect it neither since our program is base on a python module(PYRIC) to do interface selection and `PYRIC` also use the interface `nl

[2017-08-28 16:29] sophron commented on #718
Python setuptools perform a system-wide installation. It will create files outside of wifiphisher directory. This is normal.

[2017-08-28 23:38] rlstric1 opened #720 "Wifiphisher closing immediately after capturing credentials"
**Version**: 1.3

**Description**: Command ran: wifiphisher -aI wlan2 -jI wlan1
It seems as though wifiphisher is starting to work initially but after it states it's starting the fake access point it displays:
Show your support!
Follow us: 'twitter url'
Like us: 'facebook url'
Captured credentials
Closing

then the program quits.  I've tried to look all over and no one really seems to answer this.

[2017-08-29 00:21] anakin1028 commented on #720
@rlstric1
1. Do you clone from github and do `python setup.py install` or did `pip install wifiphisher`?
2.  Can you post the output of `ldconfig -p |grep libnl`?
3. If you are comfortable with hostapd, you can try to lunch fakeAP manually. See if there is any dependence issue with hostapd.

[2017-08-29 00:42] rlstric1 commented on #720
1. python setup.py install
2. No output to terminal
3. I've never used hostapd before but what I did find out if that the setup.py did not install so I had to `apt-get intall hostapd` myself, which makes me wonder what else did not install.

[2017-08-29 00:55] anakin1028 commented on #720
@rlstric1
Ok that means you don't have the libnl dependency.
Try to follow the section 5 of the following link:
http://www.pietervanos.net/knowledge/debian-install-hostapd-2/

[2017-08-29 01:02] anakin1028 commented on #720
@rlstric1 I'm also curious about what OS do you use?
And during `python setup.py install` do we show any warning message about `hostapd` is not install?

[2017-08-29 01:07] rlstric1 commented on #720
@anakin1028 I get an error on the libng-dev apt-get saying: E: Package 'libnl-dev' has no installation candidate

I'm using the latest Kali linux ARM img.  I don't recall seeing anything during the setup.py.

Should I delete the directory and retry?

[2017-08-29 01:14] anakin1028 commented on #720
we can try to focus to solve the libnl dependency issue first.
what if  `apt-get install libnl-3-dev` and `apt-get install libnl-genl-3-dev` ?

[2017-08-29 01:16] rlstric1 commented on #720
I'm getting failure to resolve errors on those.

[2017-08-29 01:17] anakin1028 commented on #720
same error as `libnl-dev` ?

[2017-08-29 01:27] rlstric1 commented on #720
no `libnl-dev` error is, E: Package 'libnl-dev has no installation candidate/

`apt-get install libnl-3-dev` error is, failure to fetch

[2017-08-29 01:29] rlstric1 commented on #720
If I even do `apt-get update` it's just a temporary failure to resolve 'http.kali.org

[2017-08-29 01:41] rlstric1 commented on #720
okay so I was able to install libnl-3-dev and libnl-genl-3-dev.  Something was wrong with my network card so I rebooted and I installed them but libnl-dev still gives me the candidate error

[2017-08-29 01:42] anakin1028 commented on #720
ok forget about `libnl-dev`. can you try to lunch wifiphisher again? see if it works for you?

[2017-08-29 01:54] rlstric1 commented on #720
if I do `wifiphisher -aI wlan0 -jI wlan2` I get the same as the beginning where it closes immediately after the captured credentials message

if I do `wifiphisher --nojamming --essid "WIFI" -p oauth-login` I get an error chain where the final is: File 'usr/local/lib/python2.7/dist-packages/PyRIC-0.1.6.3-py2.7.egg/pyric/pyw.py', line 1340, in modeset raise pyric.error(e.errno, e.strerror)

I can tr

[2017-08-29 01:59] anakin1028 commented on #720
can you try the following:
Use your favorite editor and save the following lines in a file(named as say hostapd.conf).
Change the `interface=wlan0` to the wlan# you have on your system (you can observe by `iw dev`)
then try the command : `hostapd ./hostapd.conf` and see if the AccessPoint is successfully lunched?
[code]

[2017-08-29 02:14] rlstric1 commented on #720
output is:
Failed to create interface mon.wlan0: -95 (Operation not supported)
wlan0: Could not connect to kernel driver
Using interface wlan0 hwaddr xx:xx:xx:xx:xx:xx and ssid "xxxx"
wlan0:interface state UNINITIALIZED -> ENABLED
wlan0: AP-ENABLED
wlan0:INTERFACE-DISABLED
wlan0:INTERFACE-ENABLED

it looks like it's still working it's been that way for a couple minutes

[2017-08-29 02:23] rlstric1 commented on #720
I tried to run the --nojamming script again while letting the hostapf.conf run and got: Failed to set beacon parameters

[2017-08-29 02:25] anakin1028 commented on #720
Are you sure `wlan0` support `AP` mode?
can you follow the instructions in #719 to check the supported modes for your adapters?

[2017-08-29 02:26] anakin1028 commented on #720
And `wifiphisher` will lunch the hostapd automatically so you don't need to manually lunch it.
We just need to make sure your hostapd can successfully lunch and there is no dependency issue.

[2017-08-29 02:29] rlstric1 commented on #720
I'm trying different network cards, wlan0 was my onboard adapter but I tried with 2 others and got the same results, should the hostapd.conf finish? I let it run for over 5 minutes and it has not finished completely

[2017-08-29 02:32] rlstric1 commented on #720
I unplugged both network adapters and tried one at a time and the first one gave me this output from ./hostapd.conf:
nl80211: Could not configure driver mode
nl80211: deinit ifname=wlan1 disabled_llb_rates=0
nl80211 driver initialization failed.
wlan1: interface state UNINITIALIZED ->DISABLED
wlan1: DISABLED
hostapd_free_hapd_data: Interface wlan1 wasn't started

[2017-08-29 02:34] anakin1028 commented on #720
[code]
From the above output I guess the dependency is not really solved.
Maybe you can remove hostapd and install again. hostapd will not finish unless you `ctrl-c` with that command.

[2017-08-29 02:35] rlstric1 commented on #720
how do you remove hostapd

[2017-08-29 02:36] anakin1028 commented on #720
The overall concept is `hostapd` -> `nl80211 (libnl)` -> `device driver`
you can uninstall by `apt-get purge hostapd`

[2017-08-29 02:42] rlstric1 commented on #720
Okay I finished reinstalling I ran `wifiphisher -aI wlan1 -jI wlan2` and got the same results as I started.

`wifiphisher --nojamming --essid "xxx" -p oauth-login -aI wlan1` also gave me that same deal, it closing immediately after trying to create a fake AP

[2017-08-29 03:08] usama7628674 commented on #720
try the following commands in terminal

apt-get install dnsmasq
apt-get install dnsmasq-base

[2017-08-29 03:09] rlstric1 commented on #720
They were both already installed

[2017-08-29 03:17] usama7628674 commented on #720
Try to install following libraries
libnl-3-200:amd64
libnl-3-dev:amd64
libnl-genl-3-200:amd64
libnl-genl-3-dev:amd64
libnl-route-3-200:amd64

[2017-08-29 03:22] rlstric1 commented on #720
Unable to locate all of those packages

[2017-08-29 03:25] usama7628674 commented on #720
Try to install them manually using the following website
https://packages.debian.org

[2017-08-29 03:29] rlstric1 commented on #720
arm64 or amd64?

[2017-08-29 03:30] usama7628674 commented on #720
use this command in terminal
uname -r
you will see your architecture at the end of line

[2017-08-29 03:31] rlstric1 commented on #720
4.4.50-v7 is the only output

[2017-08-29 03:32] usama7628674 commented on #720
are you using kali linux

[2017-08-29 03:32] rlstric1 commented on #720
if I apt-get install, all those packages you listed earlier without the amd64 tag I get messages stating that they're already installed. Yes I'm running Kali on a pi3

[2017-08-29 03:34] usama7628674 commented on #720
use this command
dpkg -l
and search them individually

[2017-08-29 03:36] rlstric1 commented on #720
what should I be looking for for each?

[2017-08-29 03:36] usama7628674 commented on #720
If you found all those packages then it means they are installed

[2017-08-29 03:36] rlstric1 commented on #720
They're all installed but with the tag, :armhf

[2017-08-29 03:43] usama7628674 commented on #720
got to /etc/ and open interfaces  file with any text editor and change should be like this
auto wlan1
iface wlan1 inet manual

replace wlan1 with your interface
and use wifiphisher with this command
go to /wifiphisher/bin and open terminal

python wifiphisher --nojamming

[2017-08-29 03:44] rlstric1 commented on #720
there is no interfaces file

[2017-08-29 03:48] usama7628674 commented on #720
Ok my mistake the file should be in this location
/etc/network

[2017-08-29 03:48] rlstric1 commented on #720
interfaces or interfaces.d

[2017-08-29 03:49] usama7628674 commented on #720
open interfaces with text editor and paste here the the file input

[2017-08-29 03:50] rlstric1 commented on #720
auto lo
iface lo inet loopback

auto eth0
iface eth0 ined dhcp

(I added)
auto wlan1
iface wlan1 inet manual

[2017-08-29 03:52] usama7628674 commented on #720
auto lo                                 to auto wlan1
iface lo inet loopback           to      iface wlan1 inet manual

[2017-08-29 03:53] rlstric1 commented on #720
Okay I changed lo -> wlan1

`python wifiphisher --nojamming` automatically trys to use wlan0 I have to explicitly tell it to use wlan1 with `-aI wlan1`

[2017-08-29 03:53] usama7628674 commented on #720
so change wlan1 to wlan0 in interfaces file

[2017-08-29 03:54] usama7628674 commented on #720
use only your internal adapter and unplug all usb adapters

[2017-08-29 03:56] rlstric1 commented on #720
Okay, I changed wlan1 -> wlan0 and unplugged and ran `wifiphisher --nojamming` but it got stuck one line after Starting wifiphisher and my pi froze

[2017-08-29 03:58] usama7628674 commented on #720
Does your internal adapter support AP mode?

[2017-08-29 03:58] rlstric1 commented on #720
No that's why I need a wireless adpater

[2017-08-29 04:01] usama7628674 commented on #720
so now use another adpater and use this command
iwconfig
you will see two wlanX interfaces one is your internal and other one is external note the interface name
of external card and put it in interfaces file

[2017-08-29 04:04] rlstric1 commented on #720
I chaned the interfaces to wlan1, ran `python wifiphisher --nojamming`, it tried to use my wlan0 (interal)

if I run `wifiphisher --nojamming -aI wlan1`, it begins listing other APs

[2017-08-29 04:05] usama7628674 commented on #720
so now you are seeing other AP

[2017-08-29 04:06] rlstric1 commented on #720
yes, if I select on to attack I get back to where I started in the beginning of this thread. It closing immediately after trying to start a fake AP

[2017-08-29 04:06] usama7628674 commented on #720
select any access point and then it will show you some templates and select any one of them
like oauth-login and after that it will start fake access point

[2017-08-29 04:07] rlstric1 commented on #720
it closes after trying to start a fake AP

[2017-08-29 04:07] usama7628674 commented on #720
In my pc I'm experiencing the same so I installed dnsmasq and dnsmasq-base and got it working

[2017-08-29 04:09] rlstric1 commented on #720
I have both of them installed version 2.77-2

[2017-08-29 04:09] usama7628674 commented on #720
First I remove both of them and tried wifiphisher but it closes stating "starting fake access point"
and then I installed both of them and now it's working fine for me.

[2017-08-29 04:10] rlstric1 commented on #720
I must be missing something else related to starting a fake AP then but I'm not sure what it is or why this keeps happening. I don't see any other threads about it

[2017-08-29 04:11] usama7628674 commented on #720
Yes I'm also thinking you are missing something

[2017-08-29 04:14] rlstric1 commented on #720
Okay so I tried to install again from `sudo python setup.py install` and something came up from trying to install ifconfig stating: `Don't know how to install ifconfig for you distribution, rerun after installing manually`

[2017-08-29 04:20] rlstric1 commented on #720
Okay so I fixed it:
`sudo apt-get install net-tools` for ifconfig and now it's able to get to the DHCP HTTP screen.  Now it's been there for a couple minutes I'm not sure if it's working completely though

[2017-08-29 04:20] usama7628674 commented on #720
here is my dpkg -l file,download it and take a look maybe something you're missing
https://www.sendspace.com/file/01mk9r

[2017-08-29 04:21] usama7628674 commented on #720
here is my dpkg -l file,download it and take a look maybe something you're missing
https://www.sendspace.com/file/01mk9r

[2017-08-29 04:22] usama7628674 commented on #720
In this way I hope you'll resolve the problem

[2017-08-29 04:23] rlstric1 commented on #720
I'll take a look but one thing I noticed that's where is when my card is displaying other APs all the PWR's are at 0%, even my own

[2017-08-29 04:24] usama7628674 commented on #720
Ignore that continue further

[2017-08-29 04:25] usama7628674 commented on #720
Connect your pc or android with fake-access point and see it it's working fine

[2017-08-29 04:26] usama7628674 commented on #720
sometimes for it shows PWR 100% even for those AP that are far away from my house

[2017-08-29 04:27] usama7628674 commented on #720
I don't believe it because I'm getting less than 30% signal so how can PWR be 100%

[2017-08-29 04:28] rlstric1 commented on #720
I had to manually connect to the fake AP because the power of my router was higher than that of my network adapter even though I'm sitting next to my Pi.

I was deauthenticated fine but had to connect manually and have no received an authentication page when trying to access the internet

[2017-08-29 04:29] rlstric1 commented on #720
All websites I try to access have server not found errors

[2017-08-29 04:30] usama7628674 commented on #720
Yes you have to connect manually it doesn't connect automatically.That is fine
try http://czone.com.pk

[2017-08-29 04:32] usama7628674 commented on #720
sometimes it doesn't redirect to fake page when using https sites

[2017-08-29 04:32] rlstric1 commented on #720
what triggers the redirect?

[2017-08-29 04:34] usama7628674 commented on #720
connect to fake AP and then try to use http sites on your browser

[2017-08-29 04:35] usama7628674 commented on #720
so that it'll take you to oauth-login or whatever template you selected,creating Fake AP with wifiphisher

[2017-08-29 04:37] rlstric1 commented on #720
no sites trigger an authentication to display

[2017-08-29 04:39] usama7628674 commented on #720
Please explain everything now from start to end now you got it working

[2017-08-29 04:41] rlstric1 commented on #720
Removed wifiphisher
Reinstalled
Manually installed packages that setup.py gave errors on (Mine was ifconfig/setuptools)

[2017-08-29 04:42] usama7628674 commented on #720
and now explain it's working

[2017-08-29 04:43] usama7628674 commented on #720
run it now and then tell me

[2017-08-29 04:46] rlstric1 commented on #720
It runs and gets into the DHCP HTTP screen where it waits for someone to connect
Successfully registers someone connect but does not trigger oauth.

[2017-08-29 04:48] usama7628674 commented on #720
so now you're connected to Fake AP with oauth-login template but doesn't getting oauth page
you're testing it on android or windows

[2017-08-29 13:47] rlstric1 commented on #720
I tested both Android and Windows.

I even set up a "free WiFi" open hotspot, connected, and no trigger for oauth

[2017-08-29 13:49] anakin1028 commented on #720
Do you get dhcp release?
Is this possible for you to use wireshark or tcpdump on the ap interface and post the capture on This thread?

[2017-08-29 15:14] rlstric1 commented on #720
Yeah I'm able to DHCP release, I'll see if I can use Wireshark when I get home.

[2017-08-29 16:14] rlstric1 commented on #720
What would I be looking for in the wireshark capture, ARP and DHCP protocols?

[2017-08-30 11:06] anakin1028 commented on #720
OK. you can see if there is any `http` request and response.
Have you tried just type ip address `10.0.0.1` on the browser of the victim device?

[2017-08-30 16:01] Farazrao786 opened #721 "permisson denied"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting.

**Version**: Use `git show | grep commit` command and paste here the output.

**Description**: Give a more analytical description here. The output of the `iw list` and `iwconfig` commands may be helpful.

**Script output**: Paste the outpu

[2017-08-31 03:15] usama7628674 commented on #721
You need to give permission a script to run it.For example
`chmod +x scriptname.py`
In this case `chmod +x setup.py`

[2017-08-31 15:21] sophron commented on #721
Please fill the issue template if you want to get helped.

[2017-08-31 15:21] #721 closed

[2017-08-31 15:29] sophron commented on #717
From your error message it's clear that in the `config.ini` of the phishing scenario you are using, `name` is not defined.

When you are using custom phishing scenarios, you need to make sure that you are editing the right files. If you are changing the files in the directory you downloaded online (and not in the installed directory), you should call the binary directly, e.g. `python bin/wifiphish

[2017-09-01 08:23] minanagehsalalma commented on #494
@anakin1028  the number one is the best and adding deauth  to this option will be amazing

[2017-09-01 09:03] minanagehsalalma commented on #495
@anakin1028 no @yungtravla is right ... deauthing the bssid will be better than deauthing  ssid cause our rogue AP will have the same ssid . did you get it ? 😏

[2017-09-01 09:17] anakin1028 commented on #495
you are misunderstanding.

We know what the `BSSID` of our rouge AP so if we find the target `ESSID` but this `ESSID` has the same `BSSID` of our rogueAP we'll filter it out.

The basic idea is like the following pseudo code:
[code]

Providing `-dE` is the new future for `wifiphisher` since some users might want to deauth all the same ESSID at the same time.

[2017-09-01 09:23] minanagehsalalma commented on #495
@anakin1028  but what if i want to deauth  only one BSSID  !!!!!

[2017-09-01 09:39] anakin1028 commented on #495
if you don't provide the `-dE` option, you still deauth the `BSSID` that you have selected from the ap-selection.

[2017-09-01 09:48] anakin1028 commented on #495
Let me deliberate our deauth schemes:

[code]

[2017-09-01 12:45] yungtravla commented on #718
This isn't 'normal' ...

This clutters my git clones folder.

**Wifiphisher** files, before and after installation, belong inside the **Wifiphisher** folder (plus maybe a bin executable)

[2017-09-02 11:42] anakin1028 commented on #718
@yungtravla
it a normal behavior for the `setuptools` module
have a look for this link:
https://stackoverflow.com/questions/3779915/why-does-python-setup-py-sdist-create-unwanted-project-egg-info-in-project-r

[2017-09-02 19:23] v4l3nc3 opened #722 "Provide an interface for users to select features they want to use instead of using arguments and how to put space in ESSID"
Why the hell is there not an interface for Wi-Fi Pisher. Why did you use arguments instead of straight-up, organized user input!?  Users can't put a space in the SSID, which is pretty freaking important. I already fixed it myself and added an interface to make it easier, but YOU should too. Especially when the SSID is "Google Starbucks". It has a space. Am I wrong? Is there another way?

[2017-09-02 19:24] v4l3nc3 commented on #722
Phisher*

[2017-09-02 20:10] Ad3t0 commented on #717
I never changed or modified config.ini and the format mirrors the preloaded templates config.ini.

[2017-09-03 02:08] anakin1028 commented on #722
@v4l3nc3

This is a good suggestion. As our features are growing, a good interface for users to select the features they want to use is straightforward for them. I'll mark this issue for `enhancement` for this reason.

you have two ways to specify essid for now:
[code]

[2017-09-03 02:12] v4l3nc3 commented on #722
I would definitely also like to bring up the fact that Android devices, and
Google Chrome KNOW that they are subject to a phishing attack, and they
warn the user. iPhones fall for it, but Google/Samsung products do NOT.
Lastly, you need to work on the fact that the access point requires the
ability to enter monitor mode, which is completely ridiculous. You also
can't bridge a Wi-Fi connected inter

[2017-09-03 02:25] anakin1028 commented on #722
ability to enter monitor mode, which is completely ridiculous.

I'm not sure I have captured what you mean. If an interface is used for AccessPoint then it cannot be used as monitor mode.

What do you mean by this? I don't get it. Two questions for it:
* Why do you want to bridge the Wi-Fi connected interface and I guess this interface you mentioned is the AccessPoint interface?

* Why is it requi

[2017-09-03 02:27] v4l3nc3 commented on #722
If my wireless card isn't in monitor mode, then WiFiPhisher won't create an
access point. I read the code, dude. Did you not read the part where it
literally EXITS if you arent in monitor mode?

On Sep 2, 2017 7:25 PM, "Anakin" <notifications@github.com> wrote:

Lastly, you need to work on the fact that the access point requires the
ability to enter monitor mode, which is completely ridiculous.

I

[2017-09-03 02:29] v4l3nc3 commented on #722
Also, you want to give the target an internet connection once they give you
their credentials. It makes it more authentic, and it makes
Android/Samsung/Chrome devices unsuspecting of our access point. It makes
the device open it up as if it's a login. Without an internet connected
interface, the device will warn the user that they are being phished.

On Sep 2, 2017 7:27 PM, wrote:

[2017-09-03 02:30] anakin1028 commented on #722
No. To create an access pointer the card needs not to support monitor mode.
We use `hostapd` approach and if the card support the `AP` mode it can change to `AP` from `managed` when `hostapd` is lunched

[2017-09-03 02:33] anakin1028 commented on #722
their credentials. It makes it more authentic, and it makes
Android/Samsung/Chrome devices unsuspecting of our access point. It makes
the device open it up as if it's a login. Without an internet connected
interface, the device will warn the user that they are being phished.

Yes. this feature has been mentioned in #617 and we may implement it in the future.

[2017-09-03 02:35] v4l3nc3 commented on #722
Yeah, that's bullsh*t. Try your program out with a regular wireless card
and see that you're wrong.

On Sep 2, 2017 7:30 PM, "Anakin" <notifications@github.com> wrote:

[2017-09-03 02:42] anakin1028 commented on #722
No. You are misunderstanding.

The wireless card must support AP mode to become a soft AP.
Indeed we can also use `monitor` mode to implement the AccessPoint by `scapy` but this will not be efficient enough for the stuffs required by AccessPoint (i.e. The beacons cannot be sent out accurate 100ms periodically since it sends from user space if we use monitor mode to implement access point).

Anothe

[2017-09-03 02:47] v4l3nc3 commented on #722
I'm misunderstanding? Lmao. You speak out of ignorance. I can use my
Broadcom wireless card as an access point (AP) all of the f*cking time,
whenever I want. With WIFIPHISHER, that is NOT the case. WIFIPHISHER says
that I need to enable monitor mode. Read your f*cking code before you tell
me that I'm misunderstanding. You even left a tag "#Make sure the wireless
card can enter monitor mode" or som

[2017-09-03 02:51] anakin1028 commented on #722
can you post the output of the following:
[code]
I guess you have only one card and your card doesn't support the `monitor` mode.
You should use the command `wifiphihser -nJ` or `wifiphisher -nJ --essid haha`

[2017-09-03 02:56] v4l3nc3 commented on #722
I'm not talking about jamming. Jamming works fine with my wireless card
that supports monitor mode. My OTHER card doesnt support monitor mode, yet
it works fine as an AP. Dont tell me i have one card. I have several. My
point is, you shouldnt require a card that supports monitor mode when
literally ANY wireless card can support being an access point. Your program
doesnt allow a wireless card to be

[2017-09-03 03:07] anakin1028 commented on #722
literally ANY wireless card can support being an access point.

I want to make sure I understand the scenario you mentioned. Do you mean the following scenario:
[code]
And wifiphisher will require card2 to support monitor mode?

[2017-09-03 03:12] v4l3nc3 commented on #722
Let's say in this scenario, I only use ONE wireless card. That card
supports AP mode, but NOT monitor mode. I attempt to use WiFiPhisher to
make it into an access point, but NOPE. WiFi Phisher wont allow my wireless
card to become an access point because it isnt in monitor mode. Do you
understand now? FIX IT.

On Sep 2, 2017 8:08 PM, "Anakin" <notifications@github.com> wrote:

[2017-09-03 03:15] anakin1028 commented on #722
Wifiphisher default enable jamming process so it will require two cards. One card supports jamming and the other card supports AP.

If you have only one card, you should use the command `wifiphisher -nJ` as I said before.

[2017-09-03 03:16] v4l3nc3 commented on #722
As I said, it doesn't work.

On Sep 2, 2017 8:15 PM, "Anakin" <notifications@github.com> wrote:

[2017-09-03 03:24] anakin1028 commented on #722
OK. I know what you mean. We'll set it to monitor mode since we want to do the AP-selection in the recognize phase.

But if users provide the `--essid` option, we don't need to do it and we can just fork the access point.
Thanks for the suggestion.

[2017-09-03 03:25] v4l3nc3 commented on #722
Lol, mkay.

On Sep 2, 2017 8:24 PM, "Anakin" <notifications@github.com> wrote:

[2017-09-03 04:51] anakin1028 commented on #722
@v4l3nc3 the issue you mentioned has been solve in this branch: `fix_enabling_mon_essid_used`
you can confirm by pull that branch and we'll merge that soon. Thanks.

[2017-09-03 04:53] v4l3nc3 commented on #722
Nothing was solved.

On Sep 2, 2017 9:51 PM, "Anakin" <notifications@github.com> wrote:

[2017-09-03 05:04] anakin1028 commented on #722
The following command not works for you?

`wifiphisher --essid fakeAP -nJ`

[2017-09-03 05:04] v4l3nc3 commented on #722
Nope.

On Sep 2, 2017 10:04 PM, "Anakin" <notifications@github.com> wrote:

[2017-09-03 06:28] yungtravla commented on #718
Should we consider using a tidier method?

[2017-09-03 10:09] minanagehsalalma commented on #495
@anakin1028  `cmd1: wifiphisher : Deauth one BSSID from ap selection` does it hopes channels during Deauth  !!! is it better than mdk3 in Deauth  ?

[2017-09-03 10:54] anakin1028 commented on #495
No. It will not do channel hop. I'm planning to implement it in the next few days with a new option `channel-monitoring`.

[2017-09-04 12:53] eitanhindi commented on #472
very good point!

[2017-09-05 09:37] eitanhindi opened #724 "redirect to warning page https"

[2017-09-05 09:42] #724 closed

[2017-09-05 11:45] Haidermahdi opened #725 "problem with wifiphisher"

[2017-09-05 12:48] anakin1028 commented on #725
I didn't see any description from your post?

[2017-09-05 13:14] eitanhindi opened #727 "hangs on ssl warning page"
first i must say, its the best tool i ever had!

i took a good view over all the regarding topics on it, and still didnt realize it ...
Everything works perfect except for one unfriendly behavior:
As I connected my Android (2 devices checked) to fake AP, I m always redirected to SSL page warning from Google. And it hangs there. I need to manually write URL to get the captive portal.(obvious no use

[2017-09-05 13:20] sophron commented on #722
@v4l3nc3 You will have to calm down and realize that you are talking to volunteers who could be having a beer with their friends but are here helping you instead. Read our <a href="https://github.com/wifiphisher/wifiphisher/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a> and act accordingly.

[2017-09-05 13:36] v4l3nc3 commented on #722
Lmao, dude. You don't need to be helping me. I'm helping you by pointing
out the bullshit issues in your program. Major flaws that could be fixed
easily. If you want to patronize me, you can go fuck yourself accordingly.
I won't pretend to give a shit. This program is presented at HTCIA
conferences, and still has major flaws. I reccomend you fix them. That's
all, "bud".

On Sep 5, 2017 6:20 AM, "G

[2017-09-05 13:48] sophron commented on #722
@v4l3nc3 is now blocked.

@anakin1028, I removed the "enhancement" tag. Feel free to add the TUI feature selection as a new issue if you want.

[2017-09-05 14:00] #722 closed

[2017-09-05 14:07] sophron commented on #718
`setuptools` is the standard way for source distribution. We could however add a clean command like the stackoverflow answer suggests.

[2017-09-05 15:33] anakin1028 commented on #722
sure : ) the other problem mentioned by @v4l3nc3 should be fixed in #723.

[2017-09-05 15:36] anakin1028 commented on #652
hi all, #675 has been merged. You can pull the latest commit from master to use this feature : )

[2017-09-05 15:36] #652 closed

[2017-09-05 15:46] anakin1028 commented on #719
@MarkusHaas2002, just provide some information to you and hope it is useful for you.

I also bought one TL-WN725N (V2) recently and it uses the Realtek (8188eu) driver which I downloaded from the website of TP-link.

from the output of `iw phy phy1 info` I can see it supports `monitor and ap` modes and I can use it for the  command : `wifiphiser -aI wlan1 -nJ`

[2017-09-06 09:16] SimpleHero opened #728 "Wifiphisher closes due to dependency of dnsmasq failed to resolve"
I have install it using the command python setup.py install. then after that opened a new terminal at the bin folder of wifiphisher. then run the command "wifiphisher" or "./wifiphisher" and select a wifi then a 1-4 method of hacking. I choose 2 for firmwire upgrade? then after that it runs but suddenly it says [!] Closing.

[2017-09-06 10:44] RandyChange commented on #652
@anakin1028
Wait.. So what you are saying is, that I am able to open a VM, plug one compatible card into my laptop and then be able to get the whole solution from WiFi Phisher? :)

[2017-09-06 10:51] anakin1028 commented on #652
Almost all the features! You can use `wifiphisher` to do jamming for one card now.
But features using frequency hopping cannot support by single card like the `-dE` option

[2017-09-06 10:55] usama7628674 commented on #728
Use these commands
`sudo apt-get install net-tools`
`sudo apt-get install dnsmasq`
`sudo apt-get install dnsmasq-base`
and reinstall wifiphisher.

[2017-09-06 11:15] RandyChange commented on #652
@anakin1028
But I am able to "jam a router" and host the AP the targets will connect to with one card??
In other words, I am able to get credentials or launch payloads with one card now?

I have lost my Kali USB, which is the reason I am asking instead of testing myself right now - so thanks for answering!

[2017-09-06 11:28] anakin1028 commented on #652
@RandyChange No problem. You can deauthenticate the router and lunch the fake access point under the same card now : )

* You can use the following command:
`./wifiphsiher`

and then just select the target router from ap-selection as before.

* one thing need to remember if you want to observe the auth-connect behavior your router should be no security (i.e. OPEN).

[2017-09-06 11:30] anakin1028 commented on #652
typo : auto-connect

[2017-09-06 11:33] anakin1028 commented on #725
If you have problem feel free to reopen it with description :)

[2017-09-06 11:33] #725 closed

[2017-09-06 11:34] anakin1028 commented on #728
@SimpleHero what os do you use?
@usama7628674 is this issue same as #720 ?

[2017-09-06 12:06] RandyChange commented on #652
@anakin1028
Sounds amazing! I will try it when I get the change.

However, sorry to sound stupid, but what do you mean by "one thing need to remember if you want to observe the auto-connect behavior your router should be no security (i.e. OPEN)."??
The fake AP is always "OPEN", right? - so a bit confused by this, and your auto-connect statement?

[2017-09-06 12:34] anakin1028 commented on #652
@RandyChange NP. Feel free to ask any questions.

* Fact : command `./wifiphisher` will lunch OPEN fakeAP with the same ESSID if the target router as you say.

What I mean is the following:

* Before lunching wifiphisher, the victim device is connecting to the target router say ESSID=haha
Here the `target router` should have no security in order to observe auto-connect to the fake Access Point lun

[2017-09-06 12:39] anakin1028 commented on #652
If you are interesting in this topic @sophron also has a clear explanation in the bottom of thread #560.

[2017-09-06 12:50] RandyChange commented on #652
@anakin1028
Thanks for the clear explanation anakin!

So overall, the only way to get auto-connect to work properly is, if you target an already "open-security" router, which could be at cafe's for example, right?
- This however, would only be with the goal of harvesting passwords(i.e social media passwords..) or launching payloads, and not the WiFi-Password, right? (because there isn't one hehe)

[2017-09-06 13:00] anakin1028 commented on #652
If you don't know the password of the WPA/WPA2 personal access point, indeed auto-connect cannot happen.

Another possibility is:
Since user may find the same ESSID lunched by wifiphisher and manually connect to it then we can use `firmware-upgrade` phishing scenario to phish the WPA2 passphrase.

[2017-09-06 13:07] anakin1028 commented on #652
The following is the protocol for the connection process and this will help you understand why security has needed to be matched between the target AP and the fake AP lunched by wifiphisher in order for auto-connection.
[code]

[2017-09-06 13:24] RandyChange commented on #652
@anakin1028
Thank you for all the your answers. Guess I am all good for now.
I will test it out some time, and if something comes up, I'll get in contact.

Have a nice day! :)

[2017-09-06 13:51] RandyChange commented on #652
@anakin1028
Also, could you by any chance recommend a compatible card which is not a dongle, but a USB? Using a dongle and I hate it hehe.
The new TL-WN722N (v2) does not work.

[2017-09-06 13:55] usama7628674 commented on #728
The description resembles with #720 but above commands fixed that #720 issue.

[2017-09-06 14:19] anakin1028 commented on #652
Yes. Indeed WN722N now use Realtek chipset and Kali default doesn't support it.
I will recommend `AWUS036NHA` from `ALFA-Network` and I also use this adaptor and `WN722N-V1` to do the test for wifiphisher.

[2017-09-06 14:22] anakin1028 commented on #728
@usama7628674 thanks. I guess the target OS doesn't install dnsmasq.
I think we need to add warning message when `dnsmasq` fork fail.

[2017-09-06 14:27] RandyChange commented on #652
Wish I had the WN722H-V1 and not the V2.. (fail, yes..)
I currently have the AWUS051NH V2.

I guess I said it wrong before, but I was trying to ask if you know any compatible one which does not have a cord like our AWUS*.. has. Just one which looks like the WN722N without a cord. Hope that makes sense haha.. I do not seem to be able to find one myself

[2017-09-06 14:31] RandyChange commented on #652
ah..
https://hakshop.com/collections/wireless-gear/products/ralink-rt3070-usb-wifi-adapter

This one seems to be fine actually, right?, so I am sorry for all the fuss haha.

[2017-09-06 14:46] anakin1028 commented on #652
I haven't used that one for doing test so I cannot guarantee it has full compatibility for our program.

[2017-09-06 14:54] usama7628674 commented on #728
Yes sure.Maybe target doesn't install `net-tools` as was the issue mentioned by user
in #720

[2017-09-06 15:14] RandyChange commented on #652
Ah, thought it was the chipset that decided it, and not the software?

[2017-09-06 15:18] Haidermahdi commented on #725
Sorry my friend ..i put the description but after 2 minutes i fix it so i delete the description. I'm new in github I don't have idea how to close my question..sorry again

Sent from my iPhone

[2017-09-06 15:21] anakin1028 commented on #725
Ok, no worries : ) Next time you can add comment and close it : )

[2017-09-06 15:29] anakin1028 commented on #652
Yes. Chipset will define it, but you also need to concern about the driver for this chipset.

For example, from description in the link you provide it supports both monitor and ap mode but can it support operation for ap and monitor together?

Wifiphisher needs the driver has a good compatibility for the kernel module `nl80211` since it uses the python module `pyric` which is highly dependent on t

[2017-09-06 15:36] RandyChange commented on #652
Haha damn, did not know all of that.. It is being sold for the whole purpose of penetration testing so I think it may support it, but no idea..

If you have time and want, can you then explain me how I find out if it is able to do that(all at once if I understood correctly).? do I have to ask the manufacturer/seller or..?

Also wondering about it with my AWUS051NH V2 hehe

[2017-09-06 15:56] anakin1028 commented on #652
I guess AWUS051NH should work fine.
You can have a look at the following link:
[iw introduction](https://wireless.wiki.kernel.org/en/users/documentation/iw)

This link will introduce important commands for `iw` and `pyric` is designed based on the philosophy of `iw`.

If you want to test if the adaptor is compatible you can manually use the following commands:
[code]

Since wifiphisher just mimics

[2017-09-06 16:16] anakin1028 commented on #652
Briefly you can ask vendor whether the Card can use one interface to lunch soft AP while the other virtual interface to do injection and receive layer2 frames in monitor mode (tx/rx) simultaneously.

[2017-09-06 19:00] sophron commented on #727
Hi @eitanhindi,

There is no trivial way to bypass HSTS currently. Furthermore, we don't get to choose the URL that the victim device will hit (in this case, http://www.google.com).

This default attack mode is mostly intended against captive portal mechanisms. If you are targeting individuals it's probably more effective to provide the victims with Internet (using the `-iI` option) and then 1) wa

[2017-09-06 20:56] m0rpheus1337 opened #729 "How to redirect victims on portal like Wifiphisher?"
Hi everybody,

It's not an issue. I'm writing my own script to create fake AP (even if wifiphisher is a better script). I want to redirect victim on a server. First, I used "iptables", but it's not a good way because the victim must open a browser and a page to be redirected.

With wifiphisher, we are redirected automatically to the portal even if the browser is closed. I want to do that on my pro

[2017-09-06 21:46] RandyChange commented on #652
Thank you, I will take a look at it soon.

[2017-09-07 10:44] anakin1028 commented on #729
@m0rpheus1337 thanks for posting issue on the github : ) @sophron has answered it in the thread #618.

You can have a look there first and there are more discussion in the thread #524.
I will close this issue as it's duplicated with #524. If you have more questions we can discuss in #524 :)

[2017-09-07 10:44] #729 closed

[2017-09-07 10:51] anakin1028 commented on #524
@m0rpheus1337

The following is my comprehension for the mechanism of triggering CaptivePortal in Wifiphisher:

Wifiphisher will use `iptable` to redirect the `DNS port 53/tcp/udp` to dnsmasq and redirect the http requests to the tornado server.

For the Android devices it will expect that the response for the certain http request (i.e. `http://clients3.google.com/generate_204`) should have status

[2017-09-07 19:05] thedeadseth opened #731 "runs smooth but doesnt create the ap."
**Version**: 1.3GIT

wifiphisher does its thing but actually creating the rogue ap.

[2017-09-07 19:18] sysroot255 commented on #728
Can you try this 👍
before : nmcli n off
run wifiphisher and try

when you have finish : nmcli n on and restart network-manager services.

[2017-09-07 23:55] anakin1028 commented on #731
Do you mean the rogue ap doesn't lunch and wifiphisher closes?

* Can you post the output of  `which hostapd` and `which dnsmasq`

* Have you run `python setup.py install` ?

[2017-09-08 02:36] thedeadseth commented on #731
nonono, wifiphisher doesnt auto close. it starts to deauth clients (wel i assume so, clients start populatin the client area)
it does its thin, except rebtoadcasting the ap
and yess sir i have --install'd

[2017-09-08 03:04] anakin1028 commented on #731
So do you mean wifiphisher starts running but the fake access point doesn't lunch?
* Q1 : how many cards do you have?

* Q2 When the tool is running and enters the main terminal of wifiphisher can you post the output `iw dev` and `iwconfig` for us?

Also output the `stdout` of the tool  in this thread.

[2017-09-08 05:45] anakin1028 commented on #731
@thedeadseth I have updated my above comment.
It would be helpful if you can help us clarify the above  questions.
Thanks.

[2017-09-08 16:21] anakin1028 commented on #731
I test wifiphisher with the following three adatpers with single card mode and run the command `python bin/wifiphisher`.  I'm not so sure if the following information is relevant to your problem, but indeed the `case 3` has the same phenomenon you have met.

* 1: TL-WN722N-V1 : runs well and can use this one card to lunch Access Point and do the jamming
* 2: ALFA-AWUS036NHA : runs well and can use

[2017-09-08 17:45] thedeadseth commented on #731
i am running two ALFA USB WiFi AWUS036NEH
so both monitor and injection are possible.
and may i say, your response times are amazing

[2017-09-09 01:53] anakin1028 commented on #731
hmm. The only thing I can think is the `hostapd nl80211` driver initialization fail so the hostapd process actually doesn't lunch finally.

Some issues confirm my guesses:
* 1 [mtimAP](https://github.com/xdavidhu/mitmAP/issues/16)
* 2 #138 for the wifiphisher

I think you should try to lunch hostapd manaully by the `AWUS036NEH` adaptor and see if this works on your system.

You can follow the belo

[2017-09-09 02:21] jamalhck opened #732 "pyric.error: [Errno 5] Input/output error"
[code]

The wifi cards cannot be used after oppening wifiphisher, have to restart the laptop to make it work.

iwconfig:

root@lap:~/Downloads/wifiphisher-1.3/wifiphisher-1.3# iwconfig
usb0      no wireless extensions.

eth0      no wireless extensions.

wlan0mon  IEEE 802.11  ESSID:off/any
          Mode:Managed  Access Point: Not-Associated   Tx-Power=20 dBm
          Retry short limit:7   RTS t

[2017-09-09 02:32] anakin1028 commented on #732
* Q1: What are the wireless cards do you use?
* Q2: from the log: `self.network_manager.up_ifaces([ap_iface, mon_iface])` it seems the version is outdated. Can you pull the latest commits from github and try again? you can do by the following:
[code]
And try to run `wifiphisher` again by `python bin/wifiphisher`

[2017-09-09 02:51] HorneyAttorney opened #733 "Logging feature needed. + another simple idea"
This tool needs Logging feature..

When a phishing AP is up and a victim joins, so many GET requested are processed, some apps tend to run a connection automatically when the phone is connected to wifi or mobile data is enabled.

Since wifiphisher terminal shows only 4 lines, they disappear very fast, these lines might include captured credentials.
Now, imagine three victims trying to connect, the

[2017-09-09 03:01] anakin1028 commented on #733
Yes. we're planning to implement the logging feature and there are some issues (i.e. like #704) have pointed out that.

About the second idea: wifiphisher can do data hijacking by providing the option : `-iI eth0` or `-iI wlan2` to bridge the internet connection. The whole command would something like the following:
`wifiphisher -aI wlan0 -jI wlan1 -iI wlan2`

[2017-09-09 03:02] anakin1028 commented on #733
I'll close this issue since it's duplicated with #704. Feel free to open new issues if you have other problems for the tool : )

[2017-09-09 03:02] #733 closed

[2017-09-09 03:28] sho-luv commented on #731
The tool captures creds by pretending to ask for WPA creds. Can you add WPA enterprise capture as well. Just another fake wifi connection.

[2017-09-09 06:14] tomtom1021 commented on #592
Having an identical problem here after using all suggested fixes with no luck. newest github version installed

[2017-09-09 06:28] tomtom1021 commented on #592
using alfa awus036nh and nha as my nics

[2017-09-09 06:52] anakin1028 commented on #592
Do the following operations work for you?
[code]

[2017-09-09 10:20] eitanhindi commented on #727
ok, got u.
good tip!
thank u

[2017-09-09 12:53] SimpleHero commented on #728
@usama7628674 I'm going to try now the commands you said.

@anakin1028 i'm using kali linux 2017.1 x64. Using live persistence method through bootable USB.

[2017-09-09 13:54] SimpleHero commented on #728
It finally worked. Thanks @usama7628674. All I need now is another adapter for deauth. Any idea how can i find a adapter that is capable of monitor mode, injection and this netlink? Only if you know guys.

[2017-09-09 14:09] usama7628674 commented on #728
Glad you solved the issue.For adapter I recommend you to get Alfa AWUS036NHA.I hope this adater won't disappoint you.

[2017-09-09 14:09] anakin1028 commented on #728
Cool. great to hear about that and thanks for @usama7628674 too : )

What card do you use now? If your card can run `python bin/wifiphisher` successfully from the latest commit on the github then jamming and fakeAP can run on you card now.

#652 lists two cards (ALFA-AWUS036NHA and TPLINK-WN722N-V1) that I have tested and can be used as monitor and AP.

[2017-09-09 14:11] usama7628674 commented on #728
and also tp-link wn722n-v1 the @anakin1028 mentioned above.

[2017-09-09 14:16] usama7628674 commented on #731
Use eaphammer script for Wpa-Enterprise

[2017-09-09 15:12] minanagehsalalma commented on #495
@alternatexp   @anakin1028  @sophron  @laozi999 i had noticed  that when i run mdk3 manually it's slow and weak effect and takes time to  start Deauthing aps and some times it doesn't start but when i run it by linset or fluxion  it becomes faster and start immediately and in a more effective way ... so do you guys have any ideas ?

[2017-09-09 15:23] minanagehsalalma opened #735 "handshake capture does not contain valid handshake ."
make aircrack-ng verfiy the handshake  because it shows `handshake capture does not contain valid handshake`

the fix in fluxion be like
![image](https://user-images.githubusercontent.com/20546638/30241428-74be0fca-9583-11e7-9067-735005c79007.png)

[2017-09-09 15:34] anakin1028 commented on #735
I'm not sure I have captured what you mean. Do you mean our tool says that the capture you take doesn't capture fourway-handshake but other tools find that?

From the picture you post fluxion also says `Corrupted handshake`?

Can you post the `pcap` file you have captured in this thread?

[2017-09-09 15:35] anakin1028 commented on #728
@SimpleHero the issue has been solved and feel free to open new issue if you find the new problem.

[2017-09-09 15:35] #728 closed

[2017-09-09 15:36] minanagehsalalma commented on #709
@sophron  @anakin1028 no this not what i had meant .. what i mean is 1- we auto generate a random password 2- the user type the password into the  wpa protected wifi not into the phishing page 3- we receive the entered  password and log it into a text file 4- we test the received password with aircrack-ng on an wpa cracker on the provided handshake 5- if the password is correct  close every thing

[2017-09-09 15:44] anakin1028 commented on #495
@minanagehsalalma I have implemented this feature in the branch `channel_monitor`. If you have time maybe you can pull the commit on that branch and test with `./wifiphisher -cM`.

About the question: The mdk3 is slow if you manually lunch it.
I guess since mdk3 has to do frequency hopping to find the ap you want to attack and that will take time. I haven't used mdk3 by myself and maybe others can

[2017-09-09 18:50] jamalhck commented on #732
A1:

root@DESKTOP-S9M6GJH:~/Downloads/wifiphisher-1.3/wifiphisher-1.3# airmon-ng

PHY	Interface	Driver		Chipset

phy1	wlan0		rt2800pci	Ralink corp. RT3290 Wireless 802.11n 1T/1R PCIe
phy0	wlan1		mt7601u		Ralink Technology, Corp. MT7601U

Both of my cards are capable of monitor mode, and injection.
wlan1 is a small usb dongle. wlan0 built in laptop

A2:

Can you please specify a bit more on how to

[2017-09-09 21:59] tomtom1021 commented on #592
both commands are functional on both nics

[2017-09-10 01:28] SimpleHero commented on #728
@anakin1028 thanks a lot.

I have search TP-LINK WN722N. They said that v1 is capable of monitor mode while v2 is not.

[2017-09-10 02:04] usama7628674 commented on #732
Try cloning the script again using the given commands

`git clone https://github.com/wifiphisher/wifiphisher.git`

`cd wifiphisher`

`sudo python setup.py install`

[2017-09-10 03:21] anakin1028 commented on #709
I don't understand step1 and step2.

* For step1:
What's the reason you want to create a random generated password?

* For step2:
If we want to let victims enter password then the victims must first associated to our fakeAP and enter it on the phishing page, right? We currently implement this and we'll check if the users enter the correct password by pure python program.

[2017-09-10 03:23] anakin1028 commented on #728
Yes. Correct. V2 uses Realtek's chipset and cannot support monitor mode.

[2017-09-10 06:08] usama7628674 commented on #735
He's saying that add a feature that checks for handshake whether it's valid or not like in Fluxion.

[2017-09-10 06:11] usama7628674 commented on #735
Fluxion says `corrupted handshake` when Handshake becomes corrupted.

[2017-09-10 06:11] anakin1028 commented on #735
When provide the `-hC` option for the `pcap` if victims enter the wrong pparaphrase we'll let the victims enter the paraphrase again.

The command would like:
`wifiphisher -hC xx.pcap` where xx.pcap stores the fourway handshake for the target access point.

[2017-09-10 06:13] anakin1028 commented on #735
So this means the handshake is not valid right?

[2017-09-10 06:13] usama7628674 commented on #735
Yes,absolutely.

[2017-09-10 06:18] anakin1028 commented on #735
That's what I don't get it... Our tool behaves the same as fluxion. From the description of the post we also output this handshake as invalid handshake?

[2017-09-10 06:24] usama7628674 commented on #735
I think he's using old fluxion

[2017-09-10 06:29] usama7628674 commented on #735
Maybe he's using fluxion handshake file with wifiphisher cuz sometimes handshake capture from fluxion
becomes corrupted.

[2017-09-10 06:36] anakin1028 commented on #735
@usama7628674 thanks : )

I'm not aware the behavior of the fluxion but the following is functionality of wifiphisher for `-hC` option:
`-hC xx.pcap` the `xx.pcap` must be prepared before running wifiphisher and after running wifiphisher wifiphisher will do the sanity check for this pcap file.

If the pcap file doesn't contain any fourway handshake the program will just exit and output that the ha

[2017-09-10 06:44] usama7628674 commented on #735
I think he didn't capture handshake and hoping that wifiphisher will capture it for him.That's what is happening to him.Wifiphisher requires handshake file before running it.

[2017-09-10 12:47] EOS123 opened #736 "AWUS036ACH Adapter"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting.

**Version**: Use `git show | grep commit` command and paste here the output.

**Description**: Give a more analytical description here. The output of the `iw list` and `iwconfig` commands may be helpful.

**Script output**: Paste the outpu

[2017-09-10 13:43] minanagehsalalma commented on #579
@zxcvbnmlkjhgfd  i am with you in just one point  cloning the router mac address to make it have the same vendor  ![image](https://user-images.githubusercontent.com/20546638/30248990-28b25622-9632-11e7-874f-7f0bfc05922f.png)
but not changing the last character  as @vay3t   said because if the security type is the same the wifi will be
Merged
![unticxctled](https://user-images.githubusercontent.com

[2017-09-10 13:59] EOS123 commented on #652
Does AWUS036ACH need two identical AWUS036ACH in the Wifiphisher suite?

[2017-09-10 14:02] minanagehsalalma commented on #579
@zxcvbnmlkjhgfd  @blackHatMonkey @laozi999  i think   --mac-ap-interface option fix the first problem

[2017-09-10 14:07] blackHatMonkey commented on #579
@minanagehsalalma

I think in the past it created some problems for the users and that's why it was changed to `10.0.0.1`

[2017-09-10 14:35] anakin1028 commented on #736
@EOS123 I'm not aware of this adaptor. If this adaptor can support both `monitor` and `AP` then you only need this one to run `wifiphisher`.

[2017-09-10 14:37] anakin1028 commented on #720
@rlstric1 the original problem for this issue is sloved by install `dnsmasq` so I'll close this issue.
If you have more questions or problems for the program feel free to open the new issues : )

[2017-09-10 14:37] #720 closed

[2017-09-10 14:56] anakin1028 commented on #732
phy0	wlan1	mt7601u	Ralink Technology, Corp. MT7601U

I haven't test our program with those two adaptors. I think you can try if the following commands and see if there is any workable for you:
[code]

And you can follow with the commands that @usama7628674 provides and see if the above commands are workable for you or not : )

[2017-09-10 18:45] RandyChange commented on #652
@anakin1028
Hello buddy
I finally got to try and test it but ran into a few problems: http://prntscr.com/gjhkpu

I open my VM, went into the WiFi Phisher folder and dit a "git pull *.git" followed by the python setup stuff as written in your README - that is how to update it, right?
Then I ran "wifiphisher" and got the following output as seen in the screenshot linked to above.

I have connected m

[2017-09-10 19:02] EOS123 commented on #652
HiWhat two wireless adapters do you use? Can you tell me? I am still choosing the adapter, I don't know which is the best.

    Thomas <notifications@github.com> 于 2017年9月11日, 星期一, 上午 2:45 写道：

 @anakin1028
Hello buddy
I finally got to try and test it but ran into a few problems: http://prntscr.com/gjhkpuI open my VM, went into the WiFi Phisher folder and dit a "git pull *.git" followed by the pyt

[2017-09-10 19:09] blackHatMonkey commented on #652
@RandyChange
Can you do a fresh `git clone` and see you encounter the same problem?

[2017-09-10 19:10] blackHatMonkey commented on #652
@EOS123 You can checkout #558 to see a list of adapters that people have used successfully 😄 .

[2017-09-10 19:20] RandyChange commented on #652
@blackHatMonkey
removed wifiphisher folder > git clone https://github.com/wifiphisher/wifiphisher.git > python setup.py install > wifiphisher > http://prntscr.com/gji27v

So unfortunately about the same :/

[2017-09-10 19:43] jamalhck commented on #732
@usama7628674 I tried that, but it's still the same.

@anakin1028 Tried all 4 commands, and got this same error on all 4:

`root@DESKTOP-S9M6GJH:~/wifiphisher# python ./bin/wifiphisher[*] Starting Wifiphisher 1.3GIT ( https://wifiphisher.org ) at 2017-09-10 19:55
[+] Selecting wlan2 interface for the deauthentication attack
[+] Selecting wlan1 interface for creating the rogue Access Point
Tracebac

[2017-09-10 19:43] EOS123 commented on #652
Please ask your questions on the page, which can be solved generally.How to Hack WPA/WPA2 Wi-Fi | No WPS | No BruteForce | Fluxion Tool | Extreme Hacking

|
|   |
How to Hack WPA/WPA2 Wi-Fi | No WPS | No BruteForce | Fluxion Tool | Extreme Hacking
 Guys I forked the fluxion link to my github account only for you guys as the original is down now , I doesn'...  |  |

  |

    Thomas <notifications@g

[2017-09-10 19:56] jamalhck commented on #732
The deauthentication does not work with that command, just realized. Any alternatives? Thanks.

[2017-09-10 20:57] RandyChange commented on #652
@blackHatMonkey
I btw have tried to updating my system and such "normal stuff", with no luck. :/

[2017-09-10 22:41] blackHatMonkey commented on #727
@eitanhindi I'm closing this issue. Feel free to open it again if you want to.

[2017-09-10 22:41] #727 closed

[2017-09-10 23:52] anakin1028 commented on #652
I'm not sure your adaptor can set mac address. You can use with `-iNM` option and try again.
Like : `wifiphisher -iNM` to not to change MAC address

[2017-09-10 23:56] anakin1028 commented on #732
Can you test the above commands with `-iNM`?

[2017-09-10 23:57] anakin1028 commented on #732
Looks like your adaptor cannot set mac address

[2017-09-11 00:20] mpkosewski commented on #652
Damn this thread got huge haha

But as far as RandyChange's issue, I not sure why your mac address is set as it is because your first 6 character's "00:00:00" specifically are what's invalid. The first 6 digits of any Mac address are vendor specific.

Since you are running kali, you could try to use "macchanger"  to change the mac address to a valid one. It's pretty simple to use.

[2017-09-11 00:24] mpkosewski commented on #652
Also instead of asking the vendor directly (assuming you already bought the adapter) the "iw info" cmd will tell you specifically what modes your wifi adapters support

[2017-09-11 00:54] anakin1028 commented on #652
@mpkosewski our program will now default spoof the MAC address with `00:00:00` as the OUI and randomize the remaining three bytes.

[2017-09-11 07:14] RandyChange commented on #652
@mpkosewski
I will try it when I get home from studies, thank you. :)

@anakin1028
But from what I understand, his solution will not change anything from what you are saying? Do you have anything else I can try when I get to that point?

[2017-09-11 07:29] anakin1028 commented on #652
@RandyChange. From the picture you are posting:
I see the Exception Error message:
[code]

This MAC address is default spoofing by `wifiphisher` and our program try to change you permanent MAC address to the one you see : `00:00:00:d2:7d:3c`. It looks like this MAC address is failed to spoof and our program raise Exception.

That's why I suggest you maybe you can disable the spoofing MAC address f

[2017-09-11 07:32] RandyChange commented on #652
@anakin1028
Ah, missed your first reply in all the hassle hehe!
I will try that when home and report back :)

[2017-09-11 07:33] anakin1028 commented on #652
Sure. Thanks : )

[2017-09-11 12:34] RandyChange commented on #652
@anakin1028
Heya again - Just tested it.. Screenshot: http://prntscr.com/gjry6l

I did as you said and it actually started up and began to find the hotspots. I choose mine and got 4 options and normally and tried two of them, as you can see in the above screenshot.
However, when choosing one of them, it just went back to the normal CMD window, waited 5 seconds or so and then just "ended" as you ag

[2017-09-11 12:48] anakin1028 commented on #652
Can you post the output of `which dnsmasq`? If there is nothing you can have a look for #720.

Yeah. It is better to spoof the MAC address as for the anonymous issue.
I'm not aware about there is something wrong with the `mac-spoofing` feature since three of my adaptors are capable to change mac-address by this feature...

Can you manually use `macchanger` to test if your adaptor can change mac-ad

[2017-09-11 14:31] RandyChange commented on #652
@anakin1028
Is this the information you asked for ? : http://prntscr.com/gjto5m

Also, seems like I am able to use the macchanger, so that is a bit weird.. :/
: http://prntscr.com/gjtq0d

[2017-09-11 14:44] RandyChange commented on #652
@anakin1028
Just tried running wifiphisher again, and got this error now: http://prntscr.com/gjtvvn

Guess this is after I have manually changed the MAC-address.. (Here I still got to the point of choosing which hotspot to attack and which attack to use - and then it just closed down again and showed the output in the screenshot)

[2017-09-11 14:49] anakin1028 commented on #652
This is just what I guess: I think your adaptor cannot set the mac address via `nl80211` interface. Since the module `pyric` relies on `nl80211` to send the command to the `driver` of the adaptor.

I think we should solve the problem why `wifiphisher` exits abruptly...

[2017-09-11 14:52] anakin1028 commented on #652
@RandyChange can you checkout the branch `warnmsg_dnsmasq_hostapd` and try to run again with the `-iNM` case. In that branch I print the warning message when the `hostapd` or `dnsmasq` is failed to run.

[2017-09-11 15:00] RandyChange commented on #652
@anakin1028
You are putting my "skills" to the test regarding git haha..

Just to be sure I am doing what you want me to..
Remove current wifiphisher folder -> git clone https://github.com/wifiphisher/wifiphisher.git -b warnmsg_dnsmasq_hostapd -> sudo python setup.py install -> wifiphisher -INM...

Would this be okay?? (Never cloned a specific branch down before) :)

[2017-09-11 15:05] anakin1028 commented on #652
you can just do the following:
[code]

Then you are switching to that branch. you don't need to do `python setup.py install` again.

after testing done you can switch back to master by:
`git checkout master`

[2017-09-11 15:08] RandyChange commented on #652
@anakin1028
http://prntscr.com/gjua18

Wish I new a bit more about this, so this wasn't the current problem haha.

[2017-09-11 15:11] anakin1028 commented on #652
sorry I have typo:
`git checkout -b warnmsg_dnsmasq_hostapd origin/warnmsg_dnsmasq_hostapd`

[2017-09-11 15:17] RandyChange commented on #652
@anakin1028
Np hehe, that seemed to switch it!

Here is the new attemp: http://prntscr.com/gjud65

Btw, I do not need to do anything about my connection, right??
When launching wifiphisher -iNM I have a "wired" connection, and ONE connected wifi adapter. Just some info if that maybe has something to do with anything...

I also see it selecting for for wlan0 and wlan1. I understand it being able to

[2017-09-11 15:23] anakin1028 commented on #652
Have you changed your adaptor's mac address by `macchanger`? Can you shut down the machine and don't change the mac address and try again.

Yes, I know you just have one adaptor and the `wlan1` is created by the program.

[2017-09-11 15:30] RandyChange commented on #652
I did change it back, but I just initialized a update or some stuff, so it will reboot when done. After this is done I'll try again.

[2017-09-11 15:34] RandyChange commented on #652
@anakin1028
Ah, that went a bit faster than expected..
http://prntscr.com/gjumnw

[2017-09-11 15:42] anakin1028 commented on #652
can you try these commands as mentioned in #728 I'm thinking if there is some dependency you are not able to resolve.

[code]
and reinstall wifiphisher.

[2017-09-11 15:48] RandyChange commented on #652
Master branch or?

[2017-09-11 15:49] anakin1028 commented on #652
you can switch back to master.

[2017-09-11 15:52] RandyChange commented on #652
Okay.
Only "apt-get install dnsmasq" installed anything new.
But with no difference to the output unfortunately.. :/ : http://prntscr.com/gjuv4q

[2017-09-11 15:54] anakin1028 commented on #652
Okay. I think it is the problem of `hostapd` :
Can you manually lunch hostapd? you can follow the instruction in #731

[2017-09-11 16:26] RandyChange commented on #652
@anakin1028
Uhmm hehe... http://prntscr.com/gjvakn
Do I have to find some other hostapd.conf on the system and replace the file or??

[2017-09-11 16:40] face0b1101 commented on #652
@anakin1028 Sorry to join in here, but I've been following the thread and have almost exactly the same errors as @RandyChange.

@RandyChange you've got to run hostapd on the conf file's location. So in your case it's probably `hostapd ~/Desktop/hostapd.conf`

Output of hostapd:

`root@######:~/github/wifiphisher# hostapd hostapd.conf`
`Configuration file: hostapd.conf`
`Could not read interface wl

[2017-09-11 16:41] RandyChange commented on #652
I have found a folder name hostapd etc/hostapd with a single file named "ifupdown.sh"

[2017-09-11 16:43] RandyChange commented on #652
This is the output from doing what face said:
http://prntscr.com/gjvist

[2017-09-11 17:13] face0b1101 commented on #652
If I change my hostapd.conf to:

[code]

Then I can create an AP:

[code]

So it seems that if I specify the driver to use, nl80211, and give the AP an SSID then all is good...
Doesn't help me run WiFiPhisher any better though

[2017-09-11 17:41] RandyChange commented on #652
@face0b1101
I do not know much about this, so guess we'll have to wait for @anakin1028 to come up with something haha..

[2017-09-11 18:09] blackHatMonkey commented on #652
@RandyChange Since this issue is not related to thread at all, can you open a new issue and post the errors in there please?

[2017-09-11 18:32] RandyChange commented on #652
@blackHatMonkey
Yeah I can do that. Would it be okay if I just refer to this thread and tell the lines which has to do with it? (since we already have tried some stuff and such?)

[2017-09-11 21:13] sophron commented on #579
You can currently customize all IP addressing by editing the `wifiphisher/constants.py` file.

[2017-09-11 21:54] RandyChange opened #737 "Couple of issues, including closing down without doing anything and with the script changing mac-address..."
By request from @blackHatMonkey, I am opening this issue specific to and for what is going on for me, but also @face0b1101 which probably also means even more people.

A lot of communication and troubleshooting has already been done with @anakin1028 here from this comment and downwards:
https://github.com/wifiphisher/wifiphisher/issues/652#issuecomment-328363078

**Version**:
![r](https://user-ima

[2017-09-12 00:59] anakin1028 commented on #737
@face0b1101 and @RandyChange, sorry the `driver=nl80211` line is missing in the link I provide. The way provided by @face0b1101 is correct.

I have read the descriptions of @face0b1101 and that means the adaptor can support hostapd. Our next step should clarify whether your card can support one virtual interface to be monitor mode while the other one to lunch `hostapd` under the same phy interface

[2017-09-12 15:39] FrZ-BR opened #738 "hostapd failed to lunch - Kali"
Hello, im using the lastest version of Kali and the recommended version of hostapd but never works.

any ideas where i can look for?

my output^:

[code]

Edited by @blackhatmonkey: fix format

[2017-09-12 18:54] sophron opened #739 "Show the phishing page at an unsuspecting time"
When using the Internet mode, we are providing the victims with Internet access. We should also have an option to show a phishing page at an unsuspecting time.

For example, I want to use DEAUTH frames to disconnect the victim clients from their WLAN and then lunch the KARMA attack (or another technique) to achieve automatic association. At this point some victims are not aware that their device i

[2017-09-12 19:15] sophron opened #740 "Integration with BeEF"
Our custom phishing pages are special because they can bridge information from the air (see beacon frames) and present a friendly user interface to the victim-user. For example, we present a firmware-upgrade scenario based on the target's router vendor or we mimic the Windows network manager of the victim and show the true nearby WLANs.

However, for all other cases, the BeEF framework supports ma

[2017-09-12 19:28] sophron opened #741 "Custom DNS records"
We are currently redirecting all DNS queries to our local DNS server that resolves everything to localhost. We need to give the user the flexibility to respond differently to different DNS queries.

For example, as user may want to provide Internet to the victim devices and forward the DNS queries accordingly for all pages except from `targetinfrastructure.com` where he wants to redirect to localh

[2017-09-12 19:29] sophron commented on #128
We now have roguehostapd for this kind of attacks.

[2017-09-12 19:30] #128 closed

[2017-09-12 19:55] sophron opened #742 "Sniff for credentials when using Internet mode"
When providing the victims with Internet access, one may use Wireshark or tcpdump or another protocol analyzer to sniff the traffic. We can however automate the process by looking for interesting traffic, like <a href="https://github.com/DanMcInerney/net-creds">net-creds</a> does.

One option here is to implement this as an extension. That means that we will listen to our monitor virtual interface

[2017-09-13 00:46] anakin1028 commented on #739
Is this same as #699? When we provide internet connection we should also lunch the tornado web server, right?

[2017-09-13 00:48] anakin1028 commented on #742
I think we should focus on the interface of Access Point. The main reason is there are too many frames on the air we may not efficiency enough to sniff the one we want.

[2017-09-13 13:16] anakin1028 commented on #738
How many adaptors do you have?
If you only have one can you try to follow the instructions in #737?

The `hostapd.conf` can follow the one in #652.

[2017-09-13 13:31] alfamale1 commented on #738
Actually I have same fail and I have two adaptors one tl-wn422g and second build in notebook

[2017-09-13 13:49] sophron commented on #739
In #699 what is described is showing the captive portal and then providing the victim with Internet access to reduce suspicion. Here I propose the opposite. Provide the victim users with Internet, then throw the phishing page.

The first idea works good for scenarios that mimic a captive portal mechanism while the second can be used in scenarios like `wifi_connect`.

[2017-09-13 14:19] sophron commented on #741
Yes, definitely we can. The problem with dnsmasq though is that we are currently parsing output from a command line tool. Our parser may fail in a new dnsmasq release or behave differently across different versions of dnsmasq in different distributions.

Having all the DNS functionality included as a Python module, will give us more freedom and we can also stop worrying about one more external dep

[2017-09-13 15:15] anakin1028 commented on #738
@alfamale1 I guess maybe one of your adaptor can not support both AP and Monitor mode.
Can you help dump the information of your two adaptors in this thread:
[code]

[2017-09-13 15:15] danieleds commented on #738
same here, with AR9271

[2017-09-13 15:22] danieleds commented on #738
@anakin1028

[code]

[2017-09-13 15:28] anakin1028 commented on #738
@danieleds is tool ok for this command?
`wifiphisher -aI wlan1 -nJ`

[2017-09-13 15:35] danieleds commented on #738
@anakin1028 yep, that works

[2017-09-13 15:41] danieleds commented on #738
@anakin1028 if it's useful, the same issue happens in vmware using the AR9271 only (it was phy1 here).

[2017-09-13 15:43] anakin1028 commented on #738
It looks like the `wlan1` adaptor has no problem to lunch access point.

when you use `python bin/wifiphisher` does tool select `wlan0` as jamming interface and `wlan1` as AP interface?
Can you try this command too : `wifiphisher -aI wlan1 -jI wlan0`. also check if there is any error in the kernel log by observing:
`tail -f /var/log/kern.log`

[2017-09-13 15:51] danieleds commented on #738
By default yes, it selects wlan0 for deauth and wlan1 for AP.

`wifiphisher -aI wlan1 -jI wlan0` dies the same way

Log looks clean:

[code]

[2017-09-13 15:55] anakin1028 commented on #738
I'm not so sure why the interface `wlan0` will interfere with `wlan1`
If you want to use jamming feature you can delete the virtual interface `wlan0` (by `iw dev wlan0 del`) and try to lunch `wifiphisher` again by (`python bin/wifiphisher`).

[2017-09-13 15:59] danieleds commented on #738
I tried `iw dev wlan0 del` followed by `python bin/wifiphisher`, but now it just uses wlan1 for deauthentication and a new wlan2 for AP. And dies the same way.

Should I try reverting to some old commit? Or maybe upgrade/downgrade some dependencies?

[2017-09-13 16:12] anakin1028 commented on #738
Can you try the following commands and see if hostapd can start? We may check if hostapd failed to run due to another interface is sniffing.
Here we use `wlan1` to lunch hostapd. Maybe you need to reboot the VM to let the `wlan0` back.
[code]

[2017-09-13 16:25] danieleds commented on #738
Here it is: it fails to start

[code]

hostapd.conf:
[code]

[2017-09-13 16:26] anakin1028 commented on #738
If you don't sniff I guess the hostapd should be ok to run, right?

[2017-09-13 16:28] danieleds commented on #738
hmm, no. I closed wireshark, repeated the ifconfig/iwconfig commands, then ran hostapd again but it fails with the same error.

[2017-09-13 16:35] anakin1028 commented on #738
Can you modify the `/etc/NetworkManager/NetworkManager.conf` to block the NetoworkManager control the adaptor. Like the following link:
https://askubuntu.com/questions/21914/how-can-i-make-networkmanager-ignore-my-wireless-card

[2017-09-13 16:37] anakin1028 commented on #738
Add keyfile section for adaptor `wlan0` and `wlan1` and try to run the tool again.
[code]

[2017-09-13 16:45] danieleds commented on #738
Nothing: hostapd doesn't start, same error. Also wifiphisher exits with the same error.

[2017-09-13 16:53] anakin1028 commented on #738
I think network-manager is controlling your adaptor so after running `nmcli radio wifi off` the network-manager is off.

After these steps can you successfully run `wifiphisher`?

[2017-09-13 16:53] danieleds commented on #738
Well, hostapd starts but wifiphisher crashes saying "Operation not possible due to RF-kill"

[2017-09-13 16:58] anakin1028 commented on #738
Do you fill your permanent-mac address in the `keyfile` section?

[2017-09-13 17:00] danieleds commented on #738
yes, I added the mac addresses of both wlan0 and wlan1 with the format specified here: https://wiki.gnome.org/Projects/NetworkManager/SystemSettings/jessie

[2017-09-13 17:01] anakin1028 commented on #738
from the description I think the `keyfile` section should be workable since after adding this section NetworkManager should not control the specified `wlan interface` anymore.

[2017-09-13 17:02] danieleds commented on #738
no, my keyfile section only contains the `unmanaged-devices` row with both the addresses of wlan0 and wlan1.

Should I add a permanent-mac entry?

[2017-09-13 17:05] anakin1028 commented on #738
I mean the mac0 and mac1 in the following line should be the permanent mac address and not being spoofed.
`unmanaged-devices=mac:mac0;mac:mac1`

[2017-09-13 17:12] danieleds commented on #738
Oh ok, yes, they're the permanent addresses.

[2017-09-13 17:15] danieleds commented on #738
By the way you're right, stopping the NetworkManager service makes wifiphisher start correctly

[2017-09-13 17:16] anakin1028 commented on #738
yeah, good to hear about that.
do you stop by `service network-manager stop` ?
Our program will kill the `network-manager` process, and I wonder if the process starts again so that the hostapd is failed to run.

[2017-09-13 17:17] danieleds commented on #738
No, I did a `service NetworkManager stop`

[2017-09-13 17:18] anakin1028 commented on #738
@danieleds thanks : ) Others may be benefit from this.

[2017-09-13 18:04] MattIraq opened #743 "Duplicate of #745"
I am using last version kali linux with Wifiphisher version 1.3 and alfa AWUS051NH v.2

when I start the Wifiphisher -nJ  I got the gray page for the networks information but I can not find any network even my router network!!

Can you help me with that problem !!

![screen shot 2017-09-13 at 7 50 19 pm](https://user-images.githubusercontent.com/17963460/30392924-9a857f2a-98be-11e7-81af-6c78a8bb20

[2017-09-13 18:28] alfamale1 commented on #738
@anakin1028
service NetworkManager stop helped nice to have you guys

[2017-09-13 19:31] FrZ-BR commented on #738
@danieleds Thank you solved my problem too

**service NetworkManager stop**

[2017-09-13 19:39] sophron commented on #738
@anakin1028 We should consider stopping NM manually if we can't kill the proc, like airmon-ng does: https://github.com/aircrack-ng/aircrack-ng/blob/master/scripts/airmon-ng#L1059

[2017-09-13 20:35] DarkReef opened #744 "Static path for template configuration and html file"
I raise this issue because `PhishingTemplate` have a static path for configuration and html files which must be at root of the template directory. Can we rework this class into more dynamic structure?

[2017-09-13 20:40] sophron commented on #744
Hi @DarkReef,

What kind of dynamic structure do you have in mind? I explained my opinion on this on #712.

[2017-09-13 20:59] DarkReef commented on #744
Hello, @sophron
I agree with your opinion, but, as I understand, #712 is no longer relevant.
So, I suggest change the `PhishingTemplate` a bit, add a custom path to the configuration file, maybe add the category field and rework the template search. IMO, we shouldn't return the name of the directory with the template, we should return the `PhishingTemplate` instance.

[2017-09-13 21:08] Matt7Be opened #745 "I can't find my fake access point"
Hello
I am using last version kali linux with Wifiphisher version 1.3 and alfa AWUS051NH v.2
I followed all the step but I got two problem

1- I didn't get so much networks around me !!

2- I can't find my fake access point after I chose the network !!

![screen shot 2017-09-13 at 10 31 21 pm](https://user-images.githubusercontent.com/17963460/30400695-fdbc9a56-98d7-11e7-99e7-632a0a8e35fe.png)

![

[2017-09-13 23:56] anakin1028 commented on #745
After entering the main terminal of wifiphisher (shows the deauth/dhcp/http) can you post the output of the following:
[code]

[2017-09-14 09:17] minanagehsalalma commented on #735
@anakin1028  @usama7628674 no. i meant although the cap file content a valid handshake it says it's corrupted. and it's the same in fluxion but the fix it fluxion is to sanity check the handshake with aircrack-ng
![untitled](https://user-images.githubusercontent.com/20546638/30421837-5346fb04-993e-11e7-98f1-2fbc6a95a2b5.png)

[2017-09-14 10:28] anakin1028 commented on #735
Can you post the pcap files?

[2017-09-14 15:31] minanagehsalalma commented on #735
@anakin1028 here it is http://rgho.st/67zZFn2Bp

[2017-09-14 15:34] anakin1028 commented on #735
is the link available?

[2017-09-14 15:36] minanagehsalalma commented on #735
Yes

On Sep 14, 2017 5:35 PM, "Anakin" <notifications@github.com> wrote:

[2017-09-14 15:41] RandyChange commented on #737
@anakin1028
Sorry, so busy these days. I will do this when I get the chance.
Thank you for the help so far tho!

[2017-09-14 15:57] anakin1028 commented on #737
Sure! Take your time : )

[2017-09-14 18:50] sophron commented on #744
Most of these sound like code refactoring changes. I recommend you to submit a Pull Request with all the changes you recommend and we can discuss them there.

[2017-09-14 21:00] MattIraq commented on #745
@anakin1028
This is the output

![screen shot 2017-09-14 at 10 58 46 pm](https://user-images.githubusercontent.com/17963460/30455457-4d894f3e-99a0-11e7-9b57-527ef43b3db2.png)

[2017-09-14 23:46] anakin1028 commented on #745
From the output looks like the AP is lunching. Have you use other devices to see if the fake AP is available to them?

If you have another adaptor and has the monitor mode capability, you can sniff the channel 6(the channel which your fakeAP lunched) and see if there is beacon on the air for your fakeAP.
[code]

[2017-09-15 05:47] anakin1028 commented on #735
I can access the link you provide but I cannot download the file you posted inside that link.

[2017-09-15 11:59] minanagehsalalma commented on #735
@anakin1028  why not .. here is a new link https://ufile.io/49o40 .

[2017-09-15 12:28] anakin1028 commented on #735
@minanagehsalalma thanks, the new link is avalilable for me.

I have seen your capture since the capture doesn't contain all the four messages in the fourway handshake messages so `wifiphisher` will judge it as the invalid handshake. The following figure is the screenshot from your pcap file. There are only `4-1` and `4-2` in the capture but without `4-3` and `4-4`.

![image](https://user-images.g

[2017-09-15 12:45] minanagehsalalma commented on #735
But aircrack does with the 4-4 4-3 only and all of my handshakes didn't
work

On Sep 15, 2017 2:28 PM, "Anakin" <notifications@github.com> wrote:

[2017-09-15 12:53] anakin1028 commented on #735
I'm not aware about the implementation of aircrack but for `wifiphisher` you may try to capture all  the four frames and see if the tool works for you.

[2017-09-15 14:55] MattIraq commented on #745
@anakin1028
I used different devices to check if there is a fake AP but i got same result there is no fake AP
even I tried with different networks to clone the fake AP!!

This only adaptor I have and its work good with other tools!!

[2017-09-15 15:08] anakin1028 commented on #745
Can you pull the latest commit in wifiphisher and do the test again? We have fixed a network-manager interfering problem recently.

If this still doesn't work,  can you follow the instructions listed in #738 to lunch the hostapd and see if your device can find it?

[2017-09-15 15:10] sophron commented on #743
I guess this was resolved since you posted #745?

[2017-09-15 15:59] MattIraq commented on #745
@anakin1028

Now I can't find access point around me even my router!!

![screen shot 2017-09-15 at 5 55 57 pm](https://user-images.githubusercontent.com/17963460/30491944-2d8a20ce-9a3f-11e7-9892-bb92e8e16a28.png)

[2017-09-15 16:03] sophron commented on #745
My guess is that your card tends to fall out.

@anakin1028 A good idea here is to use Pyric's `pyw.validcard(w0)` before doing the actual operations (e.g. before looking for around APs or before starting the AP) to make sure that the card is up and running.

[2017-09-15 17:18] minanagehsalalma commented on #735
but the most of the time it's hard to capture all the four frames ... because of the client is far away and the sometimes i use handshaker and familiar tools  to capture  a handshake

[2017-09-15 18:53] nicovillanueva commented on #667
I'm running Wifiphisher, on Kali, inside of a Docker container (ran in `--privileged` mode and with `--net host`).
Had the exact same problem, but after restarting `dbus` and installing `tcpdump`, it works.

[2017-09-15 23:11] berrysamson opened #748 "OSError: [Errno 100] Network is down."
Hello all,

it seems recently my machine has started playing silly buggers whilst running wifiphisher.
Sadly the command wifiphisher -aI wlan0 -jI wlan1 ends in errno 100, the full error is as follows...
[code]
After, I am required to "service network-manager restart" in order to reconnect to wifi. Both my internal wifi and external dongle (TL-WN722N) work to connect to access points.

Its odd as

[2017-09-16 02:06] anakin1028 commented on #735
Have you used `wireshark` or `tcpdump` to capture?

I may label this issue as an enhancement as follows

  * Release the constraint collecting all the four messages but only needs two (i.e. from `STA->AP` and `AP-> STA`). The possibility may becomes `4-1 and 4-2`, `4-1 and 4-4`, `4-3 and 4-4` and `4-2 and 4-3`
  * calculate MIC for `4-2`, or `4-3`, or `4-4` depends on which scenario you have colle

[2017-09-16 11:05] DarkReef commented on #744
Ew, this not really it, just a suggestion
I'm useless in such thing like code refactoring, really sorry

[2017-09-16 12:06] minanagehsalalma commented on #735
@anakin1028  so you  will fix this ?  i Have used  airodump-ng to capture it . it's the most common way

[2017-09-16 12:20] anakin1028 commented on #735
Yea. This will be improved in the future.

[2017-09-16 13:49] minanagehsalalma commented on #735
Can you specify a date. And Why not  now it's really important.

On Sep 16, 2017 2:20 PM, "Anakin" <notifications@github.com> wrote:

[2017-09-16 21:17] danieleds commented on #738
Latest version on `master` works great :)

[2017-09-17 04:32] anakin1028 commented on #738
@danieleds Thanks for the help!

[2017-09-17 05:51] anakin1028 opened #749 "Remove ifconfig and route commands by pyroute2"
There are some `ifconfig` and `route` commands related to set network configurations and we're forking the subprocesses and check the stdout of the result. Some of the Linux distributions have removed the support for `ifconfig` and change to the command `ip` which is based on `netlink` module.

Though I haven't had a try for `pyroute2`, I think maybe we can have a try for this module and see if th

[2017-09-17 13:08] thedeadseth commented on #731
sorry i was away from my "puter" for a little bit. here within the hour i will test those and attempt to provide the requested io from the post on sept.8th and 9th..

[2017-09-18 12:49] blackHatMonkey commented on #667
@nicovillanueva Can you post your relevant configuration files?

[2017-09-18 15:19] nicovillanueva commented on #667
Not much of config files, but I just started a new, clean container, installed a few things, and tried running wifiphisher and it ran fine.
Exactly the commands I ran:

[code]

However, I didn't get it to actually do it's thing. I just verified that it starts running (the UI comes up and the above logs are shown).
Restarting dbus and installing tcpdump are required steps, it seems.

[2017-09-18 15:22] sophron commented on #667
@istais may want to have a look at that as he's maintaining https://hub.docker.com/r/istais/wifiphisher/

[2017-09-18 15:44] nicovillanueva commented on #667
Sadly it seems kinda outdated, right? And I don't see the source of the Dockerfile.
Maybe I can pick up the project and maintain a proper hub image.
And I'll see to send a pull request, cause scapy and tcpdump seem to be required, but are not installed by the setup.py. Or am I doing something wrong?

[2017-09-18 15:57] blackHatMonkey commented on #667
@sophron Maybe we can build it ourselves using travis. We can automatically build it with every new commit on the `master`.

[2017-09-18 17:34] sophron commented on #667
Yes, it is outdated indeed.

@blackHatMonkey That's a good idea. @nicovillanueva maybe you can help us with that.

[2017-09-18 18:59] nicovillanueva commented on #667
Gladly!
I think that instead of Travis, the image build should be made using automated builds in Docker Hub. I can look into it, sure.

[2017-09-18 19:18] blackHatMonkey commented on #667
@nicovillanueva Sounds great. While we are at it can you look into finding a smaller base file as `Kali` is huge and we don't need all of that. Maybe `ubuntu` or another `linux` base will be smaller and does what we need.

[2017-09-18 19:40] nicovillanueva commented on #667
Yeah. I'm usually an Alpine fan, so I'll try to stick it in there.
Otherwise I'll probably fall back to Debian/Ubuntu. I'll get to it once I get this damn meetup talk off my back.

As per the original report, @slava-nikulin , did my setup "solve" your issue?

[2017-09-19 07:34] slava-nikulin commented on #667
@nicovillanueva Thank you, it would be cool if you will make updated image!
I tried to restart dbus, but that didn't help, I think that is because I run Docker on Windows 10, that uses Hyper-V containers. So, Docker containers are not fully crossplatform yet.
Thank you, guys for the help!

[2017-09-19 07:34] #667 closed

[2017-09-19 13:46] princejacob opened #753 "SyntaxError: invalid syntax"
when i run script after installing  i get this error
[code]

Edited by @blackhatmonkey: fixed the error section.

[2017-09-19 13:49] nicovillanueva commented on #667
I will! However, neither Windows nor Mac containers will properly work.
I set up everything in my Macbook running docker, but Pyric fails.
However, I did get it to run (using a USB Wifi card) in a Kali VM, running Docker inside it. Contrived, yeah, but as Docker containers are not native in these platforms, these kind of  issues come up.

[2017-09-19 19:11] minanagehsalalma commented on #494
@anakin1028 did you finish the wps Scenario   ?

[2017-09-19 19:16] sophron commented on #735
@minanagehsalalma Wifiphisher developers are volunteers. Asking "why not now?" is the same as demanding a present from a stranger on the street.

[2017-09-19 22:20] minanagehsalalma commented on #735
i  am sorry 😢😢😢 i didn't mean this . I just wish that your tool become the best in it's job ...

[2017-09-19 23:07] anakin1028 commented on #494
No not yet. Once this is implemented I will update in this thread : )

[2017-09-20 02:44] sophron commented on #735
@minanagehsalalma No worries. And thanks for contributing. :)

[2017-09-20 14:17] minanagehsalalma commented on #709
no i mean catch the password entered on a really wpa wifi not a phishing  page

[2017-09-20 14:20] minanagehsalalma commented on #494
@anakin1028  ok 😁😁

[2017-09-20 14:29] anakin1028 commented on #709
Do you mean we just lunch an rogueAP and sniff the four-way handshake then use tools like aircrack for cracking the password?

If this is the idea why don't you just offline use aircrack for doing this?

[2017-09-20 15:04] minanagehsalalma commented on #709
no  this not the idea what i mean is  make our rogueAP  wpa protected wifi  with any password . when the clients enter the password into  our rogueAP  wpa protected wifi we save it into a log file then validate it with a handshake

[2017-09-20 15:21] anakin1028 commented on #709
I still don't get it ... How do we get the password from the clients without using the phishing page?

[2017-09-20 16:18] sophron commented on #709
I think @minanagehsalalma is proposing to get the password directly from the station. However, when the victim types the password, it is never transmitted in the air. The data is encrypted with the password and only the password on the other side (AP) can be used to decrypt it.

[2017-09-20 16:37] minanagehsalalma commented on #709
@sophron  why isn't the ap is our and we can modify the hostpad. To do what ever we want

[2017-09-20 16:39] sophron commented on #709
We can do what we want from our side, yes. But the client (victim) never sends the password. Read about how WPA works: https://en.wikipedia.org/wiki/Wi-Fi_Protected_Access

[2017-09-20 19:09] sophron commented on #709
This is a downgrade attack that might make sense and we should consider researching more.

[2017-09-20 22:23] minanagehsalalma commented on #709
@sophron  so do you say yes for my idea ??

[2017-09-21 00:13] anakin1028 commented on #709
Changing to WEP will not work neither. WEP crack relies on collecting large amount of frames by using the same shared key so that the brute force attack will success. Lunching fake AP has no role in this kind of attack.

[2017-09-21 00:14] anakin1028 commented on #709
This link serves as a reference
http://www.oyyas.com/hacking-h23.php

[2017-09-21 01:25] DarkStowner commented on #738
You can just use `service network-manager stop` before launching wifiphisher

[2017-09-21 01:27] anakin1028 commented on #738
We have already done this in our program. There should be no requirement for doing this before lunching `wifiphisher`.

[2017-09-21 13:08] minanagehsalalma commented on #709
@anakin1028  so it's useless. i am  so sorry to waste your time 😢😢😢😢

[2017-09-21 13:10] anakin1028 commented on #709
No problem! Discussion makes us better : )

[2017-09-21 13:14] minanagehsalalma commented on #709
@anakin1028 Certainly

[2017-09-21 15:13] minanagehsalalma commented on #495
@alternatexp  it says error unrecognized arguments: -cM

[2017-09-21 15:26] anakin1028 commented on #495
This PR hasn't been merged and we'll merge this soon. Or maybe you can pull the branch `channel_monitor` to do the test first.

[2017-09-21 15:30] minanagehsalalma commented on #704
@anakin1028  there must be a  column for the entered passwords .

[2017-09-21 15:32] minanagehsalalma commented on #579
@sophron  although i had changed the IP(s) in wifiphisher/constants.py file it didn't changed after starting wifiphisher .. a -ip option will be better and faster

[2017-09-21 15:36] minanagehsalalma commented on #495
@anakin1028  how can pull the branch ??

[2017-09-21 15:39] sophron commented on #579
You need to `python setup.py install` again or run wifiphisher as `python bin/wifiphisher` for your change to take effect.

[2017-09-21 15:43] anakin1028 commented on #495
you can do by the following commands:
[code]
After test is done, you can checkout to master again by
[code]

[2017-09-21 16:13] minanagehsalalma commented on #579
@sophron it worked but the -ip option  still  will be better and faster

[2017-09-21 17:10] minanagehsalalma commented on #495
@anakin1028 it says  fatal: Not a git repository (or any of the parent directories): .git

i am using kali linux

[2017-09-21 17:10] minanagehsalalma opened #754 "how to enable lure-10 attack"
the first one is the   -lE LURE10_EXPLOIT doesn't work
![image](https://user-images.githubusercontent.com/20546638/30705570-a6599d26-9eaa-11e7-847a-6b3d4882832f.png)

the second one that is the the terminal  is messy after receiving one credentials
![image](https://user-images.githubusercontent.com/20546638/30708278-2187670a-9eb3-11e7-90ef-b1e91681e352.png)

[2017-09-21 23:28] anakin1028 commented on #754
*1 The -lE option should follow with the filename of the capture file.

*2 can you use wireshark to capture the frames in the AP interface and post in this thread? Looks like we don't filter out some irrelevant frames

[2017-09-22 00:05] minanagehsalalma commented on #754
@anakin1028  do you mean  ( capture file ) the airodump-ng ap(s) scan ... *2 don't worry it worked normally after i have reinstalled wifiphisher    ...

[2017-09-22 00:38] anakin1028 commented on #754
no. You have to use the following approach:

* setp1:
The following command will create the text file with a list of BSSID/SSID pairs

`wifiphisher -lC`

* step2:
When the step1 is done, there will be a text file created in the folder `wifiphisher/data/locs`.
You can use this file as input for `wifiphisher` and use the following command to do the attack. The essid is the AccessPoint you want to do

[2017-09-22 05:05] gudi13 opened #755 "HELP ME"
Hello, i start the wifiphisher and.

[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan0mon interface for creating the rogue Access Point
[+] Sending SIGKILL to wpa_supplicant
[+] Changing wlan0mon MAC addr (BSSID) to 00:00:00:1c:da:e5
[*] Cleared leases, started DHCP, set up iptables
[+] Selecting OAuth Login Page template
[*] Starting the fake access point...
[+] Sh

[2017-09-22 10:10] face0b1101 commented on #737
Sorry for going missing chaps, work got in the way.

I think I have managed to solve the problem for my symptoms. Killing network manager seems to get everything working. When I get a chance I'll work through everything again and make sure this is the case.

@anakin1028 Thanks for your help with this

[2017-09-22 10:12] face0b1101 commented on #755
I had the same output, I hesitate to say the same problem as I don't know what's going on behind the scenes.

Try killing network manager prior to starting Wifiphisher, it worked for me

[2017-09-22 10:30] anakin1028 commented on #755
It should be ok for the latest commit on the github. Can you output the commit id by:

`git show|grep commit`

[2017-09-22 22:11] disquette38 commented on #754
after launching the wifiphisher -lC command, I can not get files in the wifiphisher/data/locs  folder why ?

[2017-09-22 22:28] gudi13 opened #757 "wifiphisher dont request the authlogin"
the others attack is goin good, but when i start the option authlogin, the wifiphisher dont request de loguin of page, can you help me?

[2017-09-22 23:21] blackHatMonkey commented on #754
@disquette38 You need to wait in the access point selection phase for little while until it finds the access points and then exit using the `ESC` key.

[2017-09-22 23:33] blackHatMonkey commented on #753
@princejacob Can you remove this and install it again?

[2017-09-22 23:36] #743 closed

[2017-09-22 23:41] blackHatMonkey commented on #679
@Al00X I'm closing this issue due to inactivity. Feel free to open it again if needed.

[2017-09-22 23:41] #679 closed

[2017-09-22 23:43] blackHatMonkey commented on #701
@alilord I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:43] #701 closed

[2017-09-22 23:44] blackHatMonkey commented on #671
@KayUOM I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:44] #671 closed

[2017-09-22 23:46] blackHatMonkey commented on #615
@vincentcox-work I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:46] #615 closed

[2017-09-22 23:49] blackHatMonkey commented on #439
@cicina I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:50] blackHatMonkey commented on #390
@djdisikd I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:50] #390 closed

[2017-09-22 23:51] blackHatMonkey commented on #483
@kn0wledge I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:51] #483 closed

[2017-09-22 23:52] blackHatMonkey commented on #497
@andeees I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:52] #497 closed

[2017-09-22 23:53] blackHatMonkey commented on #501
@kn0wledge I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:53] #501 closed

[2017-09-22 23:53] blackHatMonkey commented on #514
@dileepsankhla I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:53] #514 closed

[2017-09-22 23:55] blackHatMonkey commented on #653
@gudi13 I'm closing this issue due to inactivity. Feel free to reopen if needed.

[2017-09-22 23:55] #653 closed

[2017-09-22 23:57] blackHatMonkey commented on #717
@Ad3t0 Can you post which of the templates caused the errors?

[2017-09-22 23:59] blackHatMonkey commented on #744
This has been implemented in #734.

[2017-09-22 23:59] #744 closed

[2017-09-23 00:02] blackHatMonkey commented on #427
The #747 is in the progress and should be done soon.

[2017-09-23 00:03] blackHatMonkey commented on #704
@yungtravla the logging feature #747 is in progress and should be done soon.

[2017-09-23 10:29] Tusharsharma86 commented on #430
Hi Sophron,

I am trying to follow the steps to start wifiPhisher but getting below error -
wifiphisher.common.interfaces.InvalidMacAddressError: The provided MAC address is invalid

What I am doing wrong?

[2017-09-23 10:44] anakin1028 commented on #430
Can you provide with the `-iNM` option and see if tool works for you?
Your card looks like cannot change mac address.

[2017-09-23 10:47] Tusharsharma86 commented on #430
I had changed the mac address using this wifi card. But today when I am
using command macchanger. It is throwing me error.
Is this issue because of this?
On Sat, 23 Sep 2017 at 16:15 Anakin <notifications@github.com> wrote:

[2017-09-23 10:52] Tusharsharma86 commented on #430
I just saw that yes I can still change my Mac add-
ifconfig wlan0 down
macchanger --random wlan0

and this works fine and changes the Mac address of my card.

Please help if you have any solution to fix wifiphisher error.

[2017-09-23 10:52] anakin1028 commented on #430
Yes.wifiphisher will default spoof the mac address and looks like there has problem for changing mac address of your card. We may add exception handling for this. That is catching the mac address exception and let the tool run continuously.

[2017-09-23 10:53] Tusharsharma86 commented on #430
Thanks for the response.
Can you please guide me how to add exception.

[2017-09-23 10:56] anakin1028 commented on #430
You can first use the following command:
`wifiphisher -iNM` and see if this works

[2017-09-23 10:58] Tusharsharma86 commented on #430
yes it works.. !!

What is the reason this works and other one does not.

[2017-09-23 11:02] anakin1028 commented on #430
Wifiphisher will default spoof the mac address of the adaptor by the python module `pyric` and for some reason it fails for your card, but tool doesn't catch that exception so it fails to run.

With `-iNM` this means you don't want to change the mac address of your card. You can use `wifiphisher --help` to see the available commands.

[2017-09-23 11:04] Tusharsharma86 commented on #430
ok that sounds great. thanks a lot for helping this out quickly.

[2017-09-23 11:07] anakin1028 commented on #430
You're welcome : ) btw I'm just curious what adaptor do use?

[2017-09-23 11:08] Tusharsharma86 commented on #430
I am using AWUS036NH

[2017-09-23 11:15] Tusharsharma86 commented on #430
BTW, I had one more question, if you are aware of that too.
I was earlier using mana-toolkit for creating Fake AP.

But that works for 10 secs I get connected from a android device and then it disconnects and never gets connected on that channel. Any idea how to solve this?

Can it be issue due to conflicting IPs or channels. I tried multiple channels but no luck.

[2017-09-23 12:57] anakin1028 commented on #430
Does your Android device cannot get dhcp release or it cannot get connect with the fakeAP?

If the device cannot get the dhcp release it may because of the IP conflict.

[2017-09-23 13:20] anakin1028 commented on #430
Do you have two cards on your system? If so do they have the same IP address?

[2017-09-23 13:21] anakin1028 commented on #430
Our fake AP will default have the IP address `10.0.0.1` and make sure you only have one adaptor has that IP address.

[2017-09-23 13:22] Tusharsharma86 commented on #430
How do I make sure the IP address is 10.0.0.1

[2017-09-23 13:25] anakin1028 commented on #430
Can you post the output of `ifconfig`?

[2017-09-23 13:46] Tusharsharma86 commented on #430
root@kali:~# ifconfig
eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 10.0.2.15  netmask 255.255.255.0  broadcast 10.0.2.255
        inet6 fe80::a00:27ff:fea1:b6e6  prefixlen 64  scopeid 0x20<link>
        ether 08:00:27:a1:b6:e6  txqueuelen 1000  (Ethernet)
        RX packets 11146  bytes 16670429 (15.8 MiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX pa

[2017-09-23 15:01] anakin1028 commented on #430
Hmm. Do you see the main terminal of wifiphisher output the dhcp release ?

Also from the ifconfig output you only have one adaptor in the system. Can you output the `ifconfig` again when the tool is running?

You can post a new issue and provide us with these information :) since your question is not relevant in this thread.

[2017-09-23 15:03] Tusharsharma86 commented on #430
Ok sure will open new thread
On Sat, 23 Sep 2017 at 20:31 Anakin <notifications@github.com> wrote:

[2017-09-23 15:57] anakin1028 commented on #757
Do you mean you give the option `-p oauth-login` but on the client device doesn't pop out this phishing page?

Does the victim device get DHCP release and any http requests output on the main terminal of `wifiphisher` ?

[2017-09-23 15:59] anakin1028 commented on #755
@gudi13 I guess this issue is resolved for you right? I'll close this first and feel free to reopen it if you want : )

[2017-09-23 15:59] #755 closed

[2017-09-23 18:44] Tusharsharma86 opened #758 "Mana-toolkit not working"
I am facing issue in creating a Fake AP using mana-toolkit on Kali Linux. I am able to successfully create a AP, it connects to my android device (with internet access) and after 30 secs it gets disconnected, even though the fake AP is getting displayed in WiFi scanning list, but cannot be connected again.

After this, it does not get connect again. Options tried -
1. Changing the channels in host

[2017-09-23 19:06] Tusharsharma86 commented on #758
I got the solution to this. Closing this thread.

[2017-09-23 19:06] #758 closed

[2017-09-23 19:13] Tusharsharma86 commented on #430
@anakin1028 I got the mana-toolkit issue resolved too. Thanks for your help today.

[2017-09-23 21:04] J0akes opened #760 "-iI not providing internet access."
running wifiphisher with the option -iI eth0 doesnt provide internet access to users.

I am running kali rolling 2017.2 in a virtual box using a bridged adapter for eth0 and wifiphisher 1.3 .

Also, I noticed that my phone will successfully get de-authed, but wont automatically connect to the new, identical AP that wifiphisher makes. Instead it just looks like there is now "J0akes Wifi" and "J0ake

[2017-09-23 23:54] anakin1028 commented on #760
From your description your devices hasn't connected to the fakeAP. You can try to manually connect to the fakeAP and see if this work for you.

Can you post the following information too:
1) The  command you use in this thread?
2)`ifconfig` when the tool enters the main terminal

[2017-09-24 02:32] disquette38 commented on #754
I have reinstalled wifiphisher from git but it still does not work, I just run this command wifiphisher -aI wlan1 -jI wlan2 -lC **or** wifiphisher -lc -> scan environment networks then using the ESC key, but but no files are created in the /locs directory.
I have this structure of /wifiphisher/wifiphisher/data/locs (twice /wifiphisher/wifiphisher) normal?

[2017-09-24 03:39] anakin1028 commented on #754
Can you try the command :
`python bin/wifiphisher -lC` see if this works for you?

[2017-09-24 04:40] J0akes commented on #760
Yes that's correct.
My devices do not connect to the fakeAP, but yes they do indeed get deauthenticated from the realAP.
Connecting manually, my devices do not get served the phishing page, which I understand is a known thing. However fakeAP does not have internet access.

The command I run is this:
wifiphisher -iI eth0

ifconfig when it's running is:

[code]

I actually got it working:

I have to

[2017-09-24 05:35] anakin1028 commented on #760
You cannot stop the service of NetworkManager since you need `eth0` to have the internet connection.
Before you run the command `wifiphisher -iI eth0`, you need to modify the configuration file:`/etc/NetworkManager/NetworkManager.conf` and add `keyfile` section to let the NetworkManager not controll the `wlan0` and `wlan1`

have a look for the following link and see the section of `Alternate KEYFI

[2017-09-24 14:32] disquette38 commented on #754
yes it's ok, but not file in /locs

[2017-09-24 15:38] disquette38 commented on #754
It's good I have located where is the file area here > **/usr/local/lib/python2.7/dist-packages/wifiphisher-1.3-py2.7.egg/wifiphisher/data/locs/area_20170924_xxxxxxx** not found in the git installation folder

[2017-09-24 15:38] anakin1028 commented on #754
I ask for the command `python bin/wifiphisher -lC` because if you simply run `wifiphisher -lC` the tool will generate the file under the module installed in your system (i.e. something like `/usr/local/lib`)..

[2017-09-24 15:38] anakin1028 commented on #754
yeah. that's what I thought.

[2017-09-25 03:11] disquette38 commented on #754
it's earlier **python wifiphisher/bin/wifiphisher -lC** :)
Thank

[2017-09-25 16:23] blackHatMonkey commented on #427
#747 Has implemented this feature.

[2017-09-25 16:23] #427 closed

[2017-09-25 16:25] blackHatMonkey commented on #704
@yungtravla #747 has been implemented and now you can use the `--log-file` option to log information.

[2017-09-25 16:26] blackHatMonkey commented on #537
#747 Has implemented this feature. Now you can use the `--log-file` option to log information to file.

[2017-09-25 16:26] #537 closed

[2017-09-26 00:06] sophron commented on #579
Most of the times it's never going to be only one option; a user will want to configure the gateway, the mask/broadcast address etc. It doesn't hurt us to provide arguments for all these but it's not planned for the immediate future.

[2017-09-26 00:07] sophron commented on #731
@thedeadseth Any updates on that?

[2017-09-26 00:09] sophron commented on #495
@minanagehsalalma You need to move to the git directory. Learn about git essentials: https://try.github.io

[2017-09-26 00:14] sophron commented on #754
The second error posted here is more interesting. The fact that @minanagehsalalma didn't encounter it again doesn't mean it's fixed.

Perhaps we miss the `# -*- coding: UTF-8 -*-` directive.

[2017-09-26 00:17] sophron commented on #758
Just a friendly notice that this is Wifiphisher project, not MANA Toolkit.

[2017-09-26 00:27] sophron commented on #749
Instead of using `pyroute2` we should first ask @wraith-wireless to add these features on PyRIC.

[2017-09-26 00:29] sophron commented on #753
It looks like the `packet.py` file of Scapy was modified. Reinstallation of scapy should fix this.

[2017-09-26 00:33] anakin1028 commented on #749
Yes this will be good!

[2017-09-26 00:34] sophron commented on #748
Hi @berrysamson,

#751 was merged yesterday that may has solved this. Can you update to the latest revision and try again?

[2017-09-26 00:36] sophron commented on #742
@anakin1028 Can you give us more details about this? What exactly is the problem with scapy and sniffing frames efficiently?

[2017-09-26 00:41] sophron commented on #678
I'm closing this. @fracorallo if you have any more discoveries, please open a new issue.

[2017-09-26 00:41] #678 closed

[2017-09-26 00:43] sophron commented on #655
#751 was recently merged and may has solved this. Please update to the latest revision and try again.

[2017-09-26 00:45] sophron commented on #649
I believe this issue no longer exists. Feel free to re-open if necessary.

[2017-09-26 00:45] #649 closed

[2017-09-26 00:46] sophron commented on #570
This is done already.

[2017-09-26 00:46] #570 closed

[2017-09-26 00:51] sophron commented on #738
This is now solved.

[2017-09-26 00:51] #738 closed

[2017-09-26 01:12] anakin1028 commented on #742
@sophron I may do some test in the next two days and update in this thread : )

[2017-09-26 03:05] Tusharsharma86 commented on #758
Yes it was out of curiosity which I asked and I have opened seperate thread
for MANA.
On Tue, 26 Sep 2017 at 05:47 George Chatzisofroniou <
notifications@github.com> wrote:

[2017-09-26 08:11] tarsicle opened #763 "Phishing scenarios not being listed"
Wifiphisher v1.3GIT running Kali Linux 2017.1 on a Raspberry Pi 3.

git show | grep commit output is:
commit 324a855c49c5d04519f8064962118ba9783dfb6e

For some reason the only phishing scenario that is being listed is the 'Network Manager Connect' even tho I have all of the default as well as extra phishing pages installed in the phishing-pages folder.

They are in /root/wifiphisher/wifiphisher/da

[2017-09-26 09:59] sophron commented on #763
Can you try running the binary directly using `python bin/wifiphisher` instead of simple `wifiphisher`?

[2017-09-26 13:12] anakin1028 commented on #754
I thought @disquette38 cannot find the area file is because that it runs the wifiphisher installed on the system so the area file will be located in `/usr/local/lib...` ?

[2017-09-26 17:43] tarsicle commented on #763
I don't have have that file in my bin folder.

I get 'python: can't open file 'bin/wifiphisher': [Errno 2] No such file or directory.

Did you mean python /usr/local/bin/wifiphisher ?
Running that I still get the same issue as described above. Only one scenario listed.

[2017-09-26 17:45] sophron commented on #763
Are you inside the `wifiphisher` directory?

Are you <a href="https://github.com/wifiphisher/wifiphisher/archive/master.zip">downloading the right version</a>?

[2017-09-26 17:54] tarsicle commented on #763
The only wifiphisher directories I have are the ones listed in my first post. Running python bin/wifiphisher gave me the error listed above as there is no wifiphisher file in 'bin'. Mine was installed in /usr/local/bin/ by the installer.

I installed using the instructions in the readme. git clone https://github.com/wifiphisher/wifiphisher.git. Then I copied the phishing pages to the correct folde

[2017-09-26 18:00] sophron commented on #763
Can you `cd /root/wifiphisher/wifiphisher/` and then `python bin/wifiphisher`?

[2017-09-26 18:07] tarsicle commented on #763
Same error. 'python: can't open file 'bin/wifiphisher': [Errno 2] No such file or directory'

[2017-09-26 18:12] tarsicle commented on #763
Going back one directory to cd root/wifiphisher

Then running python bin/wifiphisher opens wifiphisher. But same issue with only one scenario.

[2017-09-26 18:46] sophron commented on #763
Just to make things clear. If you `ls -la /root/wifiphisher/wifiphisher/data/phishing-pages/` you can see the phishing scenarios. However, when you `python bin/wifiphisher` you can't see them during the template selection menu. Is that the case?

[2017-09-26 18:58] tarsicle commented on #763
Yup. Exactly.

[2017-09-27 16:49] vovawed opened #764 "UnboundLocalError: local variable 'mon_iface' referenced before assignment"
[code]

[2017-09-27 18:07] Hypsie commented on #764
I got the same error !

[2017-09-27 18:15] Hypsie commented on #764
I use a raspberry 3 with raspbian jessie.

[2017-09-27 22:06] blackHatMonkey commented on #764
@vovawed @Hypsie Thanks for opening an issue. We are aware of the problem and a fix will be out soon. One of the members will update this thread once a patch has been merged.

[2017-09-28 00:11] anakin1028 opened #765 "Enhancement for the frequency hopping"
Currently we are frequency hopping to all the channels to death the Bssids with same ESSID when `-dE` is given. But it will make the deauthentication not so efficiently, since we are hopping all the channels to deauth 2 or 3 AccessPoints on the different channels (i.e. we hop all the 13 channels in order to deauth 2 or 3 channels).

I think a better way should be we have two set of frequency hoppi

[2017-09-29 08:41] wermaxta opened #766 "Error message"
HI i get this error message my OS is Kali linux Linux
kali 4.12.0-kali2-amd64 #1 SMP Debian 4.12.12-2kali1 (2017-09-13) x86_64 GNU/Linux
Thank you :)

[code]

Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting.

**Version**: Use `git show | grep commit` command and paste here the output.

**

[2017-09-29 12:30] blackHatMonkey commented on #766
@wermaxta This is a duplicate of #592. You can fix this following [this](https://github.com/wifiphisher/wifiphisher/issues/592#issuecomment-299223404).

[2017-09-29 12:30] #766 closed

[2017-09-30 14:14] blackHatMonkey commented on #763
@tarsicle Can you run the `tree` command in the `wifiphisher` directory and post the results.

[2017-09-30 14:15] #760 closed

[2017-09-30 14:20] #732 closed

[2017-09-30 18:47] blackHatMonkey commented on #619
@squashen A new update has been merged. Let us know if the same bug is present in the latest git version.

[2017-09-30 18:47] #619 closed

[2017-09-30 18:48] blackHatMonkey commented on #588
@falconsy A fix has been applied to the latest version. Let us know if the bug is still present in the latest git version.

[2017-09-30 18:48] #588 closed

[2017-09-30 18:49] blackHatMonkey commented on #551
@schniggie Can you try the latest git version and let us know if the bug is still present?

[2017-10-01 00:33] tarsicle commented on #763
I have my pi on the bench right now, I'm removing the internal antenna and soldering a sma lead so I can attach a proper antenna. Once I get it back together I will.

[2017-10-01 13:20] blackHatMonkey commented on #763
Sure 😄.

[2017-10-02 06:49] princejacob commented on #753
@blackHatMonkey  @sophron  i did reinstall ... still facing issue ..on kali but working almost fine on ubuntu

[2017-10-03 08:24] gitty8 opened #768 "Fritz Box AVM Template"
Add Logo and template possible?

https://upload.wikimedia.org/wikipedia/de/6/68/Fritz%21_Logo.svg

Login Page
https://imgur.com/a/mCoCF

MAC
http://www.coffer.com/mac_find/?string=avm

[2017-10-03 08:44] InTheEndButFightingBack opened #769 "Getting an Error after Deauth of the Clients or ou"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting.

**Version**: Use `git show | grep commit` command and paste here the output.

**Description**: Give a more analytical description here. The output of the `iw list` and `iwconfig` commands may be helpful.

**Script output**: Paste the outpu

[2017-10-03 08:47] #769 closed

[2017-10-03 08:49] InTheEndButFightingBack opened #770 "Getting an Error after Deauth of the Clients or You can say after The Client Enter's the Password in Update Firm Page. Error is like This :"
This Error Comes :
[code]

[2017-10-03 18:15] 0xyg3n opened #771 "Duplicate of #699"
Hello,
You have created an awesome project, i really like the oauth option ; it would be great if you add as a feature after the post request of the login to allow the victim to browse the internet normally, i also have some ideas and i would like to contribute to your project i am a cyber-security (penetration tester) consultant and in my free time i code in different languages, i mostly like pyt

[2017-10-04 14:25] blackHatMonkey commented on #753
@princejacob Can you try the following commands:
[code]

[2017-10-04 15:09] blackHatMonkey commented on #770
@anakin1028 @sophron It seems #439 is still not fixed.
@InTheEndButFightingBack Follow #439 as once the issue is fixed someone will post there.

[2017-10-04 15:09] #770 closed

[2017-10-04 15:11] blackHatMonkey commented on #439
@InTheEndButFightingBack Can you run `wifiphisher` like so:
[code]
or if you are using it as a standalone
[code]

[2017-10-04 15:53] josedebug opened #772 "Fetching client device model and name from WPS push button"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting.

**Version**: Use `git show | grep commit` command and paste here the output.

**Description**: Give a more analytical description here. The output of the `iw list` and `iwconfig` commands may be helpful.

**Script output**: Paste the outpu

[2017-10-04 15:56] josedebug commented on #772
When wps push button been triggered from client device, we could get some device name and model number, which will be useful for identifying the RF band and other information.

My question is, how we can make an AP to trigger the wps push or enable wps push in client device.
Using WSC exchange mechanism is there any possibility to acheive it.

[2017-10-04 18:18] sophron commented on #771
Hi @0xyg3n,

That would be awesome! We are always looking for new developers to join our team.

The best way to contribute is by forking the project and implementing a new feature (see "improvements" tagged issues) or tackling a bug (see "bug" tagged issues). Then submit a Pull Request and our team will review it and provide feedback as soon as possible.

Your idea is described on #699. You are mo

[2017-10-05 12:12] uaazaajkaa opened #773 "How to install hostapd !!!"
It always left me missing the host when running the wifiphisher command. I did not know how to set it

[2017-10-05 12:13] sophron commented on #773
Please also post the output of `apt-get install hostapd` and the error you are getting when running the tool.

[2017-10-05 12:14] uaazaajkaa commented on #773
![screenshot from 2017-10-05 19-13-04](https://user-images.githubusercontent.com/22127586/31226733-6c84ff8e-aa01-11e7-8554-e538491ad35a.png)

[2017-10-05 12:16] uaazaajkaa commented on #773
![screenshot from 2017-10-05 19-15-59](https://user-images.githubusercontent.com/22127586/31226783-a25996c4-aa01-11e7-9ebb-564f904cf4a0.png)

[2017-10-05 23:22] Emberborne opened #774 "Enter the path for the payload as an argument"
I created a bash file with only one command (wifiphisher --nojamming -aI wlan0 -e test -p plugin_update), and when I run it, it prompts me to enter the path for the payload. Is there a way to insert this path automatically in the terminal, so that I don't have to do it manually? My dream is that I run the bash script, and it automaticaly starts wifiphisher with the given parameters and the given p

[2017-10-06 08:47] sophron commented on #774
Hi @Emberborne,

I'm afraid this is not currently possible. I'm adding the "enhancement" tag. It is an easy feature to implement so I expect one of our team members will add it within the next month.

[2017-10-06 09:06] sophron commented on #772
Good. Thanks for posting this. I can see two different things here:

1) Apparently, WPS-capable APs, will include model number and firmware versions in the WPS IE of the probe response. We can use this information to craft a more realistic `firmware-upgrade` page. What we have to do is simply send a probe request frame for every WPS-capable AP that we discover during the AP selection phase and par

[2017-10-06 09:10] sophron commented on #773
Thanks for posting this. Can you share the output of `which hostapd`?

[2017-10-06 09:12] sophron commented on #768
Hi @gitty8,

In this master repo we only support the four basic scenarios.

You can however post your request on the <a href="https://github.com/wifiphisher/extra-phishing-pages">extra-phishing-pages</a> repo and someone from the community may write it for you there.

[2017-10-06 09:12] #768 closed

[2017-10-06 09:26] josedebug commented on #772
Thanks for response.

Say I enabled wps in AP, and AP include wps information in probe response
to client.
During this time, can we send message from AP to ask client to join as wps
enrollee.

My aim is to get exact information of device name,model,RF band and so on,
which is available in wps probe request as part of WSC protocol.
Is there alternate way to fetch this exact details.

Thanks,
Jose.

[2017-10-06 09:46] Emberborne commented on #774
Cool thanks. I imagine you will add a "-path" parameter. It's very useful for embedded devices with no user input possible(eg raspberry pi).

 I would create a bash file with a wifiphisher command with all the arguments necessary for a plugin update attack that does not need any user input. The dream would be to power on the rasp with no monitor/ssh and see the magic happen!

[2017-10-06 12:45] sophron commented on #774
@Emberborne I just pushed a commit that introduces `--payload-path` argument. Please update to the latest revision and let me know if it works for you.

[2017-10-06 14:17] Emberborne commented on #774
Is there a way I can make a donation? Because this is world class service. Thanks to your payload plugin update attack vector, I managed to watch an mp4 file from the wifi captive portal in the plane, from my phone with better sound and graphics. I've never seen a project as well maintained and serious as this one. It makes wireless audits much simpler, instead of doing this stuff manually with co

[2017-10-06 19:08] sophron commented on #774
Thank you @Emberborne. No, we don't currently accept donations but we do appreciate your feedback :)

Yes, I did the presentation "Introducing Wifiphisher" at BSidesLondon2015.

[2017-10-06 21:27] Emberborne commented on #774
Nice presentation... I've seen you've updated the help files with the new argument. Is it me, or the tp link wn722n only supports a few channels for master mode (ap mode). I've read it somewhere, but can't remember where. But I definitely know it supports channel 6 for ap mode, so if one day you have to pick a default channel for ap's, choose the 6th.

[2017-10-07 09:46] gitty8 commented on #768
done
https://github.com/wifiphisher/extra-phishing-pages/issues/13

[2017-10-07 17:01] anakin1028 commented on #773
@uaazaajkaa in addition to the suggestion of @sophron, another way to verify this problem may be to run the following command to test if `hostapd` is installed correctly: this command will show the version of the `hostapd` installed on your system.
`hostapd -v`

[2017-10-07 17:08] sophron commented on #773
I think the `apt` is pretty clear in the second screenshot that it's the latest version (2.4-1).

[2017-10-07 23:43] anakin1028 commented on #773
The object for running this command is not to show the version of `hostapd` but to check if `hostapd` can run successfully on the system. Our program raise the `OSError` exception due to the command `subprocess.Popen(["hostapd", ...])` so maybe we can check whether it will fail when run the command manually.

[2017-10-08 12:36] sophron commented on #773
Okay, I see.

[2017-10-09 09:54] uaazaajkaa commented on #773
What should I do ?

[2017-10-09 09:57] sophron commented on #773
@uaazaajkaa Try to run "hostapd -v" and simple "hostapd" and post the output here.

[2017-10-09 12:44] #771 closed

[2017-10-09 19:49] yungtravla opened #775 "issuez"
[code]

[2017-10-09 19:50] yungtravla commented on #775
By the way: i decided to cut my response short, at about 5 lines, cause i felt like it

[2017-10-09 19:51] mdeverdelhan commented on #572
The milestone  for the 1.4 release is marked as "Past due by 10 days". Any idea of when the new version will be available?

[2017-10-10 03:28] yungtravla commented on #774
This is a good idea, as well as selecting the path to an external phishing scenario folder via command line. I'm sick of going through the maze of wfphshr folders to simply add a scenario

[2017-10-10 11:57] sophron commented on #572
Hi @mdeverdelhan,

Thanks for pointing this out. We agreed to focus on a big 2.0 release instead. It should be out around Christmas.

[2017-10-11 06:01] iobj commented on #584
Hello,

Sorry if I sound like a noob. I copied the extra phishing folder and reinstalled it and still no luck. Do I need to place each scenario individually or can they stay in the extra phishing folder?

[2017-10-11 06:03] sophron commented on #584
You don't want to copy the `extra-phishing-pages` directory. You want to copy the contents of the directory (the directories inside) in the `phishing-pages` directory of Wifiphisher.

[2017-10-11 06:15] iobj commented on #717
Hello I have the same issue, I placed the "extra phishing" pages in the phishing folder and reinstalled it and I am getting the error not locally found :/

[2017-10-11 06:35] sophron commented on #717
@lobj You already got a response: https://github.com/wifiphisher/wifiphisher/issues/584#issuecomment-335692078

[2017-10-11 09:39] jadbara opened #776 "The provided MAC address is invalid"
`[*] Starting Wifiphisher 1.3GIT ( https://wifiphisher.org ) at 2017-10-11 09:36
[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan0 interface for creating the rogue Access Point
Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.3', 'console_scripts', 'wifiphisher')()
  File "/usr/local/li

[2017-10-11 09:40] anakin1028 commented on #776
Please provide with `-iNM` first. Looks like your card doesn't support changing MAC addreSs via nl80211. Thanks

[2017-10-11 10:04] jadbara commented on #776
Thank you very much .. Solved 😃

[2017-10-11 10:05] #776 closed

[2017-10-11 10:06] anakin1028 commented on #776
NP we'll improve tHis part soon.

[2017-10-11 10:12] sophron commented on #776
Yes, if MAC randomization fails, we should raise an exception and inform the user.

[2017-10-11 10:19] anakin1028 commented on #776
Should we terminate the program due to this exception and inform users or just print `[!] MAC address randomization fail!` and let the program run continuously?

[2017-10-11 10:59] sophron commented on #776
I think the tool should keep running. Users that want to cancel the operation can Ctrl+C to abort.

[2017-10-11 11:00] anakin1028 commented on #776
Agree with this : )

[2017-10-11 15:49] jadbara opened #777 "I can't install hostapd"
[code]
I've opened the link [http://docs.kali.org/general-use/kali-linux-sources-list-repositories](url) and tried to edit sources.list but nothing works

[2017-10-11 15:53] jadbara opened #778 "I can't install hostapd"

[2017-10-11 16:05] jadbara opened #779 "Hostapd install problem"
When I was booting kali from a **memory flash**, I was able to install hostapd
Now I'm booting from the **HDD** , and when **Setup.py** asks to install hostapd I get the response:

`[*] hostapd not found in /usr/sbin/hostapd, install now? [y/n] y
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package hostapd

[-] Unable to install the '

[2017-10-11 16:16] #778 closed

[2017-10-12 01:30] usama7628674 commented on #779
First clear your sources.list and add the following lines.
`# deb-src http://http.kali.org/kali kali-rolling main contrib non-free`
`deb http://http.kali.org/kali kali-rolling main contrib non-free`

then `apt-get update && apt-get install hostapd`

[2017-10-12 02:22] tarsicle commented on #763
Update. Fresh install of kali and wifiphisher all is well. Suspecting it may be a failing SD card as a couple other directory related errors came up in other applications once I got the PI back together. Thank you for the help.

[2017-10-12 12:15] #763 closed

[2017-10-12 12:17] sophron commented on #774
Thanks @Emberborne. I'm closing the issue since the feature was implemented.

[2017-10-12 12:17] #774 closed

[2017-10-12 12:18] sophron commented on #777
Did you run `apt-get update`? Are you connected on the Internet?

[2017-10-12 12:18] #779 closed

[2017-10-12 12:20] #748 closed

[2017-10-12 18:29] charcchii commented on #429
how did you fix it

[2017-10-12 18:29] charcchii commented on #429
i am having another error ~\Documents\GitHub\wifiphisher [master ≡]> python setup.py install
Traceback (most recent call last):
  File "setup.py", line 137, in <module>
    get_libdbus()
  File "setup.py", line 108, in get_libdbus
    install = raw_input(("[" + constants.T + "*" + constants.W + "] libdbus-1 no
t found " +
NameError: name 'raw_input' is not defined

[2017-10-12 18:31] charcchii opened #780 "error in python setup.py install"
[code]

[2017-10-13 00:13] blackHatMonkey commented on #780
@charcchii Make sure that you are running `setup.py` with `python2` and not `python3`.

[2017-10-13 01:07] #764 closed

[2017-10-13 01:08] #754 closed

[2017-10-13 01:09] blackHatMonkey commented on #757
@gudi13 I'm closing this issue due to lack of activity. Feel free to re-open if needed.

[2017-10-13 01:09] #757 closed

[2017-10-13 01:12] blackHatMonkey commented on #473
As it stands issue will suffice and therefore I'm closing this thread.

[2017-10-13 01:12] #473 closed

[2017-10-13 14:13] charcchii commented on #780
I am using windows 7 and python 2.7

[2017-10-13 14:32] charcchii commented on #780
[←[31m-←[0m] libdbus-1 not found. Please install libdbus-1 (i.e. using your pack
age manager)
~\Documents\GitHub\wifiphisher [master ≡]> pip install libdbus-1 this is the error i get next

[2017-10-13 14:51] charcchii commented on #780
~\Documents\GitHub\wifiphisher [master ≡]> python setup.py install
[←[93m*←[0m] libdbus-1 not found install now? [y/n] y
[←[31m-←[0m] libdbus-1 not found. Please install libdbus-1 (i.e. using your pack
age manager)
~\Documents\GitHub\wifiphisher [master ≡]> pip install dbus-python
Collecting dbus-python
  Using cached dbus-python-1.2.4.tar.gz
Building wheels for collected packages: dbus-python
  R

[2017-10-13 15:11] blackHatMonkey commented on #780
@charcchii Unfortunately it will not work on windows as `dbus` is a `Linux` only library. So you either have to install `Linux` locally or in a `virtual machine`.

[2017-10-13 15:14] charcchii commented on #780
Okay will try it on a vm

[2017-10-13 21:28] ali151yek opened #782 "ImportError: No module named setuptools"
when i follow the instruction on readme.MD

[code]
give

[code]
any soulotion :100:

[2017-10-13 21:30] ali151yek commented on #782
I am using
`python 2.7.13`

[2017-10-14 01:23] usama7628674 commented on #782
You need to install setuptools module.For this use this command
`pip install setuptools`

[2017-10-14 07:51] charcchii commented on #777
[*] hostapd not found in /usr/sbin/hostapd, install now? [y/n] y
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  hostapd
0 upgraded, 1 newly installed, 0 to remove and 182 not upgraded.
Need to get 479 kB of archives.
After this operation, 1,089 kB of additional disk space will be used.
WARNING: The following

[2017-10-15 04:25] frankjulien opened #783 "Hostapd failed to lunch on 5Ghz networks"
Hey guys,

Real newbie here, so please, bear with me.

I'm using the latest version of wifiphisher, a USB Wifi adapter (ALFA AWUS051NH v2) + the internal wifi card of my laptop.

As described in the title, everything works well until I select a 5Ghz network from the selection window. When I do, I get the following output:

    [*] Starting Wifiphisher 1.3GIT ( https://wifiphisher.org ) at 2017-10-

[2017-10-15 14:37] adam-infosec commented on #783
Forget about me guys, I just realized that my hostapd.conf had been corrupted. I reinstalled and it worked.

[2017-10-16 10:34] ferromariano opened #784 "output: No handlers could be found for logger "wifiphisher.pywifiphisher""
Hey guys,

Real newbie here, so please, very little bear with me :P

**Version**:
- wifiphisher: latest version (v: 1.3GIT)
- python: 2.7

**Description**: I run "wifiphisher -nJ" or "wifiphisher" or "wifiphisher *any*" and output **No handlers could be found for logger "wifiphisher.pywifiphisher"**

**Script output**:
[code]

[2017-10-16 14:11] Bluewild93 opened #785 "Can't find fake AP in some devices."
**iw list:**
[code]
**iwconfig:**
[code]

**Wifiphisher:**
![img_0129](https://user-images.githubusercontent.com/14236569/31615880-5952a1c2-b28b-11e7-884d-adebe2cefcc9.JPG)

**Asus laptop:** I can't join my real Snipertest wifi when wifiphisher is running. But why it create a new Snipertest2.? It works perfekt when I join Snipertest2. I typed in password and it sent the password to my Kali machine

[2017-10-17 00:49] ferromariano commented on #784
Close issues.

I did not walk, but I'm pretty sure it's my installation fault.

Sorry

[2017-10-17 00:49] #784 closed

[2017-10-17 02:24] yungtravla opened #786 "KRACK Attacks"
WPA2 = compromised

Would be cool to implement this:

https://www.youtube.com/watch?v=Oh4WURZoR98

[2017-10-17 03:20] usama7628674 commented on #786
They don't release the tools yet and companies will be rolling patches next week but still most of the devices will remain vulnerable.

[2017-10-17 03:20] usama7628674 commented on #786
It's a hot topic in WiFi community.

[2017-10-17 12:33] yungtravla commented on #786
sure is!

[2017-10-17 14:05] blackHatMonkey commented on #783
@frankjulien Thanks for opening an issue and providing all the information. There seems to be an error regarding `hostapd`. Can you run `hostapd` with the following configuration file:

[code]
and see if the AP is created or post any errors you get 😄.

[2017-10-17 14:07] blackHatMonkey commented on #777
@charcchii Can you try running this:
[code]

[2017-10-17 14:28] blackHatMonkey commented on #785
@Bluewild93 Thanks for opening an issue. `wifiphisher` never changes the name of the AP so my guess is that windows is adding the number to distinguish it from the first one.

You can't join because `wifiphisher` is not allowing you to connect to the target(real) AP. As far as it not showing up I have no idea why.

Can you remove the target from your saved AP and try again? Do you get a different

[2017-10-18 12:10] djdisikd commented on #786
Did you try before? Does it works?

[2017-10-18 12:25] yungtravla commented on #786
usaname7628674 said:

https://www.krackattacks.com/#tools

[2017-10-19 02:33] djdisikd commented on #786
When will they release the tools?

[2017-10-19 08:11] travlatrusn01 commented on #786
@djdisikd read the website...

[2017-10-19 08:17] travlatrusn01 commented on #775
![kwaaafi](http://thetombradleyshow.com/wp-content/uploads/2015/01/coffee.jpg)

[2017-10-19 10:02] usama7628674 commented on #786
https://github.com/vanhoefm/krackattacks-test-ap-ft
Tool to check if AP is vulnerable to krack attack.The script got leaked.
**Note: This is not an attack script.**
For further details follow the link above.

[2017-10-19 22:03] ssrmpc commented on #736
# Everybody that is using the 8812au driver PLEASE READ THIS!
First of all I send regards to all programmers on the project. WELL DONE!
After trying everything to get AWUS036ACH to work with fluxion and wifiphisher.... this is the conclusion for all interfaces that require the **realtek-rtl88xxau-dkms** (in my case the 8812au driver).
## Problem description
By installing apt-get install realtek-rt

[2017-10-21 02:12] yungtravla commented on #775
<h1>MODDING WIFIPHISHER BE LIKE</h1>

![image](https://user-images.githubusercontent.com/29265684/31847093-0793f67a-b659-11e7-9af8-dac0bf329156.png)

[2017-10-21 07:37] djdisikd commented on #786
How do I update the devices to prevent the attack?

[2017-10-21 08:46] yungtravla commented on #786
@djdisikd by pressing yes on your phone when it asks you to update

might have to do it manually if there is a patch for your router firmware

[2017-10-21 11:41] sophron commented on #786
Hi guys,

KRACK attack is not really in the scope of what we do. The scope of our tool is limited to rogue Access Points and not Wi-Fi attacks in general.

We could potentially discover any APs vulnerable to KRACK during the reconnaissance phase if users are interested on that.

[2017-10-21 13:23] djdisikd commented on #786
My phone doesn't have software updates to update for a long time.

[2017-10-21 15:03] blackHatMonkey commented on #736
@ssrmpc Thanks for posting this. We will have to find a place for it in the documentation 👍 😄 .

[2017-10-21 18:31] sophron commented on #785
I haven't seen this behavior on Windows. If you manually add a network twice, it may be displayed like that. So maybe @Bluewild93 can try to remove all saved networks from his Windows machine and try again.

[2017-10-22 05:52] djdisikd commented on #772
We can also ask the client to press the WPS button so that we can connect the network without entering the password

[2017-10-22 16:21] VANTA-B commented on #784
I have a similar issue and need prominent help

[2017-10-22 16:24] VANTA-B opened #788 "No handlers could be found for logger "wifiphisher.pywifiphisher" on Kali Linux 2017.2"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting.

**Version**: Use `git show | grep commit` command and paste here the output.

**Description**: Give a more analytical description here. The output of the `iw list` and `iwconfig` commands may be helpful.

**Script output**: Paste the outpu

[2017-10-22 16:27] VANTA-B commented on #788
I am not a professional at this so please kindly consider and help accordingly

[2017-10-22 18:43] blackHatMonkey commented on #788
@VANTA-B Can you please post the exact error here.

[2017-10-22 18:49] blackHatMonkey commented on #786
I completely agree with @sophron on this. `wifiphisher` isn't intended as a single program that implements all the wireless attacks.

[2017-10-22 18:49] #786 closed

[2017-10-22 18:50] #775 closed

[2017-10-23 01:19] VANTA-B commented on #788
How do I do that exactly?

[2017-10-23 01:30] anakin1028 commented on #788
Maybe you can copy the error log on the screen and post it on this thread.
Also is command listed below workable for you?
`wifiphisher --logging`

Thanks

[2017-10-23 13:37] VANTA-B commented on #788
#: wifiphisher -nJ
[*] Starting Wifiphisher 1.3GIT ( https://wifiphisher.org ) at 2017-10-16 06:20
**No handlers could be found for logger "wifiphisher.pywifiphisher"**
[!] Failed to find an interface with AP mode
[+] Show your support!
[+] Follow us: https://twitter.com/wifiphisher
[+] Like us: https://www.facebook.com/Wifiphisher
[+] Captured credentials:
[!] Closing

[2017-10-23 13:37] VANTA-B commented on #788
This is what I could do

[2017-10-23 20:42] VANTA-B commented on #788
Help needed

[2017-10-24 00:27] yungtravla commented on #786
lol

@sophron said:

Is that right? So all the WPS button attack stuff, Lure10, etc.. are the unmentioned exceptions? **Technically** speaking, capturing handshakes is regarded as a different attack type too.

I don't see any scope regarding this project, it's gone in all sorts of directions.

If KRACKS is outside of your abilities (and I don't see how you could feel that way since it wasn't relea

[2017-10-24 00:29] yungtravla commented on #786
and @djdisikd

try hop on wifi in case you disabled updates over cellular.

[2017-10-24 09:22] skpace commented on #671
how to hack using two adaptar.....but i am getting the same error

[2017-10-24 21:51] yungtravla opened #791 "KRACK Attacks"
https://github.com/wifiphisher/wifiphisher/issues/786

Either don't close the issue prematurely and answer my questions or point me somewhere I can discuss these things without it being rejected due to lack of knowledge/vocabulary understanding.

[2017-10-24 21:53] yungtravla commented on #775
robot no understand joke

[2017-10-24 21:54] yungtravla commented on #774
derp =E

[2017-10-25 09:34] AnEvilInsideMe opened #792 "Please guide for best wirelss adapter for wifiphisher"
Can anyone tell me that which wireless adapter supports AP mode ?? I bought **Tl-WN727N** but its only support monitor mode now i have to buy a wireless adapter which supports AP mode. If an adapter supports AP mode and also Monitor mode so please tell me about that.

[2017-10-25 09:43] #792 closed

[2017-10-25 09:48] AnEvilInsideMe opened #793 "Please guide about best wireless adpater for wifiphisher"
Can anyone tell me that which wireless adapter supports AP mode ?? I bought _**Tl-WN727N**_ but its only support monitor mode now i have to buy a wireless adapter which supports AP mode. If an adapter supports AP mode and also Monitor mode so please tell me about that.

[2017-10-25 09:53] anakin1028 commented on #793
@AnEvilInsideMe
I personally test wifiphisher with the following adaptors:
1. AWUS036NHA
2. WN722N-V1 (Be aware you should by version 1 and not the version 2)

[2017-10-25 10:19] anakin1028 commented on #791
Hi, we have supported `KARMA attack`. You can do `pip install roguehostapd` first and that module will replace with the `hostapd` installed on the system.

Another thing is I haven't followed the issues you have mentioned before. I personally think our members all like to discuss about the technical issues and indeed some of issues you mention may cause users inconvenient, but you should remember

[2017-10-25 15:02] usama7628674 commented on #791
Most of the devices and OS are updated and so KRACK attack will become useless after some time.Why waste time on writing a script that doesn't work in the future?I agree with @anakin1028 and not every attack can be implemented in this project cuz this is all about phishing and rogue AP.

[2017-10-25 15:02] usama7628674 commented on #791
Most of the devices and OS are updated and so KRACK attack will become useless after some time.Why waste time on writing a script that doesn't work in the future?I agree with @anakin1028 and not every attack can be implemented in this project cuz this is all about phishing and rogue AP.

[2017-10-25 17:24] zerocolTHS opened #794 "Run wifiphisher on startup"
How on earth can i run the command " screen wifiphisher --nojamming --essid "FREE WI-FI" -p oauth-login " attached to screen on startup i have tried  a few different ways on Raspbian but none seem to work.
Wuld be handy to boot up headless and leave for a while then go back to it later and see results.

[2017-10-26 19:21] Commander-Crash opened #795 "Headless RPI"
I do not know if this issue has been addressed or even mention. I have a RPI3 headless and im using wifiphisher 1.0 this is because the new 2.0+ ver's will cut off ssh connections to the rpi3 when started even with aI & jI arguments. This issue is not present with the 1.0 ver when I use "aI wlan1 and jI mon0" on the same adapter witch works. I would love to use the new 2.0+ ver of wifiphisher but

[2017-10-26 19:24] Commander-Crash commented on #794
I have this same issue. Right now the only thing i can think of to fix this Issue is to use wifiphisher 1.0

[2017-10-27 09:15] JetseVerschuren commented on #794
Have you've tried init.d?
If not you can use [this tutorial](http://www.stuffaboutcode.com/2012/06/raspberry-pi-run-program-at-start-up.html).

[2017-10-27 21:47] sameersh963 opened #796 ""failed to find an interface with AP mode""
Hi
I work on Linux as a basic system next to Windows 7 and I have two cards, one alpha and the other one of the device .
When i run wifiphisher i get the following "failed to find an interface with AP mode"
[code]

Edited by @blackhatmonkey: removed the extra commands as they were unnecessary.

[2017-10-28 04:30] AnEvilInsideMe commented on #793
These both adapters support AP and Monitor mode ??

[2017-10-28 17:17] ssrmpc commented on #793
Do not use Adapters that use realtek-rtl88xxau-dkms driver, since that
driver does not support virtual adapter creating.

You may use Panda 300Mbps or Panda 600 that goes up to 5G with the native
Kali Realtek-Drivers. Never the less I have an affinity to the Atheros
drivers. Since that WN722N has a version 2 that doesn't have the Atheros
chipset and nobody can guarantee that you'll get version 1 I

[2017-10-28 19:47] AnEvilInsideMe commented on #793
Thank you

[2017-10-28 20:08] #793 closed

[2017-10-28 20:10] AnEvilInsideMe opened #797 "Does Panda 300 mbps wirless N adapter support AP mode ??"

[2017-10-29 08:16] JetseVerschuren commented on #797
Assuming you mean the Panda PAU05 a quick google search leads me to [this](https://elinux.org/RPI-Wireless-Hotspot) page. It says:

[2017-10-29 15:01] blackHatMonkey commented on #795
@Commander-Crash Thanks for opening an issue. I do think making `wifiphisher` headless is a great idea. It is especially important for embedded devices such as raspberry pi and others to have a headless setup.

[2017-10-29 15:05] blackHatMonkey commented on #794
I'm closing this issue because this issue and #795 are identical. You can continue the discussion over at #795 😄 .

[2017-10-29 15:08] blackHatMonkey commented on #788
@VANTA-B It seems that you don't have a wireless adapter that supports AP mode. You can take a look at #558 for a list of adapters that are proven to work 😄.

[2017-10-29 15:14] blackHatMonkey commented on #783
@frankjulien I'm closing this issue because of inactivity. Feel free to re-open if needed 😄.

[2017-10-29 15:18] blackHatMonkey commented on #796
Hey @sameersh963 Thanks for opening an issue. Can your run `iw list` after plugging all your wireless adapter(s) and post the result here.

[2017-10-29 15:22] blackHatMonkey commented on #671
@skpace Make sure you have wireless adapter(s) that support AP and monitor mode. Take a look at #558 for a list of wireless adapters that have been proven to work.

[2017-10-29 15:31] blackHatMonkey commented on #773
@uaazaajkaa I'm closing this issue due to lack of activity. Feel free to re-open if needed 😄 .

[2017-10-29 15:31] #773 closed

[2017-10-29 15:31] blackHatMonkey commented on #782
@ali151yek I'm closing this issue due to lack of activity. Feel free to re-open if needed 😄.

[2017-10-29 15:31] #782 closed

[2017-10-29 15:32] blackHatMonkey commented on #753
@princejacob I'm closing this issue due to inactivity. Feel free to re-open if needed 😄.

[2017-10-29 15:32] #753 closed

[2017-10-29 15:33] blackHatMonkey commented on #780
@charcchii I'm closing this issue due to inactivity. Feel free to re-open if needed 😄 .

[2017-10-29 15:33] #780 closed

[2017-10-29 15:34] blackHatMonkey commented on #731
@thedeadseth I'm closing this issue due to inactivity. Feel free to re-open if needed 😄 .

[2017-10-29 15:34] #731 closed

[2017-10-29 15:35] blackHatMonkey commented on #777
@charcchii I'm closing this issue due to inactivity. Feel free to re-open if needed 😄 .

[2017-10-29 15:35] #777 closed

[2017-10-29 15:39] blackHatMonkey commented on #592
@tomtom1021 I'm changing this issue to a bug.
@anakin1028 Perhaps we need to check for the error in the interfaces whenever we make a call to `pyric`.

[2017-10-30 04:27] sophron commented on #795
Wifiphisher runs on Raspberry already.

@Commander-Crash Have you tried using the latest development version on Github? You should be able to do both de-authentication and spawn the rogue Access Point with only one wireless card if the driver supports it.

However, you can't use the same interface you use for SSH'ing into the box because we need to change the mode to something other than `Managed`

[2017-10-30 04:30] sophron commented on #794
@zerocolTHS What exactly is not working? Do you have issues running the script under `rc.d` or running the script at all?

[2017-10-30 18:06] zerocolTHS commented on #794
This script run's fine normally but no matter how i try it on startup nothing, It just doesn't run at all.
Even tried with out the screen command but i can never get the AP created.
I'm using Linux raspberrypi 4.9.39-v7+ #1021 SMP Mon Jul 24 11:32:18 BST 2017 armv7l GNU/Linux

[2017-10-30 18:08] blackHatMonkey commented on #794
@zerocolTHS That is because you are using the `--essid` option. When you specify `-essid` option it no longer goes through the AP selection phase. Try running it without `-essid` option 😄 .

[2017-10-30 18:26] zerocolTHS commented on #794
@blackHatMonkey  IF i don't select the -essid option it clones a nearby AP which i don't want to do.  ?

I would like to start screen then run wifiphisher --nojamming --essid "FREE WI-FI" -p oauth-login  on startup.

[2017-10-30 19:47] zerocolTHS commented on #794
Right my startup script is
[code]
`

The wifiphisher part is working now but i'm not getting a screen to re-attach to.
Thanks for every ones help so far,

[2017-10-30 21:31] sameersh963 commented on #796
root@kali:~# iw list
Wiphy phy2
	max # scan SSIDs: 4
	max scan IEs length: 2285 bytes
	max # sched scan SSIDs: 0
	max # match sets: 0
	max # scan plans: 1
	max scan plan interval: -1
	max scan plan iterations: 0
	Retry short limit: 7
	Retry long limit: 4
	Coverage class: 0 (up to 0m)
	Device supports RSN-IBSS.
	Supported Ciphers:
		* WEP40 (00-0f-ac:1)
		* WEP104 (00-0f-ac:5)
		* TKIP (00-0f-ac:2)

[2017-10-31 09:29] JetseVerschuren commented on #794
Can you run `screen -ls`?

[2017-10-31 16:10] zerocolTHS commented on #794
[code]
It work's fine manually  just not on autostart.

[2017-10-31 17:10] JetseVerschuren commented on #794
Can you add `echo 1 > /test.txt` to your run script before `exit 0`. Then reboot and then execute `sudo cat /test.txt`?

[2017-10-31 19:41] zerocolTHS commented on #794
[code]

[2017-11-01 15:32] usama7628674 commented on #796
Your adapter is outdated and doesn't support AP mode and virtual interfaces for hostapd.Consider buying new adapter.
Thanks.

[2017-11-02 12:35] blackHatMonkey commented on #796
@sameersh963 As @usama7628674 has said neither of your adapters support AP mode.

[2017-11-02 23:04] Sobirjon5 commented on #773
Please help me i cant install this host apd!! what to do ?
![screenshot from 2017-11-02 23-01-00](https://user-images.githubusercontent.com/33333848/32354546-10f327e0-c022-11e7-9b01-62225bcb9811.png)

[2017-11-02 23:07] blackHatMonkey commented on #773
@Sobirjon5 Have you tried the suggestion?
`apt-get update` or `apt-get --fix-missing`

[2017-11-02 23:11] Sobirjon5 commented on #773
now i am doint apt-get update something is proceed
![screenshot from 2017-11-02 23-09-30](https://user-images.githubusercontent.com/33333848/32354725-f4c92a32-c022-11e7-8c9b-2749a335af4d.png)

[2017-11-02 23:14] Sobirjon5 commented on #773
![screenshot from 2017-11-02 23-12-05](https://user-images.githubusercontent.com/33333848/32354811-6f5edb02-c023-11e7-8b4c-681043906410.png)

[2017-11-02 23:15] blackHatMonkey commented on #773
@Sobirjon5 Can you paste the output of it when it's fully done?

[2017-11-02 23:16] Sobirjon5 commented on #773
sure dear

[2017-11-03 06:19] AnEvilInsideMe commented on #797
Thanx bro

[2017-11-04 18:01] #797 closed

[2017-11-04 22:18] yungtravla commented on #791
@usama7628674 said:

https://www.krackattacks.com said:

This is not gonna be patched soon with the amount of different devices and vendors out there.

[2017-11-05 02:23] frankjulien commented on #783
Thanks for the answer and sorry for the late response. I have modified the hostapd.conf file as suggested by @blackHatMonkey, but the exact same problem remains when using wifiphisher.

When running hostapd hostapd.conf, I get the following output:

root@Kali:/etc/hostapd# hostapd hostapd.conf
Configuration file: hostapd.conf
wlan0: IEEE 802.11 Configured channel (40) not found from the channel li

[2017-11-05 05:46] lolahasanicebus opened #799 "can I use an old router as the second wifi adapter? if yes, how ?"
router company: beetel
I've tried usin the --nojamming command and that executes the code. However I see nothing significant on the "jamming device" section. How do I know if its even working?

[2017-11-05 05:52] lolahasanicebus commented on #799
router company: beetel
I've tried usin the --nojamming command and that executes the code. However I see nothing significant on the "jamming device" section. How do I know if its even working?

[2017-11-05 06:30] anakin1028 commented on #799
If you provide with `--nojamming` wifiphisher will not do the jamming process.

Have you tried the command only without this argument?

[2017-11-05 09:26] ls4cfk opened #800 "can't use wifiphisher on arch linux"
[root@ls4cfk wifiphisher]# wifiphisher
Traceback (most recent call last):
  File "/usr/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.3', 'console_scripts', 'wifiphisher')()
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 570, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.7/site-pa

[2017-11-05 09:27] lolahasanicebus commented on #799
it asks for 2 adapters then and terminates

[2017-11-05 10:48] ls4cfk commented on #800
new error ;-;

root@ls4cfk wifiphisher]# wifiphisher
Traceback (most recent call last):
  File "/usr/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.3', 'console_scripts', 'wifiphisher')()
  File "/usr/lib/python3.6/site-packages/pkg_resources/__init__.py", line 570, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/pyt

[2017-11-05 14:14] anakin1028 commented on #799
It seems that you used the old version of `wifiphisher`. You can `git clone` the newest commits on the github and try again.

[2017-11-05 14:18] anakin1028 commented on #800
can you show the output of `python` on the command line?
from the stdout:
[code]

It seems wifiphisher is installed under `python3`?

[2017-11-05 16:32] ls4cfk commented on #800
i don't know how but i fixed it
![screenshot from 2017-11-05 20-31-32](https://user-images.githubusercontent.com/18011049/32416803-6e22acf4-c268-11e7-9872-aa8b042a929a.png)

[2017-11-05 16:32] #800 closed

[2017-11-06 21:22] linooosan commented on #132
i also have this problem my devices wont connect to my fake ap, im using kali linux 2 2017 with fluxion, but it doesnt seem like i have wifiphisher, how do i get it?

[2017-11-07 14:54] blackHatMonkey commented on #132
@linooosan If you have installed it you can simply run `wifiphisher` or run the `bin/wifiphisher` in the `wifiphisher` directory.

[2017-11-07 14:58] blackHatMonkey commented on #783
@anakin1028 Do you have any idea if we can do this in `wifiphisher`?

[2017-11-07 15:15] anakin1028 commented on #783
Hi guys, from the output of `iwlist` we can see that all the 5G channels are tagged a `NO_IR` flag and this means that this adaptor cannot do the active radiation (i.e. beaconing, active probe). In other words, this adaptor cannot lunch hostapd since AP requires beaconing. (This is specified in 802.11d for regulatory.)

As a reference:
https://superuser.com/questions/809282/wifi-5ghz-ap-mode-what-

[2017-11-07 15:21] blackHatMonkey commented on #783
@anakin1028 Looking at the [OP](https://github.com/wifiphisher/wifiphisher/issues/783#issue-265544870) then why does it fail on 5GHZ AP selection.

[2017-11-07 15:29] anakin1028 commented on #783
I guess during ap recognition stage @frankjulien selects the 5G AP.

[code]
From the above code we just copy this channel number and this may cause problem since we only hardcode `hw_mode=g` when create the hostapd configuration file.

[2017-11-07 17:45] frankjulien commented on #783
Ok... not sure I understood everything you guys said up there. Is it a problem with my laptops' internal NIC (because of the NO_IR flag) or with wifiphisher that only supports 2.4Ghz networks?

I still don't understand why I can manually start hostapd using the hostapd hostapd.conf command while wifiphisher can't. Just to be sure, the adapter I mention in the hostapd.conf file (wlan0, in my case)

[2017-11-07 19:24] frankjulien commented on #783
I just tested wifiphisher with two AWUS051NH v2 external USB adapters and successfully got passed the original error message. I guess I have to conclude that my internal NIC can't be used by hostapd for 5Ghz networks, right?

[2017-11-07 23:53] anakin1028 commented on #783
From the output of hostapd I think you cannot manually lunch for the 5g channel by your internal card since the output shows the hostapd getting diaable, right?

No_IR means the adaptor cannot do the radiation on the given channel so I think you cannot use this internal card to lunch hodtapd.

The second you mentioned that you can use another card to run wifiphisher in 5g network. We need more inf

[2017-11-08 02:37] frankjulien commented on #783
Here is the /tmp/hostapd.conf file while running wifiphisher with my external USB adapters :

    interface=wlan1
    beacon_int=100
    ssid=TP-LINK_5086_5G
    hw_mode=g
    channel=44

Also, here is the /tmp/dhcpd.conf file:

    no-resolv
    interface=wlan1
    dhcp-range=10.0.0.2,10.0.0.100,12h
    address=/#/10.0.0.1

After doing a second test, I realized that although I get passed the orig

[2017-11-08 02:47] frankjulien commented on #783
Also, I have no idea why this is the case, but since this morning, while using the same NICs as when I wrote my original post, (wlan0 is my internal NIC and wlan1 is my external USB adapter) the output of iw list doesn't show the no IR tags anymore:

    root@Kali:/etc/hostapd# iw list
    Wiphy phy1
	max # scan SSIDs: 4
	max scan IEs length: 2257 bytes
	max # sched scan SSIDs: 0
	max # match sets

[2017-11-08 02:48] anakin1028 commented on #783
Yes you are right. Wifiphisher currently only deauth on 2G channels.

About the output of hostapd: I haven't test this combination (I.e. hw_mode=g and channel=44) so not sure if hostapd can run under this combination. Theoretically g mode only supports on 2G channels so it seems strange for me you can run hostapd under this configuration.

[2017-11-08 02:52] frankjulien commented on #783
Ok, thank you for your time @anakin1028, it's been very helpful talking with you ;-)

[2017-11-08 03:37] llazzaro commented on #426
I started to migrate some code. I find hard time to make work dbus and python3.
I never used dbus before, do you think it can be replaced?

[2017-11-08 04:46] anakin1028 commented on #783
No problem :)
For your last question:
What's the mode of your adaptor/wlan1?(i.e. monitor or managed)  can you post both iw dev and iw list again?

[2017-11-08 14:43] blackHatMonkey commented on #426
@llazzaro Based on the information [here](https://pypi.python.org/pypi/dbus-python/1.2.4) it does support `python3` as well.

[2017-11-08 14:49] blackHatMonkey commented on #783
@anakin1028 This is definitely a bug on our end. The two option that I could think of are:
1. Exclude(not show to the user) any `SSID` that is running in 5GHZ mode using channel number(`channel > 13`)
2.  In case the `SSID` is running in 5GHZ mode randomly set a channel(`1..13`)

[2017-11-08 15:34] anakin1028 commented on #783
@blackHatMonkey currently I prefer solution 1 since if the target AccessPoint is at 5GHz our deauth process cannot function correctly. If one day we decide to support 5G channels, we can remove this constraint then. I know there are some issues that you mentioned on the PRs. I'll take a look on them when I have more time.

@frankjulien @blackHatMonkey  Another interesting thing about this issue is

[2017-11-08 18:36] llazzaro commented on #426
I know. I compiled it from source, but I got import error on SystemBus.
On site-packages the SystemBus class exists, but for some reason import is broken with that version of dbus.

[2017-11-08 18:36] llazzaro commented on #426
I know. I compiled it from source, but I got import error on SystemBus.
On site-packages the SystemBus class exists, but for some reason import is broken with that version of dbus.

[2017-11-08 18:37] llazzaro commented on #426
I compiled it from source, but I got import error on SystemBus.
On site-packages the SystemBus class exists, but for some reason import is broken with dbus and python3.

[2017-11-08 21:06] frankjulien commented on #783
@anakin1028, Yes, my tests are done on a dual band AP.

As requested, here is the output for iw dev and iw list (wlan0 is the internal NIC and wlan1 is the external USB adapter). As you can see, the 'no IR' tag does not appear anymore, although these are the same cards I was using when I worte the original post.

iw dev:

    phy#3
	Interface wlan1
		ifindex 24
		wdev 0x300000001
		addr 00:c0:ca:8

[2017-11-09 13:43] syzygy98 commented on #709
Isn't it possible to gain access to a wpa2 protected router by creating a modified fake AP with wpa2 protection, then deauthenticate client from real AP, block real AP, then wait for client to connect to our fake wpa2 AP, receive connection data, stop blocking real AP, then send this data to initiate a connection on another interface to the real ap, we get the answer, then send it to the client, w

[2017-11-09 14:28] minanagehsalalma commented on #709
The handshake will only have the encrypted password not the really one so
how you supposed to make vitcim connect to the fake ap without he know it's
password  ?!?!

On Nov 9, 2017 3:44 PM, "syzygy98" <notifications@github.com> wrote:

[2017-11-09 15:19] blackHatMonkey commented on #794
@zerocolTHS Take a look at [this](https://serverfault.com/questions/233084/how-do-i-use-crontab-to-start-a-screen-session). `crontab` might work better for you.

[2017-11-09 15:50] anakin1028 commented on #709
@syzygy98 your idea will fail for the following reason:

If our fakeAP has same SSID and also has WPA2 encryption with the attacking AP, our fakeAP may send `4-1` with `ANONCE` to the victim station and the station will feedback 4-2 to us (I guess this is the connection data you have mentioned?).

However, our fakeAP will fail to send `4-3` since 4-3 require us to know the preshared key of WPA2. w

[2017-11-09 16:11] blackHatMonkey opened #802 "Update README"
Currently in the `README.md` file, specifically in argument table, we using `JAMMINGINTERFACE` for interface names. I think it clutters the table a bit and maybe it can be changed to "interface" instead.

[2017-11-09 16:17] blackHatMonkey commented on #795
@sophron One of the notable differences from `1.0` is the killing of network manager. Could resetting network manager also reset connections either by Ethernet or wireless?

[2017-11-09 17:44] zerocolTHS commented on #794
omg it worked.

I did
crontab -e

Then added this to bottom of the file
`@reboot screen -dmS wifip sudo wifiphisher --nojamming --essid "FREE WI-FI" -p oauth-login
`
Then screen -r and all works great.

Thanks very much for all your help.

[2017-11-09 19:28] minanagehsalalma commented on #709
As ankin says how will you know the old password in first place and if you
know it the attack will be useless...

On Nov 9, 2017 5:50 PM, "Anakin" <notifications@github.com> wrote:

[2017-11-10 10:01] ls4cfk opened #803 "[!] hostapd failed to lunch! arch linux , need help"
[al3x@ls4cfk ~]$ sudo su
[sudo] password for al3x:
[root@ls4cfk al3x]# aireplay-ng -9 wlp3s0
ioctl(SIOCSIWMODE) failed: Device or resource busy
14:00:28  Trying broadcast probe requests...
14:00:28  Injection is working!
14:00:30  Found 1 AP

14:00:30  Trying directed probe requests...
14:00:30  10:FE:ED:A6:59:F0 - channel: 1 - 'you shall not pass'
14:00:30  Ping (min/avg/max): 1.412ms/19.454ms/17

[2017-11-10 22:44] oberon2007 opened #804 "dbus-python error in Manjaro (Archlinux)"
Hi there,
I'm trying to run wifiphisher on Manjaro and keep getting
[code]
I have both Archlinux packages **python2-dbus** and **python-dbus-common** **v1.2.4** installed:
**/usr/include/dbus-1.0/dbus/dbus-python.h**
**/usr/lib/pkgconfig/dbus-python.pc**
and apparently everything that should be needed in
**/usr/lib/python2.7/site-packages/dbus/**
are in place.
What am I missing?

[2017-11-10 22:50] oberon2007 commented on #803
I guess you will likely need **roguehostapd**. I have just created a new package of it in the AUR:
[**roguehostapd-git**](https://aur.archlinux.org/packages/roguehostapd-git/)
Please try that one.
Can I in turn ask you what you have installed in regards of dbus-python? Have a look at my [issue here](https://github.com/wifiphisher/wifiphisher/issues/804) - For me the script doesn't even launch :win

[2017-11-10 22:51] oberon2007 commented on #803
Btw. I am using the latest git snapshot, not the Arch stable package of **wifiphisher**.

[2017-11-10 23:16] oberon2007 commented on #804
Solved by installing **dbus-python** with **pip**.

[2017-11-10 23:16] #804 closed

[2017-11-11 12:09] ls4cfk commented on #803
@oberon2007 thnx , i installed roguehostapd-git and it is working now.

[2017-11-11 12:09] #803 closed

[2017-11-13 07:20] #796 closed

[2017-11-13 11:13] #794 closed

[2017-11-13 11:22] sophron commented on #791
As I said in the previous thread, KRACK attacks are not in our scope.

We only care about rogue Access Point attacks or Wi-Fi automatic association attacks and anything else regarding these. The tool's main target is not really a wireless network, but wireless stations instead.

[2017-11-14 19:50] steve-job opened #808 "lubuntu & rpi3 issues serving phishing pages"
**Version**: 1.3GIT. latest version as of 11/14/17

**Description**:
to start I will say that all hardware used supports ap and monitor mode
When I first tried I used a lubuntu laptop which works setting up the ap and have gotten everything except serving http,  even if I manually type in an address on my connected device it does not ever load and nothing shows up in the http request field.

I tho

[2017-11-15 09:49] vimdale opened #809 "Fake AP in Windows"
I want to create a fake AP with my windows that can accept any password
I have esp8266 to deauther my victim.
router then I
Want to make clone on my pc
After the clone capture the victim password
Is that possible?

[2017-11-15 14:30] blackHatMonkey commented on #809
@vimdale That's not possible. Take a look at [this](https://github.com/wifiphisher/wifiphisher/issues/709#issuecomment-343158021) comment. Also `wifiphisher` is a `linux` only tool.

[2017-11-15 14:35] blackHatMonkey commented on #808
@steve-job Thanks for opening an issue.

How do you know that the original AP is getting jammed?

What happens when connected you open the browser and open a random website?

[2017-11-15 16:05] yungtravla opened #810 "Unable to use raw airodump handshake packet to verify WPA key (not cleaned)"
Do we have to strip the pcaps from excess data to be able to use them or is there something wrong with my packet?

Also, is there a module that lets us return an error response when the entered key does not match so we can catch it with JS to make a WPA attack stealthy?

[2017-11-15 16:36] anakin1028 commented on #495
@minanagehsalalma this has been implemented on the master branch. You can now just pull the latest commit to do the test.

[2017-11-15 18:24] steve-job commented on #808
I know it is jammed because the original locked ap doesn't show up and the unlocked version does.

When it tries to connect the ip and subnet masks populate while everything else stays blank.  My phone doesn't fully connect.  Nothing happens when I try to open a random website

[2017-11-15 18:36] yungtravla opened #811 "Stealth option"
The `-qS` option is crucial as it can make all the difference on whether an attack will be successful or not.

What are people's thoughts on a `-sM` (`--stealthmode`) feature that will prepare everything for an attack, but only start the attack once we're sure that a client is interacting with the target AP? (And of course also pause the attack when everything appears idle)

[2017-11-15 18:51] yungtravla commented on #810
If there is no such feature yet then I'd say **we** should implement this first as it will eliminate the need for second password attempts or persistent deauthing. If we can pretend we know the password in plaintext and that we are asking a target to verify whether they know the password too, I don't think this software could be much more effective (even in a wishful sense).

That would seal the d

[2017-11-15 19:21] yungtravla commented on #791
@anakin1028

I respect that and I agree with you. Thanks for regarding all my points too.

When I write comments that step on people's toes, I'm just being overly direct (and sometimes having a laugh).

But when I see a certain issue that's been repeatedly reported by a multitude of users, and persists over months on end, and then I read (for example) @sophron defending the choice of restricting o

[2017-11-15 22:08] yungtravla commented on #808
@steve-job that's not an indication. This is what your wifi app does to shortlist the strongest signal for you, as many addresses use more than 1 router, but keep the same ESSID.

You can scan for authentication packets to see if the deauth packets were effective. (as the client will most likely try to reconnect)

[2017-11-15 22:11] yungtravla commented on #808
And when you're connected to your wifiphisher AP, try to visit a random ip using your browser (i.e. http://9.9.9.9) Just make sure it is a HTTP request and not HTTPS (as wifiphisher can't respond to encrypted requests)

[2017-11-15 22:30] yungtravla commented on #811
idle as in no one is trying to perform a handshake with the target AP for 2 seconds.

[2017-11-16 00:43] steve-job commented on #808
I see, how should I scan for deauth packets? Wireshark?

I have already said nothing happens when I try to type in a random http address.  It sits and try's to load forever.  I type in a random site never visited so https doesn't try to load.  I disable the phones cellular data to make sure it can only connect through the ap.

[2017-11-16 00:47] steve-job commented on #808
My lubuntu machine makes more progress saying that it is deauthenticating and with dhcp lease info.  Using the lubuntu machine I am able to actually connect but still can't reach http

[2017-11-16 09:13] yungtravla commented on #808
I guess you can use a tool like Wireshark to monitor the target AP for handshakes, but you should really use a script that scans for you

In regards to the connection issue, does your request time out? If so, does it time out every time?

If your AP starts and you can connect to it (but not load anything), then it seems like a routing issue to me

[2017-11-16 09:16] yungtravla commented on #808
packets to/from your ap are not being (properly) routed to/from wifiphisher's web server, not sure why

[2017-11-16 11:07] sophron commented on #811
Hi,

What would be the benefit of starting the attack only when the victim users are active? How does it make the attack stealthy?

[2017-11-16 16:44] maxiedaniels opened #812 "Incorrect reading of apostrophe in network name"
Oops posted this on the wrong repo!!

[2017-11-16 16:50] #812 closed

[2017-11-18 11:07] Emberborne commented on #799
I am not sure about this, but i've heard of people making wifi hacker gadgets with openwrt...
If you want an embedded device/stealth device, then buy a pi 3 and flash kali to a micro sd, and install wifiphisher. You can vnc, ssh, or write a bash script with arguments so that the wifiphisher starts doing it's attack scenario without asking for user input.
If you are really serious about that, then

[2017-11-18 11:27] Emberborne commented on #795
The problems with wifiphisher on a pi are those:

**Ssh/vnc connection drops because of the Network-manager kill, even while using ethernet.**

**If you make a startup script that requires no user input with all necessary arguments for wifiphisher to function like you want it to do you won't be able to exit wifiphisher correctly unless you have a keyboard and you press the esc key** This is bad be

[2017-11-18 12:02] Emberborne opened #813 "Suggestion"
_I have seen across numerous posts across this repository people wanting to sniff creds when using an interface connected to the internet alongside their Ap interface. Like anakin said in issue #742, this is not very practical and alternatives like the [WiFi-pumpkin](https://github.com/P0cL4bs/WiFi-Pumpkin) already fulfill this._

What I propose is a fake ap with no internet connection, but with a

[2017-11-19 06:49] sophron commented on #813
What are the benefits of the phishing scenario that you describe over our `oath-login` page that we currently provide?

We cannot fake the authenticity of registered domains, but we could possibly give to the user the opportunity to provide an SSL cert for a domain he/she controls in addition to #741.

[2017-11-19 06:59] sophron commented on #795
@Emberborne Thanks for these.

Maybe we should introduce an option that avoids killing the interfering processes.

If you ran the tool under a virtual console (like `tmux` or `irssi`) and then resume your session, you should be able to exit remotely by pressing `Escape` right? You could also run the tool with the logging option and then send a SIGKILL to terminate it.

[2017-11-19 11:22] Emberborne commented on #813
How many oath-login pages do you have?
The facebook one is not the most convincing one, so I think that you should include on the page _'Why do we do this'_ and write an explanation like _'Our wifi has a special partnership with facebook wifi'_
A bit like on the plugin update with the FAQ [here](https://wifiphisher.org/ps/plugin_update/).

That would be a good idea, people are more aware of https

[2017-11-19 11:26] Emberborne commented on #795
How would one do this?

[2017-11-19 23:51] yungtravla commented on #811
why would you fish in a lake you know has no fish?

[2017-11-19 23:52] yungtravla commented on #811
and what good would broadcasting a rogue (and perhaps in some cases illegel) access point do for everyone to see, when it's pointless to begin with?

[2017-11-20 11:33] sophron commented on #811
There are fish; they are just sleeping.

An automatic association attack has actually more chances to go unnoticed when the victim user doesn't interact with his device during the attack (Network Manager UI notifications are bypassed).

Let me reverse the question again: What is the benefit of starting the attack only when the victim users are active? A WIDS should detect the attack either way.

[2017-11-20 11:39] sophron commented on #813
I agree that the `oauth-login` page can become more convincing. It is intended to be a general social media OAuth page, not only about Facebook.

We love Pull Requests. Feel free to submit a Pull Request with your ideas :)

[2017-11-20 11:42] sophron commented on #809
We don't support native Windows. You can run Wifiphisher under a Linux VM.

[2017-11-20 11:42] #809 closed

[2017-11-21 11:13] yungtravla commented on #811
Are you being serious at the moment?

The fish are sleeping?? The fish might be on a holiday, and their neighbours might hate fishers... You're not considering every type of scenario.

And since wifiphisher is meant for phishing user input, why are you talking about an attack with no user interaction?

I'll say it even simpler for you: Wifiphisher is absolutely pointless unless there is a victim.

[2017-11-21 11:14] yungtravla commented on #811
it's a total waste of cpu and could potentially cause legal troubles (if used incorrectly).

[2017-11-21 11:15] yungtravla commented on #811
and I was not even talking about WIDS... Which is actually a pretty solid reason not to use wifiphisher

[2017-11-21 12:02] sophron commented on #811
Yes.

Wifiphisher is a penetration testing tool. I'm not sure how the company or organization can be "on holiday" during a tiger-team testing. But let's suppose a scenario that Wifiphisher is running in a Raspberry Pi device hidden somewhere in the target organization infrastructure. Let's also suppose that remote connection is not possible. Indeed, for efficiency reasons only, the optimal way wou

[2017-11-22 02:33] yungtravla commented on #811
This is absolutely going nowhere.. I've explaines to you the works and benefit of a stealthier approach, but you fail to address my main point.

I have stopped using wifiphisher a while ago as it is extremely limited and not safe to use in my opinion.

Take my advice, or don't. This was the last of my efforts to contribute to this project.

All the best.

Peace

[2017-11-22 02:37] yungtravla commented on #811
@sophron said

My guess is that you still carry hard feelings due to the fact that I blatantly made fun of some of the idiotic limitations presented in this tool.

And I rest my case, some things about this tool are to be ridiculed for as long as they persist.

Adios

[2017-11-22 02:39] yungtravla commented on #811
nice logo however :)

[2017-11-24 11:47] anakin1028 commented on #810
I guess for the airodump part is same as #735.
Can you check if airodump capture all four handshake frames?

Thanks~!

[2017-11-24 11:54] anakin1028 commented on #791
Sure. BTW we have added the `--logging` option though the output screen still limit 5 lines. When using --logging, all the important info should be preserved.

[2017-11-24 20:58] cacaocaca opened #815 "https certificate Google"
Hi i use kali linux Linux kali 4.13.0-kali1-686-pae #1 SMP Debian 4.13.10-1kali1 (2017-11-03) i686 GNU/Linux and wifiphiser last version, so i have look that on my android if i text on chrome bar direct while wifiphiser is active "blabla" google show me the page with https convert on http and say so "Caution for steal password ecc" so , you know some method for bypass it and show direct fake page

[2017-11-24 22:46] zinzer opened #816 "Suggestion for addition to fake pages to improve response."
The fake AP firmware upgrade page asks for a WPA2 Pre-Shared key or a WPA2 password. In my experience many average home computer users would not be sure what is required or where to look for this information. In fact this request is likely to prompt them to seek help from someone with better knowledge and who is more likely to realise that the page is fake and part of an attack.

I suggest that so

[2017-11-25 01:17] anakin1028 commented on #816
The password is configured by the victims. I'm not sure why your suggestion is more convinced for the victim unless the users use the default password for the AP?

[2017-11-25 10:04] zinzer commented on #816
Yes. I believe that most users keep the default password.
1. Because I have asked family, friends and PC shop customers.
2. Because passwords I have found using other hacking tools are clearly default.

Maybe a better addition to the fake pages would be "The default password can be found on the label attached to your wifi router".  This message would not affect victims who have changed their passw

[2017-11-26 13:11] djdisikd opened #817 "Ask router password instead of WiFi password"
We can copy the target AP WiFi password and SSID and jam the target AP so the client will be connect to ours and put the router password

[2017-11-26 15:59] abdozekaa opened #818 "Errno1"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting.

**Version**: Use `git show | grep commit` command and paste here the output.

**Description**: Give a more analytical description here. The output of the `iw list` and `iwconfig` commands may be helpful.

**Script output**: Paste the outpu

[2017-11-28 21:35] Ammonh commented on #815
Most web browsers will throw you that warning when connecting to your routers web interface, so technically it will be the same experience for the victim. So to your point, the program is not unless. You comment is! ;)

[2017-11-28 22:03] mowshon commented on #818
Run as root.
[code]

[2017-11-29 03:22] lightakun opened #819 "Problem starting with wifiphisher on kali nethunter(arm64)"
I own a leeco le2 having nethunter installed
wifiphisher runs with following error codes
[code]
I run python setup.py first and all the dependies are installed
Please get to me soon

Edited by @blackhatmonkey: fixed the error wrap.

[2017-11-29 06:48] JetseVerschuren commented on #819
Can you wrap that snippet in code tags?

[2017-11-29 06:57] lightakun commented on #819
@JetseVerschuren
Here the code clearly
http://freetexthost.com/d2oiiwn4hl

[2017-11-29 20:55] cacaocaca commented on #815
Most web browsers ? Which browser you are talking about i use chrome and no show it and this no happen always. But the problem is other becouse the ignorant people that click on fake ap or if have saved connect automatically he connect direct and look the page " STEAL PASSWORD " the ignorant people don t know what to do when chrome say "add exception for this site " or do no trust equally and clos

[2017-11-30 14:39] Someone847 opened #820 "Wifiphisher - No interface with monitor mode found"
Hello guys, i am new here and i have one question for you. I installed Kali Linux 2017.3 on VMWare Workstation Player and everything works normal, i downloaded wifiphisher, good installed wifiphisher, but when i tried to run wifiphisher (type wifiphisher in terminal) i get an error:

Starting Wifiphisher 1.3GIT ( https://wifiphisher.org ) at 2017-11-30 13:46
No handlers could be found for logger "

[2017-11-30 15:52] roufato commented on #584
that works for me /usr/local/lib/python2.7/dist-packages/wifiphisher-1.3-py2.7.egg/wifiphisher/data/phishing-pages/

[2017-11-30 16:22] JetseVerschuren commented on #820
Have you plugged in a usb wifi adapter with monitor mode?

[2017-11-30 20:26] iobj commented on #584
Thank you! I forgot to reply I moved the wrong contents over. It is now working successfully for me :+1:

Thanks!

[2017-11-30 21:22] abdozekaa commented on #818
I get failed to connect to socket /var/run/dbus/system_run_socket .. no file found

[2017-12-01 15:41] blackHatMonkey commented on #818
@abdozekaa You are running an old version of the tool. Please get the latest from Github and try again.

[2017-12-01 15:48] blackHatMonkey commented on #819
@lightakun Unfortuantely Nethunter is not currently supported. It seems the tool has dificualty finding the correct interfaces.

[2017-12-01 15:51] blackHatMonkey commented on #799
@lolahasanicebus I'm closing this issue due to inactivity. Feel free to re-open if needed.

[2017-12-01 15:51] #799 closed

[2017-12-01 15:52] blackHatMonkey commented on #783
This issue should be fixed now 😄 .

[2017-12-01 15:52] #783 closed

[2017-12-01 15:57] abdozekaa commented on #818
I deleted everything and redownload using git clone .. installed and get the same error failed to connect to sockt /var/run/dbus/system_bus_socket file or directory not found

[2017-12-01 16:18] lightakun commented on #819
@blackHatMonkey
Okay no problem! :)

[2017-12-01 16:28] blackHatMonkey commented on #818
@abdozekaa Can you post the exact output?

[2017-12-01 16:45] abdozekaa commented on #818
![screenshot_2017-11-26_15-56-57](https://user-images.githubusercontent.com/24819172/33493120-c7206bac-d6c7-11e7-8928-a0f1ff43801c.png)

[2017-12-01 16:46] abdozekaa commented on #818
![screenshot_2017-12-01_16-43-00](https://user-images.githubusercontent.com/24819172/33493192-eef5fb9c-d6c7-11e7-8816-ac984c6ef4bd.png)

[2017-12-01 16:53] abdozekaa commented on #818
The previous screenshot when i typed #wifiphisher
This screenshot when i type #python bin/wifiphisher
![screenshot_2017-12-01_16-50-54](https://user-images.githubusercontent.com/24819172/33493489-d6e0ee9e-d6c8-11e7-8a5b-a6708233918a.png)

[2017-12-01 16:55] blackHatMonkey commented on #818
@abdozekaa Do you have `dbus-python` installed?

[2017-12-01 16:59] abdozekaa commented on #818
How to know if it's installed or not ?

[2017-12-01 17:07] blackHatMonkey commented on #818
Just run `pip2 install dbus-python`. This should install it if needed.

[2017-12-01 17:11] abdozekaa commented on #818
Requirements already satisfied ... i guess it is intalled

[2017-12-01 18:28] omermujtaba opened #821 "Wireless interface dont support AP mode. HELP!!"
Hi, I am using an Alfa card. Its chipset is Ralink Technology, Corp. MT7601U.
But i am getting error of AP mode not supported.

Can someone suggest a fix of this issue or suggest me some wifi adapters that support AP mode.

Thankyou :)

[2017-12-02 23:41] blackHatMonkey commented on #821
Hi @omermujtaba Can you post the result of running
[code]
after connecting all your adapters?

[2017-12-03 11:31] Someone847 commented on #820
JetseVerschuren Thank you soo much bro, i purchased Atheros USB Wifi Adapter with Monitor Mode and now everything works fine, thanks bro <3

[2017-12-03 11:34] #820 closed

[2017-12-04 08:40] sophron commented on #802
Screenshots also need to be updated.

[2017-12-04 08:42] #811 closed

[2017-12-04 08:45] sophron commented on #817
I don't understand the difference of "router password" and "WiFi password". Maybe you mean a phishing scenario that grabs the router's admin-portal password? There's already #238 for this.

[2017-12-04 08:49] sophron commented on #816
Even if most people don't change the default PSK, asking them to find it on the router itself will raise suspicion to the most experienced users.

We cannot default to this but you are free to edit the HTML page directly according to your needs.

[2017-12-04 09:12] sophron commented on #815
Hi @cacaocaca,

By default, Wifiphisher will try to simulate the same experience as a valid captive portal does. And this is what a user will experience when connecting to a public hotspot.

If however, one wants to use Wifiphisher to get a man-in-the-middle position and then bypass HSTS / HTTPS he can use various other tricks. For example one may use Wifiphisher in combination with evilgnx tool.

[2017-12-04 09:12] #815 closed

[2017-12-04 09:28] #791 closed

[2017-12-04 09:29] #737 closed

[2017-12-04 09:36] sophron commented on #717
I'm closing this. Feel free to re-open if it's indeed a bug from our side and not a mis-configured phishing page.

[2017-12-04 09:39] #495 closed

[2017-12-04 19:57] MarkusHaas2002 commented on #821
I prefer the PAU05

[2017-12-04 20:44] cacaocaca commented on #815
Man-in-the-middle ? How can i do man-in-the-middle if before i can t connect on the local network ? O_o

[2017-12-05 02:19] usama7628674 commented on #815
@cacaocaca   Here you go
https://github.com/kgretzky/evilginx

[2017-12-06 18:45] m7md2112 opened #822 "redirect to specific dns name instead of "10.0.0.1""
if we could redirect all requests to custom dns name instead of ip we will pass https alarm by original Let's Encrypt - Free SSL/TLS Certificates . is there any method to do that ???

[2017-12-07 09:09] EastwindZL opened #823 "interface.py error"
The latest version of Kali is used!

The following error occurred in running wifiphisher
![tim 20171207170617](https://user-images.githubusercontent.com/29472751/33707113-45afdc34-db71-11e7-8993-286c4723b8b2.jpg)

thanks!!

[2017-12-07 09:36] anakin1028 commented on #823
We'll fix it soon. It should be an known issue. Can you supply with `-iNM` first and see if tool works for you?

[2017-12-07 10:31] EastwindZL commented on #823
Thank you very much

[2017-12-07 12:49] sophron commented on #822
You can use the `--iI` option to provide the victims with Internet. Then you are free to manually (or with the use of other tools) to redirect the victims to a domain that you  own.

[2017-12-07 14:35] minanagehsalalma commented on #709
@anakin1028 `Changing to WEP will not work neither. WEP crack relies on collecting large amount of frames by using the same shared key so that the brute force attack will success. Lunching fake AP has no role in this kind of attack.`

but what about this. will it work ?? with this [Cracking WEP with No clients Connected Backtrack 5
](https://www.youtube.com/watch?v=csGM2gI4V64)

[2017-12-07 23:06] djdisikd commented on #817
Yeah I mean grabs the router admin password

[2017-12-07 23:06] #817 closed

[2017-12-09 01:19] djdisikd commented on #238
I wish you can do it faster.

[2017-12-10 01:32] vv7v7 commented on #27
Dear Developer,
So why you don't want to create a rogue ap with the same bssid ( mac address ) i.e. the whole mac or just one byte changed. Btw why you don't want to execute some scripts which will disconnect victim from his own wifi ap(mdk3, aireplay-ng etc.) ? (I.e. Linset)

Best regards,
V7

[2017-12-10 01:47] vv7v7 opened #824 "Handshake capture does not contain valid handshake"
Dear Developer,

I.e. we have some pcap file and aircrack-ng says it has handshake.
So when we're executing:

it says: [-] handshake capture does not contain valid handshake
So ... could you please help me ?

Best regards,
V7

[2017-12-10 02:03] vv7v7 commented on #824
So I've read some article here for this and found that handshake should have 4 of 4 messages for wifiphisher.
Just run airodump-ng and wait after it gets handshake and after that just wait more about 20 seconds. After that it might work.

Best regards,
V7

[2017-12-10 02:03] #824 closed

[2017-12-10 04:55] sophron commented on #27
Hi @vv7v7,

If we do change to the same BSSID, we will deauthenticate our AP as well.

As far as I know, this won't happen.

We are doing deauthentication to disconnect the victims with our own custom methods.

[2017-12-13 14:15] Cris90sb commented on #392
it's useless if we're not connected to the victim's router. If you are not connected as I told you, make the attack on yourself: D

[2017-12-15 13:43] VANTA-B opened #826 "E: Unable to locate package qbittorent"
[code]
**THIS IS THE ERROR I GET AND ALSO THE REPOSITORY FILES WITH ME ARE**
#
[code]
**THIS IS AN ISSUE I FIND DIFFICULT TO SOLVE I AM STILL A NOOB AT THIS AND NEED HELP ACCORDINGLY :-)**

[2017-12-15 13:43] #788 closed

[2017-12-15 13:44] VANTA-B commented on #788
Thank you **blackhatmonkey** and **anakin1028**

[2017-12-16 08:30] JetseVerschuren commented on #826
Try `apt-get install qbittorrent`

[2017-12-16 09:37] sophron commented on #826
@VANTA-B This post has nothing to do with Wifiphisher. Please post on Kali Linux forums instead.

[2017-12-16 09:37] #826 closed

[2017-12-16 12:26] Sultan91 commented on #782
Got installed setup tool using pip but problem still persists

[2017-12-21 14:54] dark-boy commented on #558
i dont know how to use from this adapter. need help

[2017-12-22 06:55] Abvatous commented on #780
Hello~
I had the installded problem .too~
My Version is Python 2.7.12+.But After taping   "python setup.py install",i just got:

Download error on https://pypi.python.org/simple/blessings/: [Errno -2] Name or service not known -- Some packages may not be found!
Couldn't find index page for 'blessings' (maybe misspelled?)

Please~~

[2017-12-22 11:33] suzainkhan commented on #777
www.junaidmugloo.blogspot.com

[2017-12-23 23:47] Alsimp8 opened #830 "No access pont has been discovered yet!"
After I put the comman wifiphisher -iNM, the error "No access pont has been discovered yet!" appears
PD: Sorry for my bad english

[2017-12-24 05:31] anakin1028 commented on #830
The problem looks like related to adaptors. What adaptor do you use?

[2017-12-24 13:11] Alsimp8 commented on #830
I use a TL-WN7200ND

[2017-12-24 15:37] yigitcolakoglu opened #831 "setup tools not working"
**Description**:

OK, so I have been trying to install a tool called "WifiPhisher" on my PC. However, as I try to run the setup.py file, I get this error(I am using python 2.7.14 btw) :

[code]

so, I tried installing setup tools using :

`root@UNIC0RN:~# sudo pip install setuptools`

However, it said
`
Requirement already satisfied: setuptools in /usr/lib/python2.7/dist-packages`

I am stuck rn.

[2017-12-24 15:39] JetseVerschuren commented on #831
What does `python --version` return?

[2017-12-24 15:41] yigitcolakoglu commented on #831
@JetseVerschuren  `Python 2.7.14 :: Anaconda, Inc.`

[2017-12-24 15:43] JetseVerschuren commented on #831
Try `python -m pip install --upgrade pip setuptools`

[2017-12-24 15:48] yigitcolakoglu commented on #831
I get this `Exception:
Traceback (most recent call last):
  File "/root/anaconda2/lib/python2.7/site-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/root/anaconda2/lib/python2.7/site-packages/pip/commands/install.py", line 272, in run
    with self._build_session(options) as session:
  File "/root/anaconda2/lib/python2.7/site-packages/pip/basecommand.p

[2017-12-24 15:51] JetseVerschuren commented on #831
Are you on Kali Linux?

[2017-12-24 16:34] yigitcolakoglu commented on #831
@JetseVerschuren  yes why?

[2017-12-24 18:03] JetseVerschuren commented on #831
Ok, can you try
`apt-get purge python-pip`
`apt-get install python-setuptools`
`easy_install -U pip`

[2017-12-26 21:24] arcaniussainey opened #832 "Faking https connection [enhancement]"
So tech savy people dont like to give up thier info, and they check for https. I noticed that https doesnt appear in the captive portal on chrome, so could wifiphisher have a div with this image at the top left:
![screenshot 2017-12-26 at 4 22 03 pm](https://user-images.githubusercontent.com/28377119/34364942-f960f830-ea58-11e7-842b-636ea4528553.png)
 and green https with the url at the top of the

[2017-12-26 23:05] arcaniussainey commented on #832
Another idea:
            if someone knows how to create adobe flash plugins.games then they can create a fake webpage combined with the fullscreen api to get a full screen interactive expierience. users could also create javascript and use it to contain several pages/nodes to change the page instead of linking.

[2017-12-26 23:07] arcaniussainey commented on #821
not all adapters work such as my chromebooks, which uses mlan and cannot broadcast a network. It may be helpful if someone created a list of devices that support it

[2017-12-26 23:44] arcaniussainey commented on #816
This is slightly unrelated, but why can hackers not create thier own ap type, and say that its wpa. What if instead of having a passphrase, the passphrase is like
`Passphrase = "*"
if Passphrase == UserPass:
    alert.wifiphisher(UserPass)`
with the asterix meaning all passwords, and then printing the password to the hacker/user/pentester. Even if this was a re-invent the wheel situation couldn't

[2017-12-28 10:39] tomsi113 commented on #780
Solution for problem:
It's easy... all you have to do is install dbus-glib
on my mac i've used `brew install dbus-glib`

[2017-12-28 15:23] anakin1028 commented on #830
@Alsimp8 can you use it to sniff the frames? You can manually try to use the following commands see if the adaptor works correctly:
[code]
Check if there are frames on the wireshark console. Since we need the adaptor to support monitor mode to sniff the beacons on the air.

[2017-12-28 20:37] sophron opened #835 "Print information about victims"
We should parse the output of `dnsmasq` and create a list with all clients that have connected to the rogue AP. We can then get and print further information by:

1) Matching the MAC address to a vendor.
2) Looking for the first request of that device. Specific OS will try to access specific URLs to see if there's Internet connectivity. We can use these URLs as signatures for the underlying OS.