[2015-12-09 18:59] frafrichile commented on #172
@blackHatMonkey  I have those same exact two. Maybe I need to specify which one to use. Do you do that? if so which one do you specify to use.

Thanks!

[2015-12-09 19:01] blackHatMonkey commented on #172
Please see #180 the workaround post.

[2015-12-09 20:07] frafrichile commented on #181
I have the same problem and I tried the other version as suggested by @blackHatMonkey . It creates a opened access point with the same name but unsecured. After a little it dissapears and while testing I am still able to browse the internet as usual .

[2015-12-09 20:15] blackHatMonkey commented on #181
@frafrichile

The unsecured access point is what the ```wifiphisher``` is suppose to do. When it dissapers is ```wifiphisher``` still running in terminal. If you have correctly connected to the access point you shouldn't be able to have access to the internet and you should only see the minimal page. Can you try with the latest version and report back?

[2015-12-10 00:07] frafrichile commented on #181
@blackHatMonkey  okay so this is my set up . Windows 10, VirtualBox . Kali Sana

phy0	 wlan0		rtl8187		Realtek Semiconductor Corp. RTL8187 (AWUS036H)

phy1	 wlan1		rtl8192cu	Edimax Technology Co., Ltd EW-7811Un 802.11n [Realtek RTL8188CUS]

I used the wifiphiser-master

and this was my code

<code> ./wifiphisher.py -aI wlan1 <code>

It did succesfully create an access point . an open network but i

[2015-12-10 00:22] blackHatMonkey commented on #181
@frafrichile

I'm sure this is just a typo because it's suppose to be
[code]
Take a look at this [video](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=1&cad=rja&uact=8&ved=0ahUKEwicgJrXgNDJAhWFFh4KHSJ6BOMQtwIIHDAA&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DK1ETBeRQBs4&usg=AFQjCNH4cXsDFM7vnxxrKPOX_oD5hjsAmA) and set  up wireless adapters like the video in the virtualbox.
Run

[2015-12-10 00:30] frafrichile commented on #181
@blackHatMonkey Okay so after doing the same thing I was doing 3 times. It worked! but this time it did not jam the wireless( so i had to disconnect and connect manually) . I am going to try with what you suggested now. and see if that makes a difference

[2015-12-10 00:46] frafrichile commented on #181
@blackHatMonkey I did all the above but for some reason it is not jamming my AP .

[2015-12-10 01:31] blackHatMonkey commented on #181
This seems to be a bug and I'm sure it will get fixed soon. Just wondering which card is the ```wlan1```?

[2015-12-10 01:45] frafrichile commented on #181
@blackHatMonkey
Edimax EW-7811Un
http://www.amazon.com/Edimax-EW-7811Un-150Mbps-Raspberry-Supports/dp/B003MTTJOY

[2015-12-10 01:53] blackHatMonkey commented on #181
@frafrichile

Can you post the output of these commands
[code]
the output should resemble
[code]
put ```x``` in
[code]

[2015-12-10 02:33] frafrichile commented on #181
phy#1
	Interface wlan0
		ifindex 4
		wdev 0x100000001
		addr 00:c0:ca:81:8d:cf
		type managed
phy#0
	Interface wlan1
		ifindex 3
		wdev 0x1
		addr 80:1f:02:bf:1d:7d
		type managed

for phy1 http://pastebin.com/Hc9QaR5Z
for phy0 http://pastebin.com/zcEevQXc

[2015-12-10 03:18] blackHatMonkey commented on #181
@frafrichile
Thank you. :+1:

[2015-12-10 09:46] sachinrathore211 commented on #177
Only one wireless interface found. Closing...
How to solve??

[2015-12-10 10:10] MHCHesham commented on #156
Ok... we need feature to add essid for hidden network by ourself

[2015-12-10 16:03] blackHatMonkey commented on #177
Please read [requirements](https://github.com/sophron/wifiphisher#requirements). You need two wireless adapters.

[2015-12-10 18:18] sachinrathore211 commented on #177
OK, but when I start the adapter does not connect Who does my laptop wifi

[2015-12-10 18:55] blackHatMonkey commented on #177
@sachinrathore211

Not sure I understand your situation. Do you have 2 adapters or only one?

[2015-12-10 20:13] 1974darrenh commented on #181
The problem I have is that I can see the fake AP but can still connect through the original AP, so in other words, It's not jamming or de-authenticating my AP at all.

What am I doing wrong?

[2015-12-10 21:09] blackHatMonkey commented on #181
You may want to try giving ```wifiphisher``` the ```-jI``` flag and see if it de-authenticates or not. However there definitely is a bug regarding jamming or creating an ```AP```.

[2015-12-10 21:11] 1974darrenh commented on #181
Ok thanks :)

[2015-12-11 06:06] sachinrathore211 commented on #177
The first two have become one. Who does when I start on both my laptop wifi adapter offers no catches.

[2015-12-11 15:38] ArionMiles commented on #116
What changes should be implemented in the Python script to make this work?

[2015-12-11 21:21] blackHatMonkey opened #182 "Make Wifiphisher more modular"
@sophron

Here is what I propose:
![uml](https://cloud.githubusercontent.com/assets/15163267/11755842/21e3d142-a023-11e5-9c11-44462e8bb2f2.png)
To break down the project into smaller modules.

[2015-12-12 10:00] HassenPy commented on #182
maybe another module for the server

[2015-12-12 15:02] songdongcheol opened #183 "help me!!python error (ubuntu 14.04)"
^CException in thread Thread-5:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 763, in run
    self.__target(*self.__args, **self.__kwargs)
  File "wifiphisher.py", line 832, in sniff_dot11
    sniff(iface=mon_iface, store=0, prn=cb)
  File "/usr/lib/python2.7/dist-packages/sc

[2015-12-12 15:37] blackHatMonkey commented on #183
I believe that One of your network adapters are turned off. Please run the fallowing commands:
[code]
get the name of the two adapters
[code]
and replace ```x``` with the numbers you got.

[2015-12-12 15:39] blackHatMonkey commented on #182
I was thinking to put the server in the ```phishingpage``` module since it's related to the ```phishingpage```.

[2015-12-12 18:24] cutff commented on #182
Great Idea Thanks

On 12 December 2015 at 15:39, blackHatMonkey <notifications@github.com>
wrote:

[2015-12-13 08:04] songdongcheol opened #184 "Not create fakeAP (ubuntu 14.04)"
I don't connect wifi on phone when start to wifiphisher.help me!!(Do not speak English well. sorry)

[2015-12-13 15:51] blackHatMonkey commented on #184
Do you get any errors?

[2015-12-14 13:10] sophron commented on #182
I agree with your separation logic. I believe `phishingpage` can be a different module than the `minimalserver`. Specifically:

`phishingpage`: All the logic that has to do with getting the right phishing page, from the filesystem or the web, or determining the right page according to the router manufacturer (#5).

`minimalserver`: A minimal web server with all our needed features (redirect HTTPS

[2015-12-14 13:30] sophron commented on #180
@blackHatMonkey,

Yes, indeed the `nl80211 driver initialization failed` is the issue, that appears to be a problem with `hostapd`. We should catch this error and present a message back to the user.

Setting manually the interface may or may not work depending on your other wireless card, but it is certainly a good recommendation.

[2015-12-14 14:08] blackHatMonkey commented on #182
I agree that putting all the server related operations in it's own module would clean up the code a lot. Also I was thinking of putting all the modules in a single package for easier importing.

[2015-12-14 14:27] songdongcheol commented on #184
no error..

[2015-12-14 15:07] blackHatMonkey commented on #184
Do you see another access point with no password?

[2015-12-15 01:51] blackHatMonkey commented on #182
Here is a more complete UML and I'm sure there is a complete of mistakes in there since I'm not familiar with every function.

![untitled diagram](https://cloud.githubusercontent.com/assets/15163267/11799696/6a8d3a7c-a2a4-11e5-9291-13a6328f7dcd.png)

Let me know what you think of it.

[2015-12-15 14:59] songdongcheol commented on #184
no

[2015-12-17 14:47] blackHatMonkey commented on #184
Try using ```-aI``` and ```-jI``` commands to run ```wifiphisher```.

[2015-12-17 20:45] blackHatMonkey commented on #182
And I made a simple flow chart:

![flowchart](https://cloud.githubusercontent.com/assets/15163267/11881495/2313f130-a4d5-11e5-9f0a-a4593d8850ce.png)

[2015-12-18 10:51] songdongcheol commented on #184
There are wlan0 and wlan1.I think the problem is not making fake ap..
actually, that's normal if wifi is disconnect.

[2015-12-18 12:19] sandman6578 commented on #109
Try to give all directories in /www folder and child directories read and write rights.

[2015-12-18 16:22] blackHatMonkey commented on #184
Can you post the output of these commands
[code]
the output should resemble
[code]
put ```x``` in
[code]
Look for the Supported interfaces modes and paste all the ```*``` items.
Run the fallowing commands:
[code]
you must be able to see two wireless adapters.
[code]
Then you can ```wifiphisher```
[code]
Let me know if that solves you problem.

[2015-12-19 04:41] songdongcheol commented on #184
command=nmcli radio wifi off
error=Not known about the (Street) 'radio'. Then try it a 'nmcli help'.
skip this command and ' sudo python wifiphisher.py -aI wlan1' and still not make fake AP..

[2015-12-19 17:02] blackHatMonkey commented on #184
What wireless adapters are you using?

[2015-12-20 05:55] songdongcheol commented on #184
iptime N150UA

[2015-12-21 09:53] FallenArchangel opened #185 "Add support for network adapter compatibility check"
Whenever I try to run this on Kali 2.0

It will detect my devices, scan for networks, then ask me which network to target.
Everything runs just fine until it tries to start the AP.  As soon as it does, my entire system will freeze, only fixable by powering off the device.

If I run airmon-ng check kill, it will sometimes take a few seconds longer to kill.  Using another device, I can see that it i

[2015-12-21 16:44] blackHatMonkey commented on #184
You need 2 cards to be able to run ```wifiphisher```.

[2015-12-21 16:45] blackHatMonkey commented on #185
Yes indeed there are problems with the card detection. However it is currently being worked on. see #182.

[2015-12-21 17:00] frafrichile commented on #182
I just wanted throw a suggestions. I noticed it is not mobile compatible. Maybe add that in the future.

[2015-12-21 17:05] blackHatMonkey commented on #182
What do mean by mobile compatible?

[2015-12-21 17:27] frafrichile commented on #182
When I connect to the open access point created by wifiphiser the page that ask for user to enter the password is really small. Cant read it on the smartphone but if we make the pages all mobile compatible. It detects when browser is smartphone and it adjust the screen size so user can read better and doesnt have to pinch the screen

[2015-12-21 17:37] blackHatMonkey commented on #182
Yes I wrote a new page for ```linksys``` with ```bootstrap``` that will adjust to all screen sizes.

[2015-12-22 16:17] songdongcheol commented on #184
I have already 2 cards.

[2015-12-22 17:05] blackHatMonkey commented on #184
Can you post the output of these commands
[code]
the output should resemble
[code]
put ```x``` in
[code]
Look for the Supported interfaces modes and paste all the ```*``` items.

[2015-12-22 21:57] #176 closed

[2015-12-22 22:03] sophron commented on #182
@blackHatMonkey Nice, they look good. I don't currently have the time to check how accurate these diagrams are but I imagine new developers may find them helpful. I propose adding these to our <a href="https://github.com/sophron/wifiphisher/wiki">wiki</a>. You can create a new page for documenting the whole project.

@frafrichile, While our `minimal` template doesn't support mobile resolutions, th

[2015-12-22 22:05] sophron commented on #179
Hi @brunoaduarte,

Please don't open a new thread if there's already a relevant open issue. This has been reported multiple times in the past.

[2015-12-22 22:05] #179 closed

[2015-12-22 22:13] blackHatMonkey commented on #182
@sophron checkout the wiki on my fork and let me know if you like the style. I already wrote a page for ```phisihingpage``` module.

[2015-12-22 22:32] sophron commented on #152
@brunoaduarte This is possible. You don't have to spawn a second Access Point. Just by kicking out the victim from its network you can listen for  handshakes when it tries to connect back to its legit network.

This conversation is off-topic though. I'm closing this thread. Feel free to open a new one if you want to discuss it more.

[2015-12-22 22:32] #152 closed

[2015-12-22 22:33] #180 closed

[2015-12-22 22:34] sophron commented on #178
We've discussed this in numerous threads. It's something that has to do with `hostapd`. We'll push a patch soon hopefully.

[2015-12-22 22:34] #178 closed

[2015-12-22 22:36] sophron commented on #139
This has been reported a lot of times. It's probably an issue with `hostapd` and we're planning to push a patch soon.

[2015-12-22 22:36] #139 closed

[2015-12-22 22:37] sophron commented on #132
This has been reported a lot of times. It's probably an issue with `hostapd` and we're planning to push a patch soon.

[2015-12-22 22:37] #132 closed

[2015-12-22 22:39] sophron commented on #173
Duplicate (#135).

[2015-12-22 22:39] #173 closed

[2015-12-22 22:40] sophron commented on #159
Duplicate (#135).

[2015-12-22 22:40] #159 closed

[2015-12-22 22:40] sophron commented on #161
Duplicate (#135).

[2015-12-22 22:40] #161 closed

[2015-12-22 22:42] sophron commented on #172
There are some problems with some versions of Alfa at the moment. We believe it's something that has to do with `hostapd`. I'm closing this issue, since it has been reported multiple times.

[2015-12-22 22:42] #172 closed

[2015-12-22 22:47] sophron commented on #171
Hi @CodesForCookies,

I'm closing this issue. If you are still around, you can of'course contact me via email or submit your patches via Pull Requests.

Cheers!

[2015-12-22 22:47] #171 closed

[2015-12-22 22:48] sophron commented on #155
Duplicate (#135).

[2015-12-22 22:48] #155 closed

[2015-12-22 22:57] sophron commented on #182
Looks good. Feel free to make changes directly in main repo's wiki. I believe you have rights to do it.

[2015-12-24 00:33] mpwill commented on #119
Hum.. same issue here. I was running wireshark on the target machine and here's what I've found:

- The target machine sends a broadcast query
- The attacker machine (10.0.0.1) replies with a valid IP
- The target machine starts sending multiple DNS requests (the browser is open)
- The attacker machine never replies to the requests or sends any additional info. It just hangs in there
- Closing the

[2015-12-24 02:00] blackHatMonkey commented on #119
Are you using the latest version?

[2015-12-26 06:18] songdongcheol commented on #184
~# iw phy phy0 info
Wiphy phy0
	Band 1:
		Frequencies:
			* 2412 MHz [1] (20.0 dBm)
			* 2417 MHz [2] (20.0 dBm)
			* 2422 MHz [3] (20.0 dBm)
			* 2427 MHz [4] (20.0 dBm)
			* 2432 MHz [5] (20.0 dBm)
			* 2437 MHz [6] (20.0 dBm)
			* 2442 MHz [7] (20.0 dBm)
			* 2447 MHz [8] (20.0 dBm)
			* 2452 MHz [9] (20.0 dBm)
			* 2457 MHz [10] (20.0 dBm)
			* 2462 MHz [11] (20.0 dBm)
			* 2467 MHz [12] (20.0

[2015-12-26 06:18] songdongcheol commented on #184
all check *

[2015-12-26 06:47] songdongcheol commented on #184
![2015-12-26 15 43 33](https://cloud.githubusercontent.com/assets/16268280/12005413/b50ce8bc-abe7-11e5-8d08-209bc06581b5.png)
![s](https://cloud.githubusercontent.com/assets/16268280/12005414/bcad4e2c-abe7-11e5-8423-a2b4aedc3479.png)
![2015-12-26 15 44 42](https://cloud.githubusercontent.com/assets/16268280/12005415/c43359a2-abe7-11e5-8fa7-7123d7297e10.png)

jamming is well but not making fakeAP

[2015-12-26 11:07] subscriber360 opened #188 "wifiphisher not deauthenticating"
This script cannot deauth client from AP, i thought maybe my USB adaptor is not good enough,
So i tested Aireplay-ng which works perfectly but i don't know why it can't deauth ?

I have ALFA AWUS036H , it easily deauth clients.So i am sure that there is nothing wrong with it.

I am using HP Notebook DV6...

I also tried -jI [my usb adaptor] still can't Jam/Deauth client from Original AP...

Any on

[2015-12-26 15:02] thanh125643 opened #189 "error"
Traceback (most recent call last):
  File "/root/Desktop/wifiphisher-master/wifiphisher.py", line 1014, in <module>
    httpd = SecureHTTPServer((NETWORK_GW_IP, SSL_PORT), Handler)
  File "/root/Desktop/wifiphisher-master/wifiphisher.py", line 154, in __init__
    certfile=PEM
  File "/usr/lib/python2.7/ssl.py", line 509, in __init__
    self._context.load_cert_chain(certfile, keyfile)
IOError: [E

[2015-12-26 16:24] blackHatMonkey commented on #184
Thanks for the info. It seems that ```phy0``` is not capable of creating an ```AP```. So what you need to do is run ```wifiphisher``` with ```-aI``` flag with ```phy1```. You have to lookup which of the ```wlan``` interfaces is phy1 and hopefully it should solve the problem.

[2015-12-26 16:33] blackHatMonkey commented on #189
@sophron  Duplicate of #158.

@thanh125643 can you provide more information regarding this problem by fallowing [Bug Reporting Guidelines](https://github.com/sophron/wifiphisher/wiki/Bug-reporting-guidelines).

[2015-12-26 16:55] blackHatMonkey commented on #188
We are are aware of problems in both creating and jamming in ```wifiphisher```. These problems are currently being worked on and hopefully should be fixed by the next version of the software. In the mean while you may want to try running the ```-aI``` command instead of ```-jI``` and see if fixes the problem.

[2015-12-26 17:42] subscriber360 commented on #188
@blackHatMonkey
already did it, Hope it get fix soon.

[2015-12-26 18:11] 1974darrenh opened #190 "package hostapd has no installation candidate"
I'm trying to install Wifiphisher but when the screen comes up "hostapd not found in usr/sbin/hostapd" I try to install it but I get an error.

![ubuntu 64-bit 2 -2015-12-26-18-03-20](https://cloud.githubusercontent.com/assets/16202123/12007427/10d06a5c-abfc-11e5-98e8-db944fe4c48c.png)

What do I do?

Thanks.

[2015-12-26 18:19] blackHatMonkey commented on #190
Can you please show us the contents of ```/etc/apt/sources.list``` file.

[2015-12-26 19:00] 1974darrenh commented on #190
# Regular repositories
deb http://http.kali.org/kali sana main non-free contrib
deb http://security.kali.org/kali-security sana/updates main contrib non-free

# Source repositories
deb-src http://http.kali.org/kali sana main non-free contrib
deb-src http://security.kali.org/kali-security sana/updates main contrib non-free

[2015-12-26 19:05] blackHatMonkey commented on #190
Edit the files to match the fallowing:
[code]
And then do:
[code]
Fallowed by:
[code]
And then try to re-run ```wifiphisher```. Let me know if you have any more questions.

[2015-12-26 19:07] 1974darrenh commented on #190
ok thanks :)

[2015-12-26 19:09] sophron commented on #189
@thanh125643, Please provide more details on the relevant thread.

[2015-12-26 19:09] #189 closed

[2015-12-26 19:20] 1974darrenh commented on #190
Changed it and now I get this -

![ubuntu 64-bit 2 -2015-12-26-19-16-17](https://cloud.githubusercontent.com/assets/16202123/12007652/ab9ea96e-ac05-11e5-8221-d20a0783fc1a.png)

[2015-12-26 19:33] blackHatMonkey commented on #190
Run these commands:
[code]
This is a copy of my ```sources.list```. Let me know if you have any more questions.

[2015-12-26 19:38] 1974darrenh commented on #190
Still not working

![ubuntu 64-bit 2 -2015-12-26-19-38-03](https://cloud.githubusercontent.com/assets/16202123/12007699/4630e346-ac08-11e5-8eb1-6e41e0d7acb9.png)

[2015-12-26 19:43] blackHatMonkey commented on #190
Are you able to connect to the internet?

[2015-12-26 19:56] 1974darrenh commented on #190
It had disconnected for some reason. Connected again and this is what I have this time.

![ubuntu 64-bit 2 -2015-12-26-19-55-58](https://cloud.githubusercontent.com/assets/16202123/12007746/cd769182-ac0a-11e5-8a6b-c838ad93297b.png)

[2015-12-26 20:09] blackHatMonkey commented on #190
Can you inspect ```/etc/apt``` to see if it has downloaded the file and open to make sure the content matches
[code]

[2015-12-26 20:16] 1974darrenh commented on #190
![ubuntu 64-bit 2 -2015-12-26-20-15-20](https://cloud.githubusercontent.com/assets/16202123/12007810/8b88fe4c-ac0d-11e5-8e2d-797ab149ccdc.png)

[2015-12-26 20:23] blackHatMonkey commented on #190
Can you post a screen shot of ```/etc/apt``` folder?

[2015-12-26 20:27] 1974darrenh commented on #190
![ubuntu 64-bit 2 -2015-12-26-20-26-41](https://cloud.githubusercontent.com/assets/16202123/12007838/0706d0de-ac0f-11e5-98ee-04b36ac66390.png)

[2015-12-26 20:27] 1974darrenh commented on #190
Should I just reinstall Kali from scratch?

[2015-12-26 20:32] blackHatMonkey commented on #190
You are missing ```sources.list``` file. Copy and paste this command:
[code]
And after you should be able to see a ```sources.list``` file.

[2015-12-26 20:52] 1974darrenh commented on #190
Ok done than. I have noticed there are 2 sources.list folders

![ubuntu 64-bit 2 -2015-12-26-20-48-15](https://cloud.githubusercontent.com/assets/16202123/12007892/22b8d55e-ac12-11e5-86f2-58a260fd29b8.png)

![ubuntu 64-bit 2 -2015-12-26-20-51-40](https://cloud.githubusercontent.com/assets/16202123/12007899/855f7316-ac12-11e5-9b5c-3ae6ae04d8b7.png)

[2015-12-26 20:58] blackHatMonkey commented on #190
You can remove the one that is in ```/home/YOURUSERNAME/```

[2015-12-26 21:21] blackHatMonkey commented on #190
@1974darrenh If your problem is solved please close this issue. :)

[2015-12-27 05:38] songdongcheol commented on #184
Eventually,kali linux 2.0 install and solved the problem.thank you for help!

[2015-12-27 23:11] 1974darrenh commented on #190
I reinstalled Kali and then Wifiphisher, and it is working now.

Thank you for your help. much appreciated :)

[2015-12-28 14:14] BNL69 opened #191 "Hostapd issue..."
Hi guy, i have the same issue as #190 but i can't fix it with the quoted advices of the thread.
I re-installed kali from scratch but there's always the same problem :
hostpad error, can't install it.
Hope you can help guys !

[2015-12-28 17:08] blackHatMonkey commented on #191
Can you provide more information about what error are you getting?

[2016-01-02 17:30] sjeps opened #192 "Slow http page serving"
I'm using two T link t772 on an installed and updated kali 2.0.
Jamming works, ap creation works.
Ip address (dhcp) USUALLY works (not always).
What is not working really good is page serving. Doing a simple query for a bookmark may take 30 second or more to display the pishing page. Also often the page doesn't show up at all.

The same goes with the response POST.. very slow (but this is less an

[2016-01-02 23:25] tonynumero10 opened #193 "Redirect it's ok only with www.google.it"
Hello!!! I have two usb wifi Atheros (AR9485 and AR9271), wifiphisher works good, fake AP is ok, if victim goes on www.google.it opens (very slow) the page to enter the wpa/wpa2, but victim goes on another page wifiphisher don't work!
Why?
And why so very slow?
Thanks for help, and I'm very sorry for my english.

[2016-01-02 23:27] tonynumero10 commented on #192
Me too!!! Why??

[2016-01-02 23:30] blackHatMonkey commented on #192
Try using the ```1.1``` version of ```wifiphisher``` and see if anything changes.

[2016-01-02 23:31] blackHatMonkey commented on #193
This seems to be a duplicate of #192.

[2016-01-03 10:52] sjeps commented on #192
1.1 look like the samefor me.. Slow serving.

Also i noticed direct bookmarks like www.amazon.com work while sites with sub pages like www.amazon.com/account do not work and respond 404.

On which version of kali linux is the project being developed?

[2016-01-03 15:11] tonynumero10 commented on #192
I tried with the latest version. I tried with different versions of airmon - ng. I tried with different wifi usb adapters. I tried several different browers phones and PC. He works for me only www.google.it and only slowly. Help me please.

[2016-01-03 16:28] blackHatMonkey commented on #192
@sjeps
The project is being developed on ```kali 2.0```.

@sjeps @tonynumero10
I would guess that serving the page slowly would be rather a hardware problem. As for the redirecting problem it seems to be the redirect function in the ```HTTPServer```.

Can you try opening ```10.0.0.0:8000``` and see if the page loads.

Another thing that I would like you guys to run is:
[code]
and
[code]
Please pos

[2016-01-03 21:50] sjeps commented on #192
I don't have a spare linux to try that commands. Anyway the 404 issue seems software related.. Messing with your script do_GET function etc.. seemed to modify the behaviour in my case.

Slow page serving come in bursts. The first page loading on a device is usually slow , then sometime it is very fast (caching?), sometime slow

[2016-01-03 22:04] blackHatMonkey commented on #192
Can you tell us what you changed in the ```do_GET``` function.

[2016-01-03 23:07] sjeps commented on #192
I don't understand the whole code so i was just messing around. For example changing
If self.page == "/":
and changing it to
if True

Made the pages be served even for subpages like www.amazon.com/account

[2016-01-04 01:05] sophron commented on #192
Hi @sjeps,

I'm aware of the issue. Expect a fix soon enough.

[2016-01-04 01:06] sophron commented on #193
Indeed it is. Please keep the conversation there.

[2016-01-04 01:06] #193 closed

[2016-01-07 12:35] miquel09 opened #194 "error in lines 984, 510, 710 and 1327. Ubuntu"
When I choose an AP it gives me the following error logs:
[code]

I have hostapd installed.

[2016-01-07 13:43] sophron commented on #194
You don't have `dnsmaq` though. Try `sudo apt-get install dnsmasq`.

[2016-01-07 14:41] iidiir opened #195 "The fake ap is not same as the real"
Hello,

I want to use this tool to test my wifi's security, with kali linux installed in vmware,
My two cards are compatible, but the fake ap which is created is always open (no password) is this normal ?
when the opperation start, i have client in jamming but it's not asking the client for the pass (i think because my fake ap is open)

so i wish that you'll help me

Thank you

[2016-01-07 14:50] blackHatMonkey commented on #195
Duplicate of #152.

[2016-01-07 15:28] sophron commented on #195
Hi @iidiir,

Yes, this is how the tool works. Please check #152 for a more complete answer.

[2016-01-07 18:13] iidiir commented on #195
thank you =D

[2016-01-08 06:08] SuicSoft opened #196 "wifiphisher does not show ESSID"
If I use other tools such as aircrack or wifite I can see the ```ESSID``` but if I use ```wifiphisher``` it does not show the ```ESSID``` and does not work. I am using Elementary OS freya 64-bit on a HP Pavilion g7 2030ca

[2016-01-08 11:57] miquel09 commented on #194
it worked thank you

[2016-01-08 12:04] miquel09 opened #197 "No devices in jamming devices displayed"
If I start wifiphisher it works but afte I selected an AP it just says:

[code]

is there any way to fix this?

[2016-01-08 14:20] blackHatMonkey commented on #197
Was the fake access point created?

[2016-01-08 14:35] blackHatMonkey commented on #196
I came upon this bug as well. After the ```Cleared leases, started DHCP, set up iptables``` you won't get any output correct?
Also If when you press ```Ctrl + c```did you get this message ```Choose the [num] of the AP you wish to copy:```.
If the above matches your situation then it's because of ```wifiphisher``` choosing the wrong card for you.
Try setting the card using ```-aI``` and ```-jI``` c

[2016-01-08 15:21] miquel09 commented on #197
It did say "x set up on channel x via wlanx using wlanx"

[2016-01-08 17:01] blackHatMonkey commented on #197
Can you check to see if the access point was created using a phone or another computer?

[2016-01-09 02:33] SuicSoft commented on #196
@blackHatMonkey When I press ```CTRL + C``` I do get the message.When I use ```sudo ./wifiphisher.py -aI mon0``` (after ```sudo airmon-ng start wlan0```)  I still do not get the ESSID. But when I use ```sudo ./wifiphisher.py -jI mon0``` I get :
[code]

[2016-01-09 03:55] blackHatMonkey commented on #196
You don't need to run ```airmon-ng``` before starting ```wifiphisher```. Try running
[code]

[2016-01-09 20:56] miquel09 commented on #197
I can find the network with my phone

[2016-01-09 21:07] blackHatMonkey commented on #197
And does the output change when you connect to it or not?

[2016-01-10 11:34] SuicSoft commented on #196
@blackHatMonkey ```wifiphisher``` still doesn't show the ESSID. Also I'm using the internal laptop wifi card

[2016-01-10 14:37] blackHatMonkey commented on #196
Which one of your cards support ```AP``` mode?

[2016-01-11 18:24] #195 closed

[2016-01-11 18:25] #191 closed

[2016-01-11 20:56] tonynumero10 commented on #192
Hi, in this thread I learned that i'm hardware problem. I think it's very true.
I have 5 wifi cards, in order from the most powerful: ALFA AWUS036NHA (ATHEROS), TP-LINK TL-WN822N (REALTEK), DLINK DWL-G122 (REALTEK), PCI ATHEROS AR9485, ASUS WL-167G (RALINK). All of five work with aircrack suite and support injection. More network I find in monitor mode with a wifi card, less wifiphisher works. If

[2016-01-12 08:23] SuicSoft commented on #196
I can create APs using my operating system and can use aircrack with my
internet Wifi card

On Sun, Jan 10, 2016, 8:07 PM Brian <notifications@github.com> wrote:

--
The Studio/Software Dog,
Suici Doga

Sent from Inbox by Gmail

[2016-01-12 09:25] SuicSoft commented on #196
In the previous comment internet is internel

[2016-01-12 14:56] blackHatMonkey commented on #196
You need to start ```wifiphisher``` with the ```-jI``` argument on the card with ```monitor``` mode. For instance if the ```wlan0``` card supports ```monitor```mode then
[code]

[2016-01-12 15:36] blackHatMonkey commented on #192
@tonynumero10
There are two aspects to ```wifiphisher```. First being the de authentication and second being the access point hosting. The slow page loading is rather the access point hosting problem and I think it should work on all cards that support it. For instance I have the ```ALFA AWUS036NHA``` and ```ALFA AWUS036H``` and it works fine as long as I specify which card to use for monitor mode

[2016-01-13 08:40] tonynumero10 commented on #192
I'll try! I use python and not python2. Is it a problem?

[2016-01-13 14:57] blackHatMonkey commented on #192
It shouldn't be a problem but just to be safe.

[2016-01-13 17:53] JPaulMora commented on #194
You should close this issue now.

[2016-01-14 22:41] #194 closed

[2016-01-21 12:57] sophron opened #198 "LastPass phishing"
An interesting case that we could possibly add to our set of phishing scenarios: https://www.seancassidy.me/lostpass.html

The page seems ready and lies <a href="https://github.com/cxxr/lostpass">here</a>. One simply needs to integrate this to our software.

Proposed by @dionyziz.

[2016-01-21 15:52] blackHatMonkey commented on #198
It's very interesting idea but it seems to rely on the user having internet access to show the banner.

[2016-01-23 23:45] sophron commented on #192
@sjeps, @tonynumero10, @blackHatMonkey I just pushed a commit that makes the web server react much faster. Let me know how it works for you.

[2016-01-23 23:49] sophron commented on #119
I pushed some changes to the HTTP/HTTPS handling. Please update to the latest revision and let me know how it works for you.

[2016-01-23 23:50] sophron commented on #109
I pushed a commit that should fix this. Please update to the latest revision and let me know if it does.

[2016-01-23 23:52] sophron commented on #198
@blackHatMonkey Routing Internet traffic from the rogue AP is in our TODO. :)

[2016-01-23 23:53] sophron commented on #114
I pushed a commit that fixes this. Please upgrade to the latest revision and try again.

[2016-01-24 08:25] texnoid opened #199 "not working"
Linux raspberrypi 4.1.13-v7+
Raspbian GNU/Linux 8 \n \l
Python 2.7.9

*1. device*

*2. device*

  *_python wifiphisher.py_*

[2016-01-24 08:37] Vigilence commented on #116
I was just about to ask for the same enhancement.

[2016-01-24 15:55] blackHatMonkey commented on #199
This is a duplicate of #194. You need to install ```dnsmasq```and you can find all the details in #194.

[2016-01-24 15:57] #199 closed

[2016-01-24 16:01] sophron opened #200 "Check that all necessary tools and libraries are in place"
Apparently, more and more people are running the tool out of Kali. We should perform a check that all necessary components are in place. We currently have only one check for `hostapd`. A `setup` script (from `setuptools`) could also come in handy.

[2016-01-24 16:09] sophron commented on #116
@ArionMiles, @Vigilence Changes need to be done in the handling of a POST request <a href="https://github.com/sophron/wifiphisher/blob/master/wifiphisher.py#L250">here</a>. If the flag for asking the credentials twice is turned on, the webserver should redirect to the error page (e.g. `index.html#error`) the first time.

[2016-01-24 17:39] WarHawk1 commented on #197
Do you have 2 wireless adapters?

[2016-01-24 17:50] WarHawk1 commented on #200
Are you talking about libraries as well as hardware setup?

[2016-01-24 17:51] WarHawk1 commented on #200
In case of only requirements how about adding requirements.txt?

[2016-01-24 18:16] mpwill commented on #119
@blackHatMonkey   @sophron sophoron. Sorry for not replying sooner. swapped the wireless cards position and was able to run the app.. weird since swapping them back did not break the functionality. Got a different issue related with the https certificate but did not went into a deep investigation yet to find out what is wrong. I will try the update later on today and let you know how it goes. Than

[2016-01-25 07:45] phr34k0 commented on #200
Yep.. What are the requirements?? I have to airmon-ng check kill every freaking time and thus make hostapd work but unable to browser when connected.

[2016-01-25 07:52] WarHawk1 commented on #200
I had a similar problem with Kali Linux 2.0 sana. It's monitor mode is wlan0mon so I switched to Kali 1

[2016-01-25 08:21] tonynumero10 commented on #192
Great! Now works very wonderfull! It's fast and the redirect works for all page. Only not deauthenticate the clients (i tried with android phone), i must use another usb wifi with aireplay, but i'snt a problem for me. Thanks very thanks.

[2016-01-25 08:34] phr34k0 commented on #184
Same issue with the guy above.. Unable to create fake ap. I had to airmon-ng check kill which will disable internet on eth0 as it'll kill network-manager. Jamming is working tho. Using latest Kali Rolling distro

------

root@fsociety:~/Desktop/wifiphisher-1.1# iw dev
phy#4
	Interface wlan2
		ifindex 7
		wdev 0x400000001
		addr 94:0c:6d:81:4e:4c
		type managed
phy#2
	Interface wlan1
		ifindex 5

[2016-01-25 08:57] phr34k0 commented on #184
Ok so i managed to make the fakeap and hostapd work by airmon-ng check kill && dhclient with internet connection on eth0.. but when testing out and connecting to the fake ap, i wasn't able to browse anything.. facebook, google, blabla, nada... nothing.. browser just stuck at loading.. My thoughts is that this script is suppose to redirect all victims to the fake page? Or am i missing something?

[2016-01-25 09:22] phr34k0 commented on #200
Tool is old. Prolly needs an updated python script. I am not downgrading due to a deprecated issue just to get this working. Currently on Kali rolling. Still yet to get this working on Kali Nethunter on Mobile.

[2016-01-25 13:17] WarHawk1 commented on #200
Do you have problem like #135?

[2016-01-25 13:18] WarHawk1 commented on #200
You can use live boot of Kali 1..!!

[2016-01-25 13:26] phr34k0 commented on #200
Still a no.. Sorry.. Deprecated tools. Tho still prefer the new matured Airmon-zc with WPS support, I usually do alot of multitasking on this pc so booting right off a cd ( which is slow ) while i need to use other programs is not an option. I have seen scripts utilizing that wlan0mon. Not sure why this wasn't updated here.

[2016-01-25 13:36] phr34k0 commented on #200
Nope.. more of this error https://github.com/sophron/wifiphisher/issues/121

Tested the released tar.gz , Jamming works but not Hostapd.
Tested the latest git cloned, Jamming works but not Hostapd

Hostapd will work on both releases if "airmon-ng check kill && dhclient eth0", which eth0 is used for internet and wlan0/wlan1 is used for this script. Downside, git cloned version doesn't open port 808

[2016-01-25 13:42] WarHawk1 commented on #200
Can you post error message or screenshot??

[2016-01-25 13:43] WarHawk1 commented on #200
And which adapters you are using??

[2016-01-25 13:56] blackHatMonkey commented on #184
Yes, it is supposed to redirect to the phishing page. Can you try using ```wlan1``` as the fakeap and ```wlan2``` for jamming?

[2016-01-25 14:08] WarHawk1 commented on #200
Take a look at #192

[2016-01-25 14:24] phr34k0 commented on #184
Both are same cards.. TL-WN722N.. Supported by Atheros.. Still no dice.. Attacking KAMANI

![screenshot from 2016-01-25 22-15-12](https://cloud.githubusercontent.com/assets/13272249/12553422/50a88a60-c3b2-11e5-9cab-1f633a3febc1.png)
![screenshot from 2016-01-25 22-22-51](https://cloud.githubusercontent.com/assets/13272249/12553423/50e0d9d8-c3b2-11e5-9399-5223ddca1cd1.png)
![screenshot from 2016-01

[2016-01-25 14:25] phr34k0 commented on #200
Check here.. https://github.com/sophron/wifiphisher/issues/184#issuecomment-174522097

[2016-01-25 14:35] miquel09 commented on #197
I do have 2 addapters and if I connect to my AP it tells me that there is a connection but it doesnt show a new dhcp lease

[2016-01-25 14:51] WarHawk1 commented on #197
Take a look at #192

[2016-01-25 18:45] WarHawk1 commented on #200
I think its a version conflict of airmon

[2016-01-25 22:29] blackHatMonkey commented on #184
@phr34k0
Run ```wifiphisher``` and look in to the ```/tmp``` directory. As soon as the ```hostapd.conf``` is created stop ```wifiphisher```. Then in the terminal run
[code]
And check if the ```essid``` is created or if you get any errors.

[2016-01-25 22:30] blackHatMonkey commented on #200
@WarHawk1 @phr34k0
Please use #184 for discussion regarding the problem.

[2016-01-25 22:35] blackHatMonkey commented on #198
@sophron
I suggest creating a road map in the wiki.

[2016-01-26 02:46] phr34k0 commented on #184
So hostapd is running but doesn't create webserver 8080  > 80

interface=wlan1
driver=nl80211
ssid=KAMAL123
hw_mode=g
channel=1
macaddr_acl=0
ignore_broadcast_ssid=0

[2016-01-26 13:53] blackHatMonkey commented on #184
```hostapd``` only sets up the ```essid``` while the webserver is handled by python's ```SimpleHTTPServer``` module. If you didn't get any errors from ```hostapd``` then the problem lies in a different place.

[2016-01-26 14:03] phr34k0 commented on #184
Could be somewhere in the code commit. Comparing the latest git against the tarball release, tarball release was able to create those ports and serve the pages.. I had reference this code with wifijammer earlier today. https://github.com/DanMcInerney/wifijammer/issues/39

Guess i will do it to this repo once i am free to trace the changes made and pinpoint the error

[2016-01-28 04:21] Vigilence opened #203 "Require the minimum length of 8 characters for wpa key entry."
It adds legitimacy to the page for those that my try to bypass the page by entering something random.

[2016-01-28 20:49] blackHatMonkey commented on #203
It's a very nice idea and easy to implement. However one down side to this is if the encryption type for the ```ESSID``` is ```WEP``` which is either 5 or 13 characters.

[2016-01-28 20:53] Vigilence commented on #203
I hadn't thought about WEP.  But if someone is eager to get a WEP key that can easily be obtained through an automated process using wifite on Kali Linux.

Depending on distance and the amount of clients connected a WEP key can easily be obtained in a matter of minutes.

[2016-01-28 20:57] sophron commented on #203
@Vigilence Thanks, we'll add this.

@blackHatMonkey The script can determine if the target network is WPA or WEP encrypted, hence it can dynamically adjust this value.

[2016-01-28 20:58] Vigilence commented on #203
Wow nice.  Have the script adjust its parameters based on the encryption would be super cool.

Thanks.

[2016-01-29 19:09] vishal43 commented on #135
I m using backtrack 5r3 iam getting following errors
Traceback(most rcent call last ):
File"wifiphisher.py" !, in (module)
From subprocess import pipen.pipe .check.output
import error:canot import name check output

[2016-01-29 19:10] vishal43 commented on #135
Python wifiphiser.py

[2016-01-30 16:43] blackHatMonkey commented on #135
@vishal43
Please open a new issue and describe your problem in that thread. :smile:

[2016-01-30 17:25] vishal43 opened #204 "Wifiphisher error"
Traceback(most rcent call last ):
File"wifiphisher.py" line17, in (module)
From subprocess import pipen.pipe .check.output
import error:canot import name check output

[2016-01-30 17:31] blackHatMonkey commented on #204
Thank you. Can you post the result of this command:
[code]

[2016-01-31 05:52] vishal43 commented on #204
Python 2.6.5

[2016-01-31 06:25] blackHatMonkey commented on #204
Please update to ```python 2.7``` and try again.

[2016-01-31 14:13] #192 closed

[2016-01-31 14:14] sophron commented on #114
This should now be solved. If not, please open a new issue.

[2016-01-31 14:15] sophron commented on #114
This should now be solved. If not, please open a new issue.

[2016-01-31 14:15] #114 closed

[2016-01-31 14:15] sophron commented on #109
This should now be solved. If not, please open a new issue.

[2016-01-31 14:15] #109 closed

[2016-01-31 14:16] sophron commented on #119
@mpwill Please open a new issue for this. Thanks. :)

[2016-01-31 14:16] #119 closed

[2016-01-31 19:59] forid786 opened #205 "Wifiphisher not starting"
Hey there,

after the latest update I am unable to start wifiphisher. I'm getting this error below.

 File "wifiphisher.py", line 840
    else if os.path.isfile('/usr/bin/yum'):
          ^
SyntaxError: invalid syntax

[2016-01-31 20:09] sophron commented on #205
Thanks for reporting, please try again now.

[2016-01-31 20:26] forid786 commented on #205
That worked, the script starts, however it looks for dnsmasq in /usr/bin/dnsmasq. My dnsmasq is in /usr/sbin/dnsmasq and it is unable to detect it. I managed to fix the problem by making this simple change on line 847.

`if not os.path.isfile('/usr/bin/dnsmasq'):` changed to : `if not os.path.isfile('/usr/sbin/dnsmasq'):`. Maybe you can have a look at this too and fix it?

Thanks for the fast repl

[2016-01-31 20:32] sophron commented on #205
I just pushed a commit. Thanks.

[2016-01-31 20:36] forid786 commented on #205
All working perfectly now. Thanks for pushing out the commit, I'll close this. :)

[2016-01-31 20:36] #205 closed

[2016-01-31 22:36] Vigilence commented on #197
I found that if the wifiphisher shows no ap or devices to jam, connecting the monitor card to the targets channel in airodump-ng resolves the issue.  However, I can't confirm if they are being jammed or not.

So far, no success using this program.

[2016-02-01 13:23] LucaBongiorni opened #206 "[Request] Power Signal in Target AP selection"
Would be nice to have also the Power Signal for each AP.
By implementing this
`        sig_str = -(256-ord(pkt.notdecoded[-4:-3]))`
in **APs_add()**

Toget something like that:
[code]

[code]

[2016-02-01 13:36] sophron commented on #206
We already have #106 for this. It's in the plans.

[2016-02-01 13:36] #206 closed

[2016-02-02 14:42] chengb0 commented on #205
@forid786  hi.i have some problems the same as yours.iwant to konw how did you delt it .thank you very much.

[2016-02-02 14:50] forid786 commented on #205
@chengb0 All the fixes are pushed out already. Delete your WifiPhisher folder then run another git clone, it should download the fixed version. Be sure to update python too.

[2016-02-02 15:40] chengb0 commented on #184
i 'm the same with other users.i haven't success never.yes.two wireless.two RT8187L.no fake ap found after i choose target number.jms is normal.however itsays
jim device:(it's normal.and my computer was deauthed successfully)
DHCP Lease:
HTTP Requests:
just its.who could help me .my god

[2016-02-02 15:43] phr34k0 commented on #184
Check between the lines of codes. Compare the latest git with the release tarball. My best bet some go messing with commits and script fails. All i could get help here usually, check your cards, check this that this that, but none really goes through the codes..

[2016-02-02 15:45] chengb0 commented on #184
@songdongcheol hi.i have the same problem as you.iwant to know how did you solve it.thank you very very much

[2016-02-02 15:47] phr34k0 commented on #184
The best to resolve is to downgrade and use an earlier build of kali or unless u know how to code in python.

[2016-02-02 15:50] chengb0 commented on #184
hi.@phr34k0 i use kali2.0 in workstation12

[2016-02-02 15:57] chengb0 commented on #205
i use kali2.0 in workstation12.two Rt8187L wireless adpter.and my curent version is wifiphisher-1.1

[2016-02-02 15:59] phr34k0 commented on #184
Try with kali 1.0. it was a suggestion made by most down here cos it works for them

[2016-02-02 16:00] chengb0 commented on #184
@phr34k0 you means i should use kali1.0???

[2016-02-02 16:00] phr34k0 commented on #184
Yes. Bootable live and just git clone to test

[2016-02-02 16:01] chengb0 commented on #184
ok i have a try.and then i will ask for you after using it.thankyou

[2016-02-02 16:03] chengb0 commented on #184
wifiphisher-master   and   wifiphisher-1.1  what should i use

[2016-02-02 16:04] phr34k0 commented on #184
both if master not working

[2016-02-02 16:25] chengb0 commented on #184
@phr34k0 there are so many versions about kali-1.0 i should choose what?  1.0.0a  1.1.0  1.0.9a and so on…

[2016-02-02 16:51] blackHatMonkey commented on #184
Hi @chengb0
Have you tried using this [release](https://github.com/sophron/wifiphisher/releases) on the latest version of ```kali``` linux?

[2016-02-02 16:56] chengb0 commented on #184
i haven't .you means the kali2016?

[2016-02-02 17:09] vishal43 commented on #204
[+] Choose the [num] of the AP you wish to copy: 1
[*] Starting the fake access point...
Traceback (most recent call last):
  File "wifiphisher.py", line 952, in <module>
    if not dhcp(dhcpconf, ap_iface):
  File "wifiphisher.py", line 509, in dhcp
    dhcp = Popen(['dnsmasq', '-C', dhcpconf], stdout=PIPE, stderr=DN)
  File "/usr/local/lib/python2.7/subprocess.py", line 710, in __init__
    errr

[2016-02-02 17:12] vishal43 commented on #204
my wifi cards are tp link tl wn722n
and d link  dwa 525

[2016-02-02 17:17] blackHatMonkey commented on #204
Please take a look at #194. You need to install ```dnsmasq``` and the instructions can be found in #194.

[2016-02-02 17:22] blackHatMonkey commented on #184
Yes and please report back if you have any problems. :smile:

[2016-02-02 17:49] chengb0 commented on #184
ok thankyou very much.have you used it already?and it works successfully？

[2016-02-02 18:00] chengb0 commented on #184
@could you give me a address of kali-1.0 .i couldn't find it

[2016-02-02 18:00] chengb0 commented on #184
@phr34k0 could you give me a address of kali-1.0 .i couldn't find it

[2016-02-02 18:12] blackHatMonkey commented on #184
@chengb0
Btw, Are you using ```AWUS036H``` card?

[2016-02-02 19:20] chengb0 commented on #184
no i use two RT8187L

[2016-02-02 19:26] blackHatMonkey commented on #184
Can you post the output of these commands
[code]
the output should resemble
[code]
put ```x``` in
[code]
Look for the Supported interfaces modes and paste all the ```*``` items.

[2016-02-03 04:51] chengb0 commented on #184
@blackHatMonkey hi.what kind of kali-version to run wifiphisher is best?

[2016-02-03 04:56] phr34k0 commented on #184
Confirmed. Doesn't work on Kali Rolling (latest), neither does Sana 2.0.

[2016-02-03 05:34] chengb0 commented on #184
so that's what.could you give me a suggestion about exact version.i found that there are kinds of versions.i don't konw what is best.thankyou

[2016-02-03 09:51] forid786 commented on #205
@chengb0 Download the latest release with the latest fixes.

[2016-02-03 13:16] chengb0 commented on #184
@phr34k0 hello,why i can't find kali1.1 in the professional web?could you tell me how to download the kali1.1  thank you

[2016-02-03 13:25] phr34k0 commented on #184
Google dorks or Sorry can't help you. :(

[2016-02-03 14:51] blackHatMonkey commented on #184
@chengb0
Can you confirm that your card supports ```AP``` mode?

[2016-02-04 01:34] chengb0 commented on #205
@chengb0  It is said that the wifiPhisher-1.1 doesn't work successfully in kali2.0 and kali16.1,i kown you have get success .what kali-version are you using?

[2016-02-04 01:35] chengb0 commented on #205
@forid786 It is said that the wifiPhisher-1.1 doesn't work successfully in kali2.0 and kali16.1,i kown you have get success .what kali-version are you using?

[2016-02-04 03:47] chengb0 commented on #184
my wireless is two Realtek8187

[2016-02-04 03:53] Vigilence commented on #184
For the script to work in Kali Rolling you have to edit wifiphisher.py and change the hostapd location since it is different from Kali 2.0.

`def get_hostapd():
    if not os.path.isfile('/usr/sbin/hostapd'):
        install = raw_input(
            ('[' + T + '*' + W + '] hostapd not found ' +
             'in /usr/sbin/hostapd, install now? [y/n] ')
        )
        if install == 'y':

[2016-02-04 04:43] blackHatMonkey commented on #184
@chengb0
The ```Raltek 8187``` is the chipset. Please post the name of your adapter.

[2016-02-04 07:27] chengb0 commented on #184
@Vigilence hi,you means it is necessary to chang hostapd location in kali2.0 and kali-rolling? Only in this way can it works successfully?

[2016-02-04 11:20] phr34k0 commented on #184
Yep. Same goes with `chans = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']` in line 762
just change it to `chans = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13'] `if your card supports it

and

`if chan > 11` to `if chan > 13` in line 383

[2016-02-04 12:09] phr34k0 commented on #184
And no it's not the hostapd location. It's still is at /usr/sbin/hostapd , /usr/sbin/dnsmasq

[2016-02-04 13:02] phr34k0 commented on #184
Uncomment this two lines

Line 906
[code]
![screenshot from 2016-02-04 20-54-56](https://cloud.githubusercontent.com/assets/13272249/12815575/27355da2-cb82-11e5-8ec6-925cad6397bd.png)

Line 347
[code]
![screenshot from 2016-02-04 20-53-43](https://cloud.githubusercontent.com/assets/13272249/12815566/0cf79a4a-cb82-11e5-8d6f-0f9168e67abe.png)

Due to `airmon-ng check kill` it will cause a softap blo

[2016-02-04 13:24] sophron commented on #205
@forid786 It is unlikely that you got the same error using the `1.1` release. You are probably dealing with a different issue.

[2016-02-04 15:22] phr34k0 commented on #184
You could however uncomment the whole line from 344 to 348 if somehow those two interface doesn't down
![screenshot from 2016-02-04 23-16-29](https://cloud.githubusercontent.com/assets/13272249/12819323/9319da76-cb95-11e5-829a-e4394c32e50a.png)

Another Workaround on Hostapd due to a bug as taken from when you manually do a `hostapd /etc/hostapd.conf ` - http://askubuntu.com/questions/472794/hosta

[2016-02-04 15:49] phr34k0 commented on #184
Channel hopping for jamming is also not working for this latest git (Not the released tar) .. Check your jammer channel when you do `iw dev` while `airodump-ng --essid yourtarget` on another terminal versus after ctrl+c on that airodump-ng terminal..

Workaround. You need both airodump-ng and wifiphish script to be running. This part needs a fix. I check on that some other day

[2016-02-05 07:14] chengb0 commented on #184
@blackHatMonkey i use NETGEAR-WG111v3 and Realtek RTL8187_Wireless_LAN_Adapter

[2016-02-05 15:02] blackHatMonkey commented on #184
@chengb0
Can you post the output of these commands
[code]
the output should resemble
[code]
put ```x``` in
[code]
Look for the Supported interfaces modes and paste all the ```*``` items.

[2016-02-05 16:45] forid786 commented on #205
@sophron I don't think he's having the same issue either. Because it has been fixed, and was only there from the previous merge right?

@chengb0 I haven't really done anything special to my Kali machine in order to make it work, except update everything. I'm not aware of it not working on Kali 2.0, I know a lot of people use it with Kali 2.0, I think even @sophron is using Kali 2.0. Can you provid

[2016-02-05 18:29] sophron commented on #120
Hello,

This is probably because `hostapd` fails to initialize the driver network card using `nl80211` interface. Please upgrade to the latest revision and see if you are getting this error. The way to proceed is to specify a different wireless interface using the `-aI` option.

[2016-02-05 18:31] sophron commented on #121
Hello,

This is probably because hostapd fails to initialize the driver network card using nl80211 interface. Please upgrade to the latest revision and see if you are getting this error. The way to proceed is to specify a different wireless interface using the -aI option.

[2016-02-05 18:31] sophron commented on #138
Hello,

This is probably because hostapd fails to initialize the driver network card using nl80211 interface. Please upgrade to the latest revision and see if you are getting this error. The way to proceed is to specify a different wireless interface using the -aI option.

[2016-02-05 18:32] sophron commented on #164
Please check the answer on #120 and if needed report back there.

[2016-02-05 18:32] #164 closed

[2016-02-05 18:34] sophron commented on #184
Hello,

This is probably because hostapd fails to initialize the driver network card using nl80211 interface. Please upgrade to the latest revision and see if you are getting this error. The way to proceed is to specify a different wireless interface using the -aI option.

[2016-02-05 18:37] sophron commented on #204
As @blackHatMonkey said, you need to install `dnsmasq` to proceed.

[2016-02-05 18:37] #204 closed

[2016-02-07 09:12] vishal43 opened #207 "Network is down error after shutdown"
Jamming devices:
[*] c4:12:f5:00:2b:c6 - 74:04:2b:df:f2:f5 - 1[*] c4:12:f5:00:2b:c6 - 80:6a:b0:5b:1d:31 - 1

DHCP Leases:

HTTP requests:

^C
[!] Closing
Exception in thread Thread-4:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/local/lib/python2.7/threading.py", line 754, in run
    self.__target(*sel

[2016-02-07 15:59] blackHatMonkey commented on #207
Hi vishal43,

This error happens due to ```wifiphisher``` not being able to turn the card on. What I suggest doing is to disconnect the card and re-insert the card after a short period. Let me know if you have any more problems.

[2016-02-08 08:40] vishal43 commented on #207
I have d link dwa 525 pci card I think I have problem in installing it can you help

[2016-02-08 08:40] vishal43 commented on #207
And 2nd one is to link which working fine

[2016-02-08 08:41] vishal43 commented on #207
Tp  link

[2016-02-08 14:03] blackHatMonkey commented on #207
Connect both cards and then run the fallowing command:
[code]
And post the results please.

[2016-02-08 15:45] vishal43 commented on #207
root@bt:~# ifconfig -a
eth0      Link encap:Ethernet  HWaddr 00:1c:c0:56:1e:c4
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:0 errors:0 dropped:0 overruns:0 frame:0
          TX packets:0 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000
          RX bytes:0 (0.0 B)  TX bytes:0 (0.0 B)
          Interrupt:43 Base address:0x6000

hwsim0    Li

[2016-02-08 17:43] vishal43 commented on #207
root@bt:~# ifconfig -a
eth0      Link encap:Ethernet  HWaddr 00:1c:c0:56:1e:c4
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:0 errors:0 dropped:0 overruns:0 frame:0
          TX packets:0 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000
          RX bytes:0 (0.0 B)  TX bytes:0 (0.0 B)
          Interrupt:43 Base address:0x6000

hwsim0    Li

[2016-02-08 19:27] blackHatMonkey commented on #207
So it seems that your system recognizes both cards. Do you still get the same error?

[2016-02-09 06:30] vishal43 commented on #207
Yes

[2016-02-09 06:32] vishal43 commented on #207
But when I connect only dlink it hasn't show any ap in it

[2016-02-09 14:32] blackHatMonkey commented on #207
Please run ```wifiphisher``` with the ```-aI``` argument as fallows:
[code]
Where # is your wireless interface number.

[2016-02-09 17:47] vishal43 commented on #207
Ok

[2016-02-13 13:01] MrLowkey1818 opened #209 "'Unable to install hostapd file'"
When I clone wifiphisher over from github onto kali I get the message 'Unable to install hostapd file', I have tried airmon-ng check kill and attempted to load the kali repositories to see what was up and still nothing. It's a bit ironic I'm using more data than ever before to try get free wifi in this rip off country.
  I'm wondering what the solution is to this?

 Extra:
* Latest version of kali

[2016-02-13 14:41] blackHatMonkey commented on #209
Hi @MrLowkey1818
Can you execute the fallowing command
[code]
in the terminal and post the result.

[2016-02-13 22:16] geegee456 commented on #209
I have the same problem.

[2016-02-14 01:30] sophron commented on #209
Hi @MrLowkey1818 and @geegee456 (I assume you are also on Kali),

Can you, please, check if `/usr/sbin/hostapd` is there? If not, can you download it with `apt-get install hostapd`.

[2016-02-14 01:32] #149 closed

[2016-02-14 02:08] geegee456 commented on #209
Hello thank you for your help,

i checked the folder and there is not such folder. There are only files but no folder which is called hostapd.

I tried apt-get install hostapd. And it is not working.

See attached image:

www.pic-upload.de/view-29735560/1455415565959-2055377805.jpg.html

[2016-02-14 03:11] geegee456 commented on #209
I figured out that the live version (when i boot from usb) works fine. But the kali linux version which have been installed on my computer acts strange in many ways. I can't even install new updates with.

apt-get update and apt-get upgrade :(

It would be very happy if someone can help me out via teamviewer or something

[2016-02-14 12:28] sophron commented on #209
@geegee456,

My guess is that your sources on /etc/apt/sources.list are not responding. Try changing them.

If you need any further help, I recommend asking in the <a href="https://forums.kali.org/">Kali Linux forums</a>.

[2016-02-14 15:51] geegee456 commented on #209
Ok what i have to change when i open the sources.list file?

[2016-02-14 16:03] blackHatMonkey commented on #209
This [page](http://docs.kali.org/general-use/kali-linux-sources-list-repositories) explains what should the ```sources.list``` file look like.

[2016-02-14 23:23] geegee456 commented on #209
THANK YOU BLACK HAT MONKEY :DD I LOVE YOU

I changed the sources.list file  as described in

And now i am able to make the updates,upgrades etc.

After the updates etc i could use wifiphisher but only in live mode. Now the version on my hdd also works.

Thank you again. I am noob noob in linux and stuff. Unbelievable i wasted hours and now you solved my problem thank you again to you all.

[2016-02-14 23:26] geegee456 commented on #209
I also can use my wifi adapter AWUS036NEH. If someone has the same problems update that shitty file and then apt-get update and apt-get upgrade and everything works :DD

[2016-02-15 17:02] geegee456 commented on #188
Same here its not jamming anything

[2016-02-18 13:55] jamalala commented on #182
Mr sophron: canyou tell me please why i do not see the page of the "update of the router". When i create an fake ap of my ap, and i connect to it, nothing happen it does nothing it also not showing the page of the upgrade!!?? please tell me what to do, thanx

[2016-02-18 15:48] blackHatMonkey commented on #182
@jamalala
Please make a new issue as your problem is not related to this thread.

[2016-02-18 19:43] jamalala opened #211 "Router update page"
Hello, i have an problem. When i make a fake AP of my own AP and i connect to the fake AP it does not show the page where u must sign in with you wifipassword to get the "upgrade of the router", and when i got connected it saying Limited acces. So what did i do wrong, i use 2 wireless cards, the TPlink 722N and the Alfa AWUSO36NH. I know in the past it did work but i have installed it again and wa

[2016-02-18 20:01] sophron commented on #211
Hello @jamalala,

I assume you are aware that in order for this to work the victim needs to open its browser and type a URL in the address bar. Then wifiphisher will redirect all requests to localhost and present the fake portal.

Can you please provide some more details? Which OS & browser are you using?  The <a href="https://github.com/sophron/wifiphisher/wiki/Bug-reporting-guidelines">Bug Repor

[2016-02-19 00:17] jamalala commented on #211
Yes, i know that you have to open a browser. When i open a browser it showing blank and keeps "thinking" after a while its showing "page cannot been found" the same as when you have no internet connexion. I use kali linux 2.0 with the wifiphisher on my pc. Then i go to my laptop that has windows 7 on it, with the laptop a make the connexion to the fake AP and use google chrome as the browser.

[2016-02-19 02:39] blackHatMonkey commented on #211
Is there a specific website you are trying to open or this happens to all websites?
Also can you tell us which version of the ```wifiphisher``` you are using?

[2016-02-19 12:46] jamalala commented on #211
no not specific website i i try to open google and marktplaats.nl just normal websites. this version of wifiphisher i use: wifiphisher-1.1

[2016-02-19 12:56] sophron commented on #211
Try the latest revision. Download from <a href="https://github.com/sophron/wifiphisher/archive/master.zip">here</a>.

[2016-02-19 18:45] jamalala commented on #211
i downloaded it and it works!!!!!!!!!!!!!!!! thank you very much for your help

[2016-02-19 23:01] MrLowkey1818 commented on #209
Thanks for your replies,  I got a little further with wifiphisher, the hostapd problem solved itself as soon as I gave up strangely. I am experiencing another problem with wifiphiser, I believe it is selecting a the worst wireless card out of the two. Here is what it returns to me:

[*] Starting the fake access point.  . .
[+] Driver initialization failed! (hostapd error)
[+] Try a different wirel

[2016-02-19 23:03] MrLowkey1818 commented on #209
Also both of my wireless cards get picked up by kali. Unless I'm supposed to disconnect from the internet before I attempt to create the fake access point I don't know what.

[2016-02-19 23:12] blackHatMonkey commented on #209
Have you tried starting ```wifiphisher``` like fallowing:
[code]
You can choose whichever wireless card you think is the strongest.

[2016-02-20 00:05] MrLowkey1818 commented on #209
Extra: I reinstalled hostapd to make sure that was in order, reran the script and got the same output error message. Sorry for the excessive messages.

[2016-02-20 00:06] MrLowkey1818 commented on #209
Thank you I will try this, your message didn't load until I sent my last.

[2016-02-23 09:04] donpedro27476 opened #213 "Find interface automatically error"
After running the script, everything works normally. However, immediately after getting the message- "fake access point initializing", error message appears- " Driver initialization failed! " (hostapd error). Then it says "try a different wireless interface using -aI option" .

Information:
Device- Nexus 4
Wireless card- tplink tl-wn722n (using USB y cable and power back)

[2016-02-23 14:12] blackHatMonkey commented on #213
For ```wifiphisher``` to work you need to have at least one card with ```AP``` mode available. Please check which of you wireless adapters supports ```AP``` mode and then specify it when running ```wifiphisher```.
For instance if ```wlan0``` supports ```AP``` mode then run the fallowing:
[code]
Let me know if you have any problems.

[2016-02-23 16:30] donpedro27476 commented on #213
Thanks for the help @blackhatMonkey
It works now.

[2016-02-23 18:05] donpedro27476 commented on #213
![screenshot_2016-02-23-23-24-22](https://cloud.githubusercontent.com/assets/17426160/13261442/15b659ba-da86-11e5-9769-fcd1efb59361.png)

[2016-02-23 18:21] donpedro27476 commented on #213
So it works to the extent that the Fake AP is created. The victim device however shows " error-name-not-resolved" when the 'sign in to wifi xx' is clicked.

It also appears that the second wifi seems to go offline wherever the Fake AP is running

[2016-02-23 18:22] donpedro27476 commented on #213
So it works to the extent that the Fake AP is created. The victim device however shows " error-name-not-resolved" when the 'sign in to wifi xx' is clicked.

It also appears that the second wifi seems to go offline wherever the Fake AP is running

[2016-02-23 19:16] blackHatMonkey commented on #213
To be honest ```wifiphisher``` is developed to be run on ```linux kali``` and since I don't have the hardware to test, I'm afraid I can't help you. However something you may want to try is to do a hard reset on the android device. Also you may want to try connecting from a different device and check if the same error is presented.

[2016-02-27 17:48] #209 closed

[2016-02-28 11:15] naflan121 opened #215 "Could not set IP address error"
I am on Kali 2.0 and using two adapters (both can inject),when i run the script after selecting interface following error occurs
[+] Choose the [num] of the scenario you wish to use: 1
[+] Selecting Browser Connection Reset template
[*] Starting the fake access point...
[+] Could not set IP address on wlan0!

[!] Closing

Any solution ?

[2016-02-28 15:43] blackHatMonkey commented on #215
Hi @naflan121
Can you check if you have ```dnsmasq``` installed. You can check by running:
[code]
in the terminal and take a look at ```Status``` line.

If it is not installed then you can install it by running:
[code]
Let me know if you have any more problems.

[2016-03-02 07:48] naflan121 commented on #215
Thanks @blackHatMonkey
 it help me to start the script but i cannot see the fake AP, from my mobile, Wifi phisher suppose to create a fake ap and jam the original right?

[2016-03-02 15:21] blackHatMonkey commented on #215
You may want to try starting ```wifiphisher``` with the ```-aI``` argument:
[code]
where ```wlanx``` is the name of the adapter with ```AP``` mode available.

[2016-03-02 18:20] P5I opened #216 "Template to serve payloads to targets"
I've been playing around with this a lot and recently used it to serve a payload to a target.
It adds another attack vector aside from phishing alone :)

I've attached the template I've been using. Just replace the **payload_File** with a payload/executable you want to serve to a target, select the template, and run the tool.

[adobe.zip](https://github.com/sophron/wifiphisher/files/155365/adobe.z

[2016-03-03 13:21] naflan121 commented on #117
same here to me

[2016-03-03 13:24] naflan121 commented on #215
this didnt help me im using 2 alfa AWUS036H any tips to start the fake ap?

[2016-03-03 16:38] blackHatMonkey commented on #215
Unfortunately the ```AWUS036H``` doesn't support ```AP``` mode. That is the reason it can't create the access point. For ```wifiphisher``` to work you need to have at least one card with ```AP``` mode available. I personally use ```AWUS036H``` and ```AWUS036NHA```.

[2016-03-03 18:36] sophron commented on #215
Hi @naflan121,

 This error is shown when the script fails to set an IP address on the specified interface. You can try manually setting an IP address and see why it's complaining. You can do so by running `ifconfig <ap_iface> up 10.0.0.1 netmask 255.255.255.0`, where <ap_iface> the access point interface that you specify with `-aI`.

[2016-03-03 18:39] sophron commented on #215
Hi @naflan121,

Can you paste here the output of `/tmp/wifiphisher-hostapd.log` while running the script? You can do so by typing `cat /tmp/wifiphisher-hostapd.log`.

[2016-03-03 18:43] sophron commented on #216
@P5I, nice! We definitely want to include this. Do you think you can <a href="https://help.github.com/articles/creating-a-pull-request/"> submit a PR</a>?

Also, by the name of the zip file, I can tell that the template of this scenario has to do with Adobe. Unfortunately, we can't contain any third-party material (such as logos or proprietary templates) due to copyright reasons. That means, that

[2016-03-04 09:07] P5I commented on #216
@sophron, my mistake, I posted this before reading the template submission guidelines. Glad you like the idea though.

I'll work on designing a generic payload download template and submit a PR when I'm done.

[2016-03-04 09:15] sophron commented on #216
Great, thanks.

[2016-03-07 14:35] caixiawang opened #217 "Can not create false AP"
I want to get help

[2016-03-07 14:50] caixiawang commented on #217
[+] Ctrl-C at any time to copy an access point from below
num  ch   ESSID
---------------
1  - 1  - CMCC-WEB
2  - 1  - and-Business
3  - 6  - jy111
4  - 6  - FAST_CA942C
^C
[+] Choose the [num] of the AP you wish to copy: 3
[*] Starting the fake access point...
[3;J

[*] jy111 set up on channel 6 via wlan0 on wlan1
[*] Monitor mode: wlan0 - 00:e0:6c:81:e5:80
[3;J

Jamming devices:

DHCP Leases:

[2016-03-07 15:32] caixiawang commented on #217
root@kali:~/wifiphisher-1.1# sudo python2 wifiphisher.py -jI wlan0
[*] Starting HTTP server at port 8080
[*] Starting HTTPS server at port 443
[+] Starting monitor mode off wlan0
[*] Cleared leases, started DHCP, set up iptables
[3;J
[+] Ctrl-C at any time to copy an access point from below
num  ch   ESSID
I inserted two wireless cards

[2016-03-07 16:09] sophron opened #218 "Use of aireplay-ng for deauthentication"
We are currently using <a href="https://github.com/DanMcInerney/wifijammer">wifijammer</a> for kicking out the victims.

We should consider using `aireplay-ng --deauth` for doing the same thing (if installed on user's machine).

[2016-03-07 16:13] caixiawang commented on #217
root@kali:~# airmon-ng

PHY	Interface	Driver		Chipset

phy3	wlan0		rtl8187		Realtek Semiconductor Corp. RTL8187
phy2	wlan1		rt2800usb	Ralink Technology, Corp. RT2870/RT3070

This is my two NIC models do not know where there are problems

[2016-03-07 16:15] sophron commented on #217
Sorry, I don't understand the issue you are describing. Consider following our <a href="https://github.com/sophron/wifiphisher/wiki/Bug-reporting-guidelines">bug reporting guidelines</a>.

[2016-03-07 16:16] #211 closed

[2016-03-07 16:19] sophron commented on #141
Our tests are currently failing.

@blackHatMonkey, can you work on this?

[2016-03-07 17:59] blackHatMonkey commented on #141
Yes, I will take a look and fix them soon.

[2016-03-08 01:57] caixiawang commented on #217
I need to know two wireless adapters, look not to support wifiphisher-1.1

[2016-03-08 02:04] caixiawang commented on #197
I have encountered this problem

[2016-03-08 09:12] caixiawang commented on #184
root@kali:~# sudo iw dev
phy#1
	Interface wlan1
		ifindex 4
		wdev 0x100000001
		addr 00:02:6f:b9:69:11
		type managed
phy#0
	Interface wlan0
		ifindex 3
		wdev 0x1
		addr 00:e0:6c:81:e5:80
		type managed

[2016-03-08 09:14] caixiawang commented on #184
root@kali:~# iw phy phyx0
Usage:	iw [options] command
Options:
	--debug		enable netlink debugging
	--version	show version (3.17)
Commands:
	help [command]
		Print usage for all or a specific command, e.g.
		"help wowlan" or "help wowlan enable".

	event [-t] [-r] [-f]
		Monitor events from the kernel.
		-t - print timestamp
		-r - print relative timstamp
		-f - print full frame for auth/assoc etc.

[2016-03-08 09:16] caixiawang commented on #184
root@kali:~# iw phy phyx1
Usage:	iw [options] command
Options:
	--debug		enable netlink debugging
	--version	show version (3.17)
Commands:
	help [command]
		Print usage for all or a specific command, e.g.
		"help wowlan" or "help wowlan enable".

	event [-t] [-r] [-f]
		Monitor events from the kernel.
		-t - print timestamp
		-r - print relative timstamp
		-f - print full frame for auth/assoc etc.

[2016-03-08 09:20] caixiawang commented on #184
jamming is well but not create fakeAP

[2016-03-09 03:50] majik2016 opened #219 "hostapd error"
hello

i run python wifiphisher.py -aI wlan0 -jI wlan1
my two cards accept monitor mode and running fine with other software

when i choose the network and the phishing options i get this error

Configuration file: /tmp/hostapd.conf
nl80211: Could not configure driver mode
nl80211 driver initialization failed.
hostapd_free_hapd_data: Interface wlan0 wasn't started

in the wifiphisher-hostapd.log

[2016-03-09 03:55] majik2016 commented on #219
root@kali:~# sudo iw dev
phy#1
	Interface wlan1
		ifindex 4
		wdev 0x100000001
		addr 00:c0:ca:82:85:13
		type managed
phy#0
	Interface wlan0
		ifindex 3
		wdev 0x1
		addr 8c:a9:82:14:2d:9e
		type managed
		channel 4 (2427 MHz), width: 20 MHz (no HT), center1: 2427 MHz

root@kali:~# iwconfig
eth0      no wireless extensions.

wlan0     IEEE 802.11bgn  ESSID:"95339065"
          Mode:Managed  Frequ

[2016-03-09 13:56] blackHatMonkey commented on #219
Hi @majik2016
It seems that ```wlan0``` doesn't support ```AP``` mode but ```wlan1``` does. So all you have to do is change the order like the fallowing:
[code]
Let me know if you have any other problems.

[2016-03-09 16:00] majik2016 commented on #219
Yes same problem

I connect the internet on the usb alfa after i write your command and the same happend

Let me know

[2016-03-09 16:24] blackHatMonkey commented on #219
Can you connect just the ```wlan1``` card and save
[code]
as ```config.txt```. After that in the terminal run
[code]
And see if you get any erros.

[2016-03-09 16:56] majik2016 commented on #219
Sudo hostapd config.txt

Configuration file: config.txt
Nl80211: could not configure driver mode
Nl80211 driver initialization failed.
Hostapd_free_hapd_data: interface wlan1 wasnt started

Same prob

[2016-03-09 19:15] blackHatMonkey commented on #219
Can you run the same command with ```-dd``` argument.
[code]

[2016-03-09 19:39] majik2016 commented on #219
root@kali:~# sudo hostapd -dd config.txt
random: Trying to read entropy from /dev/random
Configuration file: config.txt
rfkill: initial event: idx=0 type=1 op=0 soft=0 hard=0
rfkill: initial event: idx=1 type=2 op=0 soft=0 hard=0
rfkill: initial event: idx=2 type=2 op=0 soft=0 hard=0
rfkill: initial event: idx=3 type=1 op=0 soft=0 hard=0
rfkill: initial event: idx=4 type=1 op=0 soft=0 hard=0
nl802

[2016-03-09 19:54] sophron commented on #219
Hello @majik2016,

Unfortunately, this is an issue with `hostapd`. Some people seem to <a href="http://unix.stackexchange.com/questions/98964/hostapd-ath5k-nl80211-how-to-get-it-working">get this working</a> after stopping  the `network-manager` but in general you will find more luck posting this on `hostapd` mailing list.

[2016-03-09 20:47] majik2016 commented on #219
service network-manager stop

Exactly it go after to

Jamming device:

Dhcp leases:

Http request:

And flashing cursor

[2016-03-09 21:11] blackHatMonkey commented on #219
Does it create the fake access point?

[2016-03-09 21:16] majik2016 commented on #219
Yes and i can see the phishing page

Only i wait they have many device on but seem not try to connecting on my fake ap

Do i have to deauth them from the other router or do something?

[2016-03-09 21:36] SLiX-KAOS opened #220 "No such file or directory error after ESSID selection"
Hi all,

Used this tool before and it was great to use for testing, since my last use I upgraded to Kali 2016.1 woohoo! however I now receive the following error when trying to use the tool not sure where to start I am new to this and was wondering if anyone else knows how to rectify this.

![screenshot from 2016-03-09 21-23-26](https://cloud.githubusercontent.com/assets/10120471/13651062/89ac062c

[2016-03-10 00:30] blackHatMonkey commented on #220
Hi @SLiX-KAOS
Can you download a fresh copy from github and see if the problem still persist?

[2016-03-10 04:25] #219 closed

[2016-03-10 14:02] caixiawang opened #221 "What wireless network card supports AP mode"
Give me some advice. Thank you.

[2016-03-10 14:50] blackHatMonkey commented on #221
Hi @caixiawang
I recommend getting the ```Alfa AWUS036NHA``` which is confirmed to work. You can either get two ```Alfa AWUS036NHA``` or one ```Alfa AWUS036NHA``` and any wireless adapter that supports monitor mode.

[2016-03-10 15:01] caixiawang commented on #221
Thank you very much.

[2016-03-10 15:34] SLiX-KAOS commented on #220
Hi blackhatMonkey,

I have tried a number of times and still get the same error.

I've also tried to download directly from source, same error occurs.

[2016-03-10 15:38] blackHatMonkey commented on #220
Can you post a screenshot of the ```wifiphisher``` directory.

[2016-03-10 21:42] SLiX-KAOS commented on #220
As requested

![screenshot from 2016-03-10 21-40-40](https://cloud.githubusercontent.com/assets/10120471/13685542/d7d5c7c2-e708-11e5-8394-34c210181315.png)

[2016-03-10 21:49] sophron commented on #220
Hi @SLiX-KAOS,

Try changing your directory to the `wifiphisher` one and running the script as `python wifiphisher.py`.

[2016-03-11 02:09] naflan121 commented on #215
@sophron I think it was my linux and now its fixed the only this i cannot do is cannot start fake ap im using 2 AWUS036H if this device don't support what are the compatible device can i have a list or any suggestions

[2016-03-11 02:41] caixiawang commented on #221
@blackHatMonkey
@strasharo
No place to buy AWUS036NHA and TL-WN722N.
Are there any other alternatives?

[2016-03-11 14:02] majik2016 opened #223 "AP + Jam but no one go on my AP"
Hello,

I need help i dont know what i can do

I jam many stationand i test by my own the phishing work but other station dont go on my wifi ap do i do something wrong or how to force them to connect to my AP...

Thanks

Let mr know

[2016-03-11 14:03] majik2016 commented on #223
![img_20160309_220601](https://cloud.githubusercontent.com/assets/17736083/13704088/19e21a26-e768-11e5-94ac-39198a5c4a08.jpg)

[2016-03-11 14:07] sophron commented on #223
Read the <a href="https://github.com/sophron/wifiphisher/wiki/Frequently-Asked-Questions-%28FAQ%29#i-have-no-success-using-the-tool--nobody-is-connecting-to-the-rogue-ap-what-am-i-doing-wrong-">FAQ</a>.

[2016-03-11 14:07] #223 closed

[2016-03-11 14:34] #217 closed

[2016-03-11 15:00] sophron commented on #153
@soumia7 The first check only happens to determine the strongest of your wireless cards. The real discovery of nearby networks happens afterwards.

[2016-03-11 20:37] crucio95 commented on #213
using a usb wifi adapter Alfa AWUS036NHA that supports AP mode, and i've tried it with airmon and it works, i get the drive initialization error. can you help me??

[2016-03-11 21:23] nemanjampek opened #224 "IOError: [Errno 2] No such file or directory"
I'm trying to install Wifiphisher but i get this error:
![screenshot from 2016-03-11 20-31-53](https://cloud.githubusercontent.com/assets/17790030/13715840/b0299a76-e7d7-11e5-9824-33ddf39047f7.png)
I don't know what to try.Some help,please.
Thanks

[2016-03-12 14:57] blackHatMonkey commented on #213
Can you post the contents of ```/tmp/wifiphisher-hostapd.log``` while running the script?

[2016-03-12 15:06] blackHatMonkey commented on #224
Can you download the latest version and try again. Also it might be helpful to start the ```wifiphisher``` like fallowing:
[code]

[2016-03-15 12:22] caixiawang commented on #221
I used two rtl8187 and TL-WN722N card, do not create false ap? Please advise

[2016-03-15 12:43] blackHatMonkey commented on #221
Did you get any errors?
You also can try running ```wifiphisher``` using the ```-aI``` argument like so:
[code]

[2016-03-15 13:01] caixiawang commented on #221
I do not speak English, please forgive me

[2016-03-15 13:30] caixiawang commented on #221
Ask the teacher, my two NIC can support?

[2016-03-15 13:37] caixiawang commented on #221
Thank you teacher to help me, with the command sudo python wifiphisher.py -aI wlan0 run wifiphisher, still can not create a false ap

[2016-03-15 13:57] caixiawang commented on #221
root@kali:~# ifconfig -a
eth0      Link encap:Ethernet  HWaddr 00:0c:29:e9:57:f8
          inet addr:192.168.44.128  Bcast:192.168.44.255  Mask:255.255.255.0
          inet6 addr: fe80::20c:29ff:fee9:57f8/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:149 errors:0 dropped:0 overruns:0 frame:0
          TX packets:83 errors:0 dropped:0 overruns:0 car

[2016-03-16 08:29] caixiawang commented on #221
How to TP-link TL-wn722n set AP mode

[2016-03-16 08:29] caixiawang commented on #221
TP-link TL-wn722n how to set up the AP model

[2016-03-16 08:30] caixiawang commented on #221
TP-link TL-wn722n how to set up the AP mode

[2016-03-16 11:15] caixiawang commented on #221
root@kali:~# airmon-ng

PHY	Interface	Driver		Chipset

phy0	wlan0		rtl8187		Realtek Semiconductor Corp. RTL8187
phy1	wlan1		ath9k_htc	Atheros Communications, Inc. AR9271 802.11n

root@kali:~#
This is my two NIC

[2016-03-16 14:03] caixiawang opened #226 "Driver initialization failed! (hostapd error)"
[+] Choose the [num] of the scenario you wish to use: 3
[+] Selecting Firmware Upgrade Page template
[*] Starting the fake access point...
[+] Driver initialization failed! (hostapd error)
[+] Try a different wireless interface using -aI option.

[!] Closing

[2016-03-16 14:40] blackHatMonkey commented on #221
Can you post the output of these commands
[code]

[2016-03-16 14:42] blackHatMonkey commented on #226
It would be better to continue the discussion in #221.

[2016-03-16 18:33] xXRedHackingXx opened #227 "New Airmon-ng version."
Now the monitor interface name is wlanXmon.
OLD: monX
New: wlanXmon

Wifiphisher is not working with new Aircrack version... please fix it as soon as possible...

With airmon start wlan0:
Old version, the monitor interface was mon0
With the new, is wlan0mon

[2016-03-16 20:57] strasharo commented on #227
Or you can use this airmon in order to have the old behavior:
https://raw.githubusercontent.com/kernel-64/linset/master/airmon

[2016-03-16 21:02] strasharo commented on #221
According to your airmon output wlan1 is your TL-wn722n adapter. Can you try running instead:
sudo python wifiphisher.py -aI wlan1 -jI wlan0. I have the same pair of cards and it works.

[2016-03-17 01:44] caixiawang commented on #221
@blackHatMonkey
root@kali:~# iw phy phy0 info
Wiphy phy0
	max # scan SSIDs: 4
	max scan IEs length: 2285 bytes
	Retry short limit: 7
	Retry long limit: 4
	Coverage class: 0 (up to 0m)
	Device supports RSN-IBSS.
	Supported Ciphers:
		* WEP40 (00-0f-ac:1)
		* WEP104 (00-0f-ac:5)
		* TKIP (00-0f-ac:2)
		* CCMP (00-0f-ac:4)
		* 00-0f-ac:10
		* GCMP (00-0f-ac:8)
		* 00-0f-ac:9
	Available Antennas: TX 0

[2016-03-17 01:45] caixiawang commented on #221
root@kali:~# iw phy phy1 info
Wiphy phy1
	max # scan SSIDs: 4
	max scan IEs length: 2257 bytes
	Retry short limit: 7
	Retry long limit: 4
	Coverage class: 0 (up to 0m)
	Device supports RSN-IBSS.
	Device supports T-DLS.
	Supported Ciphers:
		* WEP40 (00-0f-ac:1)
		* WEP104 (00-0f-ac:5)
		* TKIP (00-0f-ac:2)
		* CCMP (00-0f-ac:4)
		* 00-0f-ac:10
		* GCMP (00-0f-ac:8)
		* 00-0f-ac:9
		* CMAC (00-0f-a

[2016-03-17 01:50] blackHatMonkey commented on #221
As @strasharo have already said this
[code]
should solve the problem.

[2016-03-17 01:53] blackHatMonkey commented on #227
@xXRedHackingXx
```wifiphisher``` only uses ```airmon check kill``` to stop any processes that might be problematic. Can you describe your problem in more details?

[2016-03-17 02:03] caixiawang commented on #221
Command  Python wifiphisher.py -aI wlan1 -jI wlan0 sudo  Not solve the problem
kali version
root@kali:~# uname -a
Linux kali 4.3.0-kali1-amd64 #1 SMP Debian 4.3.3-5kali4 (2016-01-13) x86_64 GNU/Linux

[2016-03-17 02:16] caixiawang commented on #221
Can interfere with the user can not create fake access point

[2016-03-17 09:14] caixiawang commented on #221
Hi @strasharo    Did you run successfully?

[2016-03-17 09:38] caixiawang commented on #221
![GitHub Logo](https://cloud.githubusercontent.com/assets/16268280/12005415/c43359a2-abe7-11e5-8fa7-7123d7297e10.png)Borrowing a friend's image,can not create a fake access point,I really do not know how to solve the problem?

[2016-03-17 22:42] strasharo commented on #221
Yes, I have been running it for ages without issues, just choose your Atheros adapter as the AP interface and the Realtek one for jamming.

[2016-03-17 23:19] strasharo commented on #116
Or instead of doing this just collect a handshake and verify the password against it like linset does?

[2016-03-18 02:53] caixiawang commented on #221
![A](https://github.com/caixiawang/new/blob/master/image/4.png?raw=true)Why I can't create a fake access point, I really do not know how to solve this problem?

[2016-03-18 04:52] caixiawang commented on #221
![gif](https://github.com/caixiawang/new/blob/master/image/1.gif?raw=true)

[2016-03-18 05:03] naflan121 commented on #221
does TL-WN722N actually support ap mode anyone who finish the attack successfully ?

[2016-03-18 05:13] caixiawang commented on #221
I did not succeed, did not create the false AP

[2016-03-18 14:48] blackHatMonkey commented on #221
@caixiawang
Can you try creating a access point using the fallowing method:

1. Save the code below as ```hostapd.conf```
[code]
2. Run
[code]
This should create a access point named ```Test```. Please post if you got any erros .

[2016-03-18 16:01] caixiawang commented on #221
![png](https://github.com/caixiawang/wifiphisher/blob/master/image/2.png?raw=true)
After running mistakes, to get to know wifiphisher recent software work, really a great effort

[2016-03-18 16:02] caixiawang commented on #221
![png](https://github.com/caixiawang/wifiphisher/blob/master/image/2.png?raw=true)
After running mistakes

[2016-03-18 16:05] caixiawang commented on #221
![png](https://github.com/caixiawang/wifiphisher/blob/master/image/2.png?raw=true)
Run Error

[2016-03-18 16:10] Pavlex4 opened #228 "Wifiphisher problem"
Driver initialization failed! (hostapd error)Try a different wireless interface using -aI option.
I am using  TP-Link TL-WN722N USB Wifi card and internal Atheros wireless card.How to fix this?????

[2016-03-18 17:20] #226 closed

[2016-03-18 18:26] blackHatMonkey commented on #221
It seems that there is a problem with your version of ```hostapd```. You have to remove it using this command:
[code]
And re-install it using:
[code]
Tell us if that solved it.

[2016-03-18 18:30] blackHatMonkey commented on #228
Hi @Pavlex4. Have a look at #221. All you have to do is to specify the ```-aI``` option like so:
[code]
You have to replace ```wlan0``` with the ```TP-Link TL-WN722N``` interface.

[2016-03-18 19:50] sophron commented on #227
I'm also not seeing how this is affecting the script. @xXRedHackingXx, can you please explain in more detail?

[2016-03-18 23:56] caixiawang commented on #221
Setting hostapd (1:2.3-2.3)...
update-rc.d: We have no instructions for the hostapd init script.
update-rc.d: It looks like a network service, we disable it.
insserv: warning: current start runlevel(s) (empty) of script `hostapd' overrides LSB defaults (2 3 4 5).
insserv: warning: current stop runlevel(s) (0 1 2 3 4 5 6) of script `hostapd' overrides LSB defaults (0 1 6).
Processing for systemd (2

[2016-03-19 02:29] caixiawang commented on #221
![png](https://github.com/caixiawang/wifiphisher/blob/master/image/4.png?raw=true"Unable to create AP")
![png](https://github.com/caixiawang/wifiphisher/blob/master/image/3.png?raw=true"Unable to create AP")
uninitialized?

[2016-03-19 04:44] donpedro27476 commented on #213
Configuration file: /tmp/hostapd.conf
Using interface wlan1 with hwaddr 60:e6:27:12:fb:d3 and ssid "xyz"wlan1: interface state UNINITIALIZED->ENABLED
wlan1: AP-ENABLED
rfkill: WLAN unblocked

[2016-03-19 05:22] donpedro27476 commented on #213
The above is the log using the tplink tl-wn 722n

[2016-03-19 22:07] xXRedHackingXx commented on #227
I'm sorry, it was just a problem related to my computer, but i fixed it using old behavior (strasharo comment) Thanks to everyone :+1:

[2016-03-19 22:07] #227 closed

[2016-03-20 13:16] caixiawang commented on #221
root@kali:~# nmcli radio wifi off
root@kali:~# sudo ifconfig wlan0 up
SIOCSIFFLAGS: Operation not possible due to RF-kill
sudo ifconfig wlan0 up command can not be executed, the teacher how to solve this problem?

[2016-03-20 13:21] caixiawang commented on #221
![png](https://github.com/caixiawang/wifiphisher/blob/master/image/8.png?raw=true)
sudo ifconfig wlan0 up command can not be executed, the teacher how to solve this problem?

[2016-03-20 14:05] blackHatMonkey commented on #221
You can use
[code]
to remove any soft block. Alternatively you can remove and re-insert the adapter and it should solve it.

[2016-03-21 12:15] caixiawang commented on #221
![png](https://github.com/caixiawang/wifiphisher/blob/master/image/7.png?raw=true)
Forgive my understanding, Run, or the same mistakes?

[2016-03-21 12:41] blackHatMonkey commented on #221
Can you run
[code]
and post the result.

[2016-03-21 13:45] caixiawang commented on #221
![png](https://github.com/caixiawang/wifiphisher/blob/master/image/9.png?raw=true)
I do not know where the error?

[2016-03-21 14:00] blackHatMonkey commented on #221
When the device is ```Hard blocked``` that means that the device is physically blocked by either a key(switch) or by system. If it is blocked by the system unplugging and re-inserting it should reset it it, otherwise, you have to find the switch to enable it.

[2016-03-21 14:16] caixiawang commented on #221
Did you mean reseat the device?

[2016-03-21 14:19] caixiawang commented on #221
Did you mean to re-disconnect device connections?

[2016-03-21 14:26] caixiawang commented on #221
Contacting kali system soon, please enlighten

[2016-03-21 14:29] caixiawang commented on #221
I don't understand what the teacher is saying? Reconnect the device

[2016-03-21 14:53] blackHatMonkey commented on #221
I meant to disconnect the usb cable and reconnect it. After that check if the ```Hard blocked``` is set to ```No```.

[2016-03-21 19:26] #228 closed

[2016-03-22 06:24] SuicSoft commented on #196
@blackHatMonkey Also I have only one WiFI card

[2016-03-22 12:35] sandman6578 commented on #196
You need two cards. This is a must!

[2016-03-22 14:04] SuicSoft commented on #196
@sandman6578 I have some old Wireless-G cards WiFi cards lying around. Is there any way I could use them through USB.

Or better use another computer since I have another computer with a Wireless-N card which supports monitor mode.

[2016-03-22 14:14] caixiawang commented on #221
root@kali:~# sudo rfkill list all
0: phy0: Wireless LAN
	Soft blocked: yes
	Hard blocked: no
1: phy1: Wireless LAN
	Soft blocked: no
	Hard blocked: no
Still not been resolved? I am a novice, I do not understand

[2016-03-22 14:35] blackHatMonkey commented on #221
When you have
[code]
this
[code]
should remove the ```soft block```. So if you run
[code]
you should get
[code]

[2016-03-22 15:00] caixiawang commented on #221
Several twists and turns, the problem has been resolved! thank you very much

[2016-03-22 15:13] sandman6578 commented on #196
Buy yourself an USB wifi card. I recommend TPLink tlwn722n or the alfa awus036h(does not support AP mode but in opinion the best for jamming the shit out of your vics :) )

[2016-03-23 01:11] caixiawang commented on #221
For another wireless card, wifiphisher run successfully, but the connection fake AP, suggesting that the site security certificate problem? Close program attack again. Tip
Unable to start HTTP server!
[-] Another process is running on port 8080.
[!] Closing

[2016-03-23 01:19] sophron commented on #221
@caixiawang The certificate needs to be self-signed.  The tool output is also self-explanatory.

Note that we are not here to teach you WiFi hacking and this is not a support forum. Open an issue only if you encounter a bug that has not been reported already.

[2016-03-23 01:19] #221 closed

[2016-03-23 01:27] SuicSoft commented on #196
@sandman6578 Can I use another computer

[2016-03-24 13:15] caixiawang commented on #183
Dear@blackHatMonkey  Help me, I run wifiphisher fail, execute the command again, the following error!
I post questions, I do not know why the administrator was deleted, wrong place, please forgive me!
root@kali:~/wifiphisher# sudo python wifiphisher.py -aI wlan1 -jI wlan0
[-] Unable to start HTTP server!
[-] Another process is running on port 8080.
[!] Closing

[2016-03-24 13:37] caixiawang commented on #207
Dear@blackHatMonkey Help me, I run wifiphisher fail, execute the command again, the following error!
I post questions, I do not know why the administrator was deleted, wrong place, please forgive me!
root@kali:~/wifiphisher# sudo python wifiphisher.py -aI wlan1 -jI wlan0
[-] Unable to start HTTP server!
[-] Another process is running on port 8080.
[!] Closing

[2016-03-24 14:23] blackHatMonkey commented on #207
Please have a look at #3. The last few comments should solve your problem.

[2016-03-24 16:18] sophron commented on #216
#229 implemented this.

[2016-03-24 16:18] #216 closed

[2016-03-25 04:18] caixiawang commented on #221
Still did not solve the problem?
root@kali:~/wifiphisher# sudo python wifiphisher.py -aI wlan1 -jI wlan0
[-] Unable to start HTTP server!
[-] Another process is running on port 8080.
[!] Closing

[2016-03-25 13:16] strasharo commented on #221
You have another process listening on 8080.
`netstat -ntpl | grep 8080`

[2016-03-25 14:02] caixiawang commented on #221
Every time this happens, I need to restart KALI, there are other ways you? Wifiphisher unsuccessful attacks, how to stop?

[2016-03-25 14:17] blackHatMonkey commented on #221
Try to list the process that is using that port with this command:
[code]
then when you find it's id, kill it:
[code]

[2016-03-26 01:02] caixiawang commented on #221
Thank you, teacher, problem solved!

[2016-03-26 08:38] caixiawang commented on #221
Teacher in trouble again, I re-purchase a separate wireless card, how do I know whether it supports packet injection it? What orders? Can you teach me?

[2016-03-26 08:39] caixiawang commented on #221
Teacher in trouble again, I re-purchase a separate wireless card, how do I know whether it supports packet injection it? Can you teach me

[2016-03-26 08:41] caixiawang commented on #221
Teacher in trouble again, I re-purchase a separate wireless card, how do I know whether it supports packet injection it? What is the command? Can you teach me?

[2016-03-26 13:02] blackHatMonkey commented on #221
Run this:
[code]
and look into the supported interface modes. If you see ```monitor``` it means that it supports packet injection and if you see ```AP``` it means that ```AP``` mode is supported.

[2016-03-26 16:13] roko123 opened #230 "Hostapd Problem"
i have problem whit hostapd and i hope some one Help me

![captureddd](https://cloud.githubusercontent.com/assets/18088428/14061038/9897083e-f36d-11e5-81e2-eac1b380931b.JPG)

[2016-03-26 16:21] sophron commented on #230
The error message is self-explanatory. What exactly is your question?

[2016-03-26 16:56] roko123 commented on #230
hostapd dosnt install

[2016-03-26 17:33] sophron commented on #230
The script outputs some suggestions for your problem. Have you tried that?

If you still encounter issues, you should reach <a href="https://forums.kali.org/">Kali Linux forums</a>.

[2016-03-26 20:59] dunswag opened #231 "Jamming and fake AP with nethunter on nexus 6"
Wifiphisher-master created fakeAP  but no jammimg.
Wifiphisher v1.1 created jamming  but no fakeAP
 how to make it works ?

[2016-03-27 06:15] caixiawang commented on #221
Many thanks! Wifiphisher hoped to do more powerful. I will always support you!

[2016-03-30 14:50] caixiawang commented on #221
Today received TL-WN821N ver: 5.0 wireless card immediately test, kali is not supported! depressed

[2016-03-31 09:29] djdisikd commented on #224
It is still not working

[2016-03-31 09:30] djdisikd commented on #224
I have the same problem too.

[2016-03-31 13:19] blackHatMonkey commented on #224
Are you running the latest version of ```wifiphisher```?

[2016-04-03 04:57] jaganibrijesh opened #234 "Cannot install hostapd on my kali linux 2.0"
root@hacker:~# apt-get install hostapd
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package hostapd is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

E: Package 'hostapd' has no installation candidate

[2016-04-03 05:21] sophron commented on #234
You should ask <a href="https://forums.kali.org/">here</a>.

[2016-04-03 05:21] #234 closed

[2016-04-03 05:22] #230 closed

[2016-04-08 16:50] naflan121 commented on #231
In order to perform this attack you need too Wifi Adapters

[2016-04-10 06:56] sophron commented on #185
We should be good with that now. Please update to the latest revision and let us know if any problems.

[2016-04-10 07:01] sophron commented on #182
We definitely have progress here. After we introduce the `jamming` module, I will consider this issue closed.

[2016-04-10 07:04] sophron commented on #5
Just for the record, <a href="http://insecure.org/fyodor/">Fyodor</a>, the author of Nmap Project, gave me permission to use <a href="https://svn.nmap.org/nmap/nmap-mac-prefixes">nmap-mac-prefixes</a> file, an easy-to-parse file that contains MAC prefixes along with their vendor.

[2016-04-10 07:06] sophron commented on #116
This has not been implemented yet.

[2016-04-10 18:24] #207 closed

[2016-04-10 18:39] blackHatMonkey commented on #231
@dunswag
Have you tried using the latest version?

[2016-04-10 18:44] blackHatMonkey commented on #220
Since there were no response from OP, I'm going to close this issue. If you still have the same problem after upgrading to the latest version please feel free to open a new issue.

[2016-04-10 18:44] #220 closed

[2016-04-10 18:51] blackHatMonkey commented on #215
@naflan121 You can check our [FAQ](https://github.com/sophron/wifiphisher/wiki/Frequently-Asked-Questions-%28FAQ%29#what-are-some-effective-wireless-adapters-for-using-wifiphisher-) for some compatible network adapters.

[2016-04-10 18:51] #215 closed

[2016-04-10 18:58] blackHatMonkey commented on #213
Can you try using the latest version of ```wifiphisher```?

[2016-04-10 19:04] blackHatMonkey commented on #197
Please try using the latest version of ```wifiphihser``` and see if it solves the problem. If you then still experience any issues, feel free to open a new issue.

[2016-04-10 19:06] #197 closed

[2016-04-10 19:08] blackHatMonkey commented on #144
This bug should be fixed now. If you are still experiencing any issues after upgrading to the latest version, feel free to open a new issue.

[2016-04-10 19:08] #144 closed

[2016-04-10 19:09] #185 closed

[2016-04-10 19:13] blackHatMonkey commented on #168
@HassenPy ```Wifiphisher``` has gone through some major updates. Can you provide the line numbers on the new version?

[2016-04-10 19:16] blackHatMonkey commented on #196
@SuicSoft The new version of ```Wifiphisher``` has a network adapter compatibility check. So if you upgrade to the latest version you can easily check if your adapters are compatible or not.

[2016-04-10 19:19] #190 closed

[2016-04-10 19:26] blackHatMonkey commented on #135
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 19:26] #135 closed

[2016-04-10 19:30] blackHatMonkey commented on #150
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 19:32] #150 closed

[2016-04-10 19:34] blackHatMonkey commented on #188
@subscriber360 @geegee456 Try using the latest version and report back if you have any problems.

[2016-04-10 19:38] blackHatMonkey commented on #184
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 19:38] #184 closed

[2016-04-10 19:42] blackHatMonkey commented on #183
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 19:42] #183 closed

[2016-04-10 19:46] blackHatMonkey commented on #181
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 19:46] #181 closed

[2016-04-10 19:52] blackHatMonkey commented on #158
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 19:52] #158 closed

[2016-04-10 20:02] blackHatMonkey commented on #138
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 20:02] #138 closed

[2016-04-10 20:19] blackHatMonkey commented on #131
@RonCan This is true for all the tools running in the terminal. I'm not sure I fully understand the issue you are describing.

[2016-04-10 20:19] #131 closed

[2016-04-10 20:20] blackHatMonkey commented on #129
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 20:20] #129 closed

[2016-04-10 20:25] blackHatMonkey commented on #126
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 20:25] #126 closed

[2016-04-10 20:28] blackHatMonkey commented on #121
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 20:28] #121 closed

[2016-04-10 20:33] blackHatMonkey commented on #120
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 20:33] #120 closed

[2016-04-10 20:38] blackHatMonkey commented on #117
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 20:38] #117 closed

[2016-04-10 21:16] blackHatMonkey commented on #75
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-10 21:16] #75 closed

[2016-04-11 14:27] naflan121 opened #235 "UnboundLocalError at startup"
**Version:**
cb534b081d8e9382cea6eb98e1960ae3e3505524

**Distribution:**
Kali Linux

**Summary:**
```wifiphihser``` fails to start and throws an error

**Description:**
This bug is related to the ```interfaces``` module where ```wifiphisher``` fails to check for interface compatibility. Also the cards used are TL-WN722N and Alfa AWUS036H.

**Steps to Reproduce:**
Running
[code]
**Expected VS actua

[2016-04-11 14:28] naflan121 commented on #235
@blackHatMonkey @sophron any help me out?

[2016-04-11 14:37] blackHatMonkey commented on #235
@naflan121 would you be able to connect to our IRC channel to discuss this bug?
IRC channel #wifiphisher (irc.freenode.net)

[2016-04-11 17:48] blackHatMonkey commented on #235
After a lot of debugging, thanks to, @naflan121, the problem is related to ```ifconfig``` version. This problem applies to all the machines who have a higher version of ```1.6```(```ifconfig > 1.6```).

[2016-04-11 17:50] blackHatMonkey commented on #235
This must be fixed before ```v2```. An alternative must be found that does not rely on ```net-tools``` to find the interfaces.

[2016-04-11 17:53] sophron commented on #235
@blackHatMonkey Can you explain in more detail what exactly is the problem? What about `ip a`?

[2016-04-11 17:58] blackHatMonkey commented on #235
The problem was that we were unable to get the correct interface name. i.e. ```wlan0``` in ```v1.6``` would get ```wlan0:``` in ```v2.1``` which is due to change in the way ```ifconfig``` displays items. The software runs correctly after changing ```ifconfig``` version to ```1.6```.

[2016-04-11 18:07] sophron commented on #235
The script can determine the version of `ifconfig` and retrieve the interfaces accordingly <a href="https://github.com/sophron/wifiphisher/blob/master/wifiphisher/interfaces.py#L520">when needed</a>.

Also, note that the proper way to extract the interfaces from the `ifconfig` output (or from any text output) is by using regular expressions.

[2016-04-11 18:16] blackHatMonkey commented on #235
Instead of using ```ifconfig``` at all I was thinking of using ```socket``` module like this [example](https://code.activestate.com/recipes/439093-get-names-of-all-up-network-interfaces-linux-only/).

[2016-04-11 19:25] vincentmoglia commented on #235
Same error for me. I have the last version of Kali Linux.

[2016-04-11 19:26] blackHatMonkey commented on #235
@vincentmoglia A new patch will shortly be pushed the repository that will fix this issue.

[2016-04-11 19:28] vincentmoglia commented on #235
@blackHatMonkey Thanks a lot !

[2016-04-11 21:03] blackHatMonkey commented on #235
The issue should be solved now.

[2016-04-11 21:43] HassenPy commented on #168
@blackHatMonkey ok i ll see what notes i had when i worked on this.

[2016-04-11 21:54] blackHatMonkey commented on #168
thanks :smile:

[2016-04-11 22:01] HassenPy commented on #168
actually, the whole ``get_internet_interface()`` from old [wifiphiser.py line356](https://github.com/HassenPy/wifiphisher/blob/master/wifiphisher.py#L356) has been replaced by the new ``get_interfaces()`` at [interfaces.py line 524](https://github.com/sophron/wifiphisher/blob/cb534b081d8e9382cea6eb98e1960ae3e3505524/wifiphisher/interfaces.py#L524), so there's no need for them anymore.
gj btw

[2016-04-11 22:49] blackHatMonkey commented on #168
Thank you.:smile:

[2016-04-12 11:30] HassenPy commented on #168
i noticed a typo while reading some code, in ``phishingpage.py`` and ``interfaces.py``, replace ``fallowed`` by ``followed``.

[2016-04-12 14:31] blackHatMonkey commented on #168
Thanks for taking the time to find these. I'll fix them soon. :+1:

[2016-04-12 15:32] vincentmoglia commented on #235
It works fine for me now ! Thanks a lot !

[2016-04-12 16:21] sophron opened #238 "HTTP Basic Authentication replica to capture router config page credentials"
This scenario should replicate browsers' popup box during HTTP Basic Authentication using client-side Javascript. Victims will be tricked into believing that they connect to their router's configuration page.

The best way would be to customize the style of the popup box accordingly based on the User-Agent of the target. We are doing something similar in the "Connection Reset" scenario (#50).

Any

[2016-04-12 16:47] sophron opened #239 "Creation of rogue AP without targetting another one"
We should provide the option to create a rogue AP without copying/attacking a specific AP.

For example, one may want to create a "Free WiFi" access point to attract victims. In this case, the attacker would want to skip deauth or deauth all victims from every AP within range or deauth a specific AP but not create an Evil Twin out of it.

[2016-04-12 17:04] sophron opened #240 "Free Wi-Fi access using OAuth with social network accounts"
We should provide a phishing page that supposedly gives Wi-Fi access after the user authenticates using his social network account, for example by using OAuth.

We don't want to contain any code snippets or logos or anything from commercial pages due to copyright reasons. This page should be generic and apply to all social networks and maybe just configure the name of the social media that the att

[2016-04-12 17:06] sophron commented on #4
I'm closing this. I will now open separate issues for each template needed (like #238 and #240).

[2016-04-12 17:06] #4 closed

[2016-04-13 03:26] Evanito commented on #142
Thanks, this solution helped me with my user's problem.

[2016-04-15 06:01] mehranexpert opened #241 "not Found AlfaAwus06h"
`[!] We have failed to find a wireless interface which supports AP mode. Please make sure that all the wireless adapters are connected and they are compatible.
`
[code]

[2016-04-15 14:00] blackHatMonkey commented on #241
Hi @mehranexpert

The error message is pretty clear. The ```Alfa Awus06h ``` does **not** support ```AP``` mode and unless the other network adapter supports ```AP``` mode, you can **not** run ```wifiphisher```.

[2016-04-15 17:29] naflan121 opened #242 "Error on closing"
Hi @blackHatMonkey  @sophron

I discover something, when the evil ap started and victim type the password, the attack end with throwing a error . Hope can fix with the coming update
![1](https://cloud.githubusercontent.com/assets/11876070/14569644/965e68d6-0372-11e6-85c9-78ba4d3e39fb.PNG)
![2](https://cloud.githubusercontent.com/assets/11876070/14569645/9673fcfa-0372-11e6-9fe3-e5c970bbef37.PNG)

[2016-04-16 12:43] naflan121 opened #243 "Operation Not Possible Due To RF-KILL"
![capture](https://cloud.githubusercontent.com/assets/11876070/14581028/d97e621e-0413-11e6-816e-fcee0c0885ba.PNG)

Why this happen

[2016-04-16 12:59] blackHatMonkey commented on #242
The jamming part of the tool is run in a separate thread and what happens here is that it exists ungracefully. This shouldn't impact performance in any way but requires a redesign to that section which is planned.

[2016-04-16 13:01] blackHatMonkey commented on #243
This happens because the device is either ```Soft Blocked``` or ```Hard Blocked```. If it is  ```Soft Blocked``` running
[code]
should fix the error. If the device is ```Hard Blocked``` then you must disconnect and reconnect the device.

[2016-04-16 13:04] #188 closed

[2016-04-16 13:06] #153 closed

[2016-04-16 13:09] #224 closed

[2016-04-16 13:58] naflan121 commented on #243
yeah it worked but this blocking occur when the victim connect to to evil ap via a PC , I try to connect to my own pc and the captive portal is not appearing automatically or while surfing, For mobile phones working perfectly

[2016-04-17 07:02] donpedro27476 commented on #213
![screenshot_2016-04-17-12-30-10](https://cloud.githubusercontent.com/assets/17426160/14585602/42906bec-0498-11e6-9938-e9cf2370bb58.png)

[2016-04-17 07:09] donpedro27476 commented on #213
I downloaded the latest version of wifiphisher and tried running the script using both the original command you'd suggested
sudo python wifiphisher.py -aI wlan1
(Results in the message that there is no file named as wifiphisher.py in the directory)

As well as python bin/wifiphisher

As you will notice above I even tried using sudo and the -aI option. Both result in the same message as displayed a

[2016-04-17 13:32] blackHatMonkey commented on #213
Can you try running
[code]
and see if you get the same error.

[2016-04-17 14:35] blackHatMonkey opened #245 "Add test cases for interfaces module"
Add proper test cases for interfaces module.

[2016-04-17 16:08] jemsbond opened #246 "wifiphisher not creating fake AP"
I am using 2 wireless adapter and Wifiphisher-1.1. in external adapter i m using TP-WIN822N(is it ok for external adapter?).
i can jam any AP But it is not creating Fake AP.
how to solve this problem??
![screenshot from 2016-04-17 21 23 10](https://cloud.githubusercontent.com/assets/15816485/14588285/01e04dce-04e3-11e6-9e1f-f70af5b4b329.png)

[2016-04-17 16:37] blackHatMonkey commented on #246
Have you tried using the latest version?

[2016-04-18 05:03] jemsbond commented on #246
ya i m using wifiphisher 1.1

[2016-04-18 13:55] blackHatMonkey commented on #246
Can you try using [this](https://github.com/sophron/wifiphisher/archive/master.zip) version and see if the problem is still exists.

[2016-04-18 14:42] jemsbond commented on #246
thanks bro it's working but in andriod mobile it's not showing phishing page. can u solve this problem

[2016-04-18 18:01] blackHatMonkey commented on #246
You need to connect from a different device than the one you are running ```wifiphisher``` from.

[2016-04-19 01:55] naflan121 opened #247 "Web page not accessible from client browser"
Hi @blackHatMonkey @sophron

The tool working perfectly without any operation errors, when the evil ap is started. If the victim join via a Iphone the captive portal popup and show the fake pages accordingly , if the victim is on android or a PC the ap allow them to connect while browsing captive portal doesn't start. "ERR_CONNECTION_FAILD".
_PS: I hacked into 1 connection and the client was using

[2016-04-19 12:41] jemsbond commented on #246
Hey bro in this version sometimes wifiphisher not jamming single and its not working in mobile device u have to improved that thing

[2016-04-19 13:06] jemsbond commented on #247
Can u check in andriod it's lodding phishing page??

[2016-04-19 13:47] jemsbond commented on #246
![gg](https://cloud.githubusercontent.com/assets/15816485/14641314/3fe7c24c-0663-11e6-8d5e-45c883d685ed.png)

[2016-04-19 16:00] sophron commented on #213
Hi @donpedro27476,

Wifiphisher has not been tested on nethunter from our side so we are expecting issues there.

Can you please hit `iw dev` in the terminal? Then for each physical interface, try `iw <physical_interface> info` and paste here the output.  That will helps us trace the problem.

[2016-04-19 16:39] derodevelopment commented on #213
Sent from BlueMail

On Apr 19, 2016, 9:01 AM, at 9:01 AM, George Chatzisofroniou <notifications@github.com> wrote:

[2016-04-20 01:17] naflan121 commented on #247
nop that what i mean to when ever user request a webpage from browser it gives "ERR_CONNECTION_FAILD".

[2016-04-20 20:41] blackHatMonkey commented on #246
The tool is still in progress and will get much better in the future.

[2016-04-20 20:41] #246 closed

[2016-04-20 20:43] blackHatMonkey commented on #243
Is the situation you are describing #247?

[2016-04-21 06:39] donpedro27476 commented on #213
Hi @blackHatMonkey
As requested please see the following.....

root@kali:~# sudo python bin/wifiphisher
python: can't open file 'bin/wifiphisher': [Errno 2] No such file or directory

The following error appears after using sudo python bin/wifiphisher

@sophron as suggested please find the output requested

root@kali:~# iw dev
phy#1
        Interface wlan1
                ifindex 28

[2016-04-21 13:36] blackHatMonkey commented on #213
@donpedro27476 Thanks for the info. I will try to reproduce it and let you know what happens.

[2016-04-21 16:28] sophron commented on #213
@blackHatMonkey Two notes:

1) This <a href="https://github.com/sophron/wifiphisher/blob/master/wifiphisher/interfaces.py#L447-L451">block here</a> should be rewritten with regex in mind. Furthermore, you should not match the exact line but instead you should check if the line contains specific values, such as "AP" or "monitor".

2) The if statement in <a href="https://github.com/sophron/wifiphish

[2016-04-21 16:35] sophron commented on #247
@naflan121 From some googling I did, I realize that "ERR_CONNECTION_FAILD" is an issue with other software installed on the machine messing with the network stack. This doesn't look like a problem on the tool's side.

[2016-04-21 20:16] blackHatMonkey commented on #213
@sophron
1) If i recall correctly the reason I did that was because there are some other lines in the ```iw info``` return that would contain ```AP``` even though the interface doesn't support it. I'll have to double check but in that case using regex would be difficult.

2) Yes there is case that I hadn't considered when I wrote it and that is if we have two interfaces where one supports both ```

[2016-04-22 05:36] mehranexpert opened #248 "Error After i got Key"
Exception in thread Thread-5:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 763, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/root/Desktop/git/wifiphisher/wifiphisher/pywifiphisher.py", line 674, in sniff_dot11
    sniff(iface=mon_iface, store=0, prn=cb)

[2016-04-22 12:14] blackHatMonkey commented on #248
This is a duplicate of #242 . Please use the same thread for discussing the issue.

[2016-04-22 12:14] #248 closed

[2016-04-23 04:42] jsl303 commented on #235
I just cloned the git, but I get this same error. Latest Kali.

[2016-04-23 14:03] blackHatMonkey commented on #235
Can you replace ```interfaces.py``` with [this](http://pastebin.com/qMvfwqPy) version. Then run
[code]
And post the output please.

[2016-04-23 18:28] hamzamohammad1997 opened #249 "Duplicate of #234"
when i open the file nothing happen so is there anyone has a solution for this ???
![screenshot from 2016-04-23 21-28-02](https://cloud.githubusercontent.com/assets/18633909/14763306/2b4e4a38-0981-11e6-913c-0a19ec4924ca.png)

[2016-04-23 18:49] blackHatMonkey commented on #249
You need to go up one directory so in you case it would be
[code]
and then run
[code]

[2016-04-23 23:42] naflan121 commented on #247
@sophron so how this will be the same for all the mobile devices i have tried... and working on I devices and android and PC don't.. The machine you are referring to the hosted or victim?

[2016-04-24 16:00] vincentmoglia commented on #32
Same problem for me guys...

[2016-04-24 17:44] hamzamohammad1997 commented on #249
what about this "  can't find the packege "

![screenshot from 2016-04-24 17-41-32](https://cloud.githubusercontent.com/assets/18633909/14769226/04563bde-0a44-11e6-90cc-42f9e7551c6d.png)

[2016-04-24 20:40] blackHatMonkey commented on #249
Instructions are pretty clear. You need to install ```hostapd``` package and all you have to do is follow the instructions given in the error message.

[2016-04-25 00:10] michyweb opened #250 "issue when i get wrong password"
it happens when someone send password to me

[*] POST 10.0.0.33 wfphshr-wpa-password=jdjdjdd
[*] GET 10.0.0.33
[*] GET 10.0.0.33

Exception in thread Thread-5:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/

[2016-04-25 00:28] sophron commented on #250
There's #242 open for this.

[2016-04-25 00:28] #250 closed

[2016-04-25 06:21] hamzamohammad1997 commented on #249
I can't find the package so if u can give me the other source coz it can't find it in the normal source

[2016-04-25 06:54] whitecjohn opened #251 "Driver initialization failed"
**interfaces:**
[code]
I used an ```ALPHA AWUS036H```

**Script output:**
[code]

What am i doing wrong?

EDITED: @blackhatmonkey for clarity

[2016-04-25 11:25] wraith-wireless commented on #245
Please take a look at my project at https://github.com/wraith-wireless/pyric. I wrote it for another program I'm working - I was having the same problems you are. From Python command line or programmatically you can bring a card up/down, channel set/get, get chipset/driver, list interfaces and wireless interfaces, get/set hw address, get device info, add/delete interfaces and enumerate supported m

[2016-04-25 14:18] whitecjohn commented on #251
+] Choose the [num] of the scenario you wish to use: 3
[+] Selecting Firmware Upgrade Page template
[*] Starting the fake access point...
[+] Driver initialization failed! (hostapd error)
[+] Try a different wireless interface using -aI option.

Update

please let me know how to fix hostapd error

[2016-04-25 14:20] whitecjohn commented on #251
i use alpha awus 036H chipset RTL8187

[2016-04-25 15:06] blackHatMonkey commented on #249
Read the Kali Rolling repository section [here](http://docs.kali.org/general-use/kali-linux-sources-list-repositories).

[2016-04-25 15:09] blackHatMonkey commented on #251
Does your other card support ```AP``` mode?

[2016-04-25 15:21] sophron commented on #245
@wraith-wireless Thanks for suggesting this. I will have a closer look shortly but from a quick glance it looks to be exactly what we need. In which project are you currently using it?

[2016-04-25 18:20] wraith-wireless commented on #245
I putting in my Wraith project, it's a scanner - have to go and update it now. Prior to that I was using Popen to put cards in monitor and change the channels.

[2016-04-26 10:12] whitecjohn commented on #251
i try with them and without them.....i dont know why show me that error with AP mode not supported...

i olso download the second version from 010010001/wifiphisher and the other version let me run the program and when try to broadcast it show me :

+] Choose the [num] of the scenario you wish to use: 3
[+] Selecting Firmware Upgrade Page template
[*] Starting the fake access point...
[+] Driver i

[2016-04-26 15:46] blackHatMonkey commented on #251
You can try this to debug the problem:

1.  In the terminal navigate to ```/tmp``` folder
2.  After that in a separate terminal window run ```wifiphisher``` (newest version)
3.  As soon as you see ```[*] Starting the fake access point...```, in first terminal run
[code]
And post the output of that here.

[2016-04-26 15:48] #243 closed

[2016-04-26 15:48] #241 closed

[2016-04-26 17:11] blackHatMonkey commented on #247
@naflan121
The only time that I ever got ```ERR_CONNECTION_FAILD``` was when Kali froze. So I was still connected but no page would load. Also what I think @sophron  is refereeing to is the hosted machine (```Kali Linux```).

[2016-04-27 02:23] nebula1999 opened #253 "Duplicate of #243"
**Version:**
aa86d61f564c740ac18da18b8c84951b8990dce1

**Distribution:**
kali 2016.1

**Description:**
Encountered the error after forcefully stopping the program and re-running it again.

**Steps to Reproduce:**
1. git clone https://github.com/sophron/wifiphisher
2. no hostapd. install y
3. target bssid
4. nothing. error flashes across screen.
5. ctl+c spits out error

**Expected VS actual behavi

[2016-04-27 02:56] blackHatMonkey commented on #253
@nebula1999
Please update your original post with information in each section and plese post the full error message that you got.

[2016-04-27 03:01] nebula1999 commented on #253
commit aa86d61f564c740ac18da18b8c84951b8990dce1
kali 2016.1
1. git clone https://github.com/sophron/wifiphisher
2. no hostapd.  install y
3. target bssid
4.nothing.  error flashes across screen.
5. ctl+c spits out error
When try to run again this message:
+] Selecting wlan0 interface for the deauthentication attack
[+] Selecting wlan1 interface for creating the rogue access point
[!] We're sorry.

[2016-04-27 03:17] blackHatMonkey commented on #253
Please take a look at #243 specifically this [comment](https://github.com/sophron/wifiphisher/issues/243#issuecomment-210811450). That should solve the problem you are experiencing.

[2016-04-27 21:16] whitecjohn commented on #251
root@kali:~# airmon-ng

PHY	Interface	Driver		Chipset

phy0	wlan0		rtl8187		Realtek Semiconductor Corp. RTL8187
phy1	wlan1		rtl8187		Realtek Semiconductor Corp. RTL8187
phy2	wlan2		iwlwifi		Intel Corporation Centrino Ultimate-N 6300 (rev 3e)

root@kali:~# cd /tmp
root@kali:/tmp# cat hostapd.conf
interface=wlan2
driver=nl80211
ssid=WLAN-1A9E01
hw_mode=g
channel=1
macaddr_acl=0
ignore_broadcast_ssid

[2016-04-27 22:09] blackHatMonkey commented on #251
My apologizes can you try the same but check ```wifiphisher-hostapd.log``` file.

[2016-04-27 23:15] nebula1999 commented on #243
Thank you bhM.  This is the error that I now get:

^CException in thread Thread-5:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/root/wifiphisher/wifiphisher/pywifiphisher.py", line 674, in sniff_dot11

[2016-04-27 23:31] blackHatMonkey commented on #243
@nebula1999
That error is already reported [here](https://github.com/sophron/wifiphisher/issues/242) and is being worked on.

[2016-04-27 23:32] #253 closed

[2016-04-28 01:56] sophron opened #254 "Implement PyRIC in interfaces module"
We should consider leveraging <a href="https://github.com/wraith-wireless/pyric">PyRIC</a>. If we see that it's suitable for our needs, we will have to change methods such as `_ifconfig_cmd`, `set_interface_mode`, `_iw_cmd` (in our `interfaces.py`) that are currently retrieving information using regex or find, and replace them with the methods defined in <a href="https://github.com/wraith-wireless

[2016-04-28 01:59] sophron commented on #245
Continue of the discussion about `PyRIC` in #254.

[2016-04-28 14:49] #249 closed

[2016-04-28 14:51] #231 closed

[2016-04-28 14:51] #196 closed

[2016-04-28 14:54] blackHatMonkey commented on #112
The issue should be solved now. If you still experience any issues after upgrading to the latest version feel free to open a new issue.

[2016-04-28 14:54] #112 closed

[2016-04-29 16:51] whitecjohn commented on #251
root@kali:~# cat wifiphisher-hostapd.log
cat: wifiphisher-hostapd.log: No such file or directory

[2016-04-29 16:52] sophron commented on #251
I think @blackHatMonkey meant to say `/tmp/wifiphisher-hostapd.log`.

[2016-04-29 20:26] whitecjohn commented on #251
`root@kali:~# cat /tmp/wifiphisher-hostapd.log`
`Configuration file: /tmp/hostapd.conf`
`nl80211: Could not configure driver mode`
`nl80211 driver initialization failed.`
`hostapd_free_hapd_data: Interface wlan1 wasn't started`

[2016-04-30 23:01] erawtfos78 opened #255 "Router web page only loads for iphone and not pc"
**Version:**
commit 50cf3a4b6042ce767389488609da03c6f38a02be

**Distribution:**
Have tried Kali 1.1, 2.0 and 1.2016 rolling.  AWUS036H TPLINK WN2772N
**Description:**
Able to initiate deauth on target, however failure in the process to move clients to web page.  Not sure the issue is in the twin ap or in the web page script.  Able to get to via iphone but not pc.

**Steps to Reproduce:**
Launch Wi

[2016-04-30 23:16] blackHatMonkey commented on #255
@erawtfos78
Please update your OP with the more information.

[2016-05-01 15:34] whitecjohn commented on #251
i have to install hostapd manually or what?

thanx for youre interest

[2016-05-03 18:46] Ezat commented on #251
Hello!
Try this: (step-by-step)
1-Unplug all the devices from your PC
2-Fire up Kali
3-Replug all devices(Attention: Don't attach)
4-In the terminal:
`service network-manager stop` (multiple times)
5-Now attach them to Kali
6-Again in the terminal:
`service network-manager stop` (multiple times)
7-Now for the last step run:
`python wifiphisher -aI wlan1 -jI wlan0`

[2016-05-04 20:24] #245 closed

[2016-05-05 16:31] blackHatMonkey commented on #255
This seems to be a duplicate of #247. Please continue the discussion there.

[2016-05-05 16:31] #255 closed

[2016-05-05 16:32] #235 closed

[2016-05-05 16:33] blackHatMonkey commented on #118
This bug no longer exists.

[2016-05-05 16:33] #118 closed

[2016-05-05 19:46] blackHatMonkey commented on #254
@sophron
After a bit of testing ```PyRIC``` project is unusable at it's current sate. I filled an issue and will try again after a fix has been pushed.

[2016-05-06 15:47] #213 closed

[2016-05-06 15:51] whitecjohn commented on #251
thanx Ezat but still the same error,but i think the problem is in hostapd  so i try to see  if my card support hostapd with next commands and it show this:

`root@kali:~# lspci -k | grep -A 3 -i "network"
00:19.0 Ethernet controller: Intel Corporation 82579LM Gigabit Network Connection (rev 04)
	Subsystem: Hewlett-Packard Company 82579LM Gigabit Network Connection
	Kernel driver in use: e1000e
	Ke

[2016-05-06 15:55] sophron commented on #141
I'm closing this. We can open separate and more specific issues for each module missing unit testing if needed.

[2016-05-06 15:55] #141 closed

[2016-05-06 15:56] blackHatMonkey commented on #251
A new update has been pushed so please download the latest version and try again.

[2016-05-06 15:56] sophron commented on #182
I'm closing this since it's too generic. We are in a good state now but definitely there's room for improvement. We can open separate issues for each specific module though.

[2016-05-06 15:57] #182 closed

[2016-05-06 16:02] whitecjohn commented on #251
you mean wifiphisher?couse i try 20 min ago the one from sophron and the one from 01001001

[2016-05-06 16:02] whitecjohn commented on #251
or hostapd?

[2016-05-06 16:12] whitecjohn commented on #251
Still the same error

[2016-05-11 01:44] d3usvult opened #258 "[Errno 2] No such file or directory"
After successfully using wifiphisher on my own wireless network, the script through up an error and quit (after showing the correct password I input). Since then, wifiphisher will not open. The exact error message I get is:

python: can't open file 'bin/wifiphisher': [Errno 2] No such file or directory

I have rm the directory from root, and cloned it again with no luck, whatsoever:

Please help m

[2016-05-11 01:49] d3usvult commented on #258
I resolved it myself. Idiot. In wrong dir.

Thanks everyone.

[2016-05-11 01:49] #258 closed

[2016-05-11 18:32] TheDjazairi opened #259 "NETWORK IS DOWN"
Hi Team !

I'm using kali Linux on my machine.

i have an issue with using wifiphisher.

On the second screenshot it seems to make a loop or something like that ..

I'm not understanding why .. i'm not sure that it's from my fault .

When i press ctrl + c i have the error message on the third screenshot

If you need more informations please ask me

thank's a lot team !! :)

**Script output**: Past

[2016-05-11 18:53] TheDjazairi commented on #259
here my airmon-ng :

phy0	wlan0		iwlwifi		Intel Corporation Centrino Advanced-N 6205 [Taylor Peak] (rev 96)
phy1	wlan1		rtl8187		Realtek Semiconductor Corp. RTL8187

[2016-05-11 20:45] TheDjazairi commented on #259
Ffor your information,

I have tested that on a machine using windows XP where it was not working ..

I have tested on an iphone i have the password now but i still have the error message just after

[2016-05-11 23:59] blackHatMonkey commented on #259
Hi @TheDjazairi
From what I can see the tool is working properly except the last screen shot were the bug is already reported (#242).

Regarding the problem with `Windows XP` we need more information.
1. Were you able to connect to the rouge AP?
2. Did the web page load?

[2016-05-12 00:03] blackHatMonkey commented on #5
This feature has been implemented. Please upgrade to the latest version to use it.

[2016-05-12 00:03] #5 closed

[2016-05-12 11:53] TheDjazairi commented on #259
Yes your'e right i have already seen this error message (#242) ..

With the test laptop using XP, something strange happened .. when the "attack " was launched from my computer i seen that the target was disconnected to the WIFI .. and maybe 2 minuts later the laptop alternated between connected and disconnected .

The webpage did not load ..

[2016-05-12 15:05] blackHatMonkey commented on #259
What you have to keep in mind is that `wifiphisher` doesn't force target to connect to it. What it means that the choice to connect to the `rouge AP` is always made by the user and unless the user specifically connects to the `rouge AP` it's not going to show them the page.

[2016-05-12 16:35] TheDjazairi commented on #259
Okkk got it ! :)

Hm i will try at home .. But if the network is already registered on the target's computer i think that he will connect directly to the right network and not mine right ?

Envoyé de mon iPhone

[2016-05-12 17:23] blackHatMonkey commented on #259
If the `original AP` and `rouge AP` are both registered then it depends on the network manger but if it is only `rouge AP` then it should connect to it automatically.

[2016-05-12 23:02] TheDjazairi commented on #259
![capture d ecran de 2016-05-13 01-01-34](https://cloud.githubusercontent.com/assets/19312240/15233125/55b02100-18a6-11e6-8799-ff766cdb35b2.png)

Hm something strange ........ i have this error message now :(

[2016-05-13 15:42] blackHatMonkey commented on #259
Please note that you are not using the latest version of `wifiphisher`. You can download the latest version from [here](https://github.com/sophron/wifiphisher/archive/master.zip). Try again with the latest version and see if it fixes the issue.

[2016-05-15 02:16] blackHatMonkey commented on #251
@whitecjohn
You can try testing your cards with `hostapd` before running `wifiphisher`. You can achieve this by creating a configuration file with the following content
[code]
which you can save as `test.conf`. Remember to change `interface` before copying.:smile:

Then you can run
[code]
And then check the result.

[2016-05-17 19:57] blackHatMonkey opened #261 "ValueError: '=' alignment not allowed in string format specifier"
**Version**:
892c177f9f7149e52fcf049a5364127cbeda63e4

**Distribution**:
Kali 2016

**Description**:
Fails to show any access point after choosing the correct interfaces. It throws a `ValueError` without any user interactions.

**Steps to Reproduce**:
Running
[code]
and letting it go through the normal operations.

**Expected VS actual behavior**:
Failed to show any target access points

**Script

[2016-05-17 20:26] blackHatMonkey commented on #261
I'm unable to reproduce this error after a system restart. Therefore this error seems to happened due to my system.

[2016-05-17 20:26] #261 closed

[2016-05-17 20:28] blackHatMonkey commented on #251
Since this problem is not related to `wifiphisher` I'm going to close this thread.

[2016-05-17 20:28] #251 closed

[2016-05-17 20:29] #259 closed

[2016-05-17 22:01] sophron opened #263 "Template that mimics network managers' behaviour"
Our most popular template so far is `firmware-upgrade` that is able to grab the PSK of a WPA/WPA2 network from unsuspected users.

We can take this one step further with a new template that imitates the behavior of the operating system. Specifically, this new template will:

1) Show the "Connection Failed" page. This is the default page a browser displays when there is no Internet connectivity. We

[2016-05-17 22:34] blackHatMonkey commented on #263
This is an interesting idea however I don't think it will work out nicely and that is because of the network manager. The user will expect it to open above the toolbar however it is going to open in the browser and I think this will be really noticeable especially if the browser is not full screen.

[2016-05-18 13:51] themasquedpear opened #264 "Never seen before rogue trick"
Hi,

I have a never seen before idea for make the rogue AP more true than the genuine.

Ok, let me explain;

When you scan for AP with airodump or any other tool, you can see some informations about the AP without any connexion or association. This include the type of securiry (wep wpa wp2).

So here is the idea;

When scanned the rogue ap say to the client "i have wpa2 security enabled"
When the

[2016-05-18 15:43] blackHatMonkey commented on #264
This is a nice idea but in reality it is impossible to implement. Once you set your encryption type as `WPA2` you can not change it to open while the client is trying to connect to you. Also note that the `MAC` address doesn't have to match for auto-connect, only the name and the encryption type have to match. Here is a diagram to make things clearer

![diagram](http://www.howtogeek.com/wp-content

[2016-05-18 15:47] sophron commented on #264
The first idea is not possible. If the rogue AP sends a probe response frame pretending that is a WPA-protected network, the client will start an association process based on that. If the AP does not behave like a WPA/WPA2 network at this phase, clients that follow the 802.11 specification will stop the association process.

The second idea won't work either. You can't have an AP that accepts any

[2016-05-18 15:52] sophron commented on #263
If the browser is on full-screen, we are able to display the fake network manager above the toolbar, right? We can possibly enforce the browser to be full-screen with Javascript.

Furthermore, I think you are thinking of Windows only. Linux or Mac OS network managers (that are usually using popup box at this point) can also be replicated.

[2016-05-18 18:33] themasquedpear commented on #264
Thank you for your answer guys.

Let me show you something that i've just discovered.

http://www.crack-wifi.com/forum/topic-10455-tuto-rogue-ap-discrete-en-full-wpa-avec-hostapd.html

I know you don't speak french but you can translate with google.

Let me know what you think about this attack.

[2016-05-18 21:12] sophron commented on #264
I read a paper that discussed this idea a while back. Leveraging WPS PBC is definitely interesting. I'm currently doing more research on this and see how different network managers react.

But again, victims will not connect automatically because you need to slightly change the ESSID to make this attack work (at least for Windows).

[2016-05-19 04:22] gbtminhtri opened #265 "Error on Interface"
I have a problem with my interface:
Traceback (most recent call last):
  File "wifiphisher", line 12, in <module>

  File "/root/wifiphisher/wifiphisher/pywifiphisher.py", line 786, in run
    args.apinterface)
  File "/root/wifiphisher/wifiphisher/interfaces.py", line 319, in __init__
    self._check_compatibility(interface_object)
  File "/root/wifiphisher/wifiphisher/interfaces.py", line 444, i

[2016-05-19 08:48] naflan121 opened #266 "Issue On Lunching captive portal"
Hi @sophron @blackHatMonkey

When ever the attack started and fake ap is created.
If the client is a iphone user the captive portal will pop up once he connect to the fake ap and ask to enter the wifi key
But if the user on android or Windows, the fake ap connects and no popup is appeared, even though user try to browse on the device it keep on telling "internet connection is required"

i have tes

[2016-05-19 10:04] naflan121 commented on #247
@blackHatMonkey

no event though the kali is stable still other devices can connect to the fake ap but the phishing page wont show up on popup or while browsing, but if the device is an iphone once the user try to connect the phishing page will popup

[2016-05-19 10:07] naflan121 commented on #266
#255

[2016-05-19 14:06] themasquedpear commented on #264
Thank you for your answer. I really hope that you will find something to do with this.

[2016-05-19 17:12] sophron commented on #265
Hi @gbtminhtri,

It looks like the script fails to retrieve the physical name for the network card. We are currently transitioning to a different library for netlink operations. This should be fixed in the next days.

[2016-05-19 17:13] sophron commented on #266
I think the problem lies somewhere in the `dnsmasq` configuration. I'm not sure if it's resolving everything to localhost as it should be. I'll do some tests soon enough.

[2016-05-19 17:34] blackHatMonkey commented on #265
@gbtminhtri
What version of `wifiphisher` are you using.
@sophron
This seems like a duplicate of #235.

[2016-05-20 02:17] naflan121 commented on #266
ok

[2016-05-20 13:20] blackHatMonkey commented on #247
Let's continue the discussion  in #266.

[2016-05-20 13:20] #247 closed

[2016-05-20 14:15] gbtminhtri commented on #265
Hi @sophron.  Thank you. Hope to see this should be fixed soon

[2016-05-20 14:20] gbtminhtri commented on #265
hi @blackHatMonkey, I am using the latest version of wifiphisher. I fail to start wifiphisher.

[2016-05-20 14:25] blackHatMonkey commented on #265
@gbtminhtri
If you have cloned `wifiphisher` can you run the following command:
[code]
and if not can you clone the latest and see if the problem is still present.

[2016-05-20 20:11] blackHatMonkey commented on #266
@sophron
While I was doing some testing in `phishinghttp` module I also encountered an interesting bug. It seems that the server stops receiving the requests and therefore browser hangs and you get the `ERR_CONNECTION_FAILD` error. This seems to be triggered by connecting two devices or refreshing the browser multiple times right after each other.

Here is the log of hostapd:
[code]
As of now I'm

[2016-05-27 17:58] TheDjazairi opened #267 "UNFONCTIONNAL AGAINST A COMPUTER"
Hi team,

I'm experiencing something strange with wifiphisher .. it seems to work with an iphone connected to my proper network, but nothing appears when i try to use wifiphisher against my test computer connected to the same network.

Using my iphone i can see the network disconnected etc .. but on the computer nothing appears ..

I'm not sure to be clear, if you have more question send me an e-m

[2016-05-28 00:13] bloodymagz commented on #265
I have same bug, on the backbox i got this problem too, i think the backbox cant use this, cause of that I tried to install kali linux sana, and i got same problem @sophron sorry for bad english

[2016-05-28 00:45] dferrer92557 commented on #151
Hello,

Just take a quick look at my favourite stuff, you're gonna love it! More here  <http://stewikachu.feeonlyadvisorboston.net/lnqnvkgk>

Warm regards, dferrer92557@yahoo.com

[2016-05-28 00:45] dferrer92557 commented on #152
Hello,

There is some helpful stuff I just found on the web, you may like it too, please read here <http://sajuchufe.hagglenation.com/lnzzxg>

Good wishes, dferrer92557@yahoo.com

[2016-05-28 00:45] dferrer92557 commented on #152
Hi,
Have you seen this stuff? I think it's great, lust take a look here <http://shenkupyza.halwebb.biz/lnhoox>

Rushing, dferrer92557@yahoo.com

[2016-05-28 13:58] naflan121 commented on #267
same issue i am facing off.. Cannot predict what the problem exactly hope @sophron or @blackHatMonkey will help out to solve this

[2016-05-29 22:46] dferrer92557 commented on #152
Hello,
Isn't it the information you were looking for? Read about it here <http://frawyslely.mrwinchell.com/lniayoy>

In haste, dferrer92557@yahoo.com

[2016-05-29 22:53] dferrer92557 commented on #152
Hi,

Here is some information on the new stuff that may seem helpful to you, read more here <http://cespijindi.qkerala.com/lnbkol>

Best Wishes, dferrer92557@yahoo.com

[2016-05-29 23:11] dferrer92557 commented on #151
Hi, You're not gonna believe what I've read yesterday, you've got to read it yourself at <http://cujavofu.npsoccer.com/lnyozv>

dferrer92557@yahoo.com

[2016-05-30 09:12] FoRTu commented on #265
I have same problem on Raspberry Pi (raspbian). I have 2 USB wireless interfaces connected to the raspberry pi and running `sudo python bin/wifiphisher.py` I get the same error.  I try to clone it again, removing any version downloaded before, but i get the same error.

[2016-05-30 09:18] sophron commented on #265
Hi guys,

we should have this solved as soon as we merge #262.

[2016-05-30 09:22] sophron opened #269 "Template configuration"
We need a mechanism that will allow the user to configure the running template. For example, for the OAuth template (#268) the user should be able to set the social networks that he wishes to target.

The same mechanism will also bridge any information from the wireless spectrum to the template. For example, now that we are getting the router vendor of the target AP, we can fill the firmware upgra

[2016-05-30 09:41] sophron opened #270 "Provide Internet access to the victims"
We should give the option to provide Internet access to the victims. Then, we can either:

1) Grab cleartext credentials (e.g. by leveraging <a href="https://github.com/DanMcInerney/net-creds">net-creds</a>).

2) Throw the phishing page at an unsuspecting time. (#263, #198).

[2016-05-30 10:53] sophron opened #271 "1st Hackathon"
I believe it's time to have our first <a href="https://en.wikipedia.org/wiki/Hackathon">hackathon</a>. The idea is to spend the whole day trying to push (to `master` branch) as much new code as possible. This is also a good opportunity for new developers to join our crew.

During the hackathon, we will be online on <a href="http://webchat.freenode.net/?channels=wifiphisher">#wifiphisher on Freenod

[2016-05-30 11:08] TheDjazairi commented on #267
Yes it's very strange ..

[2016-06-02 13:47] jezda commented on #267
Solution?

[2016-06-05 17:39] themasquedpear commented on #264
I'm happy to see that my idea have the enhancement label :100: :100: :100:

I'm glad to help everyone with this idea.

[2016-06-10 13:09] x11tete11x opened #274 "DNS redirect"
Hi, i was looking a bit the source code and have an idea, just a brainstorm (i dont know if i see right but in fake ap dhcp do not provide the dns server) after test this tool, i think what if with DCHP on fakeAP you set a DNS that redirects all to the template page?, or perhaps combining with ettercap see my point?, to force the victim to enter to the template test

[2016-06-10 14:30] sophron commented on #274
Hi @x11tete11x,

The script does employ a DNS server along with the DHCP. It is <a href="https://github.com/sophron/wifiphisher/blob/master/wifiphisher/pywifiphisher.py#L388">this line</a> that makes `dnsmasq` respond with the local address for every DNS query.

However, we are aware that some people are experiencing issues claiming that in some OS they won't redirect. This is something that we ar

[2016-06-10 14:42] x11tete11x commented on #274
Thx! my mistake by not seen that :D

[2016-06-10 14:42] #274 closed

[2016-06-14 00:37] Anonymous0Libya opened #275 "The victim can detect wifiphisher"
HI, can anyone can fix this problem ..? ... i tried wifiphisher at router and then i got a message saying that my page is not safe ..... but every thing is working fine ... but i think that if u would make it undetected to the victim's device... Thank you ....

[2016-06-14 00:47] blackHatMonkey commented on #275
Hi @Anonymous0Libya
Since `wifiphisher` uses a self-signed certificate some browser will show you the not safe page. However that only happens when your browser already holds the certificate of a domain. For instance if you try to go to `www.google.com` it will show you that page but not on `www.thisisjustatest.com`.

[2016-06-14 18:51] GGGunrunner opened #276 "Duplicate of #242"
Version: commit 0bc2a82b805ab0502cd1e8b313984b5880e46b5b
Kali Openbox: 4.0.0-kali1-amd64 #1 SMP Debian 4.0.4-1+kali2 (2015-06-03) x86_64 GNU/Linux

Any luck with ALFA AWUS036H (Realtek) and ALFA AWUS036NH (Ralink) ?

I run WifiPhisher on two Alfas. wlan0 is autoselected for jamming, wlan2 for rogue.
I can see the jammed macs in the list, GET 10.0.0.x requests. However, neither the laptop, nor the

[2016-06-15 02:26] erawtfos78 opened #277 "What is the expected behavior?"
commit 0bc2a82b805ab0502cd1e8b313984b5880e46b5b

Kali Linux Rolling 2016.1

Expected behavior?

I've been working with the tool for a some weeks now.  When my ap is targeted, what I end up with is two available access points.  One is my normal access point which we'll call 'nowire' which in Windows shows as 'Secured'.  This is normal and completely fine as this is what I use to connect to and brow

[2016-06-15 18:42] blackHatMonkey commented on #277
Hi @erawtfos78
How the `wifiphisher` works is that it creates an identical copy of the targeted access point but it's security type is set to `open`. So if you are able to see two access points with the same name while having different security types `wifiphisher` is working properly. The concept behind `wifiphisher` is that it starts de-authenticating all the devices connected to the target acces

[2016-06-15 18:46] blackHatMonkey commented on #276
Hi @GGGunrunner
Thanks for opening an issue.

Are you able to connect to the access point or do you get stuck on `obtaining IP address ` loop.

[2016-06-16 09:52] sophron commented on #277
@blackHatMonkey correctly commented the scenario where we target a password-protected network.

However, in scenarios where we target open networks or networks with disclosed PSKs (e.g. airports or hotels), the encryption setting will be the same and victims will automatically connect to the rogue AP.

I'll planning to publish a paper soon enough that will clarify in detail all possible attack sce

[2016-06-16 10:11] sophron commented on #275
This is how SSL works. It has nothing to do with detection of the tool.

[2016-06-16 10:11] #275 closed

[2016-06-16 12:12] NasirJAKI opened #278 "wifiphisher.py"
hi guys , i have problem , when i download the wifiphisher form the link i do unzip in kali lenux but the is no wifiphisher.py in the wifiphisher-master folder?

[2016-06-16 12:24] sophron commented on #278
Use `python bin/wifiphisher`.

[2016-06-16 12:24] #278 closed

[2016-06-16 12:31] wraith-wireless commented on #277
Looking forward to that white paper - will be an interesting read

[2016-06-16 14:47] h-gupta opened #279 "client is not been redirected to sign in page....."
the fake AP is created but the client browser is not showing the login page .My client is android and i am using kali linux rolling with external adaptor as TP-LINK TL-WN722N.

[2016-06-16 14:54] sophron commented on #279
There's already #266 open for this.

[2016-06-16 14:54] #279 closed

[2016-06-16 18:50] GGGunrunner commented on #276
Partially [SOLVED]. The problem is in DNS resolution.

When my Android phone gets connected to the rogue and I type
www.site.com - it fails to resolve. But typing any IP such as 8.8.8.8
successfully lands on a decoy page.
Below is the snatched password.

[*] GET 10.0.0.19
[*] POST 10.0.0.19 wfphshr-wpa-password=12345678
[*] GET 10.0.0.19

===
After that, I assume, the wifi phisher shuts down the i

[2016-06-16 18:55] blackHatMonkey commented on #276
The error you mentioned is already reported in #242 . @sophron might be able to point you to the right direction.

[2016-06-17 10:55] sophron commented on #271
This is happening tomorrow. I'll be available around 9am to 9pm UTC and @blackHatMonkey around 12pm to 6pm UTC.

If you want to join us, come in our IRC channel, introduce yourself and let us know what do you want to work on (or you can ask for ideas)!

Happy hacking everyone!

[2016-06-17 15:17] NasirJAKI opened #280 "Stuck after Cleared leases/Network is Down"
i have two wifi of Alfa with one antenna  and Lb-link with two antenna , but i dont know why is stoped after that point in the picter?
![s](https://cloud.githubusercontent.com/assets/19974741/16155360/b49bae00-34b7-11e6-8cea-7a1f08fe11f5.jpeg)

[2016-06-17 16:06] sophron commented on #280
Hi @NasirJAKI,

Are you sure your VM didn't freeze for some other reason?

[2016-06-17 16:16] NasirJAKI commented on #280
Hi @sophron,
My VMware is working OK without any issues and my two WiFi USB support AP

[2016-06-17 16:20] NasirJAKI commented on #280
Hi @sophron
I even can write any thing after that point ....when I interned catrl + c. .. It stopped OK too

[2016-06-17 16:38] blackHatMonkey commented on #280
@sophron
I encounter this issue all the time. As I told you before the problem is with `scapy` module as it goes to infinite loop and won't report back.

@NasirJAKI
Running `wifiphisher` multiple times usually solves the problem. Another method is to disconnect the network adapter chosen for the `rouge AP` and re-connect it.

[2016-06-17 18:20] NasirJAKI commented on #280
@BlackHatMonkey
Thank you . I did it several time then it worked .. But I hope there will be a new version fixing this issue.

[2016-06-18 02:11] erawtfos78 commented on #277
That is very helpful.  Thank you.  The tool is working as intended in my scenario then.  I would only add in regards to your statement, "The concept behind wifiphisher is that **it starts de-authenticating all the devices connected to the target access point**. **Depending on the operating system and network manager it might fully disconnect and show a list of all the available networks and we hop

[2016-06-18 07:37] sophron commented on #271
Happening now! Feel free to <a href="http://webchat.freenode.net/?channels=wifiphisher">join us</a>!

[2016-06-18 08:20] gtklocker opened #281 "Crashes when no ifconfig executable is available"
**Version**: `commit 0bc2a82b805ab0502cd1e8b313984b5880e46b5b`

**Distribution**: Arch Linux

**Summary**: wifiphisher crashes when no ifconfig executable is available

**Description**: Arch Linux does not contain ifconfig by default. [Reasons are stated here.](https://www.archlinux.org/news/deprecation-of-net-tools/)

**Expected VS actual behavior**: We should prompt the user to install the net-t

[2016-06-18 09:48] #281 closed

[2016-06-18 14:31] NasirJAKI opened #286 "Duplicate of #266"
hi guys,
when i start phishing with the wifiphisher it ask me to chose on of this 3 :
![p](https://cloud.githubusercontent.com/assets/19974741/16171551/40520832-357a-11e6-90da-993ef1c67390.jpeg)
 so i chose the num 1 (note : i did the phishing on my router ) but the fake page not comeing in my mobile or laptop is just stopping the access of the network >>> is there any step i did wrong?

by the wa

[2016-06-18 14:37] sophron commented on #286
You need to try to access a page on the Internet first. Are you getting any HTTP requests?

[2016-06-18 14:40] NasirJAKI commented on #286
@sophron
yes i did on my laptop and my mobile too. but nothing coming just freeze the internet access

[2016-06-18 14:44] sophron commented on #286
Sounds like #266. Let's keep the discussion there.

[2016-06-18 14:49] NasirJAKI commented on #266
@sophron
yes bro its the same stuation , Is there any cure for this problem؟

[2016-06-18 14:57] NasirJAKI commented on #266
@sophron
if you still working on the solution, please give me another way for hacking wpa/wpa2 psk

[2016-06-18 15:04] blackHatMonkey commented on #254
This has been implemented in #262.

[2016-06-18 15:04] #254 closed

[2016-06-18 15:06] blackHatMonkey commented on #269
This has been implemented in #285.

[2016-06-18 15:06] #269 closed

[2016-06-18 15:07] #286 closed

[2016-06-18 15:09] #276 closed

[2016-06-18 15:10] blackHatMonkey commented on #263
This is being worked on #273.

[2016-06-18 20:05] sophron commented on #266
Guys, we pushed a commit that may fix this. Let us know how it works for you.

[2016-06-18 20:59] NasirJAKI commented on #266
@sophron
Where is the solution? Bro
You make me Enthusiastic

[2016-06-19 16:56] skordonis opened #292 "Failed to start the fake access point! (hostapd error)."
Working on a Raspberry Pi with raspbian and 2x usb wireless cards( Ralink 5370 chipset)
I had a perfect installation with no issues at all! The process runs smoothly until the program tries to start the fake access point and get the error "Failed to start the fake access point! (hostapd error)".
I tried switching the role of each card using -jI and -aI but i get the same message.
I wiped the entir

[2016-06-19 17:21] sophron commented on #292
Thanks for reporting @skordonis. Do you remember the commit that used to work properly for you?

[2016-06-19 17:28] skordonis commented on #292
On the raspberry Pi is the first time that i tried to work with wifiphisher, Although i worked before on a Kali Linux machine (with the same usb wifi cards) with no problem arround the time of March 2016. Hope that helps!

[2016-06-19 17:32] sophron commented on #292
Can you do `hostapd -v` on the raspberry Pi and paste the output here?

[2016-06-19 17:36] skordonis commented on #292
`root@raspberrypi:~# hostapd -v
hostapd v2.3
User space daemon for IEEE 802.11 AP management,
IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
Copyright (c) 2002-2014, Jouni Malinen <j@w1.fi> and contributors
`

[2016-06-19 22:41] MedoxR opened #295 "Duplicate of #280"
Hello everybody,
After typing wifiphisher on terminal I got this lines but no list of access points

[*]Starting wifinisher 1.1GIT at..
[+]Selecting wlan2 interface for the deauthentication attack
[+]Selecting wlan2 interface for creating the rogue acces point
[*]Cleared leases, started DHCP, set up iptables

Anyone have faced the same problem already ?

[2016-06-19 22:43] blackHatMonkey commented on #295
Hi @MedoxR
This seems to be a duplicate of #280.

[2016-06-20 01:45] abilify01 commented on #295
I am getting the same problem, mine locks up after choose the number of ap
wifiphisher
[*] Starting Wifiphisher 1.1GIT at 2016-06-19 21:34
[+] Selecting wlan0 interface for the deauthentication attack
[+] Selecting wlan1 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables

[+] Choose the [num] of the AP you wish to copy:

When I hit ctr-c wifiphisher clo

[2016-06-20 01:52] bradnie commented on #292
Hi Skordonis,
Would you so kind and let me know the make and model of the new wifi card you have ordered.Trying to see what is the latest and greatest model to use for packet injection.Thanx inadvance

[2016-06-20 08:27] freeroute opened #296 "Wifiphisher down"
Hello,
What is the solution for this problem? Wifiphisher installed yesterday. (earlier versions worked correctly)
OS: Kali Rolling Edition
python --version: Python 2.7.11+

airmon-ng: phy0	wlan0		b43		non-mac80211 device? (report this!)
phy1	wlan1		ath9k_htc	Atheros Communications, Inc. TP-Link TL-WN322G v3 / TL-WN422G v2 802.11g [Atheros AR9271]

root@kali:/usr/local/src/wifiphisher# wifiphisher

[2016-06-20 10:45] skordonis commented on #292
EDISION WIFI 150 MBPS EDI-MEGA USB ADAPTER IEEE802.11b/g/n
Chipset: Ralink 5370
Encryption: 64/128-Bit WEP, WPS, WPA-PSK, WPA2-PSK
 Hope that helps

[2016-06-20 12:11] blackHatMonkey commented on #271
This was a great event. Thanks @sophron for organizing it.

[2016-06-20 12:11] #271 closed

[2016-06-20 12:13] blackHatMonkey commented on #295
@abilify01 @MedoxR
Let's continue the discussion in #280.

[2016-06-20 12:13] #295 closed

[2016-06-20 12:14] #277 closed

[2016-06-21 12:16] skordonis commented on #292
UPDATE:
So the two new WiFi cards came and they work as they should but an other problem came up. As the program runs with the fake access point broadcasting successfully and wait for a client connection, no client is able to connect to the rogue access point. I tried an android phone, a laptop. I manually try to connect to the rogue AP but keeps dropping the connection. The program runs smoothly

[2016-06-21 12:18] blackHatMonkey commented on #292
Hi @skordonis
Are you able to obtain an IP address or not?

[2016-06-21 12:20] skordonis commented on #292
@blackHatMonkey
No IP is assigned to any device. The devices try to connect to the AP but before the "Authenticate" the connection is dropped. Is like the deauth attack is being deployed to the rogue AP and no device can connect to it. (The deauth attack is successful to the correct AP not the rogue one)

[2016-06-21 12:23] blackHatMonkey commented on #292
I think the problem is with the `DHCP`. Maybe @sophron can help with that.

[2016-06-21 12:27] blackHatMonkey commented on #242
@sophron It seems that the problem is not fully solved.
[code]

[2016-06-23 04:26] abilify01 commented on #280
My issue is that the output reads network down. Everything worked fine in a earlier verision of wifiphisher. I am not sure what I am doing wrong.

wifiphisher
[*] Starting Wifiphisher 1.1GIT at 2016-06-23 00:05
[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan2 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
Traceback (

[2016-06-23 21:50] Anonymous0Libya opened #298 "interface error"
Hi there, i have problem with wifiphisher.py and interface.py ... when i try to run wifiphisher an error show up ....
[code]
please help me ...Thank you

[2016-06-24 14:51] blackHatMonkey commented on #298
Hi @Anonymous0Libya
Are you using the latest version?

[2016-06-24 14:52] blackHatMonkey commented on #296
Hi @freeroute
This is a duplicate of #280. This issue is currently being worked on.

[2016-06-24 14:52] #296 closed

[2016-06-24 14:55] #168 closed

[2016-06-25 18:08] chycoz21 opened #299 "Failed to find enough wireless interfaces"
[code]

[2016-06-25 18:11] chycoz21 commented on #299
root@kali:~/Downloads/wifiphisher/bin# ./wifiphisher
               _  __ _       _     _     _
              (_)/ _(_)     | |   (_)   | |
     __      ___| |_ _ _ __ | |__  _ ___| |__   ___ _ __
     \ \ /\ / / |  _| | '_ \| '_ \| / __| '_ \ / _ \ '__|
      \ V  V /| | | | | |_) | | | | \__ \ | | |  __/ |
       \_/\_/ |_|_| |_| .__/|_| |_|_|___/_| |_|\___|_|
                      | |

[2016-06-25 22:43] blackHatMonkey commented on #299
Hi @chycoz21
Please take a look at [Readme](https://github.com/sophron/wifiphisher/blob/master/README.md) especially this [section](https://github.com/sophron/wifiphisher#requirements). You need two wireless adapters one of which must have `AP` mode and the other must have `monitor` mode.

[2016-06-26 08:46] bkr32 opened #300 "no such device error"
**Version**:
commit 1761d2c322cb5f12b1d8fd1d59a0673b11ebeb85

**Distribution**:
kali 2.0

**Summary**:
No Such device error

**Description**:
when running wifiphisher with both wireless interfaces it gives me a no such device error

**Steps to Reproduce**:
[code]
**Expected VS actual behavior**:
It should start scanning for AP's in the area and allow me to choose which AP to twin

**Script output*

[2016-06-26 12:39] sukhijashubham commented on #299
same problem here my laptop uses broadcom43142(it doesn't support moniter mode and injection) and my other network card is tplink w722n(its supports moniter mode and injection).

[2016-06-26 12:48] blackHatMonkey commented on #299
@sukhijashubham `wifiphisher` needs an interface with monitor mode for jamming and an interface with `AP` mode for rouge AP. From what you described your internal adapter can't be used because it supports neither `AP` nor `monitor` mode and hence it can't be used.

[2016-06-26 12:53] blackHatMonkey commented on #300
Hi @bkr32
Thanks for filling a bug report. Are you able to see the network interfaces using `ifconfig` command.

[2016-06-26 13:17] wraith-wireless commented on #300
Yes, would like to see ifconfig -a and ifconfig results but this looks like a typo although older kernels < 3 can report this

[2016-06-26 16:45] sukhijashubham commented on #299
@blackHatMonkey but my external adapter supports ap and moniter mode

[2016-06-26 16:48] sukhijashubham commented on #299
@blackHatMonkey as per my knowledge wifiphisher is used on nexus device via kali nethunter with external adapter because internal doesn't support mm n ap...same case is with my laptop internal doesn't support..please correct me if i'm wrong.

[2016-06-26 16:53] blackHatMonkey commented on #299
I'm not aware if `wifiphisher` works on the `nethunter` or not but you can't set both `AP` and `monitor` mode at the same time on one interface. We are working on ways to make it work with just one interface but as it stands you need two adapters to make it work.

[2016-06-26 17:00] sukhijashubham commented on #299
@blackHatMonkey  according to this tutorial https://www.youtube.com/watch?v=R6I0GeEh22c
i'm able to made rogue ap but the problem is that rogue ap is not assigning ip address..any diffrence between creating rogue ap manaually and by wifiphisher?

[2016-06-26 20:08] chycoz21 commented on #299
but I do not understand how to make inteface half and did run wifiphisher must have a wireless usb , and whether it is currently running the application will automatically make its AP

[2016-06-26 20:17] chycoz21 commented on #299
whether its AP will automatically live alone like linset

[2016-06-26 20:27] chycoz21 commented on #299
how you can make 2 interface whether to use wireless card wireless card if you do not use what happened ?

[2016-06-27 07:10] mehranexpert opened #301 "error while run wifiphisher - Raspberipi3"
[code]

[2016-06-27 11:44] blackHatMonkey commented on #301
Hi @mehranexpert
This is a duplicate of #280 and it's currently being worked on.

[2016-06-27 11:44] #301 closed

[2016-06-27 12:02] blackHatMonkey commented on #299
@sukhijashubham In the tutorial they used `airbase-ng` from `aircrack suite` to create the rouge AP while `wifiphisher` uses `hostapd` to do the same task. I'm not sure about your problem with IP assignment. If both of your adapters are compatible can you please post the result of running
[code]
while both adapters are connected.

[2016-06-27 12:03] blackHatMonkey commented on #299
@chycoz21 I can't understand you fully. Can you explain it better?

[2016-06-27 15:31] chycoz21 commented on #299
sorry I do not speak English please understand

[2016-06-27 15:33] chycoz21 commented on #299
how to make the du wireless interface for AP and one for monitors , please

[2016-06-27 17:37] sukhijashubham commented on #299
@blackHatMonkey  ifconfig -a results are this
eth0      Link encap:Ethernet  HWaddr ac:9e:17:e3:ef:e4
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:0 errors:0 dropped:0 overruns:0 frame:0
          TX packets:0 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000
          RX bytes:0 (0.0 B)  TX bytes:0 (0.0 B)

lo        Link encap:Local Loopb

[2016-06-27 20:01] sophron commented on #271
Thank you everyone for joining. I believe we did great. I'll ship the t-shirts soon enough.

[2016-06-27 20:10] sophron commented on #292
Hi @skordonis,

Are you running the latest revision? What `git show | grep commit` says?

What you describe is common when the AP fails to assign an IP address to the connected client. Can you post the output of `ifconfig` when the script is running?

Sorry for the late response. Things were pretty busy here.

[2016-06-28 17:59] chycoz21 commented on #300
@blackHatMonkey
how to create a wireless interface into AP and become moitor,please help me

[2016-06-28 18:01] chycoz21 commented on #299
@sukhijashubham
how to create a wireless interface into AP and become moitor,please help me

[2016-06-28 18:18] bkr32 commented on #300
@blackHatMonkey @wraith-wireless sorry for the delay haven't had much time to get back to my pc but will update asap, tried it on kali nethunter and got this error

root@kali:~# wifiphisher
[*] Starting Wifiphisher 1.1GIT at 2016-06-28 18:16
Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 9, in <module>
    load_entry_point('wifiphisher==1.1', 'console_scripts', 'wifip

[2016-06-28 18:48] wraith-wireless commented on #300
Hey man, can you print the output from the following commands:

    ifconfig -a

    iwconfig

    iw dev

[2016-06-28 20:22] blackHatMonkey commented on #299
@chycoz21
All you have to do is to connect your wireless adapters.

[2016-06-28 20:45] chycoz21 commented on #299
@blackHatMonkey
so one interface should connect to wifi and only create a rogue AP

[2016-06-28 20:57] chycoz21 commented on #299
@blackHatMonkey
sorry I mean connect it to where?
for external wireless adapters I use I use the TP - LINK TL - WN821N 300 Mbps Wireless USB Lancard

[2016-06-28 21:05] chycoz21 commented on #299
i am  using wifiphisher-1.1 @blackHatMonkey

[2016-06-28 21:10] chycoz21 commented on #299
@blackHatMonkey
The sudo command python wifiphisher.py -ji wlan0 ai wlan1 its functions For what ?

[2016-06-28 21:48] abilify01 commented on #280
I am using the following devices below.
Qualcomm Atheros AR9485 Wireless Network Adapter internal
NetGear, Inc. WG111v2 54 Mbps Wireless [RealTek RTL8187L]

Please let me know what I can do to help test these adapters. The adapters worked before in a previous version. I am not sure what version though. Thanks for all the hard work.

[2016-06-28 21:57] blackHatMonkey commented on #280
@abilify01
You should be able to make `wifiphisher` work if you try repeatedly for the time being. We are currently working on resolving the issue.

[2016-06-29 02:12] sukhijashubham commented on #299
@blackhatmonkey please clear my one doubt that em having right now in my mind i.e
If my laptop's internal adapter is not compatible than can i use 2 compaitable external usb adapters to lanuch this tool properly??

[2016-06-29 20:20] abilify01 commented on #280
Wifiphisher shuts down network service manager. When I try to run wifiphisher it gives me the following error. I then have to type service network-manager restart in order to get wifiphisher to try and run again. The network down issue happens when i update python-scapy through apt-get.

Kali Rolling
Python 2.7.12rc1
python-scapy (2.3.2-0.1)
commit 1761d2c322cb5f12b1d8fd1d59a0673b11ebeb85

*] Star

[2016-06-30 00:10] abilify01 commented on #280
I did a service network-manager restart, then unplugged my external WiFi adapter,  plugged it back in after a second,  then started wifiphisher and everything works.  I have to perform the steps listed but it works.

[2016-06-30 05:13] naflan121 opened #302 "Jamming devices not populated"
After Running the script, the victim is not authenticated
python setup.py install
wifiphisher

![image](https://cloud.githubusercontent.com/assets/11876070/16477459/3de0bb9a-3ec4-11e6-88ad-87221096ed00.png)

[2016-06-30 18:05] wraith-wireless commented on #280
@abilify01 @blackHatMonkey you may be able to "rectify" the issue of network manager without having to shutdown/start network-manager.

    from pyric import pyw
    # get wlan0 our jamming interface, and create a new monitor mode jam0
    wlan0 = pyw.getcard('wlan0')
    jam0 = pyw.devadd(card, 'jam0', 'monitor')

    # save all cards, modes on wlan0's phy for restoring later
    ifaces = pyw.ifa

[2016-07-06 20:31] Anonymous0Libya commented on #298
Hi...yes
On 24 Jun 2016 16:51, "Brian" <notifications@github.com> wrote:

[2016-07-06 20:38] Anonymous0Libya commented on #298
I solved that problem....but does the victim automatic connect to my rouge
ap or they must do it manually.. thank you for your help
On 6 Jul 2016 22:31, "Anonymous" <nabelomarasker@gmail.com> wrote:

[2016-07-07 00:09] r3cursive123 opened #303 "entry point issue"
OS: Kali Linux Rolling 4.0.0
Just cloned the repo yesterday

Running into this issue when I run wifiphisher

wlan4=AWUS036NH Alfa Wireless Adapter
wlan2=onboard wireless card

root@kali:/opt/wifiphisher# wifiphisher
[*] Starting Wifiphisher 1.1GIT at 2016-07-06 19:59
[+] Selecting wlan4 interface for the deauthentication attack
[+] Selecting wlan2 interface for creating the rogue Access Point
[*]

[2016-07-07 08:31] moneydream07 commented on #121
I tried wifiphisher on my own router and checked my other devices which were connected to the router but there was no fake AP was created hence no fake web page.

[2016-07-07 08:32] moneydream07 commented on #121
Someone tell me how to solve this problem

[2016-07-07 08:49] moneydream07 opened #304 "Wifiphisher not creating fake AP"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2016-07-07 08:50] #304 closed

[2016-07-07 08:52] moneydream07 opened #305 "Wifiphisher not creating fake AP"
**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)

**Description**: Give a more analytical description here. If the bug you are about to report has to do with the WiFi jamming module, please specify the network cards you are using. If the bug has to do with the ro

[2016-07-07 10:28] moneydream07 commented on #305
Please somone help me

[2016-07-07 12:23] blackHatMonkey commented on #302
@naflan121 Can you explain what you mean by not authenticating?

[2016-07-07 12:24] blackHatMonkey commented on #298
The victim has to manually connect to the rouge AP.

[2016-07-07 12:24] #298 closed

[2016-07-07 12:27] blackHatMonkey commented on #299
@chycoz21
How many wireless adapters do you have?

@sukhijashubham
Yes if you have connect two compatible external USB adapters it should work.

[2016-07-07 12:29] blackHatMonkey commented on #280
@wraith-wireless
Thanks. @sophron  and I will talk it over and hopefully implement it.

[2016-07-07 12:30] blackHatMonkey commented on #303
Hi @r3cursive123 This problem is already reported in #280. Lets continue the discussion there.

[2016-07-07 12:30] #303 closed

[2016-07-07 12:40] blackHatMonkey commented on #305
@moneydream07 Please update your original post ([above](https://github.com/sophron/wifiphisher/issues/305#issue-164260079)) in order to find the problem.

[2016-07-07 16:39] moneydream07 commented on #305
@blackHatMonkey I tried wifiphisher on my own router and checked all the devices connected to router.but fake AP is not created in any of devices

[2016-07-07 16:42] moneydream07 commented on #305
Please suggest me how can I solve this problem.

[2016-07-07 16:43] moneydream07 commented on #305
Please suggest me how can I solve this problem.

[2016-07-07 23:49] djdisikd opened #306 "Jamming devices not listed in list"

[2016-07-08 15:05] bkr32 commented on #300
sorry for the delay this is my log @wraith-wireless
cloned latest from github error persists
`
IFCONFIG -A
eth0: flags=4098<BROADCAST,MULTICAST>  mtu 1500
        ether 00:50:56:34:dc:d4  txqueuelen 1000  (Ethernet)
        RX packets 79  bytes 8748 (8.5 KiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 32  bytes 2155 (2.1 KiB)
        TX errors 0  dropped 0 overruns 0  c

[2016-07-08 22:18] r3cursive123 commented on #280
So did we find a fix for this? I am still not able to use wifiphisher successfully on Kali Linux 2 rolling 4.0.0

[2016-07-09 15:00] naflan121 commented on #302
@blackHatMonkey what i mean is devices on victim AP is not jamming

[2016-07-09 15:00] naflan121 commented on #306
#302

[2016-07-09 15:40] sukhijashubham commented on #299
@blackhatmonkey thankyousomuch this works

One problem faced that it doesn't not show any device  under jamming area

[2016-07-10 12:48] wraith-wireless commented on #300
There is something wrong with wlan0, First where it says unassociated it should say what standards it supports like 80211bgn such as wlan1 does. Second when you call iw dev, only wlan1 at phy1 is listed.

This means that that wlan0 only supports the older WEXT and not nl80211. Let's see what OS distro, kernel version and driver version you're using. Please show me the results of  the commands

una

[2016-07-10 16:55] #306 closed

[2016-07-10 17:15] sophron commented on #302
The effectiveness of jamming depends on the power of the wireless card and the distance to the victim. What card are you using? Have you tried moving closer to the target AP?

[2016-07-10 17:16] sophron commented on #305
@moneydream07 Which version are you running?

[2016-07-10 17:22] sophron commented on #267
I suppose you are referring to de-authenticating stations from the target AP. Let's continue this at #302

[2016-07-10 17:22] #267 closed

[2016-07-10 17:23] sophron commented on #266
@naflan121 Is this working for you now?

[2016-07-10 18:00] bkr32 commented on #300
[code]

[2016-07-11 01:49] naflan121 commented on #302
Iam using two TL-WN722N, before the latest version released it was ok but now it doesnt show or jam devices

[2016-07-11 08:23] sophron opened #307 "Fill website with information"
I prepare wifiphisher.org for the upcoming 1.2 release. Is there someone that willing to fill the site with information?

We need guides / HOW-TOs that present some of the new features of the tool. Specifically:
- A guide that demonstrates common options when targeting a network.
- A guide that shows how the tool can perform in public areas (e.g. not targeting a specific network).
- A HOW-TO for a

[2016-07-11 09:08] sophron opened #308 "Include vendors' logos"
We can include logos in our repository under the <a href="http://fairuse.stanford.edu/overview/fair-use/what-is-fair-use/">fair use</a> claim. This will significantly increase the success rates of the `firmware-upgrade` scenario.

[2016-07-11 10:52] moneydream07 commented on #305
@sophron kali rolling 2016 and wifiphisher 1.1

[2016-07-11 10:54] sophron commented on #305
Okay, update to the latest revision from Github, e.g. `git clone https://github.com/sophron/wifiphisher`

[2016-07-11 17:38] moneydream07 commented on #305
@sophron I'll tell after updating and thanx for giving me your valuable time

[2016-07-12 17:14] moneydream07 commented on #305
@sophron I installed the latest version from the link you had provided but its not getting installed after running command (python setup.py).

[2016-07-12 18:38] sophron commented on #305
@moneydream07 It's `python setup.py install`.

[2016-07-13 02:44] darkshadow016 commented on #300
I have the same issue  using wifiphisher-master it stuck here no scan just asking for num of the network that didnt scan

[code]
after ctrl+c it give me this
[code]
second start give me this

[code]
ifconfig
[code]

any solution
thx

[2016-07-13 12:27] darkshadow016 opened #309 "wifiphisher Errno 22"
I have an issue  using wifiphisher-master  version it stuck here no scan just asking for num of the network that didnt scan

[code]
after ctrl+c it give me this
[code]
second start give me this

[code]
ifconfig
[code]

any solution
thx

[2016-07-13 16:13] wraith-wireless commented on #309
Hey man. There were issues with the PyRIC library version 0.1.2.*. Not sure if one of those was not finding the interfaces or not but I believe upgrading to a minimum of 0.1.3 or preferably 0.1.4 would fix this.

[2016-07-13 16:33] wraith-wireless commented on #300
Crap, I did not see this before but the version of PyRIC 0.1.2.1 is buggy, could you try upgrading to 0.1.4 either via pip or download.

Now, I haven't tested on the driver r8188eu for wlan0 but r8188eu does appear to be buggy. Let me know what happens after the upgrade.

[2016-07-13 21:25] darkshadow016 commented on #309
Installed 0.1.5 works fine thx bro

[2016-07-14 04:50] wraith-wireless commented on #309
Awesome good to hear.

[2016-07-14 05:40] bkr32 commented on #300
`The 'PyRIC==0.1.2.1' distribution was not found and is required by wifiphisher`

guess the repo needs to be updated as well

[2016-07-14 06:13] sophron commented on #300
@bkr32 I'll update it soon enough. Thanks for reporting.

[2016-07-14 11:45] debit7 commented on #60
I got Jamming devices But no DHCP Leases or HTTP requests !
  what should I do now?

[2016-07-14 15:20] bkr32 commented on #300
@sophron thanks hope its patched soon found this to be a great tool since most WPA2 pass's are fairly hard to crack

[2016-07-14 19:26] kaliPOwned opened #310 "Using target's router interface template"
Hi,

I want to use the router's brand template interface of the target, for example the target has Sagemcom 1704 router (target_ap-vendor) which has a firmware upgrade page like this:
![update_software](https://cloud.githubusercontent.com/assets/20462237/16852730/29ebd460-4a01-11e6-8758-c3610729419b.jpg)

i should tweak the firmware-upgrade index.htm file to achieve that. the target will be less s

[2016-07-14 19:37] sophron commented on #310
Hi @kaliPOwned,

I'm not sure I understand your question. If you are asking how can you tweek this page and make it work with Wifiphisher, maybe <a href="https://thevivi.net/2016/06/18/wifi-social-engineering-playing-with-wifiphisher/">this guide</a> by VIVI will help you.

Let me know if you have any questions.

[2016-07-14 19:47] sophron commented on #309
Pushed a commit that downloads latest version of PyRIC.

[2016-07-14 19:47] #309 closed

[2016-07-14 19:48] sophron commented on #300
Thanks! I just pushed a commit that downloads latest version of PyRIC. We should be good.

[2016-07-14 19:55] sophron commented on #265
This should be fixed. Feel free to re-open if you still encounter issues.

[2016-07-14 19:55] #265 closed

[2016-07-14 20:00] #299 closed

[2016-07-15 12:08] bkr32 commented on #300
alright updated pyric and made the commit pushed but still error

[code]

[2016-07-15 12:56] sophron commented on #300
Are you sure you are doing it correct? The correct steps are:

`pip uninstall wifiphisher`
`pip uninstall pyric`
`python setup.py install`

[2016-07-15 13:38] bkr32 commented on #300
tried above method, still get the same error

[2016-07-15 15:47] kaliPOwned commented on #310
Thank you Sophron great tutorial. looking forward for next release with much enhancements.

[2016-07-16 19:25] sophron commented on #305
The correct command is `python setup.py install`. Read the guidelines.

I'm closing this, since it's not applicable to the latest revision.

[2016-07-16 19:25] #305 closed

[2016-07-16 19:26] sophron commented on #239
Done.

[2016-07-16 19:26] #239 closed

[2016-07-16 19:26] sophron commented on #308
Done.

[2016-07-16 19:26] #308 closed

[2016-07-16 19:27] sophron commented on #310
Sure!

[2016-07-16 19:27] #310 closed

[2016-07-16 19:28] #266 closed

[2016-07-16 20:36] thebeav26 opened #311 "Execution Stops - Running on Arch Linux"
**Version**: Use `git show | grep commit` command and paste here the output.
commit 0c0075dce7eadbaef01acc4a9c76487b7aa91d41

**Distribution**:
Arch Linux x86_64

**Summary**:
Stops execution after selecting option "2 - Firmware Upgrade Page" and outputs errors.

**Description**:
[+] Selecting Firmware Upgrade Page template
Traceback (most recent call last):
  File "./wifiphisher", line 12, in <mo

[2016-07-17 00:47] sophron commented on #311
A sanity check was missing.

Please try again now and let me know if the problem persists.

[2016-07-17 00:59] thebeav26 commented on #311
That fixed that issue, but now it's stopping with the following error:

[+] Choose the [num] of the scenario you wish to use: 2
[+] Selecting Firmware Upgrade Page template
[*] Starting the fake access point...
[+] Failed to start the fake access point! (hostapd error)
[+] Try a different wireless interface using -aI option.
[!] Closing

[2016-07-17 01:13] sophron commented on #311
Wifiphisher needs two wireless interfaces. You can try and set these manually with the `-aI`, `-jI` options. E.g. `-aI wlan0 -jI wlan1` and vice versa.

[2016-07-17 01:16] thebeav26 commented on #311
Yes, I'm using the built-in wireless card on my laptop as the rogue AP interface and a USB (Alfa) wifi device as the deauthenication attack interface.

[2016-07-17 08:18] sophron commented on #311
I'm closing this issue since the first bug has been tackled.

Regarding the hostapd error, this is described on #292. `-aI`, `jI`, may solve this. Can you post on #292 the output of the following commands?

  ifconfig -a
  iwconfig
  iw dev

[2016-07-17 08:18] #311 closed

[2016-07-17 14:48] PlatinumBullet opened #312 "i cant install it in my kali linux 2.0"
i cant install it in my kali linux 2.0

[2016-07-17 17:37] sophron commented on #312
I'm sorry to hear that.

If you give us more information (e.g. what are you typing and what you are receiving), we may be able to help you.

[2016-07-17 19:28] crazyboogs commented on #312
@PlatinumBullet make sure you are using `python setup.py install`
Some sites that provided guides on Wifiphisher instruct about using `python wifiphisher.py`

`cd wifiphisher`
`python setup.py install`

[2016-07-17 19:32] crazyboogs commented on #302
I am also experiencing this behavior with an ALFA AWUS036H and an ASUS WL-167g.
I am running version 1.1

[2016-07-18 19:56] sophron commented on #302
From what I see, the jamming is indeed happening, however it's not showing on the screen.

Will fix soon.

[2016-07-19 07:45] ziadeh commented on #300
I'm getting this error:
[*] Starting Wifiphisher 1.1GIT at 2016-07-19
[!] There are not enough wireless interfaces for the tool to run! Please ensure that at least two wireless adapters are connected to the device and they are compatible. At least one must support Master (AP) mode and another must support Monitor mode.
[!] Closing

but I have wifi: tp-link tl-wn722n

anyone can help please?

[2016-07-19 07:48] ziadeh opened #313 "There are not enough wireless interfaces"
Why I'm getting this error when I have wifi tp-link tl-wn722n and connected to the computer

[*] Starting Wifiphisher 1.1GIT at 2016-07-19
[!] There are not enough wireless interfaces for the tool to run! Please ensure that at least two wireless adapters are connected to the device and they are compatible. At least one must support Master (AP) mode and another must support Monitor mode.
[!] Closin

[2016-07-19 07:50] ziadeh commented on #312
what is the error message that you get?

[2016-07-19 08:21] sophron commented on #313
The error message is self-explanatory. You need two (2) wireless cards for the tool to run.

[2016-07-19 08:21] #312 closed

[2016-07-20 04:54] wraith-wireless commented on #300
Let's see what pyw is doing. From a console try:

    import pyric
    from pyric import pyw
    from pyric.utils import rfkill

    # check version
    print pyric.__version__

    # make sure there are no blocks on the devices
    rfkill.rfkill_list()

    # check interfaces
    pyw.interfaces()
    pyw.winterfaces()

    # now, see if there is netlink & nl80211 support
    pyw.phylist()
    for

[2016-07-20 06:00] ziadeh commented on #313
Thank you, I'll try to have another wireless card.
but why this tool need two wireless cards?

[2016-07-20 16:01] bkr32 commented on #300
alright typed in import pyric and the pointer became a crosshair, typed from pyric import pyw
from pyric.utils import rfkill after that and got the error

rom: can't read /var/mail/pyric
root@kali:~# from pyric.utils import rfkill
from: can't read /var/mail/pyric.utils
root@kali:~# from pyric import pyw

also when using stable version it deauthenticates me but dosen't create a fake ap (will create

[2016-07-21 03:54] wraith-wireless commented on #300
sorry, do the import stuff from python. type python in the console first then the above listed commands

[2016-07-21 12:06] bkr32 commented on #313
one card (capable of monitor mode) deauthenticates the users of targeted AP and the other creates a AP with the same mac address etc of the target

[2016-07-21 12:14] bkr32 commented on #300
[code]

[2016-07-21 19:33] sophron commented on #302
This should be fixed now. Please update to the latest revision and let me know.

[2016-07-22 04:38] wraith-wireless commented on #300
Ok there's the issue in your output for rfkill, there is only one 'physical' device listed namely phy0. Although you have two wireless cards, the second one is only supported by the older (supposed to be deprecated) ioctl method.  This means that tools like iwconfig and ifconfig will still work on it but the newer tools that use netlink will not.

Going back to previous answers, it must be the r81

[2016-07-22 08:48] sophron commented on #300
@wraith-wireless ioctl is indeed deprecated and I agree PyRIC should not support it.

However, is it possible to throw a different exception in that case? We could then print a more descriptive error message from Wifiphisher. I want us to avoid users opening more issues such this.

[2016-07-22 09:14] bkr32 commented on #300
Well this is certainly depressing, I'll search for a patch and hopefully find one just recently got the 722n, I've been trying to use airbase and aireplay  to replicate wifiphishers functions, but I'm lost on how to redirect the user to the password reset page is it possible to link a script for that?

[2016-07-22 22:11] sophron commented on #313
@ziadeh In general, the tool requires two wireless network adapters that support AP and Monitor mode accordingly. These are for creating the rogue AP and de-authenticating victims with efficiency at the same time.

However, I just introduced an option `--nojamming`. This will allow the tool to run with only one interface. There will be no de-authentication phase though. This option is useful in pu

[2016-07-22 22:22] sophron commented on #280
I believe this is happening whenever the interface is not set properly to Monitor Mode. Can you update to the latest revision and let me know if the problem persists?

[2016-07-23 12:57] bkr32 commented on #300
@wraith-wireless would you recommend this driver ? https://github.com/lwfinger/rtl8188eu

[2016-07-23 21:35] johnnyblaze1999 opened #314 "Syntax Error on py file"
Hi I'm just a newbie, I got a syntax error when I try to run py file.

   File "wifiphisher.py", line 304
    print '\n[' + R + '!' + W + '] Closing'
                 ^
SyntaxError: Missing parentheses in call to 'print'

[2016-07-23 22:10] sophron commented on #314
This error message means that you are attempting to use Python 3 to run code in Python 2. Try executing the script again using Python 2.

[2016-07-24 04:59] wraith-wireless commented on #300
This one may work. It appears from the comments that some of them were able to get iw (which means pyw will work) to work after patching.

[2016-07-24 06:03] johnnyblaze1999 commented on #314
Thank you for your reply. Unfortunately, there is an ImportError here:

[https://postimg.org/image/eamca0pp3/](url)

[2016-07-24 14:47] crazyboogs commented on #302
I have updated and verified that jamming devices are now displaying. Thank you.

[2016-07-24 17:14] johnnyblaze1999 commented on #314
Sorry, I'm using windows 10 and run your py file with Cygwin.
Are there anyway that I can use your file on windows operating system?

[2016-07-24 19:04] sophron commented on #314
No, we do not support Windows.

[2016-07-24 20:09] freeroute commented on #300
I have the same error,too. Here is some information:

root@kali:/usr/local/src/wifiphisher# iw dev
phy#1
	Interface wlan1
		ifindex 4
		wdev 0x100000001
		addr 00:c0:ca:82:e5:b6
		type managed
		channel 1 (2412 MHz), width: 40 MHz, center1: 2422 MHz
phy#0
	Interface wlan0
		ifindex 3
		wdev 0x1
		addr 00:0e:8e:15:94:3a
		type managed

root@kali:/usr/local/src/wifiphisher# uname -r
4.6.0-kali1-686-

[2016-07-25 10:23] sophron commented on #302
Thanks for reporting.

[2016-07-25 10:23] #302 closed

[2016-07-25 10:38] #314 closed

[2016-07-25 10:39] #313 closed

[2016-07-25 16:13] bkr32 commented on #307
i can help fill it in

[2016-07-25 16:53] pungvit commented on #280
I just test it with my own router.
It works.. till the client target get the phising web page from fake ap ... but its warned by google security or android security system by displayed it at web..

[2016-07-25 17:34] sophron commented on #307
Sounds cool. Feel free to reach me on IRC (sophron@Freenode) or by email (sophron <at> latthi .dot. com).

[2016-07-25 18:25] Ie0h opened #315 ""Enter the [Full Path] to the payload you wish to serve""
After selecting which method I want to use it asks me this.. What is this and where is it?

[2016-07-25 18:37] pungvit commented on #315
Use the fake ap method and fake connection web pages ..

[2016-07-25 18:38] pungvit commented on #315
I mean number 2 option. Connection reset web pages.

[2016-07-25 19:08] Ie0h commented on #315
Oh ok, that got past that point I am connected to the AP on my mobile device and once it starts nothing happens to the WiFi. I dont get disconnected and I don't see another one show up. I am assuming this is because the selected card can't be used to create AP's but I am not sure how to check? I have a AWUS036H, now will i need another model as well to create an AP? If so what is a good model for

[2016-07-25 20:07] bkr32 commented on #300
@wraith-wireless followed the instructions in that repo and installed via dkms restarted and still the same error ....

[2016-07-25 20:23] pungvit commented on #315
For wlan0 using in built wlan card from thinkpad x220/intel. And for wlan1 I am using usb external wifi from tplink tlwn722n. Both works well.. just need to some modif script in how to client to load phising web without lag and pass from security scan android system check.

[2016-07-26 04:05] wraith-wireless commented on #300
From the above, it looks like iw can now "see" both your cards.  Run

    rfkill list

from the  command line and see if you get entries for two 'wlan' devices. If so, execute the following from the command line

    cd /sys/class/net
    ls

and paste what is shown.

[2016-07-26 04:55] freeroute commented on #300
root@kali:/usr/local/src/wifiphisher# rfkill list
0: hci0: Bluetooth
	Soft blocked: no
	Hard blocked: no
1: phy0: Wireless LAN
	Soft blocked: no
	Hard blocked: no
2: phy1: Wireless LAN
	Soft blocked: no
	Hard blocked: no
root@kali:/usr/local/src/wifiphisher# cd /sys/class/net
root@kali:/sys/class/net# ls
eth0  lo  wlan0  wlan1
root@kali:/sys/class/net#

[2016-07-26 05:31] freeroute commented on #300
I can give you an ssh acces to my system for testing purpose if you need. It is a new installed system, dist-upgrade has been done.
(It would be great if I could use wifiphisher again ...)

[2016-07-26 15:25] wraith-wireless commented on #300
@sophron (just saw your post) agreed. Let me see what I can do about the exception thing. It may need some finagling, the errors returned by the kernel are ambiguous at best and I'll have to do some testing to  make sure I catch them all

[2016-07-26 15:51] wraith-wireless commented on #300
SSH is a bad idea. I am currently not in a secure environment.  @freeroute, @bkr32. Let's see if we can get the family id for nl80211, if that works we know that the kernel supports netlink and supports nl80211, then lets try again to get Cards for your devices, throwing in error exceptions, to catch the bad one.

In python type the following:

    import pyric
    import pyric.pyw as pyw
    impo

[2016-07-26 16:05] bkr32 commented on #300
[code]

[2016-07-26 16:21] wraith-wireless commented on #300
OK, what version of pyric are you using again? I cannot remember when I added phylist if it was 0.1.4 or 0.1.5 .

Did you just use airmon-ng before this. What I'm seeing is wlan0 and wlan0mon, where wlan0mon is usually what airmon-ng creates. The odd thing is that when it creates the monitor interfaces, it deletes the original. so why, is wlan0 still present. Second, wlan0mon is on phy0. phy0 is g

[2016-07-26 16:26] bkr32 commented on #300
sorry i forgot to add, wlan0mon is the 722n card and 88EU is wlan0
wlan0mon and wlan0 show up correctly on ifconfig, and yes i was running airmon-ng

pyric version is 0.1.4

[2016-07-26 16:38] freeroute commented on #300
23

['wlan0', 'lo', 'eth0', 'wlan1']

['wlan0', 'wlan1']

[(1, 'phy1'), (0, 'phy0')]

...     try:
...         Card = pyw.getcard(dev)
...     except pyric.error as e:
...         print "Error getting card for {0} -> {1}:{2}".format(dev, e.errno, e.strerror)
...     else:
...         print pyw.devinfo(Card)
...
{'wdev': 1, 'RF': None, 'CF': None, 'mac': '00:0e:8e:15:94:3a', 'mode': 'managed', 'CHW

[2016-07-26 16:41] Ie0h commented on #315
So it works now, just tried it again and it is working but the only problem is even when it kicks the user off, they automatically re-authenticate with their proper one..

[2016-07-26 16:43] wraith-wireless commented on #300
@freeroute, you stuff should be good to go. You'll have to tell me exactly what error your getting in the context of wifiphisher. @brk32. do airmon-ng stop and run the script again

[2016-07-26 16:45] pungvit commented on #315
Try .wifiphisher -t .00001

[2016-07-26 16:53] Ie0h commented on #315
What is that going to do? I understand time but what is that changing?

[2016-07-26 16:55] pungvit commented on #315
Its described at readme.md already..

[2016-07-26 17:35] bkr32 commented on #300
23

['lo', 'wlan1', 'wlan0', 'eth0']

['wlan1', 'wlan0']

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'phylist'

...     try:
...         Card = pyw.getcard(dev)
...     except pyric.error as e:
...         print "Error getting card for {0} -> {1}:{2}".format(dev, e.errno, e.strerror)
...     else:
...         print pyw.

[2016-07-26 17:58] wraith-wireless commented on #300
There is something fishy with your cards. Referring back to your previous output,

    Error getting card for wlan0 -> 19:No such device
    {'wdev': 6, 'RF': 2412, 'CF': 2412, 'mac': 'e8:de:27:a5:a1:4a', 'mode': 'monitor',
     'CHW': None, 'card': Card(phy=0,dev=wlan0mon,ifindex=8)}

you were able to get a Card object for the device phy = 0 and wlan0 failed. Now in the most recent, wlan0 is at p

[2016-07-26 18:02] bkr32 commented on #300
i should really start refrencing which card is which
wlan0 is 722n
wlan1(added later) is 88EU

88EU is generally incompatible with aircrack-ng suit since it doesn't come with monitor mode capabilities

[2016-07-26 18:10] wraith-wireless commented on #300
And you are using 88EU for which capabilities in wifiphisher? I really thing the issue lies in the current driver you have for the 88EU. Short of getting lucky and finding someone with a good updated patch, I don't know what to do. Go ahead and try above and see if you can create new interfaces for both your cards using the phyadd code above. I am going to look into the 88EU and see if I can find

[2016-07-26 18:18] bkr32 commented on #300
well i suppose the only suitable role for it would be to make a fake AP, right now VM is acting buggy, if it's completely impossible to do this with 88EU i guess i'll have to try and set it up with my nethunter installation or buy another wifi card looking at alfa cards which would be good?

[2016-07-26 18:29] wraith-wireless commented on #300
I use the Alfa AWUS036NH. Great card, works out of  the box supporting AP, monitor mode etc. Only drawback is doesn't work on the 5GHz band. There is also the AWUS051NH which support 2.4GHz and 5GHz but I can't say what modes etc it supports.

[2016-07-26 18:32] bkr32 commented on #300
5GHZ networks are pretty rare, but most cards do partially support them, seeing as the AWUS036NH is way cheaper i'll probably go for it, and do some research on  AWUS051NH these are pretty rare took me years to find a 722n

[2016-07-26 19:12] freeroute commented on #300
@wraith-wireless here is my problem:
root@kali:/usr/local/src/wifiphisher# wifiphisher
[*] Starting Wifiphisher 1.1GIT at 2016-07-26 21:03
[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan0 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
and nothing more...

root@kali:/usr/local/src/wifiphisher# iwconfig
wlan0     IEEE

[2016-07-26 19:19] sophron commented on #300
@freeroute This is a different issue. Have a look at #280 for this and please continue the conversation there.

[2016-07-27 04:14] wraith-wireless commented on #300
@sophron I have created issue <a href="https://github.com/wraith-wireless/PyRIC/issues/24">#24</a> on PyRIC related to this situation and your previous comment.

[2016-07-27 12:30] #315 closed

[2016-07-27 14:22] AhmedMeso commented on #278
i have the same problem i can't use wifiphisher because it doesn't have wifiphisher.py, i tried what you said but it didn't work either, can you tell me what to do?
Now I'm gonna attacha picture of the error that i get when i type both commands!
![python error](https://cloud.githubusercontent.com/assets/20683008/17178567/4986761c-5416-11e6-964b-c7198d5b9f47.png)

i hope you reply to this soon!