[2017-03-04 19:27] Zawadidone commented on #489
It works thank you for the support

[2017-03-04 23:16] #489 closed

[2017-03-04 23:36] mcocigra commented on #494
It could be done you could write anything but this isn't that effective. It is difficult to make people write the password but to push the button will be even more difficult and it is the same thing. Plus we are targeting not so technology aware people so most of them probably don't know about the wps button or they would have turn it off

[2017-03-04 23:37] mcocigra commented on #495
This is good if it could be done

[2017-03-04 23:51] sophron commented on #495
We don't want to depend on `airodump-ng`. We can, however, write our own code and check if the target AP switched channel. This is not trivial, however, as our card needs to hop channels as well.

I put the "Enchancement" label. This won't be a priority though unless we see more users requesting it.

[2017-03-04 23:53] sophron commented on #494
Hi @minanagehsalalma,

What exactly do you have in mind? What can you achieve if the victim pushes the WPS-Push button?

[2017-03-04 23:54] sophron commented on #488
We already have #441 for this.

[2017-03-04 23:54] #488 closed

[2017-03-04 23:56] sophron commented on #487
Hi @andeees,

That's the idea. Instead of returning a phishing page, we provide the victim with Internet access. Then, we may use a sniffer (e.g. Wireshark) to capture any clear-text data.

[2017-03-05 00:01] sophron commented on #486
I'm afraid it's not possible to use Wifiphisher on Android. Even in a rooted device, many of the tool's dependencies are not supporting the platform.

[2017-03-05 00:02] sophron commented on #477
I'm closing this. Please use `git pull` for updating.

[2017-03-05 00:02] #477 closed

[2017-03-05 00:08] sophron commented on #473
I would prefer IRC over Gitter and most (if not all) of the open-source communities I have contributed lie there. Is there a reason we should use Gitter instead?

[2017-03-05 00:10] alternatexp commented on #495
Use `mdk3` if Wifiphisher's deauthentication doesn't work for you. It is a very aggressive tool.

**Usage:**

`mdk3 <interface> <options>`

**Example:**

`mdk3 wlan2 d -b /path/to/blacklist.txt`

This send deauthentication & disassociation packets to the BSSIDs listed inside your /path/to/blacklist.txt file.

`mdk3 wlan2 d -w /path/to/whitelist.txt`

This send deauthentication & disassociation pac

[2017-03-05 00:11] sophron commented on #466
Hi guys,

On my Android device, Wifiphisher does trigger this notification. Isn't that the case for you?

[2017-03-05 00:14] sophron commented on #468
Hi @cooldang,

From what I see on your latest paste, you pressed Ctrl + C. The error was because file could not close. It shouldn't interfere with the main program though.

[2017-03-05 00:16] alternatexp commented on #494
@sophron easy bruteforcing

[2017-03-05 00:18] sophron commented on #463
HTML are static pages. If you are thinking of dynamic languages (e.g. PHP), that's a different story.

[2017-03-05 00:20] sophron commented on #471
Hi @kn0wledge,

In order to know in which channel your target AP resides, you will still need to run the recon on all channels, right? I'm not sure I understand how an option like the one you propose will be helpful.

[2017-03-05 00:22] cooldang opened #496 "UnicodeEncodeError: 'ascii' codec"
Wifiphisher 1.2GIT
Lubuntu

[code]

did i  miss some lib?

[2017-03-05 00:24] alternatexp commented on #487
I suggest using **bettercap** as it's literally better than having to use Wireshark + SSLstrip + other modules manually. **bettercap** does it all for you, and there are many custom modules built for it.

I also suggest enabling the captive portal even when the `-iI` option is issued. Then Wifiphisher can listen to POST requests to (for example) `/captive_portal_login`, log the client's lease in a

[2017-03-05 00:26] sophron commented on #469
@cicina @alternatexp Using Wifiphisher in public areas or against WLANS that you have no permission to do so, is illegal and not advisable.

How not to be traced (outside of a penetration testing) implies illegal activities that we do not encourage. Please do not discuss anything like this on this forum again.

[2017-03-05 00:32] alternatexp commented on #486
@Dirkstaal most likely your phone's wireless card won't allow monitor mode, so you'll need an OTG cable + wireless USB adapter. Some phones need a OTG Y-splitter cable to enable charging at the same time as some phones can't power the wireless interface sufficiently.

[2017-03-05 00:32] sophron commented on #494
WPS-PBC is different than WPS-Pin. I don't see what can you brute-force if the victim pushes the button.

[2017-03-05 00:36] alternatexp commented on #494
Doesn't pressing the button enable WPS-Pin?

[2017-03-05 00:41] alternatexp commented on #469
@sophron that was exactly my point.

[2017-03-05 00:43] alternatexp commented on #469
And this issue basically comes down to getting Wifiphisher to use the scenario folder like Apache uses a `/public_html` folder.

[2017-03-05 00:52] alternatexp commented on #463
@sophron ah I see, I thought you were still referring to the `/static` folder

@blackHatMonkey said:

For various reasons I advise against making Wifiphisher so beginner friendly. If you don't know how/never hosted a web server, I don't think you will/should jump right into pen testing (but it's possible).

Wifiphisher obviously won't be used for testing purposes only, we have to be realistic and

[2017-03-05 01:04] andeees opened #497 "Not deauthenticating clients on Repeaters"
The only WiFi that I can't De-auth is those with a repeater. I have tried it with my own and it doesn't kicks me of the network. Obviously it appears both, the Router and the repeater's ESSID and I have tried jamming both of them. I have a guest network setup in my WiFi and with this one I am able to kick off the clients.

[2017-03-05 01:07] andeees commented on #496
Did you Fake any router's name, which characters are not supported by the ascii?

[2017-03-05 01:08] #487 closed

[2017-03-05 01:40] alternatexp commented on #497
Have you tried using `mdk3`?

**Usage:**

`mdk3 <interface> <options>`

**Example:**

`mdk3 wlan2 d -b /path/to/blacklist.txt`

This makes your interface send deauthentication & disassociation packets to the BSSIDs listed inside your /path/to/blacklist.txt file.

`mdk3 wlan2 d -w /path/to/whitelist.txt`

This makes your interface send deauthentication & disassociation packets to all BSSIDs except

[2017-03-05 02:08] hichamox opened #498 "IOError: [Errno 2] No such file or directory: '/proc/net/dev' in bash on ubuntu on windows"
hey there i m trying to install wifisphier on bash on ubuntu on windows  but it's wont work it's keep showing me this message

[code]

[2017-03-05 02:20] sophron commented on #498
Is this Bash on Windows? I doubt Wifiphisher will work there. From what I see, this is a bug with ifconfig: https://github.com/Microsoft/BashOnWindows/issues/602

[2017-03-05 08:24] miuiu opened #499 "Supported Adapters"
Hello. I would like to know the full list of supported adapters

Many of my not working

[2017-03-05 10:37] alternatexp commented on #499
https://www.raymond.cc/blog/best-compatible-usb-wireless-adapter-for-backtrack-5-and-aircrack-ng/

[2017-03-05 10:37] alternatexp commented on #499
A lot of info can be found on wireless adapters here:

https://wikidevi.com

[2017-03-05 10:44] alternatexp commented on #498
"on bash on ubuntu on windows"

Are you using a virtual machine?
Or literally using windows CMD to install Wifiphisher on an Ubuntu partition?

[2017-03-05 10:46] miuiu commented on #499
What are the proven 2 adapter you need?

1) TP-Link wn722n
2) TP-Link wn822n

Does not work

I need to know the proven model

[2017-03-05 11:58] sophron commented on #469
@alternatexp No, it's not. This issue is about someone writing the actual HTML code for the phishing. #463 is what you propose.

[2017-03-05 12:12] alternatexp commented on #469
@sophron

@cicina said:

It basically comes down to the same thing.

[2017-03-05 12:16] alternatexp commented on #499
@miuiu They should both work!

What OS are you running?

If you are using Linux, try `sudo apt-get install firmware-atheros`

[2017-03-05 12:27] laozi999 commented on #463
My opinion

[2017-03-05 12:35] cicina commented on #469
@sophron  sorry, I understand. I meant it like in public places WITH permissions ofc.

[2017-03-05 12:43] sophron commented on #486
Since Android's C runtime library (bionic) is not binary compatible with the GNU libc or an X server, (which Linux uses), I imagine problems porting different libraries, e.g. `ncurses`. The Linux kernel is also modified. I'm not sure if `Pyric` would behave normally and of-course users still need a monitor-mode WiFi kernel/driver.

Maybe it is possible, but it will require so many hacks that I bel

[2017-03-05 12:52] sophron commented on #494
No, in WPS-PBC, pushing the button allows any clients to associate with the Access Point during a short time frame.

Having said that, the scenario that I can think of is forcing the victim to push the button in order to get access to his WLAN. I put the "Enchancement" label.

[2017-03-05 13:09] Miayke opened #500 "what is this?"
i download latest version of wifiphisher i install again

Wifi list is displayed and it falls into this fault

`root@kshadow:~/wifiphisher# wifiphisher
[*] Starting Wifiphisher 1.2GIT at 2017-03-05 15:07
[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan0 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
Traceback (most re

[2017-03-05 13:16] sophron commented on #500
See $496.

[2017-03-05 13:16] #500 closed

[2017-03-05 13:21] hichamox commented on #498
@alternatexp  bash on ubuntu on windows is intergration of ubuntu terminal on windows it's new feature on windows 10 sqlmap and other paython scripts works well only wifiphisher won't work

[2017-03-05 13:26] Miayke commented on #496
I think these characters do not support the WiFi list, ı, ü, ğ, ö, ş, İ, Ğ, Ü, Ö, Ş, Ç

[2017-03-05 13:29] Miayke commented on #500
I think these characters do not support the WiFi list, ı, ü, ğ, ö, ş, İ, Ğ, Ü, Ö, Ş, Ç

There was no such problem in the old version

[2017-03-05 13:40] laozi999 commented on #500
Rather than throwing an error and quitting, these APs should be ignored until they are supported

[2017-03-05 13:47] Miayke commented on #500
I think the problem is the characters in the wifi names  i think dunno

[2017-03-05 13:51] miuiu commented on #499
Updated wifiphisher through git it works

[2017-03-05 13:52] #499 closed

[2017-03-05 14:07] blackHatMonkey commented on #431
Since there are no problems with issue, I'm closing it. If you have any issues or comments feel free to open it again.

[2017-03-05 14:07] #431 closed

[2017-03-05 14:18] blackHatMonkey commented on #497
Hi @andeees Couple of questions:
1. Do you only see one access point or multiple access point with different` BSSID`?
2. Is the `BSSID` of the repeater the same as the original access point?

[2017-03-05 14:27] blackHatMonkey commented on #473
@sophron I'm not saying that we should abandon `IRC` but use `gitter` a companion. Couple advantages of using `gitter` are:
* Closely integrated with `github` and therefore users can easily login using their `github` accounts
* Unlike `IRC` you don't have to be online to get the messages
* You can reference issues and post `gist` code in the messges
* It is publicly available to everyone even if y

[2017-03-05 15:03] andeees commented on #497
Hey @blackHatMonkey
I see two AP (1 of the Router and 1 of the Repeater) with different BSSID.
@alternatexp I will try it later

[2017-03-05 15:12] blackHatMonkey commented on #497
@andeees Which one did you select when testing?

[2017-03-05 15:25] andeees commented on #497
@blackHatMonkey I tried on both AP, both appeared to be jamming my devices but it never kicked me out of the network.

[2017-03-05 15:34] blackHatMonkey commented on #497
@andeees Would you be able to use `wireshark`(`	wlan.fc.type_subtype eq 12` filter) to confirm that deauthentication packets are being send?

[2017-03-05 15:43] andeees commented on #497
@blackHatMonkey Just tried and wireshark showed hundreds of packets of deauthentication that were being sent to the broadcast. Again this is just happening with repeaters.

[2017-03-05 17:39] blackHatMonkey commented on #497
@andeees Is `wifiphisher` detecting any clients on the repeater?

[2017-03-05 17:45] blackHatMonkey commented on #483
@kn0wledge Since there are two different bugs I'm opening another issue for `Errorno 113`.

[2017-03-05 17:46] kn0wledge commented on #483
Ok , sounds good

[2017-03-05 17:48] blackHatMonkey opened #501 "Errorno 113 No route to host"
This bug was originally reported by @kn0wledge in #483.
![screenshot from 2017-03-03 06-32-23](https://cloud.githubusercontent.com/assets/25384952/23549981/ad9a3f90-ffdc-11e6-81c7-6efe70d18026.png)

[2017-03-05 17:59] minanagehsalalma commented on #494
yes i want them to push the wps button ..  to  connect fast without password validation ... and cause of people so most of them probably don't know about the wps button   like  mcocigra you can put a photo to the wps button Dependence on the router vendor  ...... do you agree with me ?????

[2017-03-05 18:05] minanagehsalalma commented on #495
mdk3 did not work with me after the router channel change although i used mdk3 wlan2 d -b ap mac address .. i must run it manually after the channel change   !!!!!!

[2017-03-05 19:15] andeees commented on #497
@blackHatMonkey yes it detects the clients.

[2017-03-05 20:09] blackHatMonkey commented on #497
@andeees If it both detects and sends deauthentication to clients there are no problems with `wifiphisher`.

[2017-03-06 00:13] alternatexp commented on #494
I like your idea, some people might find it suspicious when they're asked for their wifi password on some random page they haven't seen before.

[2017-03-06 01:13] cooldang commented on #496
there is a router's name in chinese.

but in Kali Linux everything work well.

[2017-03-06 01:41] KanabioZ opened #502 "Error: tornado.application:exception in callback none traceback"
Hi! Have some errors when running
`wifiphisher -aI wlan1 -jI wlan0 -p firmware-upgrade`

Errors:
[code]
![screenshot from 2017-03-06 03-39-37](https://cloud.githubusercontent.com/assets/26210457/23593983/a32e9d0a-021e-11e7-9cd8-1f9c5bbf5303.png)

Maybe somebody can help too fix it (step by step)?

[2017-03-06 08:42] alternatexp commented on #495
`-b blacklist` is more effective when targeting specific BSSID(s).

It sounds like you aren't close to the AP/clients, or your interface's Txpower is too low.

[2017-03-06 18:57] cicina commented on #502
Exact same here

[2017-03-07 05:01] raytafarhan opened #503 "How to fix this?"
[*] Starting Wifiphisher 1.2GIT at 2017-03-07 11:57
[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan0 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()

[2017-03-07 09:51] minanagehsalalma commented on #495
the ap my house  and i use tp-link tl-wn722N  please put the airodump option ...  cause any normally viticm will restart the router when the attack starts. ..  so the attack will be useless...  and will wait for nothing

[2017-03-07 09:51] minanagehsalalma commented on #495
the ap my house  and i use tp-link tl-wn722N  please put the airodump option ...  cause any normally viticm will restart the router when the attack starts. ..  so the attack will be useless...  and will wait for nothing

[2017-03-07 10:01] minanagehsalalma commented on #495
sorry i closed the issue mistakenly

[2017-03-07 10:04] minanagehsalalma commented on #494
or once you're in, you can see the saved wifi password

[2017-03-07 10:19] minanagehsalalma commented on #147
i think @erkexzcx is awesome  will help detect channel change to jam them with the new channel

[2017-03-07 10:19] minanagehsalalma commented on #147
i think @erkexzcx is awesome  will help detect channel change to jam them with the new channel

[2017-03-07 10:22] minanagehsalalma commented on #321
what is the release date of the v2.0

[2017-03-07 10:25] minanagehsalalma commented on #146
good idea

[2017-03-07 13:42] minanagehsalalma commented on #156
you can view the essid by sending aireplay-ng 0 0

[2017-03-07 13:50] minanagehsalalma opened #504 "the password has been sent encoded with html ?"
when the password includes a special characters like @!? ... it sent me an html encoded password

[2017-03-07 14:38] blackHatMonkey commented on #502
@KanabioZ This is a duplicate of #439. Please continue the discussion over there.

[2017-03-07 14:38] #502 closed

[2017-03-07 15:04] blackHatMonkey commented on #503
Hi @raytafarhan This a duplicate of #496. Please continue the discussion over there.

[2017-03-07 15:04] #503 closed

[2017-03-07 15:05] blackHatMonkey commented on #504
Hi @minanagehsalalma Would you be able to provide the output or a screenshot of it?

[2017-03-07 17:11] blackHatMonkey commented on #496
@sophron I was able to reproduce this error like so:
[code]

This is what we are doing in `recon` module [L221](https://github.com/wifiphisher/wifiphisher/blob/master/wifiphisher/common/recon.py#L221).

[2017-03-07 17:24] blackHatMonkey commented on #496
This is @raytafarhan output of the bug which was posted in #503 :
[code]

[2017-03-07 17:27] blackHatMonkey commented on #496
@sophron after looking at @raytafarhan output I think the code should be changed to:
[code]
instead of
[code]

[2017-03-07 17:42] vay3t commented on #463
I think that they could add the option of using a custom captive portal and place the path of that portal, example:
[code]

[2017-03-07 20:33] blackHatMonkey commented on #456
I'm closing this issue since the bug has been fixed and there are no issues afterward.

[2017-03-07 20:33] #456 closed

[2017-03-07 20:35] blackHatMonkey commented on #449
This bug has been solved and there are no problems after the patch release. I'm closing this now but if you encounter the bug again feel free to open the issue.

[2017-03-07 20:35] #449 closed

[2017-03-07 20:38] blackHatMonkey commented on #156
Since there are no problems after the patch release, I'm closing this issue. Feel free to open again if needed.

[2017-03-07 20:38] #156 closed

[2017-03-07 20:39] blackHatMonkey commented on #106
This feature has been implemented. I'm closing it but feel free to open again if needed.

[2017-03-07 20:39] #106 closed

[2017-03-08 02:59] alternatexp commented on #504
that's pretty normal, you can decode it here:
http://meyerweb.com/eric/tools/dencoder/

[2017-03-08 03:03] alternatexp commented on #463
@vay3t that wouldn't change much, the python code needs to be changed so users are allowed to navigate inside the scenario folder, the redirection rules currently always redirect the user to index.html, which is annoying if you want multiple pages.

[2017-03-08 03:20] alternatexp commented on #498
@hichamox true that, I had no idea that existed so I can't help you out on this one sorry :/

[2017-03-08 03:57] alternatexp commented on #463
Can anyone answer my question?

This is exactly how I want Wifiphisher to work:

[code]

The part that doesn't work is:
[code]

[2017-03-08 04:42] alternatexp commented on #495
@minanagehsalalma

1. `airmon-ng start wlan0`
2. `mdk3 wlan0 d -b /root/blacklist`

[2017-03-08 04:52] alternatexp commented on #146
To be honest, I don't know why mdk3 isn't used by default instead, I have never used the Wifihpisher's deauthentication method, I always set -nJ and manually jam with mdk3, never had an issue.

[2017-03-08 05:01] alternatexp commented on #147
This problem can also be avoided by using mdk3 instead, as explained here:

https://github.com/wifiphisher/wifiphisher/issues/146

[2017-03-08 09:14] alternatexp commented on #466
Not for me.

I'm pretty sure iPhones send a request to captive.apple.com and expect a file containing 'Success' as a response.

[2017-03-08 09:16] alternatexp commented on #466
Not for me.

I'm pretty sure iPhones send a request to captive.apple.com and expect a file containing 'Success' as a response.

[2017-03-08 09:26] anudeepND commented on #497
What if the AP is DoS protected? Or 802.11w?

[2017-03-08 11:40] jeretc commented on #486
does it not support on Nethunter? i'm getting this error :

[*] Starting Wifiphisher 1.2GIT at 2017-03-08 11:36
Traceback (most recent call last):
  File "bin/wifiphisher", line 12, in <module>
    run()
  File "/root/wifiphisher/wifiphisher/pywifiphisher.py", line 773, in run
    engine = WifiphisherEngine()
  File "/root/wifiphisher/wifiphisher/pywifiphisher.py", line 531, in __init__
    self.n

[2017-03-08 12:30] alternatexp commented on #497
@anudeepND mdk3...

[2017-03-08 13:32] anudeepND commented on #497
What I was saying that deauth dosen't work if the router has DoS protection...

[2017-03-08 13:37] blackHatMonkey commented on #466
The above is from SO. Since it is not able to reach that file and it should automatically label it as captive portal.

[2017-03-08 13:41] blackHatMonkey commented on #372
Since there hasn't been any problems after this bug fix, I'm closing this issue. Feel free to open if needed.

[2017-03-08 13:41] #372 closed

[2017-03-08 13:42] blackHatMonkey commented on #486
@jeretc `Wifiphisher` only supports `Kali` Linux at the moment. That being said `Nethunter` support is planned for future see #341.

[2017-03-08 13:47] blackHatMonkey commented on #146
@alexsalvetti A golden rule in programming is don't add a dependency unless you absolutely have to. Although `aircrack-ng` and `mdk3` are nice tools they would add more complexity to the code. Our goal is to eventually get rid of all the external dependencies and only use python libraries.

[2017-03-08 13:50] alexsalvetti commented on #146
@blackHatMonkey I think you tagged me wrong.

[2017-03-08 13:52] blackHatMonkey commented on #146
@alexsalvetti my applogies :smile:.

[2017-03-08 14:05] cristi28 opened #506 "TypeError: int,int,str,attr"
**Version**:
Wifiphisher 1.2GIT
**Distribution**:

Kali GNU/Linux Rolling,

**Summary**:
its closing when scan for networks

**Script output**:
[code]
Edited by @blackhatmonkey for formating.

[2017-03-08 14:22] blackHatMonkey commented on #498
@hichamox I'm guessing you have to wait till "Creators" update.

[2017-03-08 14:26] blackHatMonkey commented on #463
@alternatexp What you are asking is all good but unfortunately both @sophron and myself are busy and therefore implementing this wouldn't be on top of our list. That being said this should be implemented some time in the future.

[2017-03-08 14:59] blackHatMonkey commented on #506
Hi @cristi28 thanks for opening an issue for this bug. Are you getting this error every time you run `wifiphisher` or does it happen randomly?

[2017-03-08 15:36] cristi28 commented on #506
every time if i not select a target in 5 seconds

[2017-03-08 17:05] lugfug commented on #506
I am having the exact same issue. I run wifiphisher on kali linux (raspberry pi 3, alfa usb wifi card.) It finds a hand full or networks then about 5 seconds later it hangs and the "GUI" disappears. In its place is the following output (happens Every time i run wifiphisher.)

`root@kali:~#
root@kali:~# wifiphisher
[*] Starting Wifiphisher 1.2GIT at 2016-02-11 22:32
[+] Selecting wlan1 interface fo

[2017-03-08 19:00] andeees commented on #497
Can anyone try this by creating an extended network with a repeater and try deauthing?

[2017-03-08 20:05] minanagehsalalma commented on #504
i know i can decode but why not to fix this

[2017-03-08 20:16] minanagehsalalma commented on #495
@alternatexp @sophron no bro it is too  slow without specifying channel...  when you put the airodump  option it will auto scan the aps when there's no clients or when the router not found...  and use the ap channel to deauthenticate again ...  so deauthenticate will be more faster and effective  when you specify the channel ......  (@_@)

[2017-03-08 20:22] minanagehsalalma commented on #494
can you add this Scenario @sophron  i will be so grateful

[2017-03-08 20:32] blackHatMonkey commented on #504
@minanagehsalalma In order to solve this bug can you provide the following:
1. Which scenario are you using?
2. What is output?

[2017-03-08 21:22] alternatexp commented on #504
How is this a bug?

[2017-03-08 21:24] alternatexp commented on #495
Too slow? mdk3 is supposed to be extremely fast, and aircrack isn't.

Your Txpower must be far too low, since you claim to be close to the AP.

[2017-03-08 21:26] alternatexp commented on #497
You're not only sending disassociation packets to the AP, but also deauth packets to the clients, it shouldn't really matter.

[2017-03-08 21:28] alternatexp commented on #463
Ok.

Can anyone answer my question?

[2017-03-09 04:57] alross371 opened #507 "Error scapy-layers-dot11"
I was able to complete the wifiphisher installation. However, when I typed the command "wifiphisher " I got this error "scapy-layers-dot11"
Any help would be appreciated. Thanks .

[2017-03-09 07:03] themakerman commented on #341
@blackHatMonkey atleast put the feature that allows to skip the deauth attack and uses internal WiFi adapter of phone to make fake access point and collect the passwords by running server on our phone.

[2017-03-09 07:05] themakerman commented on #341
@blackHatMonkey deauth attack can be done using esp8266 wifi chip and we can use the phone for creating fake access point running server for router update.

[2017-03-09 08:40] sophron commented on #494
@minanagehsalalma I like the idea but at the moment I'm pretty busy working on a new feature so it may take a while for me. @alexsalvetti or @Splinter0 or @alternatexp may be interested in implementing this if they have any free time available.

[2017-03-09 09:20] minanagehsalalma commented on #494
ok

[2017-03-09 09:34] minanagehsalalma commented on #495
bro it  is slow without specifying channel...  but  when i specific it it becomes faster...  because it found  the ap...  and send some deauthenticate packets and continue hopping until find it again....  so  i want it to hop the channels when the ap is not found ...  so the airodump option will be faster because it will specific the ap new channel when the ap is not found .......

[2017-03-09 09:36] minanagehsalalma commented on #504
so @alternatexp  it's not a problem!!!!

[2017-03-09 09:40] minanagehsalalma commented on #504
@blackHatMonkey  i use the firmware-upgrade scenario...  the output is as i told you  in the first  ...

[2017-03-09 09:59] alternatexp commented on #504
It isn't a problem if you can take 2 seconds to decode it..

No need for a screenshot, really, @minanagehsalalma means that characters like

`@!?`

are displayed like:

`%40!%3F`

Probably a good thing!

[2017-03-09 10:03] alternatexp commented on #495
`bro it is slow without specifying channel... but when i specific it it becomes faster...`

`so the airodump option will be faster because it will specific the ap new channel when the ap is not found .......`

False, this would require the interface to scan (skip deauthing), then once it finds the APs channel it has to reconfigure your interface's channel, then start the deauth again.

Like I said

[2017-03-09 10:03] minanagehsalalma commented on #504
@alternatexp yes

[2017-03-09 10:05] alternatexp commented on #494
I can make one, what do you want it to look like?

[2017-03-09 10:08] alternatexp commented on #463
Also, @blackHatMonkey, I basically laid it all out in front of you, the only part that doesn't work is

`self.render(self.request.path, **template.get_context())`

I'd say someone with adequate python knowledge can answer this within 10 seconds.

[2017-03-09 10:10] minanagehsalalma commented on #494
as you like..  but put a photo for wps button Dependence on the router
manufacturer

On Mar 9, 2017 12:05 PM, "alternatexp" <notifications@github.com> wrote:

[2017-03-09 10:17] minanagehsalalma commented on #494
@kn0wledge ...  no wps button  will be better  ...  and your idea is good

[2017-03-09 10:22] sophron commented on #494
@alternatexp You can probably copy the "firmware-upgrade" scenario and change its contents. See how legit Access Point pages ask the user to push the WPS button and put something similar.

[2017-03-09 10:45] minanagehsalalma commented on #495
bro it s slow because it hops the channels  ..  as i said it send some deauthenticate packets and continue hopping until find it again...  hopping take time and it  take some seconds to deauthenticate the clients...  so they will have a chance to reconnect and not all the clients will be deauthenticated...  while  it must make them disconnected and don't give them  the chance for reconnecting to u

[2017-03-09 13:06] minanagehsalalma opened #508 "Include dependencies for installation without internet"
because of using live Linux

[2017-03-09 13:16] minanagehsalalma commented on #504
will  it be hard if you added a decoder to decode the password if it is was encoded ?? it's not an important thing like what you said

[2017-03-09 13:38] blackHatMonkey commented on #507
@alross371 Did you solve this problem?

[2017-03-09 14:06] blackHatMonkey commented on #341
@themakerman You can use the `-nJ` to skip deauthentication. I'm not really familiar with android so I need to do more research on this.

[2017-03-09 14:17] blackHatMonkey commented on #508
@minanagehsalalma  Can you explain in more detail?

[2017-03-09 16:49] vay3t commented on #341
I honestly have not read this thread much. In what I could contribute would be this idea. Use as the access point the same wifo of the phone and make deauth with the antenna tplink

[2017-03-09 16:54] vay3t commented on #508
Sometimes one does not have internet available. It could be possible to create a paqiete where all the dependencies of python to be able to have wifiphisher always with one

[2017-03-09 16:57] vay3t commented on #463
u can add ur contribution with pull requests

[2017-03-09 17:28] kn0wledge opened #509 "Enhancement for 1.3: Auto-connect to rogue AP"
Hi @sophron , As a new feature that would really enhance the functionality of wifiphishing, is auto-connecting to rogue AP. Not sure what needs to be done to achieve that however I know it is possible (Karma).

This will significantly increase the success rate of wifiphisher.

[2017-03-09 17:30] blackHatMonkey commented on #509
Hi @kn0wledge We have #76 for that. Please continue the discussion over there.

[2017-03-09 17:30] #509 closed

[2017-03-09 17:37] kn0wledge commented on #76
@sophron @blackHatMonkey  is that up for version 1.3?  Karma is so much more effective and logical, its a wifiphisher, hence they should not be manually selecting their own network which they know has wpa whereas the rogue one will not. Karma makes it though as if they just disconnected and are auto reconnecting ... i feel this is a must have . what are your thoughts

[2017-03-09 17:39] blackHatMonkey commented on #76
@kn0wledge unfortunately `v1.3` is set for release for April 13, 2017 and karma is not included in it. It would be in the next version.

[2017-03-09 17:42] kn0wledge opened #510 "Enhancement: Jamm ESSID instead of BSSID 0r Multiple BSSIDs"
This would be in case you are trying to use wifiphisher in an environment with multiple wifi locations with the same ESSID. Now, when you jam one BSSID the devices would auto-hop to the next nearest AP. If you jam the ESSID then all of the APs would get jammed increasing success likelihood.

Another option is being able to select to jam more than 1 BSSID.

Another must have feature to improve the

[2017-03-09 17:44] kn0wledge commented on #76
so unfortunate though... such a crucial feature.. with all the testing i made, success rates are low because when they have to manually connect: A - the realize something is wrong because they are not on wifi, and B - they realize their ssid does not have wpa ..... and then the scenario pops out... so not too subtle

[2017-03-09 17:47] blackHatMonkey commented on #76
@kn0wledge Again I'm not sure how devices now days handle KARMA. I don't think it is as strong as it used be when it was first introduced. @sophron might have more information about this.

[2017-03-09 17:57] kn0wledge commented on #76
i currently pentest with the wifi pineapple that implements karma attack, works pretty well so far. but @sophron would have a better idea.

[2017-03-09 18:13] minanagehsalalma commented on #508
@blackHatMonkey  as @vay3t  said..

[2017-03-09 19:45] minanagehsalalma commented on #510
@kn0wledge good idea

[2017-03-10 12:37] minanagehsalalma commented on #508
@blackHatMonkey  could you do it  ???  it will be so helpful ....

[2017-03-10 12:55] minanagehsalalma commented on #510
@kn0wledge would karma attack work on wpa 2 now days

[2017-03-10 17:50] minanagehsalalma commented on #495
@sophron   the mdk3  worked well now..  i don't the  problem...  but i want wifiphisher to deauthenticate clients  like linset  but add the the airodump option...  so it will use one wifi adapter and will work well ... @alternatexp  i am sorry cause i didn't believe you in the first

[2017-03-10 19:43] cicina commented on #506
I can confirm this. It is happening to me too. Not sure about those 5 seconds.. haven't noticed why and when it is happening - I simply re-run script and it usually works

[2017-03-11 01:19] xdarknet commented on #341
hello everyone. how about now on net hunter? im still get same error

[2017-03-11 05:28] alternatexp commented on #510
Again, this can be achieved with `mdk3` by using a blacklist.

I can't see how this is useful when you're using the same ESSID as the target AP, you'd be deauthing everyone on your fake AP as well.

[2017-03-11 05:29] alternatexp commented on #510
@minanagehsalalma karma attacks are far better, require the same channel and BSSID (and I think encryption type), however, I have done successful karma attacks using wifiphisher as some devices don't seem to check the encryption type. Karma attacks require a very strong signal.

[2017-03-11 05:33] alternatexp commented on #510
I suggest ditching the Wifiphisher jamming feature and just using mdk3, you can already do whatever you want.

[2017-03-11 05:40] alternatexp commented on #508
Sounds fair. A reason not to do it is outdated copies of the software floating around, but I can see how this could help.

[2017-03-11 05:52] alternatexp commented on #495
mdk3 hops channels faster than you can keep track of...

Barely. Stopping the deauth, scanning the air for a new channel(s), reconfiguring the interface's channel, and restarting the deauthenticating takes a lot longer.

mdk3 supports multiple BSSIDs to get deauthenticated at once too.

mdk3 won't give them a chance to reconnect, that is, again:

### IF YOU'RE IN RANGE/YOUR WIRELESS CARD IS STRONG

[2017-03-11 05:54] alternatexp commented on #494
I don't think this is worth developing unless Wifiphisher is capable of detecting when the button has been pushed

[2017-03-11 05:58] alternatexp opened #511 "Provide internet access through wireless interface"
Right now we're only able to use ethernet adapters, Wifiphisher would be one **BEAST** of a tool if it allowed internet access through a wireless interface (should (just) be a matter of iptables routing).

Phishing on the go, wherever you are!!

[2017-03-11 06:11] alternatexp commented on #504
@minanagehsalalma however, what if the WPA key actually is %20?

This could be confusing if think it's a space.. Might be a bug after all!

[2017-03-11 10:55] minanagehsalalma commented on #504
@alternatexp  yeah cause  when will i know if the password is encoded or not... !

[2017-03-11 11:00] kn0wledge commented on #510
@alternatexp for some reason, when I use mdk3 I'm not able to jam any device. I use the blacklist command (kali) but nothing happens . Any specific syntax for the txt file containing the bssids?

[2017-03-11 11:04] minanagehsalalma commented on #494
@alternatexp  your idea is too good ..  but not why to monitor wps states and let it  try to connect with the  wps button in the background...  cause the first thing that the client will  do is Click here once you've pressed the WPS button...  without pressing  the button...  so you can make check  if the button has been pressed or not...  if not send him a page that  says please press the wps but

[2017-03-11 11:11] minanagehsalalma commented on #510
@alternatexp i must  the wpa key to do a karma attack

[2017-03-11 11:14] minanagehsalalma commented on #508
@blackHatMonkey @alternatexp you can put the new dependencies every  3 months  or years

[2017-03-11 11:19] minanagehsalalma commented on #495
@alternatexp how long it takes to  (scanning the air for a new channel(s), reconfiguring the interface's channel, and restarting the deauthenticating)....  and it will not be a problem  the ap channel will not be changed  every  five seconds ...???

[2017-03-11 12:15] kn0wledge commented on #510
Good point about jamming your own if we use ESSID option , so I'm guessing mdk3 with white or blacklist is the only option for now . So since it exists, then my suggestion is to integrate it in the wifiphisher features (same as fluxion does to a certain extent).

[2017-03-11 15:31] alternatexp commented on #510
@kn0wledge yes, I've requested the mdk3 feature to be part of Wifiphisher before, but using the -nJ option combined with mdk3 is not that big of a hassle.

Make sure you put your interface in monitor mode manually before you deauth:
(the following command also spoofs your MAC address)

`airmon-ng start wlan2 && ifconfig wlan2mon down && macchanger -r wlan2mon && ifconfig wlan2mon up && echo "Inter

[2017-03-11 15:32] alternatexp commented on #510
@minanagehsalalma said:

I'm not too sure to be honest, but definitely need the same BSSID, ESSID and channel (and probably encryption type, thats why I also think the same WPA key)

[2017-03-11 15:33] alternatexp commented on #495
@minanagehsalalma no, but if there are multiple access points, then yes

mdk3 will always be faster than aircrack

[2017-03-11 15:34] minanagehsalalma commented on #510
@alternatexp ok...  what do you think  @kn0wledge  ???

[2017-03-11 15:35] alternatexp commented on #494
@minanagehsalalma I agree, but I'm not that advanced with networking, @sophron and @blackHatMonkey can help you better with this

[2017-03-11 15:36] alternatexp commented on #504
@minanagehsalalma Trial and error for now ;)

[2017-03-11 15:37] minanagehsalalma commented on #495
@alternatexp as i said  the aps are near from me...

[2017-03-11 15:39] kn0wledge commented on #510
@minanagehsalalma I'm not sure either .. haven't tried it in a while .. the connections I get using Karma are usually those without a wpa key

[2017-03-11 15:39] alternatexp commented on #495
@minanagehsalalma then I'm sure you have no issues deauthing

[2017-03-11 15:40] minanagehsalalma commented on #494
@alternatexp ok.....  @sophron  @blackHatMonkey  can you help me with this ??

[2017-03-11 15:41] alternatexp commented on #510
Yeah, WPA is different

[2017-03-11 15:43] minanagehsalalma commented on #504
ok @alternatexp ...  but when you fix this please let me now....  i think fluxion script will be help

[2017-03-11 15:43] minanagehsalalma commented on #504
ok @alternatexp ...  but when you fix this please let me now....  i think fluxion script will be help

[2017-03-11 15:43] minanagehsalalma commented on #504
ok @alternatexp ...  but when you fix this please let me now....  i think fluxion script will be help

[2017-03-11 15:46] minanagehsalalma commented on #495
@alternatexp yeah.. but  rethink about the airodump option  ......

[2017-03-11 15:49] alternatexp commented on #504
@minanagehsalalma yeah I remember fluxion! Thanks for reminding me of that tool :)

[2017-03-11 15:49] minanagehsalalma commented on #510
@kn0wledge @alternatexp so karma attack will not be helpful in wifiphisher !!!!!

[2017-03-11 15:51] minanagehsalalma commented on #504
@alternatexp you're welcome 😀😀😀

[2017-03-11 15:52] alternatexp commented on #463
@vay3t I will do this **for sure**, still fiddling with it

[2017-03-11 15:57] alternatexp commented on #510
It could be a cool addition for WEP protected APs

[2017-03-11 15:57] alternatexp commented on #495
@minanagehsalalma mdk3 already does exactly what you are asking for...

[2017-03-11 16:00] alternatexp commented on #508
@minanagehsalalma if you can download wifiphisher, you can take the extra minute to install it and the dependencies

[2017-03-11 16:05] minanagehsalalma commented on #508
@alternatexp i have the wifiphisher.zip stored on laptop..  so i won't download every time i open...  cause Sometimes i don't  have internet available.

[2017-03-11 16:07] minanagehsalalma commented on #510
@alternatexp wep don't need five minutes to hack...  cause it to weak security...  youcan hack with aircrack in just 2 minutes

[2017-03-11 16:09] minanagehsalalma commented on #495
@alternatexp i am taking about (scanning the air for a new channel(s), reconfiguring the interface's channel, and restarting the deauthenticating)..

[2017-03-11 20:03] d0geda opened #512 "Failed to start the fake access point! (hostapd error)"
**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: Kali

Hello, I have the lastest Kali and I am still getting "Failed to start the fake access point! (hostapd error)"
I've tried to turn the wlan0 to monitoring mode -> wlan0mon and it didn't work either.

[2017-03-11 21:18] mbingl opened #513 "Unable to get the latest version"
I'm using the latest Wifiphisher on Kali Linux 2016-2 VBox AMD 64.  With a rtl8187  for monitoring and ath9k_htc for AP.

I can see a lot of activity on both the existing and the newly created AP in Airodump-ng. But there is no Jamming devices, nor DHCP Leases, no HTTP requests. Nothing happens. And it is impossible to connect to the new AP from a different computer.

I see others have described t

[2017-03-11 22:39] Vannonymous commented on #506
Same problem, not even 5 seconds. Please help.

[2017-03-11 23:38] alternatexp commented on #513
Remember to not use one interface for airodump-ng and wifiphisher at the same time, if that's what you were doing.

[2017-03-11 23:39] alternatexp commented on #512
Have you installed wifiphisher and all its dependencies?

[2017-03-11 23:40] alternatexp commented on #495
I have told you so many times that mdk3 already does this.. It constantly scans the air and watches for channel hops, client -> AP & AP -> communication, it's a gem of a tool...

[2017-03-11 23:45] alternatexp commented on #510
Karma attacks are great for 3G and 4G networks

[2017-03-11 23:46] alternatexp commented on #508
Right. I already shared my opinion on this.

[2017-03-12 00:17] minanagehsalalma commented on #495
i didn't  suggest using aircrack to deauth ..  i suggest using airodump-ng to get the router new to deauthenticate with it.....  @alternatexp

[2017-03-12 01:08] mbingl commented on #513
Good suggestion, but no.

[2017-03-12 06:29] minanagehsalalma commented on #508
@blackHatMonkey @sophron  what is your opinions  too     ????

[2017-03-12 06:38] minanagehsalalma commented on #513
@mbingl  make   sure  that you installed it with this   git clone https://github.com/wifiphisher/wifiphisher.git

2- cd wifiphisher
3-  sudo python setup.py install
4- wifiphisher

(internet connection required for the installation )

[2017-03-12 06:39] mbingl commented on #513
Yup I did....

-----Original Message-----
From: "minanagehsalalma" <notifications@github.com>
Sent: ‎3/‎11/‎2017 10:38 PM
To: "wifiphisher/wifiphisher" <wifiphisher@noreply.github.com>
Cc: "mbingl" <martinbinglund@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [wifiphisher/wifiphisher] No jamming devices, no dhcp devices, nohttp requests... (#513)

@mbingl make sure that you insta

[2017-03-12 06:43] minanagehsalalma commented on #513
@mbingl  try any other Linux distro  like wifislax ....  worked perfect with me

[2017-03-12 07:02] mbingl commented on #513
Will do! Thanks for your input!

On Sat, Mar 11, 2017 at 10:43 PM, minanagehsalalma <notifications@github.com

[2017-03-12 07:03] minanagehsalalma commented on #513
@mbingl you are welcome

[2017-03-12 07:06] minanagehsalalma commented on #472
me too

[2017-03-12 10:24] alternatexp commented on #495
@minanagehsalalma airodump-ng is part of the aircrack suite...

I don't want to discuss this any further, mdk3 is the better option for what you ask for.

[2017-03-12 10:37] minanagehsalalma commented on #495
i know that airodump is part of aircrack suit..  i typed this cause aireplay-ng deauth too...   but sometimes i don't have two wireless adapters ?

[2017-03-12 13:53] blackHatMonkey commented on #508
@minanagehsalalma I personally think that doing this would create extra and unnecessary work as well as leave outdated software.  Installing with `pip` would be the most elegant as it would keep track of the version and get new version with a single command.

[2017-03-12 13:57] blackHatMonkey commented on #513
Hi @mbingl It seems that based on the output you provided you are using a older version of `wifiphisher`. Please update the latest version and let me know if you have any issues.

[2017-03-12 14:03] blackHatMonkey commented on #512
Hi @d0geda Can you provide us with the exact output?

[2017-03-12 14:10] blackHatMonkey commented on #494
@minanagehsalalma I'm not even sure what you are asking is possible. The best approach in my opinon is to have a button that asks the user to press it once they have pressed `WPS` button. Then you can send a post that indicates that and once you see the message you can use your own device(phone, computer) to connect to it via `WPS`.

[2017-03-12 16:32] d0geda commented on #512
Well the output is:

[+] Selecting Firmware Upgrade Page Template...
[*] Starting the fake access point...
[+] Failed to start the fake access point! (hostapd error)
[+] Try different wireless interface using -aI option.
[+] Capturing credentials
[!] Closing

[2017-03-12 17:02] blackHatMonkey commented on #506
@cristi28 @lugfug  @cicina @Vannonymous I pushed a new branch called [issue-#506](https://github.com/wifiphisher/wifiphisher/tree/issue-%23506). Please run(**don't install**) this version. It will create a log file called `ap.log`. After the error occurs just post the result of `ap.log` here please.

[2017-03-12 19:48] minanagehsalalma commented on #494
@blackHatMonkey  it may work ...  but they will press that button without pressing the wps button !!! but it's good idea

[2017-03-12 20:04] minanagehsalalma commented on #508
@blackHatMonkey ok i understood  your idea...  and  i will close this issue cause it's useless now...

[2017-03-12 20:04] #508 closed

[2017-03-12 20:57] mbingl commented on #513
Hi @blackHatMonkey ! I think you are on to something! Turns out I am on 1.1 which I cloned just a few days ago from https://github.com/wifiphisher/wifiphisher.git . I uninstalled & deleted it and cloned it again, then ran all the apt-get updates and upgrades....  but I still get 1.1 when I clone - and it tells me it is the latest revision....

However I see there is actually a 1.2 revision, which

[2017-03-12 21:09] blackHatMonkey commented on #513
@mbingl the simplest way to install is via `pip`:
[code]
or if you clone from `github` just run the following in `wifiphisher` directory:
[code]

[2017-03-12 21:11] mbingl commented on #513
Thanks! But why is it that cloning from Github only gives me 1.1?

[2017-03-12 21:13] blackHatMonkey commented on #513
What command are you using to start `wifiphisher`?

[2017-03-12 21:25] mbingl commented on #513
cd wifiphisher
sudo python setup.py install
(install looks successful, ends with `Finished processing dependencies for wifiphisher==1.2
`

wifiphisher

wifiphisher -aI wlan0 -jI wlan1mon -p firmware-upgrade
[*] Starting Wifiphisher 1.2GIT at 2017-03-12 14:17

So it looks like 1,2 installs fine, but 1,1 is the version that the command `wifiphisher` brings up, regardless.

[2017-03-12 21:57] blackHatMonkey commented on #513
I'm not really sure why it does that. Another way to start `wifiphisher` is to go to `wifiphisher` directory and run
[code]

[2017-03-12 22:01] mbingl commented on #513
@blackHatMonkey   SUCCESS!!!!

I tried `sudo python bin/wifiphisher` and....   Now it started 1.2 like clockwork!!!! :)

Many thanks!!!

[2017-03-12 22:02] #513 closed

[2017-03-12 22:10] blackHatMonkey commented on #512
@d0geda Can you do me a favor and save this as `hostapd.conf`(make sure to change the **interface**):
[code]
 And then run this from the same directory:
[code]
Let me know if you get any errors or not.

[2017-03-12 22:25] d0geda commented on #512
It says

`Configuration file ´: hotsapd.conf
Line 2: invalid/unknown driver 'n180211'
1 errors found in configuration file 'hostapd.conf'
Failed to set up interface with hostapd.conf
Failed to initialize interface`

[2017-03-12 22:41] blackHatMonkey commented on #512
It seems that the problem lies with your system rather than `wifiphisher`. The answer provided [here](http://askubuntu.com/questions/288437/how-fix-hostapd-invalid-unknown-driver-nl80211-error/289723) might help you.

[2017-03-13 04:30] laozi999 commented on #495
@minanagehsalalma

You can't:

1. Host a fake AP using Wifiphisher
2. Change channels to see if there is an AP on the same channel
3. Send deauth/disassocation packets to the specified AP(s)

...at the same time.
our

[2017-03-13 09:13] cristi28 commented on #506
`2017-03-13 10:06:42,570 - wifiphisher.pywifiphisher - item:2 display_text:Orange-D8F5                    d0:7a:b5:c1:d8:fc 2    0%    0    Huawei Technologies  normal:0
2017-03-13 10:06:42,587 - wifiphisher.pywifiphisher - item:2 display_text:Orange-D8F5                    d0:7a:b5:c1:d8:fc 2    0%    0    Huawei Technologies  normal:0
2017-03-13 10:06:42,588 - wifiphisher.pywifiphisher - item:2

[2017-03-13 17:29] minanagehsalalma commented on #495
@laozi999  i used mdk3 mon0 d  -b /root/mina.txt  -c
without specifying  the channel ....   but sometimes it work  and sometimes it doesn't ......  so i though mdk3 with airodump option to specific the new channel  will fix it  .  ...  like fluxion .....   fluxion doesn't use the airodump to specific the ap new channel...

[2017-03-14 08:34] dileepsankhla opened #514 "Unable to connect to the rouge AP"
I am using Ubuntu 16.04 64-bit system and have cloned the latest github repository. I have an inbuilt Qualcomm/Atheros wirless adapter with the ath9k driver installed (supports AP mode). Its interface is **wlp2s0**. I have another external USB wifi adapter from MediaTek 802.11 n having mt7601u driver installed (doesn't support AP mode. Only monitor and managed mode). Its interface is **wlx20e41600

[2017-03-14 08:55] sophron commented on #270
I'm closing this. For providing Internet from a wireless interface see #511.

[2017-03-14 08:55] #270 closed

[2017-03-14 09:03] sophron commented on #511
This is the continue of #270.

The solution is not trivial. We need to have a managed wireless interface (that is connected on the Internet) and another one to pass to `hostapd` (which will turn it to `AP` mode). The thing is that `NetworkManager` will interfere with these interfaces if we leave him alive, but we can't kill him either if we want to provide Internet access from a WLAN.  There are a

[2017-03-14 09:56] sophron commented on #494
There is no reason for a second button on the page.

The scenario will ask the user to push the WPS button on the router. On our side, we will start pushing the client button continuously (see `wps_pbc` from `wpa_cli`). As soon as the victim pushes the button on the router, we should automatically connect to the victim's network.

[2017-03-14 10:02] sophron commented on #76
KARMA is indeed not working in many devices as it used to. Automatic-association is definitely an important part of the attack process though.

Maybe we can implement KARMA in one of the future releases but for v1.3, we are planning to introduce <a href="http://conference.hitb.org/hitbsecconf2017ams/sessions/commsec-lure10-exploiting-windows-automatic-wireless-association-algorithm/">Lure10</a>.

[2017-03-14 14:54] dileepsankhla commented on #514
Whereas when I have my external USB wifi adapter detached, I use the following commands -
1) sudo ifconfig wlp2s0 down
2) sudo airmon-ng check kill
3) sudo python2 wifiphisher/bin/wifiphisher --nojamming -aI wlp2s0 --essid "Open Wifi" -p oauth-login

It successfully creates a fake AP named "Open Wifi" and whenever I connect to it from any of my phone, it launches the fake facebook login portal.
He

[2017-03-14 18:52] minanagehsalalma commented on #494
@sophron this attack will not need more than two wifi  adapters ??? and will the script start pushing the client button continuously or i must start it  manually  ???

[2017-03-14 19:05] prolamerdude commented on #506
I, too, have this problem. Using on kali 2016.2
What can I do to try and solve this error ?

[2017-03-14 19:09] kn0wledge commented on #510
@blackHatMonkey I guess you can close the topic if MDK3 is the way to go . Thx

[2017-03-14 19:10] kn0wledge commented on #483
@blackhatmonkey did you by any chance find out the cause of this error , keeps happening to me along with error 113

[2017-03-14 19:36] blackHatMonkey commented on #510
@kn0wledge I'm not really sure about. @sophron might have a different opinion about it.

[2017-03-14 19:38] sophron commented on #510
We need to rely on our own code for deauth attacks. Channel hopping is a feature that we want to have.

[2017-03-14 19:43] minanagehsalalma commented on #510
@sophron i agree with you.

[2017-03-14 19:46] blackHatMonkey commented on #483
@kn0wledge I'm working on it however having a hard time replicating the `Errorno 100`. Can you check after you receive the error is the jamming interface is blocked in `rfkill`. You can do so by running the following command:
[code]

[2017-03-14 19:51] blackHatMonkey commented on #506
@cristi28 Did you get a different error on the last run which you posted the logs for or was it the same?

[2017-03-14 19:53] blackHatMonkey commented on #506
@sophron this error might be related to #496.

[2017-03-15 02:32] alternatexp commented on #510
I completely disagree

@sophron said:

What do you mean? That there is no room for mdk3 (which already comes preinstalled on all Kali distributions)?

Are you trying to say that wifiphisher doesn't **rely** on dnsmasq, PyRIC, tornado, blessings?

As I have pointed out with various issues (if not all deauth related issues), that mdk3 **is** the better option for various reasons (channel hopping, mu

[2017-03-15 02:36] alternatexp commented on #495
@minanagehsalalma
Don't use `-c` option if you're not going to specify any channels..... Read the manual.

[2017-03-15 02:58] alternatexp commented on #494
@minanagehsalalma yeah, I also wonder whether one interface can host the rogue AP and scan the WPS state at the same time..

[2017-03-15 08:29] sophron commented on #510
PyRIC, tornado, blessings are all Python libraries, not external tools.

Deauthentication is an important part for associating the victim with the rogue Access Point. We need to have our own code that we can easily extend and customize accordingly.

Of'course anyone is free to use the `--nojamming` option and use mdk3 instead.

[2017-03-15 08:33] sophron commented on #494
We can probably push the WPS button ourselves. This may need a third adapter or create a virtual interface on managed mode out of a physical one (if your card supports that combination).

[2017-03-15 09:58] minanagehsalalma commented on #495
i knew..  but -c  without typing any chanel after it....  Enables channel hopping

[2017-03-15 10:02] minanagehsalalma commented on #494
@sophron  ok...  when will provide it

[2017-03-15 10:21] dileepsankhla commented on #514
@sophron

[2017-03-15 13:40] cristi28 commented on #506
python wifiphisher -aI wlan2 -jI wlan6 -p firmware-upgrade                             13:39:27
[*] Starting Wifiphisher 1.2GIT at 2017-03-15 13:39
[+] Selecting wlan6 interface for the deauthentication attack
[+] Selecting wlan2 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
Traceback (most recent call last):
  File "wifiphisher", line 12, in <modu

[2017-03-15 14:31] blackHatMonkey commented on #514
Hi @dileepsankhla thanks for reporting this issue. It seems, from what you are describing, is a `dnsmasq` problem. I will look in to it and let you know.

[2017-03-15 14:56] blackHatMonkey commented on #498
@hichamox Since this bug is not related to `wifiphisher` I'm closing this. Feel free to open if necessary.

[2017-03-15 14:56] #498 closed

[2017-03-15 15:02] blackHatMonkey commented on #468
@cooldang Can you try with the latest version and see if the problem is still present?

[2017-03-15 15:11] blackHatMonkey commented on #496
@cooldang @raytafarhan I pushed some changes [here](https://github.com/wifiphisher/wifiphisher/tree/issue-%23496). If you could try them and let me know if it fixes the issue or not.

[2017-03-15 17:32] kn0wledge commented on #483
@blackHatMonkey will run it for a while and wait for the error and report it to you

[2017-03-15 17:59] Splinter0 commented on #494
@sophron how can we exactly push the button "by ourselves"? Anyway @alternatexp have you already started making the template?

[2017-03-15 22:15] selli69 commented on #511
Hmmm.... I have no network-manager (not installed either) running on my system and wiphisher runs like a charm (if cabled). In my opinion nm is a pain in the ass regarding wifi configuration. I dont know why anyone would have this crap running, when dealing with stuff like wiphisher. My remote raspberry connects automatically at startup via wifi to my AP due to configuration in /etc/network/interf

[2017-03-15 23:36] alternatexp commented on #511
@selli69 I fully agree with you. I find it unbelievable that all Kali distributions come with NetworkManager preinstalled. It is an absolute pain and will only cause you trouble.

[2017-03-15 23:40] alternatexp commented on #495
You're better off specifying the channel(s) for a higher success rate

[2017-03-15 23:43] alternatexp commented on #510
@sophron fair enough, but mdk3 comes preinstalled on all distributions, even the Lite versions.

I will be using mdk3 for now, until the same features are present in Wifiphisher

[2017-03-16 08:47] Splinter0 commented on #494
@sophron Ok i'll work on it when i have some free time

[2017-03-16 08:50] sophron commented on #494
Cool!

[2017-03-16 12:14] brianmituka commented on #507
I'm having the same issue, but I cant find when it was closed..

[2017-03-16 12:17] brianmituka commented on #507
`Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 560, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources

[2017-03-16 13:37] blackHatMonkey commented on #507
@brianmituka You must install `scapy` module. You can install `scapy` using `pip` like so:
[code]
or using `apt`
[code]
Let me know if you need more help.

[2017-03-16 15:34] kn0wledge commented on #483
@blackHatMonkey all interfaces listed have "no" . so no rfkill

[2017-03-16 16:03] blackHatMonkey commented on #483
@kn0wledge Thanks :smile:.

[2017-03-16 16:48] Splinter0 commented on #483
I'm running Ubuntu 16.04 LTS and i got the same error @blackHatMonkey and i tried many things and i'm quite sure that the problem is that ubuntu has problems with various types of wireless cards ( mine is a TL-WN722N ) when they're in monitor mode in general. Which distro are u running @kn0wledge ? it might be the same for u

[2017-03-16 17:23] Splinter0 commented on #468
@blackHatMonkey same as #483

[2017-03-16 17:26] blackHatMonkey commented on #468
@Splinter0 Thanks. I was looking at [this](https://github.com/wifiphisher/wifiphisher/issues/468#issuecomment-282487321) comment but you are correct.

[2017-03-16 17:27] blackHatMonkey commented on #468
@cooldang I'm closing this thread because there are more information in #483. Please continue the discussion over there.

[2017-03-16 17:27] #468 closed

[2017-03-16 17:48] Splinter0 commented on #469
@cicina i know it isn't actually the same but how about a Swish transaction scenario

[2017-03-16 18:42] Splinter0 opened #519 "Ransom scenario"
A really interesting idea popped in my mind,
since we take down the victim AP with  deauth packets the attack turns obviously into a Denial of Service so what if we do a scenario where the victim has to pay certain money to get his AP back running?
I know it's really really unethical but it would be cool ( of course we won't fool a lot of victim but still ).

@blackHatMonkey

[2017-03-16 18:50] #519 closed

[2017-03-16 18:55] sophron commented on #519
I can't imagine how this would work during a penetration testing or under a security-awareness training.

In this community we don't like unethical and we don't advocate illegal activity.

[2017-03-16 19:23] Splinter0 commented on #519
@sophron you're right sorry i shouldn't have proposed this. It won't happen again

[2017-03-16 22:20] odinn47 commented on #506
I noticed the same problem. It only happens during the initial network scanning phase. I am pretty sure this has to do with the dynamic curses content and how it interacts with the display/terminal windows and/or the user input device. I was able to reproduce the issue and resolve the issue in different ways on my raspberry pi which uses a small 7inch display (600x480) running Kali.

When it does

[2017-03-16 23:15] laozi999 commented on #469
Before anyone should waste their time on adapting any type of scenario to fit in with Wifiphisher, I strongly believe Wifiphisher should be more scenario friendly, as in, it should behave like a `public_html` folder (without the strict redirection rules)

[2017-03-16 23:19] laozi999 commented on #463
Any luck on this @alternatexp ?

[2017-03-17 08:39] Splinter0 commented on #463
@alternatexp I think you should focus on something that clones that original captive portal, then save it and modify all the present forms with the javascript we need for the post request

[2017-03-17 10:16] minanagehsalalma commented on #495
@alternatexp ok I'd check this..

[2017-03-17 10:20] minanagehsalalma commented on #494
@sophron I'm glad to read this (
This is also a template that I would like to have in the main repo (and not in extra-phishing-pages). @Splinter0  thanks

[2017-03-17 12:37] bimbali opened #520 "add an --output option"
Should be good if an --output options can be added
In order to save password in a txt file

[2017-03-17 12:38] bimbali opened #521 ""@" is not showed"
"@" simbol is not showed, instead seem to be "%4"
es.
bimbali@hotmail.com is: bimbali%4hotmail.com

[2017-03-17 13:29] blackHatMonkey commented on #520
We have #427 for that. The goal is to have the passwords logged by default. Please continue the discussion over there.

[2017-03-17 13:29] #520 closed

[2017-03-17 13:29] blackHatMonkey commented on #521
We have #504 for that. Please continue the discussion there.

[2017-03-17 13:29] #521 closed

[2017-03-17 15:14] minanagehsalalma commented on #495
@alternatexp it doesn't make much differences...  i used mdk3 mon0 d   b /root/mina.txt   -c 1,2,3,4,5,6,7,8,9,10,11,12,13,14

[2017-03-17 18:03] Splinter0 commented on #494
Hi guys i'm doing some research on the WPA push button scenario, and i found a way to connect to the AP via terminal when button is pushed, check this <a href="https://gist.github.com/Splinter0/eceed2a7d8d0e4d3cfac9fc2d888093c" target="_blank">https://gist.github.com/Splinter0/eceed2a7d8d0e4d3cfac9fc2d888093c</a>
I'm working on an automated way, the problem is that it changes from AP to AP and als

[2017-03-17 19:57] minanagehsalalma commented on #494
@Splinter0 you can check  jumpstart for wireless for  Windows it will help you understanding the wps..

[2017-03-17 20:19] Splinter0 commented on #494
@minanagehsalalma I will thanks :+1:

[2017-03-17 23:42] laozi999 commented on #463
I went ahead and integrated @alternatexp's idea:

The following code allows victims to navigate to other files within the scenario folder:
(ultimately making it easier to add new scenarios)

`import os.path`

...

[code]

I think this needs to be reviewed, so I won't submit a PR before it has. @sophron @blackHatMonkey

I feel like:

1. ...the user should only be able to navigate to HTML/HTM files.

[2017-03-18 00:22] laozi999 commented on #495
@minanagehsalalma you aren't very clear with explaining your issue, what is actually going wrong? I have never had issues with mdk3 before

[2017-03-18 07:11] kn0wledge commented on #483
@Splinter0 i am using kali distribution and my wireless adapters are both atheros one rl8781 and the other is ralink . frustrating though .. i never manage to get any output because of that error.

[2017-03-18 07:23] malashhab opened #522 "Device unable to connect to the fake ap"
hi fellows i'm using raspbian os and I installed wifiphisher on it but whenever I wanna open wifiphisher it show me the aps in the area and when I choose one the deauthenticate works perfectly but the fake aps the program makes doesn't connect I tried with my iPhone 7 to connect to it and it doesn't connect and I even tried with my galaxy s7 edge but it's the same issue even tho it worked only 1 t

[2017-03-18 08:54] Splinter0 commented on #483
Ok, i went deeper into my problem and i discovered that it's a driver problem, Kali Linux has a lot of wireless cards drivers pre-installed ( in fact with mine it works without installing anything ), nevertheless is more likely that Kali might not have all drivers for your card.
I'll search up which cards are supported by default and which not.
And another thing, try to force wifiphisher to use an

[2017-03-18 09:25] minanagehsalalma commented on #495
@laozi999 it take time to start deauthenticating  the clients...  and sometimes  it start deauthenticating but the clients aren't disconnected..

[2017-03-18 09:48] laozi999 opened #524 "Suggestion: Generate a page with "Success" for all requests sent to captive.apple.com to trigger the iOS captive portal pop-up"
I might be able to do this later tonight.

I'm not sure if it requires any special headers, but I know a public network with a captive portal to test this on.

[2017-03-18 09:49] laozi999 commented on #524
Would be nice to include a custom command in case you don't want this to occur on iOS & OSX, Android or Windows.

[2017-03-18 09:50] Splinter0 commented on #522
I have i Raspberry pi model 3 B, and it works just fine using a TL-WN722N as second wireless card.
I takes quite a lot of time to start the AP for the Raspberry pi ( not a lot considering that is a RPi ) but after max 2 min everything is running.
Which RPi model are u using, and version of raspbian? Also which card are you using as secondary?
@malashhab

[2017-03-18 10:07] laozi999 commented on #511
@sophron one way would be to kill NetworkManager on startup, then add a menu for the chosen `internetinterface` to select the AP with internet access and connect to it using dhclient.

[2017-03-18 10:11] laozi999 commented on #511
And the following commands to automate the process:

`--internetinterface "wlan3" --internetbssid "aa:bb:cc:dd:ee:ff" --internetkey "wifipassword"`
or
`-iI "wlan3" -iB "aa:bb:cc:dd:ee:ff" -iK "wifipassword"`

[2017-03-18 10:11] Splinter0 commented on #494
Ok i got some news, we don't really need a third wireless card and this is why:
After a quick setup with wpa_cli we are able to connect automatically to the AP when the victim press the button, but
if we are deauthenticating the AP at the same time no one can connect which means that even if the victim press the button we won't be able the connect.
This bring us to a point where we have to stop de

[2017-03-18 10:15] laozi999 commented on #494
Good thinking, this attack would be quite convincing if it will be as persistent as you described.

[2017-03-18 10:15] Splinter0 commented on #524
@laozi999 I love your idea, please keep working on it

[2017-03-18 10:18] brianmituka commented on #462
apt-get install -y python-setuptools

[2017-03-18 10:21] laozi999 commented on #494
This is definitely worth the work, I'm happy to compile a list of photos of different routers.

[2017-03-18 10:23] laozi999 commented on #524
what kind of command should we use?

Something like this?

`--showpopup "android,microsoft,apple"`
or
`-sP "android,microsoft,apple"`

[2017-03-18 10:33] JetseVerschuren commented on #524
I like the
`-sP "android,microsoft,apple"`

[2017-03-18 11:10] minanagehsalalma commented on #494
@Splinter0  can you add channel hopping to the deauthenticating...  cause the first thing that the victim  will think of  is restarting the router ...  and in this case  no jamming option will be useless..  cause I will not be able to start mdk3...   cause  it will not be  Consistent with the attack

[2017-03-18 11:25] Splinter0 commented on #494
@minanagehsalalma i'm not sure what you mean...

[2017-03-18 11:27] Splinter0 commented on #524
@JetseVerschuren Yeah i like that one as well, if you need help just ask @laozi999 :+1:

[2017-03-18 11:39] minanagehsalalma commented on #494
@laozi999 @blackHatMonkey @alternatexp @sophron  can anyone explain to @Splinter0 what I mean ??

[2017-03-18 11:45] minanagehsalalma commented on #494
@Splinter0 I have modified the answer...

[2017-03-18 12:04] laozi999 commented on #494
@minanagehsalalma I think if you add channel hopping then it will do the exact same thing as mdk3, so I don't understand why it wouldn't work with mdk3.

But as @sophron pointed out we want to stick with the python libraries.

[2017-03-18 12:11] minanagehsalalma commented on #494
@laozi999 cause (This button will stop the deauth, and try to connect to the AP through the same wireless card we used for the deauth) then (If the victim was fooling us and the connection through the WPS failed ( it means he didn't press the button ) the wireless card goes back to deauth)  how  will the script  stop and start the mdk3 ????!!!!!?

[2017-03-18 12:27] laozi999 commented on #494
Probably the same way Wifiphisher would

[2017-03-18 12:31] laozi999 commented on #494
It would be nice to have Wifiphisher scan the target BSSID every 3 seconds to see what channel it's on, then send deauth attacks.

Then we can easily check the WPS state when it scans for the APs channel.

All Wifiphisher has to do then is log that the WPS option is enabled, the rest is then up to the attacker. (spoofing, connecting, retrieving wpa key, etc)

[2017-03-18 12:42] JetseVerschuren commented on #524
Mabe you do
`-sP "all"`

[2017-03-18 12:48] Splinter0 commented on #494
@minanagehsalalma we don't need to re-scan the BSSIDs because when you stop the deauth the AP will be available again allowing you to connect using your wpa_cli configuration. ( we already have the BSSID of our target ).
I suggest you to try out the WPS connection, check : https://gist.github.com/Splinter0/eceed2a7d8d0e4d3cfac9fc2d888093c

So you can see by yourself that after you do a setup with

[2017-03-18 12:50] Splinter0 commented on #494
@laozi999 you don't need to monitor the target AP because in the moment you stop the deauth you will automatically connect to it with WPS ( if the button is pressed )

@blackHatMonkey We might need your help here

[2017-03-18 12:59] laozi999 commented on #494
@Splinter0 I was talking about scanning the AP in case it changed channel

[2017-03-18 13:03] laozi999 commented on #494
I think it's better to log when the WPS button is pressed rather than automatically connecting, but I might be wrong.

[2017-03-18 13:05] Splinter0 commented on #494
@laozi999 I don't think it would make a difference because we will use the BSSID and the ESSID to connect with the AP the channel is ignored

[2017-03-18 13:05] laozi999 commented on #494
@Splinter0 the AP's channel is necessary for deauthing

[2017-03-18 13:06] Splinter0 commented on #494
@laozi999 ok i know what you mean, if instead of pressing the WPS the victim restart the router the channel will change messing up everything

[2017-03-18 13:09] laozi999 commented on #494
@Splinter0 exactly, I think it would be best to loop a script to scan the APs channel, and also the WPS state.

[2017-03-18 13:10] Splinter0 commented on #494
@laozi999 so basically the process will be :
-Deauth the AP and start the fake one
-the victim connects and the template appears
-he press the WPS button and then he press the virtual button with "I pressed the WPS"
-We stop the deauth and we connect using our wpa_cli setup
-if we cannot connect we re-scan searching for the same ESSID and BSSID ( using a new channel if he restarted the router ) an

[2017-03-18 13:11] Splinter0 commented on #494
@laozi999 until we can connect

[2017-03-18 13:17] laozi999 commented on #494
@Splinter0

A few points:

**1.** Start fake AP first, then start deauth loop
**3.** No need for a virtual button if Wifiphisher scans the WPS state every 3 seconds
**4.** Logging it is better in case something goes wrong (people still use NetworkManager)
**5.** Already in [this](https://github.com/wifiphisher/wifiphisher/issues/494#issuecomment-287544896) loop I suggested earlier

[2017-03-18 13:28] Splinter0 commented on #494
@laozi999 Perfect, sorry i didn't see the first loop you did.
One thing, there isn't an actual "WPS state", when you setup the wpa_cli you are kind of creating a listener waiting for someone to press the button and if the button is pressed it connects.
But i can work on it

[2017-03-18 13:29] Splinter0 commented on #494
@laozi999 Anyway can you plase have a look at https://gist.github.com/Splinter0/eceed2a7d8d0e4d3cfac9fc2d888093c and see if it works for you?

[2017-03-18 13:41] Miayke commented on #496
is bug fixed?

[2017-03-18 14:09] laozi999 commented on #494
@Splinter0 I just found this PR for `aircrack-ng`

https://github.com/aircrack-ng/aircrack-ng/pull/20/files

This might be better to combine with scanning the channel.

[2017-03-18 14:23] Splinter0 commented on #494
@laozi999 Nice, i'll take a look at that.
I created this : https://gist.github.com/Splinter0/eceed2a7d8d0e4d3cfac9fc2d888093c#file-scheme-md
It might help us figuring out a way.

[2017-03-18 14:48] laozi999 commented on #494
@Splinter0

https://bbs.archlinux.org/viewtopic.php?id=208822

I am getting the same error as him.

I think it might be better to look into the source code of wpa_cli and doing it manually in Wifiphisher.

[2017-03-18 15:16] ady133t opened #525 "Require one wireless card instead of two"
As the title above, I want to know whether 1 adapter that support ap/mon can be used for both attack (fake ap/deauth)

[2017-03-18 15:23] Splinter0 commented on #494
@laozi999 Weird, did you use the command i wrote? Anyway i'll find more info about wpa_cli

[2017-03-18 15:24] raytafarhan commented on #496
it fixed after me upgrade os version to kali rolling 2016.2, but i have problems this
"this image was build for another pillow/pil"

[2017-03-18 15:56] JetseVerschuren commented on #525
No, 1 network card is not enough. Your network card is either in access point mode or in monitor mode (monitor mode is used for deauthentication). But if you are using a laptop you could use the internal wifi adapter in combination with a usb one to add up to two network cards.

[2017-03-18 16:17] minanagehsalalma commented on #525
@JetseVerschuren  but how does (fluxion -  linset)  could do that ???

[2017-03-18 16:51] JetseVerschuren commented on #525
Apparently i was wrong. I thought you only could do one mode at a time but a quick google user search has proven me wrong.
https://superuser.com/questions/825706/can-a-wireless-interface-act-in-two-modes-at-the-same-time
But it it is not supported by all network cards so i thing @sophron chose to use two wireless cards (or he didn't know about this to ;)

[2017-03-18 17:03] minanagehsalalma commented on #495
@sophron @alternatexp  i meant in the beginning   `make the jamming interface stop the jamming and start a scan searching for our   target (using BSSID) updating the deauth with the new channel every five minutes without making any changes to the ap interface ...  and make it optional  `

[2017-03-18 17:06] minanagehsalalma commented on #525
it's OK @JetseVerschuren

[2017-03-18 17:08] minanagehsalalma commented on #525
@JetseVerschuren 👍👍👍👍

[2017-03-18 17:08] malashhab opened #526 "Whenever I start wifiphisher this shows up"
Pleas help me whenever I start the wifiphisher to search for networks this code shows up it's so annoying and infuriating I'm using the raspbian

[code]

[2017-03-18 17:40] ady133t commented on #525
apparently my wifi adapter (signalking) can do both AP and monitor mode at same time bcause I often use it in windows 10 to create hotspot for my devices, while at the same time the adapter connected to another long range home wifi. can i still use it in wifiphisher to do both job?

[2017-03-18 17:47] minanagehsalalma commented on #525
there  no option in wifiphisher yet but you can run wifiphisher with no jamming option..  and start mdk3 with specified channel...  or use fluxion

[2017-03-18 17:49] ady133t commented on #525
I see. tq :)

[2017-03-18 17:53] malashhab commented on #522
I'm using the raspberry pi 3 and I'm using alpha awus036h and for me it worked only 3 or 4 times but then stopped working again it's so annoying

[2017-03-18 18:09] malashhab commented on #522
Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 9, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()
  File "/usr/local/lib/python2.7/dist-packages/wifiphisher-1.2-py2.7.egg/wifiphi                                                                                        sher/pywifiphisher.py", line 774, in run
    engine.start()
  F

[2017-03-18 20:31] Miayke commented on #496
I've re-established it but it's still closed, it does not support some characters

[2017-03-18 21:26] Splinter0 commented on #522
at the moment the only thing i can suggest is update everything possible ( see distro-update as well ) on your system, grab the new wifiphisher version and relaunch setup.py.
Do a quick research and see if all drivers for your card are installed.
@malashhab @sophron I mention sophron he might know more than me ( probably XD )

[2017-03-19 01:19] laozi999 commented on #496
@blackHatMonkey problem persists when I use `-e "鳖宽圭"`

[2017-03-19 07:47] Splinter0 commented on #494
@laozi999 Good news! Check this : https://gist.github.com/Splinter0/eceed2a7d8d0e4d3cfac9fc2d888093c#file-wps_pbc-py

Try it out, it basically setup a wpa_supplicant conf than start it as daemon then it starts wpa_cli as daemon in background waiting for someone to push the wps_cli.
The arguments you need to pass in are : bssid and iface
Getting closer ;)

[2017-03-19 10:58] sn0rtm4n opened #528 "Add Docker support, one time container"
**Distribution**:  Kali Linux, Debian, Raspberry (Arm)

**Summary**: .Suggestion: Add Docker support for quick setup and updates

**Description**:
Adding docker to facilitate the provisioning of the tool, there is a docker file from docker ap, I believe it is possible to use it as a base.
Project URL: https://github.com/fgg89/docker-ap

[2017-03-19 13:56] djdisikd commented on #494
Does it work if victim does not turn on the wps in the router settings?

[2017-03-19 14:10] Splinter0 commented on #494
@djdisikd I'm not sure, but not all routers has the option to turn it off ( a normal user don't if there is the option ) also ( for example in my router ) the option turns off only the virtual button ( the one you can press if you don't have the fisical one ) but the fisical one still works, i'm not sure if it's normal or if it's a bug.

[2017-03-19 14:37] selli69 commented on #511
@sophoron @laozi999

I think a menu for AP-Connection is pretty useless, because if you want to use wifiphisher with wireless upstream, you are already connected via wifi and have no extra cabled connection to do so. Also the command line options for AP-connect are useless in this scope.

Please consider having not only wireless interfaces for upstream. Also 3G/4G interfaces should be useable. Est

[2017-03-19 17:12] malashhab commented on #522
how can I check the drivers i'm new to Linux and raspberry pi please help me :)
@Splinter0

[2017-03-19 17:48] sophron commented on #525
If your card (+ the driver) supports it, it is possible to spawn two different virtual interfaces in different modes.

However, what is not possible is to have these two virtual interfaces in different channels. If we want to do de-authentication (with channel hopping) in one virtual interface it's not possible to spawn a different interface for the Access Point. For example, there's no way to imp

[2017-03-19 18:14] sophron commented on #496
I just pushed a commit. Please update to the latest revision and let me know if you still have issues.

[2017-03-19 19:14] JetseVerschuren commented on #525
Thank you @sophron for clarifying this.

[2017-03-19 19:39] Splinter0 commented on #522
@malashhab Don't worry when i'm free i'll search as well :+1:

[2017-03-20 00:54] laozi999 commented on #511
@selli69 this would not be the case if the person has connected to the wifi via NetworkManager.

I think it's best to ditch all the third party apps and set everything up fresh through Wifiphisher.

[2017-03-20 00:59] laozi999 commented on #494
Good work @Splinter0

I feel like we're getting very close.

I just feel like, with this update, the currect deauthentication method should change too.
Scanning for new channels can be done at the same time as scanning for the WPS state.

[2017-03-20 01:02] laozi999 commented on #495
@minanagehsalalma

I think it should scan for channel hops every 3-5 seconds, and I don't think it should be optional as it sounds like this would be the solution to the current deauthentication issues.

[2017-03-20 01:43] laozi999 commented on #463
@sophron feel free to close this issue so we can continue the discussion in [the PR](https://github.com/wifiphisher/wifiphisher/pull/523)

[2017-03-20 06:40] Splinter0 commented on #494
@laozi999 Ok, nice, started working on the actual wifiphisher code you can check it in my repo https://github.com/Splinter0/wifiphisher

[2017-03-20 12:59] blackHatMonkey commented on #526
Hi @malashhab tanks for opening an issue. I will take a look at it and let you know.

[2017-03-20 13:20] blackHatMonkey commented on #512
@d0geda If you have found a way to solve this issue it might be useful to others as well. Therefore it would be a good idea to post your results here. I'm closing this now but feel free to open it if needed.

[2017-03-20 13:20] #512 closed

[2017-03-20 13:29] blackHatMonkey commented on #496
@laozi999 The problem here is not about creating but rather displaying of the access points.

[2017-03-20 13:58] Splinter0 commented on #494
@blackHatMonkey

[2017-03-20 14:00] blackHatMonkey commented on #507
I'm closing this issue as it would seem the problem has been resolved. @brianmituka Feel free to comment if you have any more issues.

[2017-03-20 14:00] #507 closed

[2017-03-20 14:35] blackHatMonkey commented on #494
@laozi999 @Splinter0  Going by your loop posted [here](https://github.com/wifiphisher/wifiphisher/issues/494#issuecomment-287544896):

[code]
And something like this for `WPS`

[code]

[2017-03-20 14:38] Splinter0 commented on #494
@blackHatMonkey Exactly, how does it feel for u?

[2017-03-20 14:53] blackHatMonkey commented on #494
@Splinter0 It is definitely possible. Once you have some code you can make a PR and that way if you need help, it is easier to see and provide solutions.

[2017-03-20 14:54] Splinter0 commented on #494
@blackHatMonkey i'll to that soon, but first i want to have something at least tho.
Thanks a lot ;)

[2017-03-20 14:54] blackHatMonkey commented on #494
@Splinter0 Just make sure you don't combine `WPS` and `channel hop` together in one PR. They are separate features that must have their own PR's

[2017-03-20 14:57] Splinter0 commented on #494
@blackHatMonkey ok sure, and... look at my repo, do you like the "attack.py" file? we can use it for the WPS attack and for more attacks that will need python support in the future.

[2017-03-20 17:00] noeticbsd commented on #506
I am experiencing the exact same error, running latest Kali (4.9.0-kali3-amd64 #1)

Error:

[*] Starting Wifiphisher 1.2GIT at 2017-03-20 12:58
[+] Selecting wlan0 interface for the deauthentication attack
[+] Selecting wlan1 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 1

[2017-03-20 17:47] Splinter0 commented on #494
@blackHatMonkey @laozi999 Guys, if the victim turns the router off the channel will not change, for this to stop and restart the deauthentication i can simply use
``` self.deauth.stop_deauthentication() ``` and ```self.deauth.deauthenticate()```

```self.deauth``` it's my deauthenticating object :+1:

what do you think?

[2017-03-20 17:54] blackHatMonkey commented on #494
@Splinter0 Just a make a PR regardless of how much code you have. You can use [draw](https://www.draw.io/) to show your design(`UML`,etc). Once you have the design you can code it up. However your first step should be thinking of a design that fits the current code and is efficient.

[2017-03-20 17:55] blackHatMonkey commented on #506
@noeticbsd Can you update to the latest version and see if the problem persist?

[2017-03-20 17:56] Splinter0 commented on #494
@blackHatMonkey Ok i'll do it

[2017-03-20 18:15] Splinter0 commented on #494
@blackHatMonkey It will take me some time tho

[2017-03-20 18:48] noeticbsd commented on #506
@blackHatMonkey just tried same results;

Linux localhost 4.9.0-kali3-amd64 #1 SMP Debian 4.9.13-1kali3 (2017-03-13) x86_64 GNU/Linux

user@local: wifiphisher -aI wlan1 -jI wlan0

[*] Starting Wifiphisher 1.2GIT at 2017-03-20 14:47
[+] Selecting wlan0 interface for the deauthentication attack
[+] Selecting wlan1 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up

[2017-03-20 19:25] lugfug commented on #506
I ran re installed the latest version, same issue occurs.

[code]

[2017-03-20 20:00] laozi999 commented on #494
I don't think it's necessary to ask for additional user input (button in the browser)

If Wifiphisher sends a heap of deauth packets for a few seconds, then checks for changes regarding channel and WPS state, there would be less interval between deauths.

These can still be separate functions with their own PR

Based off @blackHatMonkey's example:

[code]

[2017-03-20 20:05] laozi999 commented on #496
@blackHatMonkey yet they both result in an error

[2017-03-20 20:07] Splinter0 commented on #494
@laozi999 We need a button, just a continue button because we can't start everything without it.
Now i don't have time to explain everything ( soon a desing will be avaible ) but i strongly suggest you to check https://github.com/Splinter0/wifiphisher where you can see in "phishinghttp.py" that the post request determins which attack starts.
When you have time please check through everything to un

[2017-03-20 20:09] laozi999 commented on #524
I made some progress on this

I will try to replicate the original response headers as much as possible:

![screenshot from 2017-03-20 11-07-50](https://cloud.githubusercontent.com/assets/24898383/24119377/04aaf0be-0e05-11e7-9702-dc26d9041cf6.png)

![screenshot from 2017-03-20 11-13-01](https://cloud.githubusercontent.com/assets/24898383/24119382/06f92232-0e05-11e7-9960-afe35299654d.png)

Will do

[2017-03-20 20:28] laozi999 commented on #524
I've added custom response headers for apple devices. I will add the other ones soon.

I will replicate the original response headers as much as possible:

Apple:
![screenshot from 2017-03-21 06-14-42](https://cloud.githubusercontent.com/assets/24898383/24120163/b7c5e760-0e07-11e7-9d4a-88e46b608842.png)

Android:
[code]

[2017-03-20 21:02] Splinter0 commented on #524
@laozi999 Good job, can't wait to see more progress :+1:

[2017-03-21 11:42] laozi999 commented on #494
@Splinter0 I did, and I still fail to see why we need a button in the browser.

Shouldn't this be depending on the scenario and not the POST request?

If Wifiphisher scans the WPS state when it scans for channel hops, it should be able to determine whether the attack was successful or not.

[2017-03-21 13:53] blackHatMonkey commented on #496
@laozi999 Although I have not tested the `-e` option the problem is with `python 2` `Unicode` handling :cry:.

[2017-03-21 14:53] Splinter0 commented on #494
@laozi999 I guess that's another option but i have to warn you that channel hops isn't needed for the wps_attack.
About the config.ini i don't really agree with you because using a POST request would let us expand more the "attacks" part with less code.
About the button... we need the button because otherwise it's gonna start checking if the used pressed the WPS for nothing. Lets say that the vict

[2017-03-21 15:26] Splinter0 commented on #494
Here is the [link](https://www.draw.io/?lightbox=1&target=blank&highlight=0000ff&nav=1&title=wifiphisher.xml#R7VzbkqM2Gn4a1%2B5e2IU4c9nHSWonu13bqZrN1RS2ZZsMRgRwu52njwQS6GQbg9zdMxVXzbQRIOH%2F%2BP0HMXHutq%2Bfijjf%2FIKWMJ3Y1vJ14txPbBs4IMB%2FyMiBjoAgbEbWRbKkY93Ac%2FInpIMWHd0lS1gKF1YIpVWSi4MLlGVwUQljcVGgvXjZCqXiqnm8pita3cDzIk7Zc8y8bvxLsqw2zXho%2B934TzBZb9jawI%2BaM%2FN48W1doF1GV5zYzqr%2BNKe3MZuLrlxu4iXa

[2017-03-21 18:00] kn0wledge commented on #501
@blackHatMonkey were you able to identify what the issue is for this one ?

[2017-03-21 18:23] blackHatMonkey commented on #501
@kn0wledge I have not been able to reproduce this error. Does this happen when you use a specific browser or device?

[2017-03-21 19:18] sophron commented on #528
I think @istais had worked on this for a while.

[2017-03-21 20:09] sophron commented on #494
Good. A few things to notice:

* We should extend our AP selection (`recon.py`) to determine if an AP supports WPS. Maybe @blackHatMonkey wants to work on this.

* I think this should be part of our `firmware-upgrade`. If the AP supports WPS, there should be an additional method (e.g. instead of providing the PSK, you may also push the WPS button to upgrade). The user should be able to choose in t

[2017-03-21 20:13] blackHatMonkey opened #532 "Use semantic-release to automate releses"
Using [semantic-release](https://github.com/relekang/python-semantic-release) has a lot of advantages such as:
- users will always can get the latest version using `pip`
- reduces the maintenance time as you no longer need to individually create tags for each release
- automates releases
- can be run in `ci` so no human interaction is needed
- creates change log
- uploads to `PyPI`

However using

[2017-03-21 20:33] Splinter0 commented on #494
@sophron Nice, i really like your third idea. I'm currently working as @laozi999 suggested using ```config.init``` to determine which attack is used in the template.
For this i'm modifying ```phishingpage.py``` to create a ```has_attack``` that determine which attack should run. The wps_pbc code is done, so the attack is ready, i just need to integrate everything so that in the future we can creat

[2017-03-22 00:11] laozi999 commented on #494
@Splinter0 said:

You've already said that, but I wasn't talking about channel hopping for the WPS but for deauthentication. The channel is necessary to deauth.

That's not a problem. It is very common for these attacks to run for hours.
If the jamming interface checks for channel hops, but the target AP is still on the same channel, I wouldn't regard this as channel hopping for no reason.

I woul

[2017-03-22 06:06] Splinter0 commented on #494
@laozi999 Yes, now i'm working as you said before. Sorry i didn't realize that we could do it without user input. Anyway everything is going pretty well i think. :+1:

[2017-03-22 13:03] blackHatMonkey commented on #494
@Splinter0 Regarding channel change some routers have the channel set to `auto` and after a restart the channel could possibly change.

[2017-03-22 13:44] serpunja commented on #341
Hi !
After using -nJ.  Wifiphisher raises a fake point only in theory (there is no error).
![nojamming](https://cloud.githubusercontent.com/assets/24878620/24200302/cd7ad522-0f1d-11e7-9f83-de81c4c0e356.jpg)
The client does not have a fake AP.
-----------------------------------
Deauthentication works separately.
![aireplay](https://cloud.githubusercontent.com/assets/24878620/24200354/fbcd579c-0f1d

[2017-03-22 15:21] laozi999 commented on #341
https://www.youtube.com/watch?v=d3VWagtwb_0

This guy explains how to host a fake AP using the Mana Toolkit on Kali Nethunter.

Mana-toolkit uses hostapd, so it must be possible

[2017-03-22 15:26] Splinter0 commented on #494
@blackHatMonkey Yeah you're right but i think that it's better if we separate the channel check in a new PR/Issue. Because i could be used also in other situations other than only WPS_PBC

[2017-03-22 15:30] laozi999 commented on #494
@Splinter0 no worries!

I don't think the WifiphisherEngine currently supports channel hops for deauth, which we definitely want for successfull deauthing.

I think that this engine needs an update to support both channel hops and WPS_PBC scenarios (to check the WPS state right before/after scanning for channel hops)

[2017-03-22 16:54] Splinter0 commented on #494
@laozi999 Yeah i'm updating it in order to work with WPS_PBC and future ```attacks``` module, for now i'm not working on channel hops because i don't actually know what to do.
Anyway i'll make a PR soon, and just to be sure: if my repo isn't up to date with all your master commits can i still make a PR, and will you be able to merge it without losing your newer commits ?
@blackHatMonkey I'm new to

[2017-03-22 16:59] blackHatMonkey commented on #494
@Splinter0 After seeing your fork I noticed that you are pushing to master. A better way is to make a new branch and push your changes to that branch. Keeping your fork's master even with `wifiphisher`'s master makes sure that there are no conflicts. More documentation can found [here](https://git-scm.com/doc) if you need it :smile:.

[2017-03-22 17:12] Splinter0 commented on #494
@blackHatMonkey Ok, i think i got it right :smile: , thanks. Now i've a master which is up to date with the wifiphisher master and a branch called wps_pbc that has all my work in it :+1:

[2017-03-22 18:12] Splinter0 commented on #494
@laozi999 Ok, since we are not using a user input we don't even need ( only talking about WPS_PBC ) a timer that checks if we are connected in 2mins because we wouldn't know when start the timer.
So i guess we just leave it there waiting for the wps button to be pressed, and when it's pressed we connect to the target AP and pop a log into our terminal saying
```[*] The button has been pressed... Y

[2017-03-22 18:40] blackHatMonkey commented on #475
I'm closing this as it would seem the problem is solved.

[2017-03-22 18:40] #475 closed

[2017-03-22 18:43] blackHatMonkey commented on #466
Please continue the discussion over at #524.

[2017-03-22 18:43] #466 closed

[2017-03-22 21:19] blackHatMonkey commented on #441
After some testing the flickering happens due to the size of the terminal. This happens because currently the row numbers are hard coded and therefore if height of the window is less that a specific number it causes this bug.

[2017-03-23 00:31] laozi999 commented on #494
@Splinter0

That's why I think we should first enable channel hopping for our jamming interface, so that when our jamming interface stops deauthing in order to change channels, it also quickly checks whether we can connect via WPS. This would be done every few seconds (mdk3 hops channels every 5 seconds)

[2017-03-23 02:52] laozi999 opened #537 "Logging file format"
The current logging is very problematic due to hard coded rows and columns (and 3 log files are being tailed in one terminal window, limited to 5 lines only).

Also, I don't think there is a logging feature, which is quite important for me.
The logs get cleared on termination, and valuable info can get lost (HTTP requests, hostnames, MAC addresses, etc).

This is an idea I'm proposing, it's inspir

[2017-03-23 09:22] Splinter0 commented on #494
@laozi999 Yes i get that but the problem is that there isn't a wps state, when the user press the button you're connected if he doesn't you're not. So we have two options : we can put a user input to know when to stop the deauthentication or we use 3 wireless cards.

the problem is that if we don't have a user input we don't know when we should stop deauthenticating. The only way without an user i

[2017-03-23 09:46] laozi999 commented on #494
@Splinter0

We have a third option which is to see whether we can connect via WPS every time the jamming interface stops deauthing to check for channel hops..

Not unless we use the jamming interface, that's why I said we have to have support for channel hopping first. Every 10 (or so) seconds, the jamming interface stops deauthing, then goes on every channel to see if the victim AP is on the same

[2017-03-23 12:22] sophron commented on #528
@istais already made this: https://hub.docker.com/r/istais/wifiphisher/ Can you check if it works as expected?

[2017-03-23 15:46] VickyTheDon opened #538 "I get this spam bug during the attack it spams HTTP requests"
https://drive.google.com/file/d/0B9DJiMZO9ODHN3FDeUZDOS1fcG8/view?usp=sharing

[2017-03-23 15:51] blackHatMonkey commented on #538
Hi @VickyTheDon please update your original post to include more information.

[2017-03-23 16:13] VickyTheDon commented on #538
@blackHatMonkey that is the issue

[2017-03-23 16:36] blackHatMonkey commented on #538
This is a duplicate of #441. The fix is gonna be added soon :smile:. @VickyTheDon Note that you can simply fix it by increasing the height of the terminal.

[2017-03-23 16:36] #538 closed

[2017-03-23 18:02] Splinter0 commented on #494
@laozi999 I don't see how this can be a better way of replacing a simple ```continue``` button, also this can only work with WPS_PBC attack and i'm trying to find the best way to create an ```attacks``` section where in future we can add more attacks.
channel checking is a really good feature we should add, but it has to be a separate thing from the attacks part and of course WPS_PBC as @blackHatM

[2017-03-24 00:00] vay3t opened #539 "Support for raspberry pi 3"
You may have support for raspberry pi? (Kali or raspbian)

[2017-03-24 03:53] laozi999 commented on #494
@Splinter0 if we go by what your chart says, and let the user press the button in the browser, the deauth attack stops and the victim can use the wifi again for 2 minutes (because that's how much we get when we connect via WPS), this means that the victim can just keep pressing that button, and you can be sitting there for ages before you finally get in.

You want to make it seem like there actual

[2017-03-24 05:41] laozi999 commented on #494
@Splinter0 if we go by what your chart says, and let the user press the button in the browser, the deauth attack stops and the victim can use the wifi again for 2 minutes (because that's how much we get when we connect via WPS), this means that the victim can just keep pressing that button, and you can be sitting there for ages before you finally get in.

You want to make it seem like there actual

[2017-03-24 06:43] Splinter0 commented on #494
@laozi999 Ok, i'm done with the base for all attacks, if you check my repo on branch ```wps_pbc``` the setup for this attack and the future ones is done. I did this creating a  manage object into the ```attacks``` section that look what attack is chosen by phishingpage ( i configured a new function that read a ```[attack]``` part that has the attack name ) and based on that it "ask" for what is ne

[2017-03-24 12:06] serpunja commented on #341
**Thank you @laozi999 !
https://www.youtube.com/watch?v=d3VWagtwb_0 - I already saw  this.**
I need to have a client, after connecting to the fake AP, a page html or php pops up
for some kind of authorization ))
For example:
**"To continue the free wifi, please log in!
At your choice - any social network"** ........)))

How can replace wifiphisher?

[2017-03-24 12:22] serpunja commented on #341
MANA good raises fake AP, but does not create phishing-pages!!!
How to edit - start-nat-simple.sh for phishing-pages?

[2017-03-24 13:06] JetseVerschuren commented on #539
I think it supports a raspberry pi 3 it because you can run kali on a raspberry pi.
The only thing could be that the build in wifi doesn't support monitor or host mode.
https://www.reddit.com/r/raspberry_pi/comments/4ah4oi/psa_the_raspberry_pi_3s_embedded_wifi_card_does/

[2017-03-24 13:10] JetseVerschuren commented on #539
Apparently the built in wifi does support host mode.
https://www.raspberrypi.org/forums/viewtopic.php?f=36&t=138550

[2017-03-24 13:11] vay3t commented on #539
Support exists in monitor mode: https://github.com/nethunteros/bcm-rpi3
Plus the raspberry pi wifi supports AP mode

[2017-03-24 13:12] JetseVerschuren commented on #539
Nice didn't know that.

[2017-03-24 13:13] JetseVerschuren commented on #539
But it may void your warranty.

So watch out.

[2017-03-24 13:15] vay3t commented on #539
Could be used as rogue AP and an external antenna as hammer

[2017-03-24 13:20] JetseVerschuren commented on #539
Yeah it think that is smarter then possibly voiding your warranty.
You could use a esp8266 to jam or as you said:

[2017-03-24 13:46] vay3t commented on #539
i think tlwn722n

[2017-03-24 15:31] Splinter0 commented on #539
@vay3t i'm using a rpi 3 with a

And it works, the problems is that as the tool grows and more functions are added the raspberry pi struggle handling all that stuff. In fact few months ago the tool was working perfectly on my pi, but now it struggle and for this i takes about 10 mins to take down an AP and also when i can finally connect to the fake AP, everything it's really slow ( POST request,

[2017-03-24 17:09] Splinter0 commented on #494
@laozi999 @blackHatMonkey @sophron I have a design that explain how the ```attacks``` part works, all the code is in my repo : [link](https://github.com/Splinter0/wifiphisher/tree/wps_pbc) . this creates a way that allow us to create separate attacks ( for example the wps_pbc ). The WPS_PBC attack doesn't work yet, in fact me and @laozi999 are working on it, but this is a solid base where we can c

[2017-03-25 01:25] laozi999 commented on #537
Added some more ideas

[2017-03-25 01:45] laozi999 commented on #341
I think mana uses apache so you could find the html (or portal) folder and change the website that is shown when victims connect to your AP

[2017-03-25 07:43] kbeflo opened #540 "Permission to use snippet"
Asking permission to use snippet from oauth-login template, the modal element, terms, and modal script.

[2017-03-25 07:59] laozi999 commented on #540
Welcome to open-source :)

[2017-03-25 08:01] kbeflo commented on #540
Is it required to include license or credit to use snippet

[2017-03-25 08:02] laozi999 commented on #540
The friendly corner of the internet..

to take away your freedom to share and change the works.  By contrast,
the GNU General Public License is intended to guarantee your freedom to
share and change all versions of a program--to make sure it remains free
software for all its users.  We, the Free Software Foundation, use the
GNU General Public License for most of our software; it applies also to
an

[2017-03-25 08:04] laozi999 commented on #540
Credit would be appreciated, but no one's gonna chase you up for it

[2017-03-25 08:07] laozi999 commented on #540
Keep the license as it is if/when you distribute it, however, that's the only condition.

This software is free and has to stay free

[2017-03-25 08:18] kbeflo commented on #540
Used the snippet [here](https://github.com/kbeflo/evilportals/tree/master/portals/sbux-login)

[2017-03-25 08:53] laozi999 commented on #540
Nice one :) the starbucks portal looks different in Australia.

Feel free to add your captive portals to Wifiphisher's [extra-phishing-pages](https://github.com/wifiphisher/extra-phishing-pages) repo.

[2017-03-25 08:54] devocator commented on #506
Having the same issue. I'm suspicious about python version. Could it be the problem? Please fix.

`[*] Starting Wifiphisher 1.2GIT at 2017-03-25 04:54
[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan0 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
Traceback (most recent call last):
  File "/root/Desktop/wifiphisher-ma

[2017-03-25 09:07] devocator commented on #496
when it will be fixed? It gives the error when AP's with blank character in name appears on list.

[2017-03-25 14:39] zero77 opened #541 "Duplicate of #477"
wifiphisher is looking really good and the cli is very nice to use now, thanks to the recent development and updates.

So can you please add an update option that if run will automatically check github and install any new updates, instead of manually having to check github and manually update it each time.

Thanks

[2017-03-25 15:15] zero77 opened #542 "Show more information about client"
Can you please add some info about each of the client like the OS and version, hostname and resolve the mac address to show the vender.
Thanks

[2017-03-25 16:26] blackHatMonkey commented on #541
@zero77 If you install using `pip` you would only need to run:
[code]

[2017-03-25 16:27] blackHatMonkey commented on #540
I'm closing this since I believe your question was answered. Feel free to reopen if needed.

[2017-03-25 16:27] #540 closed

[2017-03-25 16:49] blackHatMonkey commented on #483
@kn0wledge Are these errors happening only on shutdown or not?

[2017-03-25 17:41] zero77 commented on #541
I was meaning more of a built in option that is shown in the help menu.

[2017-03-25 17:44] blackHatMonkey commented on #541
@zero77 This is a duplicate of #477. Please see [this](https://github.com/wifiphisher/wifiphisher/issues/477#issuecomment-283447076) comment.

[2017-03-25 18:08] blackHatMonkey commented on #506
@cristi28 @lugfug @devocator @noeticbsd @odinn47 @prolamerdude @Vannonymous I have pushed a commit in [this](https://github.com/wifiphisher/wifiphisher/tree/issue-%23506) branch.

**DO NOT INSTALL JUST RUN**
[code]

This will not fix the problem however it does add more logging. After running it you should get two log files:
- `ap.log`
- `recon.log`

Can you please post those in this thread :smile

[2017-03-25 18:44] sophron commented on #540
Hi @kbeflo,

You are free to use the template but keep in mind that your application must also be licensed under the GPL.

[2017-03-25 18:57] kn0wledge commented on #483
@blackHatMonkey , 113 is while it is running (as per pic) error 100 is upon exit. tonight i will try with new wifi cards to check if i get the same.

[2017-03-25 19:20] blackHatMonkey commented on #483
@kn0wledge This is a software issue and I doubt new cards will change that.

[2017-03-25 20:27] kn0wledge commented on #483
@blackHatMonkey yeah but since not many other users reported it, i thought it might be from my setup. I get the new awus051 cards in a couple of days. lets see.

[2017-03-25 23:44] devocator commented on #506
[*] Starting Wifiphisher 1.2GIT at 2017-03-25 19:41
[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan0 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
Traceback (most recent call last):
  File "bin/wifiphisher", line 12, in <module>
    run()
  File "/root/Desktop/wifiphisher-master/wifiphisher/pywifiphisher.py", line 7

[2017-03-25 23:52] blackHatMonkey commented on #506
@devocator I pushed a new commit. Can you update and try again :smile:.

[2017-03-26 00:00] devocator commented on #506
[*] Starting Wifiphisher 1.2GIT at 2017-03-25 19:56
[+] Selecting wlan1 interface for the deauthentication attack
[+] Selecting wlan0 interface for creating the rogue Access Point
[*] Cleared leases, started DHCP, set up iptables
Traceback (most recent call last):
  File "/root/Desktop/wifiphisher-master/bin/wifiphisher", line 12, in <module>
    run()
  File "/root/Desktop/wifiphisher-master/wifi

[2017-03-26 00:05] blackHatMonkey commented on #506
@devocator Can you look up all the names of access points near you that are exactly four character long?

[2017-03-26 00:12] devocator commented on #506
This is the one with 4 characters which doesn't broadcast the ESSID.

88:41:FC:21:xx:Xx  -66  80      361        8    0   3  54e  WPA2 CCMP   PSK  <length:  4>

[2017-03-26 00:23] devocator commented on #506
I have found the ESSID. It is "**CMHR**".

[2017-03-26 00:25] blackHatMonkey commented on #506
@devocator Is this access point hidden by any chance?

[2017-03-26 00:27] devocator commented on #506
@blackHatMonkey yes I have found the access point name by deauthenticating the client who is using the AP.

[2017-03-26 00:33] laozi999 commented on #537
And some more..

![screenshot from 2017-03-25 21-05-47](https://cloud.githubusercontent.com/assets/24898383/24327246/fc485634-1217-11e7-8ed4-67c57460f62f.png)

![Uploading Screenshot from 2017-03-25 21-05-51.png…]()

[2017-03-26 00:39] laozi999 commented on #539
I like the idea of a light version, without certain features and menus

[2017-03-26 00:56] djdisikd commented on #514
Yeah, please fix this

[2017-03-26 04:36] kbeflo commented on #540
I have included the copyright notice [here](https://github.com/kbeflo/evilportals/blob/master/portals/sbux-login/index.php), tell me if it needs correction. Recently updated my repository license from GPL v2 to GPL v3.

[2017-03-26 08:24] Splinter0 commented on #494
@laozi999 @sophron @blackHatMonkey What do you guys think?

[2017-03-26 11:27] ady133t commented on #525
actually I managed to get wpa2 pass from my neighbour AP in less than 20 min by using fluxion in 1 adapter.  And I tested it using my own AP,  the device client dc instantly and and it cannot cnnect to real AP as long deauth program is running. There are no prformance issue. I guess it depend on which adapter we using.

[2017-03-26 18:48] blackHatMonkey commented on #506
After looking at the @devocator logs I was able to narrow down the problem. The problem happens when a hidden network is detected. If said network only shows the length of the access point name it would return it in a specific way that was not caught. Example of this would be an access point named "HELLO" where it is hidden would show it's name as "\00\00\00\00\00".

To reproduce this error the fo

[2017-03-26 18:52] #541 closed

[2017-03-26 19:38] malashhab opened #544 "whenever i start wifiphishe this shows up"
hello guys whenever i start wifiphisher whis shows up and it doesn't search for access points WARNING: Failed to execute tcpdump. Check it is installed and in the PATH please help me i have a rpi3 and raspbian on it

[2017-03-26 19:42] blackHatMonkey commented on #544
Hi @malashhab thanks for filling a issue. In order to help us solve the problem can you show us the full stack trace(full error message).

[2017-03-26 19:44] blackHatMonkey commented on #504
@minanagehsalalma A new commit has been pushed to repository. Please update to the latest version and let me know if you still are experiencing the issue.

[2017-03-26 19:45] blackHatMonkey commented on #473
Since `IRC` does the job for now I'm closing this issue. However this issue could be revisited in the future.

[2017-03-26 19:50] devocator commented on #506
@blackHatMonkey If there is someone who should thank, it is me. I appreciate your works and helps. Thank you very much :)

[2017-03-26 20:20] blackHatMonkey commented on #524
@laozi999 Maybe instead of using `--showpopup` we can add `--nopopup`. By this I mean showing pop ups the default and not showing them an option.

[2017-03-26 23:37] laozi999 commented on #524
@blackHatMonkey based off the scenario that I made (device-modal), there might be an instance where the user doesn't want this popup to show on certain devices.

I think having the freedom to choose is always the better option :)

[2017-03-26 23:39] laozi999 commented on #524
One second thought I think `--nopopup <devictype>` is better since it is standard practice for captive portals to trigger this popup.

[2017-03-27 00:00] laozi999 commented on #494
Hi @Splinter0

I went over your flow chart and I agree with your approach for the most part. I do think some steps could be deprecated however, like the dictionary and the for loop checking everything is included.

If we make an entire new module called `attacks`, we could make separate classes for all the attack types (channel scanning, deauthing, WPS, + more to come)

All the variables of the ta

[2017-03-27 01:28] jfxmedia commented on #506
Following this issue, have the same exact thing, and I know I have a couple hidden networks in my reach. Thanks for your help and attention to this issue. I look forward to using this !

[2017-03-27 02:29] laozi999 commented on #473
I vote for gitter cause I'm sitting here waiting for a response in another timezone :smile:

[2017-03-27 05:46] Splinter0 commented on #494
@laozi999 Yeah the for loop could be avoided, but the point of that was to handle all the things that we need to pass the attack in way that allow us to pass only the stuff we need.

[2017-03-27 07:36] Splinter0 commented on #473
Me too i vote for gitter! :+1:

[2017-03-27 09:16] sophron commented on #494
@Splinter0 The best way to have your code reviewed is to submit a <a href="https://help.github.com/articles/creating-a-pull-request/">pull request</a>. However, here's some feedback based on your comments for now:

That's fine. A process running for 5 minutes (or more) is not an issue. We want to minimize victim's interaction as much as possible.

This is not an easy task. We need to have an API w

[2017-03-27 09:24] sophron commented on #537
The good thing with our current output is that we see the state of our attack in real-time without having to scroll or anything.

What you propose is good as a logging feature (#427) where someone may want to how the attack involved in detail.

[2017-03-27 09:30] sophron commented on #525
@ady133t  Please go somewhere else and post your "achievements" . Activities that may be considered illegal are not welcome in our forums.

[2017-03-27 09:42] sophron commented on #524
@laozi999 What exactly is this feature about?

[2017-03-27 09:45] sophron commented on #514
@dileepsankhla Have you tried switching your cards with `-jI` and `-aI` options?

[2017-03-27 10:48] laozi999 commented on #537
@sophron that is not true, once you have more than 5 requests, clients, or deauthentications, the previous ones are lost forever...

[2017-03-27 10:56] dileepsankhla commented on #514
@sophron My external wifi adapter does not support the AP mode, monitor mode only. Hence I tried to switch the cards with `-jI` and `-aI' options but it failed to start!

[2017-03-27 11:01] laozi999 commented on #494
@sophron

Have a read through mine and @Splinter0's examples.

We either need a third interface to try to connect via WPS, or, we choose the jamming interface and have it try to connect via WPS before/after channel scanning the target.

[2017-03-27 11:05] laozi999 commented on #524
@sophron It's about the pop-up that is triggered when connecting to an AP with a captive portal. This would enable the user to enable/disable this feature (by changing the response headers sent to `captive.apple.com`, `gstatic.com/generate`_204, etc.)

[2017-03-27 11:07] sophron commented on #524
How exactly is this feature working? Whenever a device connects to a WLAN with a captive portal, does it send a request to `captive.apple.com`? Does it expect a response?

[2017-03-27 12:20] Splinter0 commented on #494
@sophron Ok nice, anyway the problem is that we can't have no user input, no third interface and no channel hop. Because we need at least one. With user input we know when to stop the deauthentication and when to start listening for wps_pbc events. With third interface we can simply use the third one that keeps listening, and with channel hop we keep switching between deauth and listening for wps

[2017-03-27 13:24] Splinter0 commented on #494
@sophron @laozi999 Guys how about waiting until a GET request to the image with the button, and then start the attack. Because we need to know when to stop deauthentication, channel hop isn't a good way for this.
so basically if a GET request is done by the victim, then we stop the deauthentication and start waiting for a wps.

[2017-03-27 13:56] leon245 opened #545 "TypeError: ord() expected a character"
A few seconds after startup, these errors appear:

[code]
The second problem is that all ap power is 0%.

[2017-03-27 14:55] Splinter0 commented on #494
#546 this is the PR

[2017-03-28 10:05] laozi999 commented on #524
Yes, apple devices expect a 202 "OK" response from apple with "Success" as its body to know that there is internet connection. Android expects a 204 "No Content" response with some other set headers. Otherwise responses like the ones I posted above will trigger the pop-up.

[2017-03-28 10:16] malashhab commented on #544
I installed tcpdump and it worked perfectly but like it just kick me out of the network I want to hack and it make the fake ap without turning off the wifi signal of the ap I want to hack how can I fix this i'm using raspberry pi 3 and using alpha network as a second wifi adapter @blackHatMonkey @mscherer @d33tah @tgalyean

[2017-03-28 10:17] #522 closed

[2017-03-28 10:18] #526 closed

[2017-03-28 13:04] blackHatMonkey commented on #544
@malashhab Please read the [How it works](https://github.com/wifiphisher/wifiphisher#how-it-works) so you can understand what the tool works.

[2017-03-28 13:17] blackHatMonkey commented on #545
Thanks @leon245 for opening an issue. I will take a look at it and let you know :smile:.

[2017-03-28 13:28] blackHatMonkey commented on #537
@laozi999 I think what you are talking about is the actual design of this section rather than logging. The goal is to rewrite the whole program in curses like the ap selection phase. I would love to hear you thoughts on the design.

[2017-03-28 13:40] blackHatMonkey commented on #441
A new patch has been merged. It does not fix the entire problem however it requires the minimum number of rows to work. If you experience [this](https://github.com/wifiphisher/wifiphisher/issues/441#issuecomment-279244680) behavior all you need to do is increase your terminal size.

[2017-03-28 13:43] #441 closed

[2017-03-28 13:54] Splinter0 commented on #473
@blackHatMonkey I find gitter way better than the IRC chat, also you can use gitter also on your phone ( there's the app )

[2017-03-28 13:56] blackHatMonkey commented on #473
@Splinter0 The final decision is with @sophron.

[2017-03-28 14:33] blackHatMonkey commented on #478
I still see power as 0%.

[2017-03-28 15:53] aliemresafak opened #547 "parenthesis problems in pyhton file"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: 3bc4d26ceb53b11e2f9dbe9ca8c7234e176bdbc7

**Distribution**: Antergos

**Summary**: I installed seamlessly. But it gives the following error when trying to open.

**Script output**: Traceback (most recent call last):
  File "/u

[2017-03-28 15:55] blackHatMonkey commented on #547
@aliemresafak Thanks for opening an issue. What command are you running to start `wifiphisher`?

[2017-03-28 16:07] Splinter0 commented on #547
@aliemresafak You are probably using a version of python 3+. Try to start the program with python 2.7
( default python installed in every distro )

[2017-03-28 16:07] aliemresafak commented on #547
I ran as wifiphisher --nojamming

[2017-03-28 16:37] ali151yek opened #548 "how to add a new phishing page ??"
NB - I hava the index.html file
how i can add it ??

[2017-03-28 16:58] Splinter0 commented on #547
@aliemresafak Did you run ```./wifiphisher --nojamming```? if you did and you still get the error, check what python version do you have as default. You should have 2.7 ( important that it isn't 3+ )

[2017-03-28 17:04] aliemresafak commented on #547
how may i install python 2.7 i checked python version. it is 3.6.0

[2017-03-28 17:06] aliemresafak commented on #547
I installed wifiphisher with python2 setup.py install. Error messages changed.
Traceback (most recent call last):
  File "/usr/bin/wifiphisher", line 11, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 560, in load_entry_point
    return get_distribution(dist).load_entry_point(group,

[2017-03-28 17:16] blackHatMonkey commented on #547
You need to install `scapy` module which can be done using `pip`:
[code]
you also need `hostapd` and `dnsmasq`.

[2017-03-28 17:17] aliemresafak commented on #547
@blackHatMonkey Thank you for everything. I fixed.

[2017-03-28 17:18] #547 closed

[2017-03-28 19:22] gmojo02 commented on #483
I have two cards -
ALFA - AWUS036NHA (new card)
ALFA - AWUS051 NH v2 (old card)

setting the old card as access point causes it to crash. Using new card its stable for me -

wifiphisher -aI wlan0 (new card) -jI wlan1 (old card) -p firmware-upgrade

[2017-03-28 19:32] kn0wledge commented on #483
@gmojo02 I suspect it's the same issue .. I even have older cards AWUS036 N. receiving the NHA in a week or so . I'll try then . Btw what is the -p firmware-upgrade command for ?

[2017-03-28 19:35] gmojo02 commented on #483
serves you up a firmware upgrade page - check out wifiphisher.txt in your "doc" directory -

[2017-03-28 20:44] jfxmedia commented on #506
Any updates for a fix ?

[2017-03-28 22:32] blackHatMonkey commented on #506
@jfxmedia Update to the latest version. It should be fixed now.

[2017-03-28 23:29] laozi999 commented on #537
I think we should focus on getting the most functionality out of Wifiphisher first, then worry about how pretty it looks.

I have always been a fan of bettercap's log streamer, it's always given me that feeling of "so this is what internet traffic looks like", it's easy to read, detailed, and safe (nothing gets cleared).

@blackHatMonkey the log stream is basically the same thing, but right now it

[2017-03-28 23:37] laozi999 commented on #548
It's a bit of a pain to customise a web page/site to support Wifiphisher.

I have submitted a PR which makes it much easier to add new scenarios, but it's still being reviewed.

For now, you're better off copying one of the existing scenarios and changing it.

- Make sure all your images, css files, js files, fonts, etc. are placed within a folder called `static`
- Make sure forms are sent to `htt

[2017-03-29 05:03] Rishab2 opened #549 "Add Android Support For Browser Plugin"
My question is i have tried it on my phone the "Browser Plugin" but the slack thing is that it downloads as an .exe formate. Is there a way in your code that i can modify the .exe as .apk therefore i can push .apk file rather then .exe.

Sorry if my explanation is not clear enough.

[2017-03-29 18:18] JetseVerschuren commented on #549
You could try to detect the platform with java script and change the download location depending on the platform.

[2017-03-30 05:40] laozi999 commented on #549
**HTML:**
<a id="link" href="http://10.0.0.1:8080/static/payload/file.exe">Click to download</a>

**JS:**
<script src="./static/jquery.min.js"></script>
<script>
        var userAgent = navigator.userAgent || navigator.vendor || navigator.platform || window.opera;
        // Windows Phone must come first because its UA also contains "Android"
        if (/Windows phone|windows phone/i.test(userAge

[2017-03-30 10:43] JetseVerschuren commented on #549
Yeah, like that.

[2017-03-30 16:45] sophron commented on #494
No, we don't need any of these. What we need is a modular architecture that switch between attacks (modules). For example,

[code]
In this example, all modules sniff the air (if needed, wps may not need to, but deauth needs to populate its list of clients) and then all modules perform an action (wps may continuously WPS push the button while deauth will send DEAUTH frames).

Channel hopping is use

[2017-03-30 17:18] sophron commented on #524
I see.

We don't need to provide an option for that. This sounds like something that we want in all cases, correct?

[2017-03-30 17:19] sophron commented on #548
Have a look at <a href="http://wifiphisher.org/docs.html">Create custom phishing scenario</a> section.

[2017-03-30 18:40] Splinter0 commented on #494
@sophron Ohhh ok, so basically dauth will be one of the attacks not a default thing.. am i right?

[2017-03-30 19:28] laozi999 commented on #548
@sophron downloads are interceptable on wifiphisher.org due to improper SSL redirection.

[2017-03-30 21:35] sophron commented on #548
@laozi999 I understand the risk that is involved with the lack of HSTS and the lack of redirect to HTTPS.

However an attacker will have to compromise both Github (to provide the malicious executable) and achieve a man-in-the-middle position to alter the checksum and return a fake one. (Note that all the executables are downloaded via Github.)

That doesn't mean that the risk is accepted. It simpl

[2017-03-30 23:25] laozi999 commented on #548
@sophron you simply can't know how urgent it is until it's too late...

It surprises me that in this day in age, with free HSTS through services like Cloudflare, people are still lazy enough to keep their site's traffic decrypted.

Must anyone be using a public wifi, or unlucky enough to be MITM'd, your site could be the cause of SSLstripped referrals, and a simple tool like [this one](https://git

[2017-03-31 04:25] laozi999 commented on #494
@sophron

That's not true. There are routers that detect continuous deauthentication and will automatically change channel to prevent automated attacks.

[2017-03-31 06:43] sophron commented on #548
I would advice you not to characterize people as "lazy" in an open-source community. Have a look at our <a href="https://github.com/wifiphisher/wifiphisher/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a>. I believe this is the second time I point you there.

Nope. As I already explained to you the scenario you are describing is not valid. All downloads lie on Github (over SSL). The checksums o

[2017-03-31 06:44] sophron commented on #494
Can you name some? I'm really not aware of this.

[2017-03-31 08:11] laozi999 opened #550 "wifiphisher.org is vulnerable to MITM attacks due to insecure HTTPS redirection"
This issue should be resolved.

[2017-03-31 08:14] laozi999 commented on #548
@sophron Yes, lazy, that is the correct terminology, without offense. And with all due respect, I would expect HTTPS to be standardized within an open-source **(hacking)** community.

Nope, through a tool called bettercap, your site would be SSLstripped, and any request sent to a file would be intercepted by the attacker's host. If you had a look at the code in the link I sent you, you'd know what

[2017-03-31 08:23] sophron commented on #548
And then the user would verify the checksum and either it wouldn't match or it wouldn't be signed by me.

[2017-03-31 08:26] laozi999 commented on #548
Do you think every user has verified the checksum? Is that the basis of you assuming that wifiphisher.org is safe "enough"?

I wouldn't refer anyone to wifiphisher.org to download Wifiphisher, I would link them to the github page so they can click download on a site that has encryption, for their safety.

[2017-03-31 09:29] laozi999 commented on #548
Furthermore @sophron, I feel like in an open-source community we should be allowed to word exactly how we feel, especially when it concerns people's privacy.

[2017-03-31 09:59] #548 closed

[2017-03-31 12:42] schniggie opened #551 "Adapter in monitor mode when --essid argument is given"
Hey,

looks like wifiphisher tries to enable monitor mode even when --nojamming is set. I think my card doesn't support monitor mode.

[code]

[code]

[2017-03-31 13:28] laozi999 commented on #551
What wireless card do you have?

When you type `ifconfig wlan0 down && iwconfig wlan0 mode master` do see any errors?

[2017-03-31 13:51] minanagehsalalma commented on #494
@sophron @laozi999   there's no routers  that detect continuous deauthentication...  but there's user's that restart the router cause they cann

[2017-03-31 15:11] laozi999 commented on #494
https://www.researchgate.net/figure/283354063_fig4_Fig-7-Wireshark-Monitoring-Disassociation-Attack

[2017-03-31 15:18] blackHatMonkey commented on #551
Hi @schniggie for access point detection `monitor mode` is required therefore if you are using just one adapter it must have `AP` as well as `monitor` mode support.

[2017-03-31 15:24] blackHatMonkey commented on #551
@schniggie Correction this should not be the case when using the `-essid` argument.

[2017-03-31 16:17] Splinter0 commented on #494
@laozi999 Damn thats cool! ( i guess not on our side XD ).
Anyway this is a feature we need to include, but i guess it won't be added at the same time as the wps_pbc, instead i think it's better if we put this as a feature of wifiphisher not only wps_pbc

[2017-03-31 17:27] almenyawe opened #552 "no access point has been discovered yet"
Hi dears
I'm new in this forum
Wifi adapters are working fine
what is wrong ?
need help please
![new picture 1](https://cloud.githubusercontent.com/assets/26799019/24561681/57441640-1650-11e7-8b03-ec3817da915a.jpg)
![new picture 2](https://cloud.githubusercontent.com/assets/26799019/24561682/57464ff0-1650-11e7-8d8e-aae9cd32c2f5.jpg)

[2017-03-31 17:44] Splinter0 commented on #552
@almenyawe As i can see from your screenshots you're using a raspberry pi, the rpi isn't supported yet.
I suggest you to look at this #539 for updates and infos.
@blackHatMonkey You should probably close this issue cause we already have one like this

Thanks for reporting :+1:

[2017-03-31 17:46] Splinter0 commented on #473
@sophron @blackHatMonkey I know we have more important stuff to do :smile: but can we decide cause i love gitter and I would be very happy to use it as community chat :laughing:

[2017-03-31 19:25] #552 closed

[2017-04-01 01:03] laozi999 commented on #494
A cool feature would be to enable multiple target selectors.

That way if we target an AP with `ESSID: Public_Wifi` and `BSSID: aa:bb:cc:dd:ee:ff`, it would constantly scan for these parameters. So if we only set the ESSID and not the BSSID, wifiphisher would know when the target has changed its BSSID, and the deauthing would stay effective.

[2017-04-01 02:16] laozi999 commented on #550
Proof

![screenshot from 2017-04-01 12-10-39](https://cloud.githubusercontent.com/assets/24898383/24574388/67b4f354-16dd-11e7-9f2d-26ebc4372bcd.png)

[2017-04-01 02:27] laozi999 commented on #551
@schniggie I notice you didn't execute the python file in the bin folder.

Try executing wifiphisher with the direct path:
`sudo python wifiphisher/bin/wifiphisher --nJ -e "FREE WI-FI" -p oath-login`

[2017-04-01 07:39] Splinter0 commented on #494
@laozi999 Yeah it's a good idea, but we cant just remove the bssid scan because if another AP has the same essid its a problem without bssid recognition. Anyway yeah it's a cool feature ( that we can work on ) but it's a separate thing from wps_pbc

[2017-04-01 07:41] Splinter0 commented on #550
@laozi999 Only @sophron can do something about it. And i guess he has more important thing to do.
Anyway can you propose a solution?

[2017-04-01 07:48] Splinter0 opened #553 "PHP support"
Hi guys, i researched around and i found that is actually possible to integrate PHP into our ```tornado``` webserver using the command  ```php /template-folder/*.php```, using subprocess to ```PIPE``` all the informations. This could allow us to have all the ```POST``` requests, field checking and informations like user agent, in PHP. This will provide more security because now we have all that st

[2017-04-01 10:03] LuYuChengProject opened #554 "When i use -nJ option I got this errors ."
Hey, When I use the this cmd :
  ->     airmon-ng start wlan0
 ->     wifiphisher -nJ -e "iPhone" -p oath-login
I got no such files error , is anything wrong with my operation?

error : Traceback (most recent call last):
  File "/usr/local/bin/wifiphisher", line 9, in <module>
    load_entry_point('wifiphisher==1.2', 'console_scripts', 'wifiphisher')()
  File "/usr/local/lib/python2.7/dist-package

[2017-04-01 10:22] JetseVerschuren commented on #550
The site doesn't even redirect users to https automatically. I would start there and also enable hsts.

[2017-04-01 10:28] Splinter0 commented on #554
@LuYuChengProject It seems like hostapd isn't installed as it should. I suggest to clone the newest version of wifiphisher and run ```sudo setup.py install``` again. If it still doesn't work try to uninstall you hostapd version and re run the setup.
Let me know if it works :+1:
@blackHatMonkey

[2017-04-01 10:29] Splinter0 commented on #550
Again i think that for deeper investigation ( scanning for flaws ) you guys should ask @sophron

[2017-04-01 10:51] schniggie commented on #551
@laozi999 here is the output what you wanted:

[code]

So yes looks like monitor mode is not supported. Btw. using a raspberry pi zero w.

[2017-04-01 10:53] schniggie commented on #551
@laozi999 and here is the result by using the direct path, same error:

[code]

[2017-04-01 11:05] LuYuChengProject commented on #554
yep,it works thanks ! :+1:

[2017-04-01 11:05] #554 closed

[2017-04-01 14:32] Splinter0 commented on #551
@schniggie Rpi isn't supported yet ( any models ) check #539 for more info and updates.
@blackHatMonkey

[2017-04-01 14:52] laozi999 commented on #550
bettercap would be unable to SSLstrip the site's code if it was encrypted over SSL and therefore unable to intercept the downloads.

[2017-04-01 15:02] laozi999 commented on #553
User agents can always be spoofed, as well as the other headers, but the beauty of PHP is that it's hidden from the client, which could serve as an extra security layer.

[2017-04-01 15:08] laozi999 commented on #551
The access point interface normally goes into master mode.

I don't seem to be able to manually force my card into master mode, but it happens when I run Wifiphisher.

I don't think adding support for raspbian will require that much work, we need someone with some spare time to do testing on the pi :+1:

[2017-04-01 15:25] laozi999 commented on #539
@Splinter0 @sophron @blackHatMonkey  we could use Passenger Phusion as web server.

https://www.phusionpassenger.com/technical_advantages#speed

It's much more efficient in terms of CPU, and seems ideal for the raspberry pi.

[2017-04-01 15:27] laozi999 commented on #539
It also has support for Ruby, Python, NodeJS & Meteor applications.

[2017-04-01 15:52] Splinter0 commented on #551
@laozi999 I can work on it sometimes, it won't take much. Anyway what do you have in mind? A lighter version as is suggested?

[2017-04-01 15:52] laozi999 commented on #494
@Splinter0 I think in the case of the target AP changing its BSSID, I would rather deauth the target as well as a different AP with the same ESSID than having to restart the attack and changing the BSSID manually.

[2017-04-01 15:58] laozi999 commented on #551
@Splinter0 have a look at the other related issue https://github.com/wifiphisher/wifiphisher/issues/539

I proposed a different web server, which is much, much faster than other web servers.

[2017-04-02 07:18] sophron commented on #550
wifiphisher.org now redirects to HTTPS.

HSTS is sent as always.

@laozi999 In your "proof", you are hijacking the signatures not the actual software. You couldn't hijack the software as it resides on Github (under HTTPS).

The only risk existed here was an attacker modifying the contents of the /download page and tricking the victim to download a malicious executable that way.

[2017-04-02 07:18] #550 closed

[2017-04-02 07:54] sophron commented on #553
Hello @Splinter0,

Tornado doesn't seem to support PHP. Running PHP though subprocess is a different thing. You may be able to execute some PHP code through Python but you can't have the HTTP processing of a PHP web app that way.

If what worries you is the victim viewing the client source code, obfuscating the JS code is probably the way to go.

I don't find a reason for supporting a server-side

[2017-04-02 08:26] sophron commented on #544
Tcpdump and Wifiphisher are two different tools, not depending to each other.

[2017-04-02 08:26] #544 closed

[2017-04-02 08:43] Splinter0 commented on #553
@sophron If not using PHP how can we obfuscate the js code that now handles ```POST``` requests and user agent etc..? I mean we could use only tornado sintax ( the ```{{ target_ap }}``` or ```{% if 1==1 %}``` sintax ) but is it possible to execute things like ```POST``` requests?

[2017-04-02 09:00] JetseVerschuren commented on #553
You could use [jsfuck](http://www.jsfuck.com).

[2017-04-02 13:38] blackHatMonkey commented on #539
@laozi999 I could not find any information on whether it supports templating or not. Templating is really important in our operations right now and the advantage of `tornado` is that is a webserver as well as a templating engine.

[2017-04-02 14:10] laozi999 commented on #539
@blackHatMonkey do you mean support for things like adding custom variables in a config.ini file and using things like {{ these }} escape methods?

The tornado web module is built in python, so we could build a simple config.ini parser for our Passenger server, but I'm sure someone has already written an extension for that.

Is that what you meant with templating?

[2017-04-02 14:32] blackHatMonkey opened #556 "Server choice"
This thread is dedicated to finding alternatives to our current server(`tornado`) in order to improve performance if possible.

A possible alternative could be [cherrypy](http://cherrypy.org/) which could be used in combination with [jinja2](http://jinja.pocoo.org/).

[2017-04-02 14:33] blackHatMonkey commented on #539
@laozi999 we can continue the discussion in #556.

[2017-04-02 15:32] NourEddineX opened #557 "Facebook Phishing Scenario doesn't accept usernames and phone number as login"
when I type a username in the Email text box and write anything into password I get strange error and I don't get credentials on my linux shell

Distro: Manjaro 17.0
Wifiphisher version: latest (I installed it yestetday)

[2017-04-02 17:47] blackHatMonkey commented on #557
Hi @NourEddineX thanks for opening an issue.
- What error are you getting?
- What scenario are you using?

[2017-04-02 18:45] sophron commented on #556
What exactly is the problem with Tornado? Performance is not crucial for what we do. Even though, Tornado is <a href="https://en.wikipedia.org/wiki/Tornado_(web_server)#Performance">known for its speed</a>.

[2017-04-02 19:24] blackHatMonkey opened #558 "What wireless card are you using"
I am currently writing the docs and wanted to include some the wireless card that are working. So if everyone could post their card that would be great.

[2017-04-02 23:13] NourEddineX commented on #557
I didn't get any error
I'm using OAuth Scenario

[2017-04-03 00:53] laozi999 commented on #557
@NourEddineX

What is the error you speak of?

[2017-04-03 01:11] laozi999 commented on #558
(MacBook)
Chipset vendor: Broadcom Limited
Model: BCM43224 [802.11a/b/g/n]
- [x] Monitor Mode
- [x] Packet injection

(TP-LINK)
**TL-WN722N**
Chipset vendor: Atheros Communications, Inc.
Model: AR9271 [802.11n]
- [x] Monitor Mode
- [x] Packet injection

[2017-04-03 01:31] laozi999 commented on #556
More on this discussion at https://github.com/wifiphisher/wifiphisher/issues/539

@sophron I think this was inspired by @Splinter0's findings when testing wifiphisher on the raspberry pi 3

Wifiphisher used to run with ease before the latest major upgrades (I'm assuming the tornado upgrade).

Now the rpi3 struggles to handle simple requests as the tool requires too much CPU.

This means it's eithe

[2017-04-03 09:45] NourEddineX commented on #557
yes

[2017-04-03 23:05] mcocigra commented on #558
Same the tp link and for the integrated need to check
TL-WN722N

[2017-04-04 12:12] laozi999 commented on #557
That's a JS alert, not a real response.

Maybe it asks for the password twice.
Did you try logging in twice?

[2017-04-04 15:04] 3Xcaliburn commented on #558
Qualcomm Atheros QCA9565 / AR9565 Wireless Network Adapter (rev 01)
✓ Monitor Mode
✓ Packet injection
✓ Deauthenticate + AP mode capable (can be used at the same time)

[2017-04-05 16:40] Emberborne commented on #558
TL-WN722N, with 8dbi antenna

[2017-04-05 17:17] Emberborne opened #560 "Mimic MDK3's deauthentication"
This will probably not be on the top of your priority list, but it would be cool if you would 'Destroy' the real victim's ap with an mdk3 attack. Imagine the router reboots, then the victim will be completely forced to join the fake WP ap. This is really for resilient victims, those who didn't get tricked in the first place.

[2017-04-06 06:28] sophron commented on #560
Hi @Emberborne,

`mdk3` mounts a number of different attacks for different scenarios. Which one you have in mind? (We already mount a DEAUTH attack against the target AP)

[2017-04-06 09:30] cicina commented on #558
I've got Alfa Awus036nh guys, its wonderful. txpower on 30dbi and intel one build in

[2017-04-06 12:49] gabrig opened #561 "Changing name of fakeAp"
Hi!
Great program, but I was thinking to use it with another AP name. Is there a chance do to this?
What I would like to achieve is to make a fakeAP with a different name from the one that I've cloned (ie. I make a fakeAP from "wifihome" and change the name to "wifiwork").

I have not found a way to do this and I would like to know if this can be done.

Thanks guys!

[2017-04-06 14:42] sophron commented on #561
You can use the `--essid` option.

[2017-04-06 15:08] gabrig commented on #561
Thanks for replying.

Yes, I saw this in the readme, but I don't actually know how to do this.
When I run "wifiphisher" from the terminal, it automatically assign the 2 wifi cards and show me the list of possible AP.
What I want to do is just a rogueAP with a different name from the original one, which doesn't deauth the real AP, but just stay there like an open AP. If someone connect, the "option

[2017-04-06 15:19] sophron commented on #561
Yes,

You need to type `wifiphisher --essid wifiwork --nojamming`. The `--nojamming` option will not jam any target AP.

[2017-04-06 15:36] gabrig commented on #561
Thank you very much, actually after reading again (and better!) the readme, I found it was pointed out there.
My bad, sorry.

Last question is: if the password (or login) contain symbols (like @ # _ - !), the terminal gives the urlencode value, like %40 for @.  Is there a way to show the right symbol?
Also, when I run the program, my terminal continue to flicker (I think that the GET/POST continue

[2017-04-06 22:38] mateo24xx commented on #558
i am a bit confused because i have Alfa Awus036nh and i receive always message
'' There are not enough wireless interfaces for the tool to run ''
injection work good So i dont now what is the error if someone can help

[2017-04-07 00:15] ch0zen08 commented on #300
how to fix this?

root@ch0zen:~# wifiphisher

Bad key "patch.force_edgecolor" on line 33 in
/usr/share/matplotlib/mpl-data/stylelib/classic.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

Bad key "lines.dashed_pattern" on line 18 in
/usr/share/matplotlib/mpl-da

[2017-04-07 11:05] laozi999 commented on #550
Good to know the transport is encrypted now.

False, as I said before, the page would be SSLstripped meaning the github URL would turn into **http**://github.com/...

Once the request is sent, a MITM on the same network intercepts this request and will reply with a 302 response to redirect the request to the attacker's local server where malicious files are hosted.

I used the signatures as an exa

[2017-04-07 11:06] hellvetica42 opened #562 "Credentials return incorrectly?"
Hello,
sorry for bothering but i'm getting some very weird issues with wifiphisher.
I'm testing out the debian based distro Parrot 3.5 with the latest commit of wifiphisher. I don't know if this happens in other distributions.

I'm trying to run the oauth-login attack on my home network.
The script starts fine. Creates a twin hotspot, deauthenticates clients and delivers the fake login page.
I do

[2017-04-07 11:16] laozi999 commented on #560
Lots of new routers are protected against these DoS attacks.

I think you'd need multiple interfaces with a strong signal, combined with constant spoofing in order to make these attacks have any effect.

[2017-04-07 11:18] laozi999 commented on #561
https://github.com/wifiphisher/wifiphisher/issues/537

[2017-04-07 11:37] gabrig commented on #537
This is great.
Maybe one alternative solution could be to open 3 different terminal windows, each one for a different process (jamming, DHCP,HTTP), so that everything is in real time and also you can scroll up to see previous entries.

[2017-04-07 11:37] gabrig commented on #561
@laozi999 Thanks for the link, I've posted there!

[2017-04-08 12:02] #561 closed

[2017-04-08 14:51] salemalkhabuli opened #563 "error:[errno95] operation not supported"
error:[errno95] operation not supported

[2017-04-08 14:52] salemalkhabuli commented on #558
error:[errno95] operation not supported

[2017-04-08 14:54] salemalkhabuli commented on #558
please            error:[errno95] operation not supported

[2017-04-08 14:57] salemalkhabuli commented on #539
error:[errno95] operation not supported

[2017-04-08 14:58] blackHatMonkey commented on #563
Hi @salemalkhabuli Can you provide us with more information such as:
- what distribution are you using?
- can you post the full error?
- what arguments are you using if any(eg. `--nojamming`)?

[2017-04-08 15:00] blackHatMonkey commented on #563
@salemalkhabuli I have deleted your other posts in different threads please don't spam other threads as it will not going to get you help any faster.

[2017-04-08 15:03] blackHatMonkey commented on #558
@mateo24xx That is because `Alfa Awus036nh` only supports `monitor` mode and not `AP` mode. Therefore it can **not** be used in conjunction with `--nojamming` argument.

[2017-04-08 15:04] salemalkhabuli opened #564 "Duplicate of #563"

[2017-04-08 15:04] salemalkhabuli commented on #564
error:[errno95] operation not supported

[2017-04-08 15:10] blackHatMonkey commented on #300
@ch0zen08 Based on your error message this is not relevant to this thread. I'm not sure why you are getting `matplotlib` errors and it's not relevant to `wifiphisher`. The error message is pretty clear

Otherwise, you may try --nojamming option that will turn off the deauthentication phase.

If you still believe that there is an issue feel free to open a new issue.

[2017-04-08 15:13] salemalkhabuli commented on #563
raspberry pi 3 and mobile and mobilessh.apk and router tp-link model: TL-wn822n wireless usb adapter

[2017-04-08 15:16] #564 closed

[2017-04-08 15:17] blackHatMonkey commented on #563
Can you provide the full error message?

[2017-04-08 15:35] dileepsankhla commented on #514
@blackHatMonkey @sophron please work on this issue as soon as possible!

[2017-04-08 15:39] salemalkhabuli commented on #563
file"/user/local/lib/python2.7/dist-packages/PYRIC-0.16.3-py2.7.egg/pyric/pyw.py",line1287,in freqset
  raise pyric.error(e.errno,e.strerror)
error:[errnp 95] operation not supported
lqqqqq
lqqqqq
lqqqqq
lqqqqq
lqqqqq
lqqqqq
lqqqqq

[2017-04-08 16:00] blackHatMonkey commented on #563
As stated in #539 you need to have two wireless adapters since the one built in to `rpi` is not compatible out of the box. You may want to follow this [advice](https://github.com/wifiphisher/wifiphisher/issues/539#issuecomment-289018327).

[2017-04-08 16:05] salemalkhabuli commented on #563
need  ALFA

[2017-04-08 19:35] Emberborne commented on #558
Hey cicina, how do you put your alfa awus nha to 30 dbi, I tried iw reg set BO/BZ and increase txpower tto 30 but it stayed at 20?

[2017-04-08 19:35] salemalkhabuli opened #565 "Duplicate of #563"
file"/user/local/lib/python2.7/dist-packages/PYRIC-0.16.3-py2.7.egg/pyric/pyw.py",line1287,in freqset
raise pyric.error(e.errno,e.strerror)
error:[errnp 95] operation not supported
lqqqqq
lqqqqq
lqqqqq
lqqqqq
lqqqqq
lqqqqq
lqqqqq

[2017-04-08 20:33] salemalkhabuli opened #566 "Duplicate of #563"
file"/user/local/lib/python2.7/dist-packages/PYRIC-0.16.3-py2.7.egg/pyric/pyw.py",line1287,in freqset
raise pyric.error(e.errno,e.strerror)
error:[errnp 95] operation not supported
lqqqqq
lqqqqq
lqqqqq
lqqqqq
lqqqqq
lqqqqq
lqqqqq

[2017-04-09 07:49] hellvetica42 commented on #557
The python code checks if there's an "@" sign in the email and checks if the password is at least 8 characters long.
If it's not it thows an alert.

[2017-04-09 07:50] hellvetica42 commented on #557
You can disable it by editing the code

[2017-04-09 07:52] hellvetica42 commented on #557
(actually it might not be the python code I haven't looked at it for a while I'm not sure)

[2017-04-10 01:09] mateo24xx commented on #558
Thanks for your answer but what is the solution if my card alfa awus036NH dont support AP mode?
can you suggest me what are the 2  best card to buy so that it works perfect

[2017-04-11 04:23] BetaStacks opened #567 "Use router as one of the wireless interfaces"
Is it possible to plug in a router to my eth0 port to use as the AP?

The internal chip being used is not strong enough for it to reach through out my house.

[2017-04-11 09:54] cicina commented on #558
Hello guys, @mateo24xx I have got fake alfa card.. its basically clone because its working really good, no lacks at all. im using also for regular browsing everyday. But my alfa clone supports AP mode as well.
@Emberborne hey bro, try this script

`#!/bin/bash

#ifconfig wlan1 down
#iw reg set GY
#iwconfig wlan1 txpower 30
#ifconfig wlan1 up

echo "hello, user!"
echo " taking down wlan1"
ifconfig

[2017-04-11 15:14] blackHatMonkey commented on #557
@NourEddineX As others have said you just need to edit the `Javascript` code inside the `HTML` file in order to change it's behavior. I'm closing this but if you have any more questions feel free to reopen the issue :smile:.

[2017-04-11 15:14] #557 closed

[2017-04-11 15:15] #566 closed

[2017-04-11 15:15] #565 closed

[2017-04-11 15:19] blackHatMonkey commented on #567
@BetaStacks Unless you modify internal firmware of the router it's not possible. That being said if you are going that route it would be better to just run a open access point on your router and use `MITM` attacks from there.

[2017-04-11 15:27] blackHatMonkey commented on #558
@mateo24xx I would recommend keeping the `Alfa Awus036nh` for authentication and use `TP Link TL-WN722N` for access point creation.

[2017-04-12 18:46] Emberborne commented on #558
What is the best alfa adapter? The alfa awus 036h is outdated, and I see that there is the nha and the nh. Btw I already have the tp link 722...

[2017-04-13 11:39] laozi999 commented on #537
@gabrig  the only downside with 3 terminal windows would be that we lose the order in which things happen, unless we add a timestamp to each log.

[2017-04-13 12:57] mojave-doug-f commented on #427
Has this feature been implemented yet?

[2017-04-13 13:00] alexsalvetti commented on #427
No it's not being implemented from me because I have no time at the moment.

[2017-04-13 13:46] laozi999 commented on #427
I'll finish [this](https://github.com/wifiphisher/wifiphisher/issues/537)

[2017-04-13 13:49] gabrig commented on #537
@laozi999 mm I didn't thought about this and is not functional. Thanks for pointing out.
What about this: while the program try to phish, it opens a .txt file (like a log file), in which infos are stored just for the time the pgrogram is running: in this way, on the terminal you see the current session and if you need to search in the history, you can scroll up the .txt file. Once you stop the pro

[2017-04-13 13:56] gabrig commented on #558
I have ALFA 036NHA and it works, no problem at all.

[2017-04-13 13:59] mojave-doug-f commented on #427
Roger that :)

This will be great when it is finished. This will let me leave a Raspberry Pi in my bag and let wifiphisher run without being noticed.

Having it out at a coffee show with a large wifi USB adapter and code scrolling across the screen is rather conspicuous. =P

[2017-04-13 14:00] mojave-doug-f commented on #427
@laozi999 let me know if you need help testing.

[2017-04-13 14:02] blackHatMonkey commented on #537
I opposed to using log files to display current operations. It adds a unnecessary IO overhead and it should all be done natively in the code. The log files are a necessity which should be used when debugging or running headless and should be persistent.

[2017-04-14 02:13] laozi999 commented on #537
@gabrig basically that's what a log stream is, but in this case we don't want to store the info just for the time Wifiphisher is running, but we want to save that same log file as a history log (unless the user chooses not to save the logs of course)

[2017-04-14 02:15] laozi999 commented on #537
@blackHatMonkey I'm not sure what you're trying to say. How could the logging not be done in native code? Or are you saying, don't use a log file and a tailing window, but instead **print** logs to the active terminal window?

[2017-04-15 12:23] blackHatMonkey commented on #537
@laozi999 What I meant was that we should save the data internally and then print it on the screen rather than saving it to a file and reading it back again.

[2017-04-15 15:59] sophron commented on #556
@laozi999 We don't want to include a web server. We want to include a Python web framework that we can customize to act as a web server.

As I said previously, Tornado is noted for its high performance. It offers support for rpi3 as well. If @Splinter0 encountered any issues, we need to focus on solving these instead. Maybe there's a bug in our logic or  maybe @Splinter0 setup is missing something

[2017-04-15 16:01] sophron commented on #553
As @JetseVerschuren noted, there are many online tools to obfuscate your Javascript code.

Supporting PHP would be overhead.

[2017-04-15 16:01] #553 closed

[2017-04-15 16:17] sophron commented on #537
Let's separate the functionalities. We need two different outputs:

1) What is shown on the screen during the attack. Here we want to show the latest (more important) information from the modules that are directly involved with the attack (e.g. web server, deauth module, dhcp server).  This information is intended for a user that watches the attack during the run-time.

2) What is logged in a log

[2017-04-15 16:25] sophron commented on #532
I'm a little worried on how exactly it operates. For example, I'm not sure how does it generate a changelog.

I'm wondering how popular is this among open-source?

It doesn't look like it will save us a lot of time, but I can have a closer look if you like.

[2017-04-15 16:33] gabrig commented on #537
@sophron This is what I wanted to point out, with the only difference of the realtime log file, because if you have multiple accesses in a short time (actually I don't know if this can manage multiple logins, at least for the FB attack) you have to stop the program in order to see the log file.

I can understand that maybe people don't want logs and for this reason I added that the log file can be

[2017-04-15 18:00] blackHatMonkey commented on #556
Here is a [benchmark](https://klen.github.io/py-frameworks-bench/) that I found online. Another good alternative could be [bottle](http://bottlepy.org) as it is easy to setup and supports python 3 as well.

[2017-04-15 19:36] blackHatMonkey commented on #537
As for the UI design I would suggest doing something like this:

![screenshot_20170415_153253](https://cloud.githubusercontent.com/assets/25112506/25066332/ef1f7774-21f0-11e7-8a6d-5ebfc065841d.png)

This way nothing gets lost and its viewable.
The boxes are all scrollable and as for navigation:

← →: to switch between boxes
↑↓: to move up and down in a box

[2017-04-15 23:34] norasyraf opened #568 "Latest wifiphisher 1.3 blocked by chrome."
**Version**: 1.3

**Distribution**:

**Summary**:

**Description**:

**Steps to Reproduce**:

**Expected VS actual behavior**:

**Script output**:

Edited by @blackhatmonkey for clarity.

[2017-04-15 23:35] norasyraf commented on #568
Latest v 1.3 was blocked by chrome. The login page did not pop up. Works fine on firefox.

[2017-04-16 08:56] JetseVerschuren commented on #568
Can you post screenshots of the developer console?

[2017-04-16 09:49] laozi999 commented on #568
You didn't fill out any of the info in your first message. Please let us know exactly what goes wrong so we can help out

[2017-04-16 09:52] laozi999 commented on #562
Did you change any of the python code?

[2017-04-16 14:03] blackHatMonkey commented on #563
Since there has been no response I'm closing this. Feel free to re-open if needed.

[2017-04-16 14:03] #563 closed

[2017-04-16 14:06] blackHatMonkey commented on #560
After a discussion with @sophron we came to the conclusion that we to mimic `mdk3`'s deauthentication and we need to know what `mdk3` is sending. So if anyone can help that would be great.

[2017-04-16 14:11] blackHatMonkey commented on #545
@leon245 Can you test it with the latest version and report if it is still there?

[2017-04-16 14:13] blackHatMonkey commented on #496
@cooldang Is this issue present in the latest version or not?

[2017-04-16 14:14] blackHatMonkey commented on #506
Since there is no response I'm assuming it is fixed. Feel free to re-open if not :smile:.

[2017-04-16 14:14] #506 closed

[2017-04-16 14:17] blackHatMonkey commented on #504
I'm assuming that this has been fixed. If not feel free to re-open :smile:.

[2017-04-16 14:17] #504 closed

[2017-04-16 14:20] blackHatMonkey commented on #528
@sophron It doesn't work properly. I haven't been able to attach my devices without the `--net=host` argument and it will only run it with the default argument. Meaning that I can't use the `-nJ` or any other argument.

[2017-04-16 14:28] blackHatMonkey commented on #514
@dileepsankhla Is it just with android or other devices are effected as well?

[2017-04-16 15:40] sophron opened #569 "Custom hostapd"
I believe it's time to host our own version of hostapd. We can get influence from projects such as <a href="https://github.com/sensepost/hostapd-mana/">hostapd-mana</a> and <a href="https://github.com/OpenSecurityResearch/hostapd-wpe">hostapd-wpe</a>.

Attacks like, KARMA, Evil Twin against Enterprise WLANs or Evil Twin with WPS-PBC technique can then be implemented.

Our version of `hostapd` shou

[2017-04-16 16:02] sophron opened #570 ""Advanced" mode"
Instead of "jamming" (default) and "--nojamming" mode, we should have "normal" and "advanced" mode.

In "normal" mode, the user may run Wifiphisher with one wireless card and take full advantage of all the features provided through our custom `hostapd` (#569). Obviously, these would be the features related with the rogue Access Point.

In "advanced" mode, the user will need a second card. The seco

[2017-04-16 16:56] SkiddieTech opened #571 "Allow wireless interfaces to be used as internet interface"
Running latest Kali 32 bit, fully updated and upgraded.
Everything else working fine.
This is using the latest fresh 1.3 release.

COMMAND:
wifiphisher -aI wlan1 --internetinterface wlan0 --nojamming  --essid CONFERENCE_WIFI -p plugin_update

(wlan0 is connected to Internet using the built in Kali network manager)
Wlan1 is up)

OUTPUT:
[code]
If i you need me to fully commit to the error "form" i

[2017-04-16 18:39] sophron commented on #571
Hi @SkiddieTech,

As of now the `--internetinterface` does not work with wireless interfaces. It should work with any wired interface though.

[2017-04-16 20:37] SkiddieTech commented on #571
Thankyou! Hopefully, there will be support for both mobile/GSM and wireless interfaces in the future :)

[2017-04-17 06:14] dileepsankhla commented on #514
@blackHatMonkey Both android and windows phone devices are effected. But due to majority of android users, I have mentioned 'android' in the issue statement.

[2017-04-17 10:23] sophron commented on #571
Yes, it's in our plans. :)

[2017-04-17 10:33] sophron commented on #556
@blackHatMonkey Performance is not really top on our requirements list. Maturity of the project is more important.

We need to have a concrete reason for moving from Tornado.

[2017-04-17 10:58] sophron opened #572 "On the way to v2.0"
Hi guys,

Version 1.3 has been released and we are now on our way to v1.4. I've already <a href="https://github.com/wifiphisher/wifiphisher/milestone/5">marked the issues</a> that I believe we should focus on. Known bugs and stability issues should be tackled as well.

I'm glad that more people are getting aboard and participate to discussions. Of'course as the project is getting bigger and bigger

[2017-04-17 18:01] blackHatMonkey commented on #571
@sophron Since you did some research what exactly is the problem of not using other types of interfaces.

[2017-04-17 18:10] SkiddieTech commented on #571
@blackHatMonkey it seems to be the network manager installed with KALI.

[2017-04-17 19:04] blackHatMonkey commented on #572
@SkiddieTech

There shouldn't be any errors on the screen in the first place. Warnings should be logged though.

We have #427 and #537.

[2017-04-17 19:09] blackHatMonkey commented on #569
I would rather implement [this](https://github.com/rpp0/scapy-fakeap.git) which you suggested in #128 over creating a custom version of `hostapd`.

[2017-04-17 19:12] blackHatMonkey commented on #570
I would suggest coming up with a API for the `engine` and it could be:
* require `start` method: to start the objects services
* require `exit` method: to clean up

[2017-04-18 00:08] SkiddieTech commented on #572
@blackHatMonkey 427 and #537 looks amazing.
that IO interface looks awesome.

[2017-04-18 06:48] anakin1028 commented on #560
I have tried the mdk3 deauthentication attack, the attack not only sends the deauth frame but also disassociated frame. The command I executed is as follow:
 `mdk3 mon0 d -c 1`

The frame injection pattern is like the following state diagram [I have removed the wds case, since wifiphisher only considers from DS and to DS cases]:

![mdk3_deauth](https://cloud.githubusercontent.com/assets/6182530/25

[2017-04-19 00:13] SkiddieTech commented on #571
Still getting an error when trying to use this with a wired interface.
http://vvcap.com/7Lm4IQL9Csx

[2017-04-19 00:26] blackHatMonkey commented on #571
@SkiddieTech I have pushed a fix for this. Please let me know if you have any more problems :smile:.

[2017-04-19 01:26] anakin1028 commented on #560
Hi @blackHatMonkey,
Got another question for the deauth attack issued by wifiphisher:

The following is the snapshot from the mdk3 deauth attack:
![mdk3_deauth_frame_bssid](https://cloud.githubusercontent.com/assets/6182530/25159262/2d4a8b5e-24e1-11e7-8ab6-15218b744de2.png)

From the above figure you can see that the bssid of the deauth frames always equals to the MAC address of the access point,

[2017-04-19 07:41] sophron commented on #560
Correct. We should broadcast dissassociation frames as well.

This is intentional. According to 802.11 an AP may send a Deauth frame to clients (i.e. when the router reboots). The client (or station) may send a Deauth frame too in some cases (i.e. when the station is leaving the BSS).

In our attack we craft three kind of deauth frames: 1 from the AP to the client, 1 from the AP to the broadcast a

[2017-04-19 08:13] anakin1028 commented on #560
@sophron, you're welcome

I know that wifiphisher will send deauth frames with sender equal to AP and STA; **however
the problem is that the address 3 should be fixed to bssid address.**  That is only interchanged with address 1 and address 2, but the address 3 is fixed to BSSID.

As the figures I post on the previous comment, you can see that mdk3 also sends the deauth frames with senders are int

[2017-04-19 13:18] blackHatMonkey commented on #560
@anakin1028 This is the code for crafting packets:
[code]
If you notice the `addr3` is set to the sender. Shouldn't that be the case?

[2017-04-19 14:14] anakin1028 commented on #560
@blackHatMonkey ,
I have seen that code, and addr3 should not set to the sender's address.
address3 should always be AP's MAC address for the fromDS and ToDS cases.

For example,
-->consider STA sends the deauth to AP, then we have the following mapping:
      address1 = receiver's address = AP's MAC address
      address2 = sender's address = STA's MAC address
      address3 = BSSID = AP's MAC ad

[2017-04-19 14:18] HAMUZAO opened #575 "wifiphisher for ESP8266 WiFi Modules"
i should admit that this idea is the most devilish idea in the world hehe .. but i wish if it can be customized to be available for ESP8266 WiFi Modules too with arduino source code if that is possible .. maybe just a lite version  ^_^

There is already "esp8266 deauther" but unfortunately it dont do that job

Thank you
I hope that can be real one day

[2017-04-19 18:25] JetseVerschuren commented on #575
That would require a complete rewrite of wifiphisher. And even the Raspberry Pi struggles to run wifiphisher so i don't think the esp would even remotely be able to run wifiphisher.

[2017-04-19 18:44] sophron commented on #572
I'm afraid this would turn out bad. Machine translations are getting more effective each day but especially for technical terms the result is often inaccurate. For our attacks to be realistic it is important to not show any spelling mistakes.

Have you checked the <a href="https://wifiphisher.org/docs.html">docs</a>? There's a section "Create a custom phishing scenario" that you may find interesti

[2017-04-19 18:48] sophron commented on #560
Good catch @anakin1028!

Do you think you can create a PR? I will happilly merge it. Maybe you can introduce "Disassociate" Frames as well?

[2017-04-19 18:58] blackHatMonkey commented on #560
@sophron I can do a quick fix for the deauthentication. I think just renaming the input variables to `client` and `access_point` would solve the problem.

[2017-04-19 19:19] sophron commented on #560
Thanks for offering Brian. I always prefer seeing new people contributing (the more in an open-source project the merrier).

If however @anakin1028 is too busy to make the contribution, you can go ahead and implement it for us.

[2017-04-19 23:12] anakin1028 commented on #560
@sophron and @blackHatMonkey, I can help introduce the Disassociate frames.
So now the -jwlan# command will send the deauth frame and disassoc frame, or you prefer to do another option for users?

[2017-04-20 00:52] laozi999 commented on #571
NetworkManager should be killed on startup, and the wireless connection should be resumed using dhclient.

[2017-04-20 00:53] laozi999 commented on #571
Correction: NetworkManager should be ditched all together.

Im joking but I'm also serious.

[2017-04-20 00:55] laozi999 commented on #572
I have some mods in the work, but first I'll give v1.3 a try and see what new :)

[2017-04-20 04:30] anakin1028 commented on #560
@sophron,

Actually I dont't know why this command is useful:
`wifiphisher -aI wlan0 -jI wlan4 -p firmware-upgrade`

Though the stations will be deauthenticated by jamming deauths, the station will not connect wifiphisher's rogue AP since the rogue AP is OPEN, the original AP is CCMP encrypted. After deauthed station sends the probe request to rogue AP, it will get probe response, then it knows th

[2017-04-20 04:49] JetseVerschuren commented on #560
No strangely enough most clients don't check for the type of encryption.

[2017-04-20 05:32] sophron commented on #560
Hi guys,

Automatic association will happen in some cases:

* When the target AP is OPEN. Our rogue AP is also OPEN, it can be part of the ESS and the STA won't notice any difference.

* When the target AP is WPA2 and our rogue AP is also WPA2 with the correct PSK (supplied with --presharedkey option). Same as above the STA will think our AP is part of the ESS.

* By exploiting the "Auto-connect"

[2017-04-20 07:16] stefjoe12 commented on #575
@HAMUZAO I had the same idea as you. Googled my ass off but didnt find any tool. It will be real some day and i cant wait ;)

[2017-04-20 09:59] hanbing88 commented on #575
我希望支持中文，哈 哈

[2017-04-20 11:41] JetseVerschuren commented on #575
Wft?!?!

[2017-04-20 11:43] stefjoe12 commented on #575
Rustaaaghh

[2017-04-20 11:43] stefjoe12 commented on #575
Translated to english : He wants to support chinese

[2017-04-20 17:49] stefjoe12 opened #577 "Install portal templates"
Hi lads,

I created a responsive McDonald's portal template but i am unable to install it. Can someone explain me how to install it?

I will post the template if i tested it.

Greetings,
stefjoe12

[2017-04-20 20:39] sophron commented on #577
Hi @stefjoe12,

Have a look at the <a href="https://wifiphisher.org/docs.html">docs</a>. There's a section called "Creating a custom phishing  scenario" that you should follow.

[2017-04-20 21:52] stefjoe12 commented on #577
Thanks, didnt saw that document. I will post the McDonald's portal asp!

[2017-04-21 09:23] djdisikd opened #578 "Any idea why this is happening in Kali Linux when I use wifiphisher?"
![img_20170421_171857](https://cloud.githubusercontent.com/assets/17978000/25271596/3aaf3916-26b7-11e7-8356-8d5c1771821f.jpg)

[2017-04-21 09:30] JetseVerschuren commented on #578
Does it happen every time?

[2017-04-21 09:46] djdisikd commented on #578
Yeah every time

[2017-04-21 13:07] zxcvbnmlkjhgfd opened #579 "Multiple suggestions"
Dear All,
1 - please include a tutorial how we (as hackers/users) can integrate more (convincing) custom templates to use with Wifiphisher + include Samsung/Iphone/LG/HTC convincing interface and not use "please enter WPA Key" but rather "please enter your wireless password" ... not all people are tech know how to understand what WPA key means.

2 - logic problem:
(correct logic as follows below)

[2017-04-21 14:46] J4FPredator opened #580 "No access point has been discovered yet."
Hello.
Excuse me for any grammatical errors.
I just installed wifiphisher on kali linux but I'm having a problem:
When I run wifiphisher by the terminal this is what I see:
![e2oshhy](https://cloud.githubusercontent.com/assets/25112506/25289937/bda360b8-2699-11e7-9fe2-ee598c85b4db.jpg)

My wireless network adapter: D-Link DWL-G122 (I don't know if it supports the AP mode or the Monitor mode)

Edit

[2017-04-21 15:01] JetseVerschuren commented on #580
Your hyperlink doesn't work i needed to copy it manually into the addresss bar.6

[2017-04-21 15:07] J4FPredator commented on #580
@JetseVerschuren  Excuse me, I fixed it!

[2017-04-21 17:45] blackHatMonkey commented on #577
@stefjoe12 You should make a PR in [this](https://github.com/wifiphisher/extra-phishing-pages) repository when you are ready :smile: .

[2017-04-21 17:50] blackHatMonkey commented on #579
Hi @zxcvbnmlkjhgfd

This is currently under works and should be done soon enough.

deauthentication is working fine now.

This is something that could be implemented.

Mac address is irrelevant as the device will only look at the name of the access point(`ssid`) and it's encryption type. It is impossible to set the encryption to `WPA` and accept all passwords.

[2017-04-21 17:54] blackHatMonkey commented on #580
@J4FPredator are you using two wireless interfaces or the `--nojamming` `-nJ` flag?

[2017-04-21 18:11] stefjoe12 commented on #577
Oké man! It looks very original haha @blackHatMonkey

[2017-04-21 18:29] blackHatMonkey commented on #545
@leon245 A patch has been committed. Please update to the latest version and check if the problem still exits.

[2017-04-21 18:31] blackHatMonkey commented on #578
@djdisikd Are you running `kali` in a virtual environment or natively?

[2017-04-21 19:02] zxcvbnmlkjhgfd commented on #579
@blackHatMonkey the a + b + c etc.. are not detached ideas, this is my idea of the logic that wiphisher should go through ... I do not make this suggestion to claim something of my property ... no, this is the result of using wiphisher or fluxion an implementation of the evil twin attack.

I am actually surprised to know that mobile devices connect to networks using "essid" and not "bssid (mac cha

[2017-04-21 19:47] J4FPredator commented on #580
@blackHatMonkey I'm not using the `--nojamming` `-nJ` flag, what you intend for "are you using two wireless interfaces?"

[2017-04-21 20:04] stefjoe12 commented on #577
@blackHatMonkey can you help me with testing out ? I can send u template.

[2017-04-21 20:08] blackHatMonkey commented on #577
@stefjoe12
Here is what you should do:
- make a fork of [this](https://github.com/wifiphisher/extra-phishing-pages) repository
- create a new branch
- add your files
- commit
- make a PR

I can then test it and let you know :smile:.

[2017-04-21 20:17] blackHatMonkey opened #582 "Test new interface detection"
I have re-designed the interface detection for `wifiphisher`. I need some help testing it to make sure everything is working fine. The files are in the `interface-refactor` branch. You can post any bugs to this thread. All the help for testing is appreciated :smile:.

[2017-04-21 20:21] blackHatMonkey commented on #580
@J4FPredator If you look at the [requirements](https://github.com/wifiphisher/wifiphisher#requirements) you need two interfaces to run the tool since one is needed to create the fake access point and the other to deauthenticate. That is unless you run the `--nojamming` flag which allows you to only use one interface but in exchange for losing deauthentication.

[2017-04-21 20:22] J4FPredator commented on #580
@blackHatMonkey Ah ok, yes I have 2 wireless interfaces, I just edited my last comment!

[2017-04-21 20:23] blackHatMonkey commented on #478
@anakin1028 would you be able to look into this as well?

[2017-04-21 20:25] blackHatMonkey commented on #580
@J4FPredator Have you tried using the `-aI` or `-jI` to see if a specific card is a problem?

[2017-04-21 20:27] J4FPredator commented on #580
If I type wifiphisher -aI, I receive this error: wifiphisher: error: argument -aI/--apinterface: expected one argument

[2017-04-21 21:02] blackHatMonkey commented on #580
Run

[code]
Assuming you have the following interfaces `wlan0` and `wlan1` you could run:

[code]
or

[code]

[2017-04-21 21:20] J4FPredator commented on #580
@blackHatMonkey I done it, but the problem isn't solved

[2017-04-21 21:53] ukscone commented on #478
I have this problem with tp-link 722wn for both wifiphisher & wash on kali rolling. airodump-ng shows the power levels and all my other wifi dongles (edimax, pau05, noname ) show power levels in both wifiphisher and wash. so far i'm flummuxed as to why and if anyone has any ideas i'd be grateful

[2017-04-21 23:15] anakin1028 commented on #478
@blackHatMonkey ,
I haven't seen this bug in my office environment. I'll try to reproduce it.

[2017-04-22 04:21] djdisikd commented on #578
I am running Kali Linux with a CD

[2017-04-22 07:01] harshil2105 opened #583 "Big"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2017-04-22 07:01] #583 closed

[2017-04-22 08:02] J4FPredator commented on #580
@blackHatMonkey  I tried to disconnect my usb wireless adapter and I run wifiphisher with the --nojamming flag, and it works (obviusly it doesn't DeAuth the devices), so, maybe, is the wireless adapter to be broken or unsupported, right?
Can you suggest me which wireless adapter I should buy?

[2017-04-22 15:16] blackHatMonkey commented on #580
@J4FPredator checkout #558. People have posted their cards there and the `TP-Link TL-wn722N` is a good card and I use it myself for testing.

[2017-04-22 15:18] blackHatMonkey commented on #578
@djdisikd This problem is definitely not normal response when launching `wifiphisher`. You have check the logs to see what went wrong.

[2017-04-22 16:09] blackHatMonkey commented on #575
I have labeled it as suggestion but to be honest the chances are slim.

[2017-04-22 16:21] blackHatMonkey commented on #579
@zxcvbnmlkjhgfd I by no means dismissed your idea.

The order is irrelevant since everything is setup is seconds if not milliseconds.

Perhaps a command line argument could be implemented to adjust the time between each deauthentication.

A example of this would be a collage or university campus where a large area is getting covered. A single router can't possibly cover every spot therefore multip

[2017-04-22 17:38] stefjoe12 opened #584 "Cant get custom template to work"
I just made a McDonald's Portal. But if i want to run it i get this error message :

[code]

you can test the McDonalds portal from here :
https://github.com/stefjoe12/extra-phishing-pages/tree/mcdonalds-login/McDonalds-login

please help me out and make this one for real :+1:

[2017-04-22 18:29] blackHatMonkey commented on #584
@stefjoe12 The name is case sensitive so the correct way to call it would be
[code]

[2017-04-22 18:30] JetseVerschuren commented on #584
I just wanted to comment

[2017-04-22 18:30] JetseVerschuren commented on #584
30 seconds to late

[2017-04-22 21:57] thackery commented on #584
Hi everybody, how can use extra-phishing-pages ?
i copied folder i get from git with all others in .../data/phishing-pages it is the good way ?

thanks for help

[2017-04-22 22:32] blackHatMonkey commented on #584
@thackery You either have to install `wifiphisher` again with
[code]
or just run it from the directory
[code]

And it should show up in the list.

[2017-04-22 22:38] thackery commented on #584
wifiphisher is installed and run correctly so when i would run with custom page like device_modal for example. (command wifiphisher -nJ -p device_modal ) i got message error : the given template is either invalid or not locally!

[2017-04-22 22:42] blackHatMonkey commented on #584
@thackery if `wifiphisher` is installed using:
- `pip`: You have to grab a copy off git and place all the new templates in the `data/phishing-pages` directory and install it
- `git`: Place all the new templates in the `data/phishing-pages` directory and install it

[2017-04-23 01:13] laozi999 commented on #579
@zxcvbnmlkjhgfd from what I understand you are trying to say that the current deauthentication method isn't good because the victim can simply reset the router? This means we need our jamming interface to repeatedly scan for the victim AP's channel & BSSID, because these can easily be changed. This issue has been raised several times in the past and I think it's already being worked on.

[2017-04-23 01:16] laozi999 commented on #575
@hanbing88 are you asking or offering?

[2017-04-23 01:23] laozi999 commented on #582
[code]

`python setup.py build` doesn't work either

[2017-04-23 02:58] thackery commented on #584
Thank you it s work !! good job guy !!!

[2017-04-23 03:41] anakin1028 commented on #478
@blackHatMonkey do you have screenshot for the power 0 and the sniffer mapping for that?

[2017-04-23 06:11] JetseVerschuren commented on #575
I don't think you can make wifiphisher run on an esp but you can run a program that works similar but doesn't has all the features of wifiphisher.
It's easy to make an access point and host a webserver on an esp and you can use a second esp for deauth.

[2017-04-23 06:29] JetseVerschuren commented on #582
I get the same error.

[2017-04-23 06:35] JetseVerschuren commented on #582
You made a type error on line 733 you forgot to close.
`mon_MAC = mon_mac(mon_iface
deauthentication = None`

[2017-04-23 07:27] anakin1028 commented on #582
@blackHatMonkey
I have made a pull-request for fixing the above mentioned problem and some other TypeErrors in refactoring process.

[2017-04-23 12:58] blackHatMonkey commented on #582
Thanks to @anakin1028 the problems stated are fixed. Please update and let me know if you find any more errors :smile: :beer: .

[2017-04-23 14:53] anakin1028 commented on #582
@blackHatMonkey, thanks, it's ok for me now :+1:

[2017-04-24 07:26] sophron commented on #569
As you can see in the discussion <a href="https://github.com/rpp0/scapy-fakeap/issues/6">here</a> scapy doesn't appear to be really efficient for our needs. You can probably give it a try if you want to.

Apart from KARMA though, we may want to do more tricks (e.g. WPS PBC technique). Implementing WPS Push in Python (if possible) will be a pain. Hostapd (and C) will give us the flexibility to impl

[2017-04-24 11:11] harshil2105 opened #586 "Is it possible to make wifiphisher similar with esp8266"
is it possible to make wifiphisher spoofing pages with esp8266?

[2017-04-24 11:48] JetseVerschuren commented on #586
What do you mean? Do you want to ru wifiphisher on  a esp? There is a discussion ongoing on #575.

[2017-04-24 15:44] blackHatMonkey commented on #586
This is a duplicate of #575. Please continue the discussion there.

[2017-04-24 15:44] #586 closed

[2017-04-24 15:45] blackHatMonkey commented on #478
@anakin1028 I will try to get it using `pdb`.

[2017-04-24 17:01] sophron commented on #478
@blackHatMonkey I believe a network dump would be more helpful. Check my first post on this thread.

[2017-04-24 17:08] JetseVerschuren commented on #478
Tou said

I think you meant the `Monitor Mode` interface because the `AP` interface is hosting a network not listening for networks.

[2017-04-24 21:05] blackHatMonkey commented on #478
[Here](http://www.filedropper.com/out_2) is a the `tcpdump`. The power is 0% for all access points.

[2017-04-24 23:43] #496 closed

[2017-04-24 23:51] blackHatMonkey commented on #478
Here is some more information:
[code]

Furthermore the issue is not limited to `TP-Link TL-WN722N` as some users reported. I have also tested it with `Alfa AWUS036NHA` as well with same result.

[2017-04-25 00:24] blackHatMonkey commented on #478
After a bit more testing I could get the following
[code]

which seems to be correct since the access point is close to my location and hence the higher `rssi` value.

Source: http://stackoverflow.com/questions/10818661/scapy-retrieving-rssi-from-wifi-packets

[2017-04-25 04:43] anakin1028 commented on #478
@blackHatMonkey, thanks for sharing, this is really helpful to clarify this problem.
After seeing the sniffer given by Brian, the problem is that the radiotap format is not consistent by different adapters[the one used to sniff]:

here is the snapshot I took from the pcap file from Brian:
As you can see the frames add four more bytes paddings.

![2](https://cloud.githubusercontent.com/assets/61825

[2017-04-25 06:59] sophron commented on #478
Nice analysis @anakin1028!

We can probably calculate the exact position of the RSSI value by getting the header length and parsing all fields. This may be too much for now though.

I'm okay with your solution. If we see that users are still experiencing issues, we can consider parsing the header properly.

If you create a Pull Request, I will merge it today.

[2017-04-25 07:01] sophron commented on #478
@JetseVerschuren Yes, that's what I meant. Thanks.

[2017-04-25 07:44] anakin1028 commented on #478
@sophron, I am not sure if it is possible to parse the `pkt.notdecoded` since the present fields in the scapy packet only contains the used fields. We know each fields size, so if there is no padding in the header we can parse the notdecoded fields, but if there is paddings in the header, I thinks it no ways to parse it correctly.

Like the following parser project, it cannot works with the paddin

[2017-04-25 14:56] anakin1028 commented on #497
@andeees though a bit late, can you post the capture for this phenomenon?
By the way what is the repeater's brand and model? Indeed like @anudeepND says it's possible that the repeater implement 802.11w [aka PMF (protection management frames)] specification which protects the deauth and disassociated frames [deauth/disassociated/robust action frames all belong to PMF].

[2017-04-25 16:14] #567 closed

[2017-04-25 16:18] blackHatMonkey commented on #545
@leon245x Try it with the latest update. The power problem should be solved now :smile:.

[2017-04-25 18:04] falconsy opened #588 "Network is down during startup"
greetings
dear still error is there after reinstall wifiphisher
u can check PIC down

![capture](https://cloud.githubusercontent.com/assets/25112506/25434251/8ca60e70-2a59-11e7-94c1-16df60ba9730.PNG)
![captusre](https://cloud.githubusercontent.com/assets/25112506/25434252/8cab5826-2a59-11e7-9e3a-f93bc966cd3e.PNG)

kindly your support

Edited by @blackhatmonkey: fix images

[2017-04-25 18:12] falconsy commented on #580
dear hi i face same this issue u have to stop scan and u have to re start again ...

[2017-04-25 18:19] sophron commented on #580
My guess is that the card probably becomes invalid (e.g. because the USB falls out). Pyric has `pyw.validcard(w0)` that we should call regularly and exit with an appropriate message if needed.

[2017-04-25 18:27] sophron commented on #478
Have a look at this <a href="https://github.com/ivanlei/airodump-iv/blob/master/airoiv/scapy_ex.py#L102">one</a> here. It seems to remove any padding data after parsing the values.

[2017-04-25 21:58] anakin1028 commented on #478
Cool thanks!

[2017-04-26 03:57] anakin1028 commented on #497
I have tried the WDS case, and it seems that wifiphisher has no problem.
The following is my testing scenario:

         victim ---> Repeater < --- WDS --- > AP

Fom the following sniffer one can see the victim is auto-connected to our Rogue AP. So if you don't observe the STA is being kicked out in case you use OPEN security, it's maybe normal.

![1](https://cloud.githubusercontent.com/assets/618

[2017-04-26 05:58] zxcvbnmlkjhgfd commented on #579
thank you guys, looking forward to this !! you are not arrogant at all which is a good thing !! good work !!

[2017-04-26 06:49] zxcvbnmlkjhgfd commented on #579
@laozi999 / @blackHatMonkey there's a little confusion here. there are 2 deauthentication scenarios taking place here, done in phases (succession).
the first deauthentication phase when you kick the victim out of his genuine own router/AP, to get his mobile device to connect to your fake AP. the second deauthentication phase is when you hammer (jam) his genuine ap with broadcast deauthentication.

[2017-04-26 12:30] blackHatMonkey commented on #588
Hi @falconsy The first error I have experienced a lot. In my case it only happens on the first run of `wifiphisher`. Is it the same for you as well?

The second error is a duplicate of #439.

[2017-04-26 16:32] falconsy commented on #588
for first err yes same u . how i can fix

and when i run and select the WiFi name this error came

http://gulf-up.com/do.php?img=307803

plz how i can fix because try so many thinks not fixed

[2017-04-27 10:39] pulsar140 opened #592 "pyric.error [Errno 132] Operation not possible due to RF-kill"
Before opening a new issue, please make sure that what you are about to report has not been reported already. If not, use the following template for reporting:

**Version**: Use `git show | grep commit` command and paste here the output.

**Distribution**: On which GNU/Linux distribution are you using the tool? (e.g. Kali Linux, Gentoo, Debian)
If you know the bug happens on all distributions plea

[2017-04-27 14:20] blackHatMonkey commented on #592
@pulsar140 Thanks for filling a bug report. Does this happen every time you run `wifiphisher` or it is just sometimes?

The `Hard blocked` doesn't always mean that a physical button is blocking it. Sometimes if a card gets stuck it will show as `Hard blocked` even though there is no physical button. Unplugging it usually fixes the issue.

[2017-04-27 14:45] #577 closed

[2017-04-27 14:46] #584 closed

[2017-04-27 15:03] laozi999 commented on #537
Separating the logs will only cause confusion. You might like things to be organised in their own category, so that's what you can use colours for.

As far as any type of logging (1. or 2.) is concerned, you want these to be and stay in the exact same order as they happen, or you'll get confused down the track.

[2017-04-27 22:23] #568 closed

[2017-04-28 05:40] pulsar140 commented on #592
@blackHatMonkey Yes, it happens every time if I run wifiphisher.
It's an integrated network card - Intel 82579LM.

[2017-04-28 07:09] miladmusavi commented on #190
hostapd not found in /usr/sbin/hostapd

[2017-04-28 09:06] djdisikd commented on #578
I checked but I still don't know what went wrong

[2017-04-28 09:11] JetseVerschuren commented on #578
Can you post your logs?

[2017-04-28 13:04] anakin1028 opened #593 "Address 3 of deauth frame not correct when use --essid field"
Hi,
I just tried the following commands:
           `wifiphisher --essid wawa -pK 12345678 -p plugin_update`
and from sniffer capature I found that the address 3 is not correct as the following capture:
From the figure one can see that the BSSID field is equal to 0:0:0:0:0:0 which is not correct.

![deauh_frame_not_correct](https://cloud.githubusercontent.com/assets/6182530/25529645/994c9696-2c55-

[2017-04-28 14:15] sophron commented on #593
Nice catch once again @anakin1028!

The thing with `--essid` is that users may run it when an AP that broadcasts the same ESSID is not even in range. For example, one may want to spawn an AP with ESSID "Free WiFi" to lure victims in a public area (e.g. in a mall) even when there are no other APs broadcasting the same ESSID around. I believe in that case, the script should deauthenticate all wifi c

[2017-04-28 15:12] anakin1028 commented on #593
@sophron thanks for your detail explanation! But the thing is the deauth frames' addresses are still not correct. So the jamming process will have no use.

Consider the code in the following: since `_ap_bssid` is not defined, the code will never add the clients into the deauth list.

[code]
So here either we just modify to deauth all the clients or we have to classify which scenario is. Either man

[2017-04-28 23:38] sophron commented on #593
Correct, the bug exists. I believe we should fix by entering a "frenzy" mode where we deauth all clients and APs that are within range whenever `--essid` is used.

Yes, we need to include a channel hopping mechanism and deauth all clients in every channel. The channel hopping should be part of the #570. If you are planning to make a patch for this, you can leave this aside for now until we have #5

[2017-04-29 00:49] anakin1028 commented on #593
@sophron, OK I think I can fixed the first part: the deauth address 3 and fixed the second part later.

[2017-04-29 02:32] anakin1028 commented on #592
I have this experience too, but I don't  know what the root cause is. What I do is I shut down the laptop, and reboot it and  use networkmanager to connect again. Then I disable the network manager and the wifiphisher can run again.

[2017-04-30 16:13] themakerman commented on #341
@serpunja How did you got this wrking? I still get the same errors of python......I want to use this in -nJ mode on my nethunter.....any hints how can i get this up and runin?

[2017-05-02 22:55] vay3t commented on #580
i can confirm this error.

[2017-05-03 11:42] iot-werkstatt commented on #575
For fake hotspots this is a nice one:
https://github.com/exploitagency/github-ESPortal

[2017-05-03 15:13] themakerman commented on #341
@blackHatMonkey Do you know how @serpunja managed to run it on nethunter with -nJ.

[2017-05-03 17:56] grendle opened #595 "raspberry pi 3 kali version"
A working version for Kali linux on the raspberry pi 3, arm platform.

[2017-05-03 17:57] #595 closed

[2017-05-03 21:59] austin2118ace commented on #588
I am having the same error as the first picture; however, it does not resolve after the first run. It persists despite restarts and reruns.

[2017-05-03 22:51] SkiddieTech opened #596 "Killing VNC when AP launches"
So currently VNC'ing into my pie over eth0 with an static ip , however when wifiphisher launches the fake AP, the connection is killed.

VNC is running fine with and without network-manager running, so what is it killing clearing?
Anyway i can exclude eth0 from that list? possible reffer me to the point in the code?

[2017-05-04 01:25] anakin1028 commented on #596
@SkiddieTech
While I don't have the pie, I have used the tight vnc server for my linux-laptop, and wifiphisher works fine for me.
From the code, I don't think wifiphisher will kill this connection. Can you post the `ifconfig` output and maybe check `ps aux|grep vnc` to confirm the process is being killed?

[2017-05-04 01:32] SkiddieTech commented on #596
i will double check that it is not the process being killed, it must have something to do with it resetting some internet interface settings.
On my VNC startup service script i have a simple "ifconfig eth0 10.0.0.1" that sets an static IP, so i can simply turn an interface card on my windows laptop into a little "private" network for VNC to operate in.

I guess i can set this more "statically" ins

[2017-05-04 01:42] anakin1028 commented on #596
yeah, can you change the static IP address to another one? maybe `192.168.1.1` since our fakeap also use `10.0.0.x` so this will interfere your vpn connection.

[2017-05-04 11:42] blackHatMonkey commented on #341
@themakerman I have no idea how he did it :cry: . I'm sorry I don't have `nethunter` so maybe someone else can help you in this thread.

[2017-05-04 13:20] #580 closed

[2017-05-04 13:34] J4FPredator opened #597 "Does this software work for all modems?"
Hello.
Excuse me for any grammatical errors.

I was testing my home connection using this software:
I connected my phone to the access point and I tried to use this software for disconnect my phone and to force it to connect to my (fake) AP, but this simply doesn't work.

When I start the (attack) my phone disconnects by the original AP and after about 1 second it reconnect itself on the same AP.

[2017-05-04 15:37] SkiddieTech commented on #596
@anakin1028 will try and report back! might explain it

[2017-05-04 15:37] SkiddieTech commented on #592
Type
            rfkill unblock all
should do it.

[2017-05-04 16:55] vay3t commented on #579
I agree with the implementation of change mac. To have the same vendor. There are applications that detect this and it shows, just change the mac to an almost identical as in linset and change the last character of the mac. That would suffice

[2017-05-04 17:25] vay3t opened #598 "add captive portals templates"
I have seen that the application is very good but it lacks a bit to develop the side of the captive portal. I have come up with some ideas of implementation:

* add xss login like a xss-beef pretty theft: https://github.com/beefproject/beef/wiki/Module:-Pretty-Theft
* add captive portal like manatoolkit. ex "you can loggin in this router using your diferents accounts: fb twitter hotmail gmail" In

[2017-05-04 22:31] anakin1028 commented on #597
@J4FPredator if possible can you post the sniffer log for this. You can use wireshark or tcpdump and use the deauth interface [i.e. the one you choose for jamming process] to sniff the frames on the air .

After reconnecting to the original AP, does your phone disconnect again, or it connects to the original AP forever?  And also what command options do you use?

For auto-connecting, you can check

[2017-05-05 12:36] SkiddieTech commented on #596
@anakin1028 tried the 192.168.1.XXX netmask , same results. The last thing i see is "Starting the rouge access point" before VNC drops.

[2017-05-05 15:34] anakin1028 commented on #596
@SkiddieTech Thanks for your report.
What the exact command do you use? And if you are comfortable with `pdb`, can you try to trace at which statement cause the VNC connection drop?

From your observation, the statement may be in the file `pywifiphisher.py`  and around at the following code piece:
[code]

[2017-05-05 17:33] blackHatMonkey commented on #598
@vay3t Interesting ideas but unfortunately I personally don't have much experience in web so perhaps someone can help you implement these ideas.

Well these are not attacks but rather templates that come in standard with `wifiphisher`. The forth template name is `wifi_connect`. You can see them [here](https://github.com/wifiphisher/wifiphisher/tree/master/wifiphisher/data/phishing-pages). There ar

[2017-05-05 17:43] blackHatMonkey opened #601 "Create a twitter handle for wifiphisher"
@sophron  I think it would be great if we have a twitter handle for `wifiphisher` to promote as well as give periodic updates on there.

[2017-05-05 18:10] blackHatMonkey commented on #597
@anakin1028 I think he is referring to the fact that it is not connecting automatically to the fake AP.

@J4FPredator Currently the device doesn't connect to the fake AP automatically and it has to be done manually.

[2017-05-05 18:16] blackHatMonkey commented on #596
@SkiddieTech It would be also helpful to know:
- Which `VLC` are you running?
- Are you using the `--internetinterface` option?
- Did this happen to previous version of `wifiphisher` or is it new?
- If it is new can you try with previous versions and report back?

[2017-05-05 18:30] blackHatMonkey commented on #560
This has been implemented. If you feel that something is missing feel free to re-open this issue.

[2017-05-05 18:30] #560 closed

[2017-05-05 18:30] #545 closed

[2017-05-05 18:32] blackHatMonkey commented on #478
This has been fixed with the latest updates.

[2017-05-05 18:32] #478 closed

[2017-05-05 18:34] #539 closed

[2017-05-05 23:10] anakin1028 commented on #593
If the command option `--essid` is used in #497, it it possible the same issue with this thread.

[2017-05-06 01:10] anakin1028 commented on #562
@blackHatMonkey @laozi999
Ｉgot similar problem, and I found that wifiphisher decode the post request with `utf8` by default in the file `phishingthttp.py`. But I don't know why after my phone is connecting to the fakeap, it sends a POST request which is encoded in `Latin-1`. So wifiphisher will get a exception from there.

The following is the snapshot I got from `pdb`
![aaa](https://cloud.githubu